[2016-07-27 08:55] cdeil commented on #650
Concerning implementation I'm not sure yet  ... there's two options:
1. check if the input region is a pixel or sky region. if it's a pixel region, create pixel coordinate grids and call `region.contains` on those. if it's a sky region, create sky coordinate grids and call `region.contains` on those.
2. always transform the region to pix coord on input
3. always transform the region to sky coord o

[2016-07-27 11:58] adonath commented on #650
I think adding `fill_region()` to `SkyImage` only makes sense, when the `ExclusionMask` is finally (definitely) removed in a subsequent later PR. The way the code is structured right now, `fill_region()` belongs to the `ExclusionMask` class. So my preference would be to add the `fill_region()` method there and copy over the binary functions such as `dilate`, `erode`, `open` and `close` from `image

[2016-07-27 13:11] joleroi commented on #650
The idea behind the ``from_ds9`` method was that users might have a list of exclusion regions rather than a boolean mask. Of course the implementation should change, so that a regions list is created from the ds9 files using the functionality in ``regions`` and then your proposed ``fill_region`` is called. I don't think it makes much sense to have this method on the ``SkyImage`` class, since it is

[2016-07-27 14:16] cdeil commented on #650
OK, let's put this on `ExclusionMask` for now if @adonath and @joleroi prefer.

@OlgaVorokh - to implement it, please do this:
- use `.data` and not the `.mask` property from `ExclusionMask`. The `mask` property is a bad idea anyways and should be removed, again a discussion for a future PR.
- fill 1 for inside and 0 for outside. Leave the discussion of whether to switch that meaning of data value

[2016-07-27 14:23] joleroi commented on #650
What do you think about renaming ``ExclusionMask`` to ``SkyImageMask`` or ``SkyMask``? Then this is really only a special case for a ``SkyImage`` with additional functionality.

[2016-07-27 14:30] cdeil commented on #650
+3 to remove `ExclusionMask` completely.

If that doesn't find consensus, then yes, `+1` to rename to `SkyMask` and remove the `mask` property as an alias to `data`
@adonath - Is that OK with you?

[2016-07-28 07:44] cdeil commented on #650
@OlgaVorokh - After #652 the remaining task here is to add `SkyMask.fill_region` and a test as described above.

[2016-07-28 13:37] cdeil opened #654 "Run tests with TEST_UNICODE_LITERALS"
While looking at https://github.com/astropy/astropy/issues/5204 I came across http://docs.astropy.org/en/latest/development/testguide.html#testing-with-unicode-literals which mentions TEST_UNICODE_LITERALS.

This is a reminder issue for me to do this for Gammapy.

For info see https://github.com/astropy/astropy/pull/1962

Ideally I'd prefer to have a build for that for all test files on travis-ci.

[2016-07-29 12:25] joleroi commented on #520
No. as you said earlier this issue maybe doesn't make sense at all. We can close it IMO.

[2016-07-30 16:21] cdeil commented on #650
Done in #655  and https://github.com/gammapy/gammapy/commit/f728810c468508eafba22a205a49ba2523366692

See https://github.com/gammapy/gammapy/pull/655#issuecomment-236374259 for my thoughts on the API that's now in master.

[2016-07-30 16:21] #650 closed

[2016-08-01 08:30] adonath commented on #513
Just saw that in fermiPy the corresponding method is called `.create()` (see [here](https://github.com/gammapy/gammapy/pull/660/files#diff-13c542174693a745736137d81cdb5b79R148)). Maybe we rename `.empty()` and `empty_like()` to `.create()` and `.create_like()`?

[2016-08-01 08:45] adonath commented on #619
Mostly addressed in #658, but could be improved further:

* Put images in  `https://github.com/gammapy/gammapy-extra/tree/master/figures` and link to it from the docs, so that they appear on RTD as well.
* Generally extend the docs with more examples and nice images.

@cdeil Is this issue resolved with #658, or do you request anything else?

[2016-08-01 16:38] cdeil commented on #540
Work in progress:
https://github.com/gammapy/gammapy-extra#binder

[2016-08-08 19:38] cdeil opened #669 "Adapt Fermi ST / ctools spectral model names / parameters?"
There's been an effort in ctools to clean up the spectral model and parameter names.
As far as I know there's a plan to adapt the Fermi ST to have the exact same models.
(see https://github.com/open-gamma-ray-astro/gamma-astro-data-formats/issues/41)

My suggestion would be that we simply adapt the exact same model / parameter names (even if we think for some a better name could be chosen)?

I can

[2016-08-09 07:00] cdeil opened #670 "SNRcat download error"
Reminder issue for myself: fix this:

[code]

[2016-08-12 16:08] joleroi opened #678 "test_image_pipe fail in master locally"
I have this test failure since quite a long time when running the tests in master locally. @leajouvin Do you have any idea what could cause this (you worked on this, right?). Can anyone reproduce the issue?

[code]

[2016-08-12 21:57] cdeil commented on #678
I don't see it and it's not seen on travis-ci.

I do see a different nan issue with TS maps since a week or two that I didn't have time to investigate.
https://gist.github.com/cdeil/cc4a36730a703ba15b444727e0f98e2a

@joleroi - Could you please post the full output of
[code]
in a gist, so that we have all your version numbers of Python, Numpy, Astropy, Gammapy, etc.

If you have time to investigate

[2016-08-18 20:19] cdeil opened #680 "Try datashader for gamma-ray event data"
Visualising gamma-ray event data well is hard, because there's parts of parameter space with very many events and (off the Galactic plane, at high energies) parts of parameter space with very few events.

This looks very promising:
https://github.com/bokeh/datashader#screenshots

This is a reminder issue filed under the wishlist milestone. I don't have time to try this now or in the near future. I

[2016-08-20 19:04] cdeil commented on #77
I've been thinking a bit about a guideline for quantity function input validation and default values.

After the recent discussion in https://github.com/astropy/astropy/pull/5245#issuecomment-241208709 I'd like to make a proposal for a guideline for Gammapy.

The idea is that we write it down in the dev HOWTO now and then everyone can clean up code and implement it everywhere with time.

Basically

[2016-08-26 11:37] joleroi opened #682 "Support energy-dependent alpha in SpectrumFit"
We need this now, because exported HESS spectrum objects are stacked and thus have an energy dependent alpha. This should use the BACKSCAL column in the FITS data extension. It can always be used even in the case of constant alpha.

https://heasarc.gsfc.nasa.gov/docs/heasarc/ofwg/docs/spectra/ogip_92_007/node7.html

[2016-08-26 12:18] joleroi opened #684 "Save containment correction in SpectrumObservation as AREASCAL column"
At the moment the containment correction is directly applied to the effective area
https://github.com/gammapy/gammapy/blob/master/gammapy/spectrum/extract.py#L222

I think it would be nicer to save this as AREASCAL column on the FITS file, so it's more transparent which correction was applied.

see https://heasarc.gsfc.nasa.gov/docs/heasarc/ofwg/docs/spectra/ogip_92_007/node7.html

[2016-08-31 06:44] cdeil opened #686 "Add Sherpa Python 3 build on travis-ci"
Since yesterday, Sherpa master supports Python 3.

- [ ] Add Sherpa Python 3 build that builds sherpa from source on travis-ci
- [ ] Change the main build that measures coverage to Python 3.5 on travis-ci
- [ ] Fix this test fail in `gammapy/scripts/tests/test_image_fit.py`: [gist](https://gist.github.com/cdeil/147d8c7ace94bceba9eb39d20d9b69d7)
- [ ] Fix this test fail in `gammapy/spectrum/tests/t

[2016-08-31 06:49] cdeil opened #687 "Fix TestSourceCatalogObjectHGPS.test_ecpl_model fail"
This is a reminder issue for myself to fix this test fail I'm seeing locally.
(this is a test that doesn't run on travis-ci because the data isn't public yet)

[code]

[2016-08-31 06:55] cdeil commented on #494
@TarekHC - I'm closing this issue now.

I agree this will be a topic in the near future, but my suggestion would be new issues or pull requests
- in the `gamma-astro-data-formats` issue tracker or in CTA when it's about the format
- on cta-pipe and / or gammapy if it's about adding support for MC event lists

[2016-08-31 06:55] #494 closed

[2016-08-31 06:56] cdeil commented on #520
OK, I'm closing this issue now. (one more, I'm trying to finish up issues and PRs to get the v0.5 release out the door).

[2016-08-31 06:56] #520 closed

[2016-08-31 07:01] cdeil commented on #198
@adonath wrote this for Fermi spectra which is a great start:
https://gammapy.readthedocs.io/en/latest/spectrum/plotting_fermi_spectra.html

I'll keep this issue open for now, some further things I'd like to see:

- [ ] Plot a TeV spectrum from https://github.com/gammapy/gamma-cat (spectra will be available there in a day or two)
- [ ] Combined GeV, TeV spectrum plot example
- [ ] Use IPython note

[2016-08-31 07:18] cdeil opened #688 "Spectrum extraction tests write to gammapy-extra"
After I run the Gammapy tests locally the following files in gammapy-extra are modified:

[code]

This is annoying and should be changed.
Running the tests should only read files from gammapy-extra, never write files there.

The culprit is this test:

[code]

and this code:
https://github.com/gammapy/gammapy/blob/master/gammapy/spectrum/tests/test_extract.py#L74

@joleroi - Can you please fix this

[2016-08-31 07:22] cdeil commented on #682
This was (partly?) implemented in #683 and might be related to https://github.com/sherpa/sherpa/pull/249, right?

@joleroi - Should this remain in the 0.5 milestone (due in a "few days") or move to 0.6?

[2016-08-31 07:30] cdeil opened #689 "Gammapy 0.5 release"
I plan to make the Gammapy 0.5 release soon (within ~ a week).

This issue is to track and discuss progress on that.
Comments welcome!

Open issues and PRs:
https://github.com/gammapy/gammapy/milestones/0.5

If you'd like to get anything for 0.5, please make an issue or PR now.

Task list:
- [x] Implement open issues / PRs for v0.5 or punt them to v0.6
- [x] Finish and clean up changelog
- [x] Rel

[2016-08-31 07:57] cdeil opened #690 "Improve Gammapy installation instructions"
The Gammapy installation instructions currently aren't very good:
https://gammapy.readthedocs.io/en/latest/install.html

Here's a list of things I want to improve. Further suggestions welcome as issues on this ticket.
- [ ] That page is very long. Start with a short version saying most users should use `pip install gammapy[analysis]` or `conda install gammapy` (or other pre-packaged versions like

[2016-08-31 08:24] TarekHC commented on #494
Sure, no worries.

Within ctapipe, probably it is a bit too early to talk about data formats... And MC event lists at DL3 and above has probably a lower priority... But I guess it should be encountered.

[2016-08-31 08:30] kosack commented on #494
I agree - if you add some optional MC-related columns to your DL3 format in `gamma-astro-data-formats`, that should be sufficient for us to use it in DL2, etc.

[2016-08-31 08:33] joleroi commented on #198
This is just about plotting, right? no fitting, and flux point computation?

[2016-08-31 08:35] joleroi commented on #688
I don't understand - please elaborate. For me it's more annoying to update the test data every time something changes in the spectrum extraction code.

[2016-08-31 08:36] cdeil commented on #198
I think probably yes, for now.

Although once you have published GeV or TeV loaded, doing a chi^2 fit with Gammapy or Naima is the next step what lot's of people want, so at some point there should be a tutorial for that as well.

Maybe we should try to have several short notebooks / tutorials, instead of very long tutorials that do many things in sections?

[2016-08-31 08:36] joleroi commented on #682
Sorry, I forgot about this issue.

It's solved by #683 but relies on sherpa HEAD version at the moment. This will change with the next sherpa release.

[2016-08-31 08:36] #682 closed

[2016-08-31 08:39] cdeil commented on #688
Everytime I (or other Gammapy devs) work on `gammapy-extra`, I see these changes when I type `git status` and wonder what changed, i.e. waste time.

Also, having the test data generation mixed up with test running is confusing / hard to maintain.

I know it's difficult to structure the test dataset generation and test running code well without code duplication and so that it's "obvious" how to fin

[2016-08-31 08:41] joleroi commented on #15
Note: http://docs.gammapy.org/en/latest/api/gammapy.spectrum.models.SpectralModel.html#gammapy.spectrum.models.SpectralModel.integral

[2016-08-31 08:45] cdeil commented on #15
@joleroi - I know. I'll close these spectrum integral issues in the next days. I just want to do some more testing and clean-up of old code, and keep them as a reminder.

[2016-08-31 08:47] joleroi commented on #33
There has been a lot of progress regarding the clean up recently.

Notably we have the [spectrum.models](http://docs.gammapy.org/en/latest/spectrum/index.html#module-gammapy.spectrum.models) module which works quite well I think.

Yes and no. You can't build a ``gammapy.spectrum.models.SpectralModel`` youself (but IMO that's out of scope). But you can simply pass a Sherpa model to the ``SpectrumFi

[2016-08-31 08:57] joleroi commented on #621
There is a tutorial how to simulate spectra
http://docs.gammapy.org/en/latest/spectrum/simulation.html
Which explains what was discussed in this issue.

[2016-08-31 08:57] #621 closed

[2016-08-31 14:32] cdeil opened #694 "Add SkyImage.smooth method"
I think we should add a [SkyImage](https://gammapy.readthedocs.io/en/latest/api/gammapy.image.SkyImage.html) convenience method that's identical to [DS9 smooth](http://ds9.si.edu/doc/ref/how.html#Smoothing).

[code]

These standalone functions should also be changed into SkyImage methods:
- https://gammapy.readthedocs.io/en/latest/api/gammapy.image.disk_correlate.html
- https://gammapy.readthedocs

[2016-09-01 08:54] joleroi opened #695 "Don't hardcode return types"
Sometime we have methods on some class in gammapy that hard code the return type to the class name they're attached to. This lead to unwanted side effects if the method is called by a subclass of this class.

Example:
`SkyImage.cutout` returns a `SkyImage`
`SkyMask.cutout` (daughter class) also returns as `SkyImage`, where is should return `SkyMask`

Independent of whether you not you like subclas

[2016-09-01 09:09] cdeil commented on #695
👍  to the idea because it's more often (always?) what users of sub-classes expect.
Also  and 👍  to the implementation you chose to use `self.__class__` instead of the class name.

I looked a bit and couldn't find an automatic way to find all cases where we should make the change.
It's probably possible with pylint, but I don't have time to investigate.

Here's another case in `SkyImage` where this

[2016-09-01 09:32] cdeil opened #696 "Add code quality to Gammapy CI"
There's several nice and free code quality tools with Github integration:
https://github.com/integrations/feature/code-quality

We currently have https://landscape.io/ running:
https://landscape.io/github/gammapy/gammapy

Looks like I set this up in 2014 (see #125 and 1dcdb4f8d35f8b75916d4371d49b4888285559e9),
but by now the `landscape.yml` file is no longer in the Gammapy repo, and anyways, it sh

[2016-09-01 15:50] cdeil opened #698 "Add flux point upper limit method"
Thanks to @joleroi Gammapy has recently grown some code to compute flux points for 1-dim spectra, using a method that is common in TeV astronomy (see example [here](http://nbviewer.jupyter.org/github/gammapy/gammapy-extra/blob/master/notebooks/hess_spectrum_analysis.ipynb#Compute-Flux-Points)).

Now how should we compute upper limits?

This issue is to discuss which method(s) we should add and how

[2016-09-01 16:09] cdeil opened #699 "Merge DifferentialFluxPoints and IntegralFluxPoints classes"
In Gammapy we currently have separate [DifferentialFluxPoints](http://docs.gammapy.org/en/latest/api/gammapy.spectrum.DifferentialFluxPoints.html) and [IntegralFluxPoints](http://docs.gammapy.org/en/latest/api/gammapy.spectrum.IntegralFluxPoints.html) classes.

I think we should merge them or outright replace them with an existing class from Fermipy.

Something that represents this format develope

[2016-09-01 16:24] joleroi commented on #699
https://github.com/open-gamma-ray-astro/gamma-astro-data-formats/issues/45

[2016-09-01 16:49] joleroi commented on #699
I would suggest to decide on a spec ASAP. And then just implement it in gammapy. The astropy ``Table`` as data member is a good idea, I think. When I added the flux point classes I used ``EventList`` as inspiration .. so we should change both.

[2016-09-01 16:54] cdeil commented on #699
We can wait for a day or two. But if there's disagreement on the spec discussion we should just move ahead and implement what we like in Gammapy, and then change again when the discussion is through (could take a day or months).

[2016-09-01 17:22] joleroi commented on #699
For me the current status of the ``DifferentialFluxPoints`` class is satisfying, if you need it to be more flexible for your use case, feel free to add what you like

[2016-09-01 17:26] cdeil opened #700 "gammapy-extra files cleanup"
As we're producing better example datasets in gammapy-extra, we should clean up some old stuff.

Let's use this issue to discuss where needed.

Just one thing I noticed:
https://github.com/gammapy/gammapy-extra/blob/master/datasets/exclusion_masks/tevcat_exclusion.fits
is 49 MB and compressed 78K when you run gzip.
@joleroi - can you please change the file / script /tests to the zipped version, an

[2016-09-02 07:33] cdeil opened #701 "SkyImage error with FITS header COMMENT"
This is a bug in SkyImage FITS I/O related to the COMMENT in the FITS header reported by @leajouvin on Slack.

To reproduce read any FITS file with a multi-line comment, e.g.
[code]
Then when trying to write it, this error happens:
[code]
The problem is that the header contains a multi-line comment:
[code]
which is converted to a string with `\n`
[code]
 in `SkyImage.read` in this code
[code]
from

[2016-09-02 07:54] cdeil commented on #701
Fix is in PR #702.

[2016-09-02 09:08] cdeil commented on #701
Actually, I'm pretty happy with the fix in #702 :
- Remove the problematic `COMMENT` and `HISTORY` keys from `image.meta` in `SkyImage.read`.
- Store the FITS header object as private `image._header`, because it's often useful for checking.
- Add a regression test.

So I'm closing this issue now and move on, because I think we should focus on features / docs / good tests for analysis, not these FI

[2016-09-02 09:08] #701 closed

[2016-09-02 18:15] dlennarz commented on #698
Sorry, I never implemented Rolke in python.

[2016-09-02 20:03] woodmd commented on #698
The method used in fermipy is the "delta-loglikelihood" method which is also the commonly accepted practice for most LAT analyses (although some people also use Bayesian methods).  This method involves evaluating a profile likelihood Lp(x) = max_y L(x;y) for the parameter of interest x and nuisance parameters y.  The UL is defined to be the point at which the profile likelihood changes by some val

[2016-09-05 12:12] joleroi commented on #678
https://gist.github.com/joleroi/f7f4b798cf3d96f0af2488c5fb37d749

[2016-09-05 13:23] joleroi commented on #678
Note to self:
https://github.com/gammapy/gammapy/blob/master/gammapy/scripts/image_pipe.py#L100

returns ``nan``

[2016-09-05 13:38] joleroi commented on #678
Solution

```conda update reproject```

:see_no_evil:

[2016-09-05 13:38] #678 closed

[2016-09-06 07:39] cdeil opened #707 "More renames "map" to "image""
This is a reminder issue for myself that we should finish the renaming from "map" to "image".

We decided about a month ago that we'll use `gammapy.image` and `gammapy.image.SkyImage` instead of `gammapy.map` and `gammapy.map.SkyMap`, and we should now be consistent and apply this everywhere.

Here's an example that I came across just now: [gammapy.detect.compute_ts_map](http://docs.gammapy.org/en

[2016-09-06 09:01] cdeil commented on #698
@woodmd - Thanks for the infos.

Agreed.

Just FYI: sorry I dropped the ball on integrating the HEALPIX classes from Fermipy into Gammapy so far. I just didn't have the time yet, and I want to get the HEALPIX we need into Astropy core first so that it's available in the next stable release (see http://healpix.readthedocs.io/en/latest/about.html).
Once that's done we could even see discuss if the `

[2016-09-06 09:07] cdeil commented on #33
Why not?
That's a very common use case.
Sherpa has explicit methods and docs for this, see e.g.
http://cxc.harvard.edu/sherpa/threads/user_model/

Why can't I subclass `MySpectralModel(SpectralModel)` in my script and then fit it at the moment?

Is it because there's a hard-coded list of supported models in a method?

If so, this hard-coded list should be replaced with a global dict `spectral_mode

[2016-09-06 09:09] cdeil commented on #33
In Python using a global dict or other mutable data structure as a registry is the simple, low-tech solution (I'm using it in gammapy.catalogs already).

There's a slightly nicer, but also more complicated method using metaclasses:
https://github.com/faif/python-patterns/blob/master/registry.py

My advice would be to do the global dict for now and put the metaclass registry as an open issue to dis

[2016-09-06 09:13] joleroi commented on #33
You would need to implement a ``to_sherpa`` method

[2016-09-06 10:00] cdeil commented on #33
So it is possible. Great!

Well, you get functionality to compute integral fluxes, energy fluxes, butterfly and have error propagation via `uncertainties` from the `SpectralModel` base class. That's something many people will want and need for their publication.

Maybe someday there could be a notebook showing how to define a user-defined spectral model and fit it using either or both ways?
It cou

[2016-09-08 09:10] adonath commented on #695
@joleroi Good point! I also think changing to `self.__class__` is a good solution.

[2016-09-19 14:33] cdeil commented on #578
#707 has a new implementation of SkyImageCollection (and renames to SkyImageList) and adds tests.

It doesn't support dot access at the moment. That could be added back, but I'm not even sure if it's a good idea to do that on the top-level object, because that will cause a lot of complexity and problems in corner cases:
- What to do about a name like "COUNT MAP" that isn't a Python identifier. Oth

[2016-09-19 14:33] #578 closed

[2016-09-20 10:12] cdeil opened #711 "test_command_line_gammapy_image_ts fails"
There's still fails for `test_command_line_gammapy_image_ts` in some builds on travis-ci:
https://travis-ci.org/gammapy/gammapy/jobs/161272547#L950

I did work on the example files in `gammapy-extra` (see script there), the test and the TS map implementation and command line script a bit in #707 and #710 in the last days.
And I don't see the fail locally.

One reason the test is hard to debug is t

[2016-09-20 12:25] cdeil commented on #438
I'm doing this change to conda install with Python 3.6 on RTD now in master.

Here's the commits:

- c6a174891410d9b321f15ea4a155f47c5c57e3f1
- 7dafe340079ba8ebd09a31dde56961c4b8ca2855

[2016-09-20 12:44] cdeil commented on #438
I've adapted the config settings on RTD in the admin panel.

Looks like the conda install and docs build is working fine.

For reference, the last build was 28071c6 which shows up in the docs as `v0.5.dev3461`.
* Build log: https://readthedocs.org/projects/gammapy/builds/4423681/

Note that some things in the docs still don't show up because gammapy-extra is missing.
#400 covers that and is still

[2016-09-20 12:44] #438 closed

[2016-09-20 13:00] cdeil commented on #619
I've moved the pre-generated PNG images we had in `gammapy/docs` to `gammapy-extra/figures`: https://github.com/gammapy/gammapy-extra/tree/master/figures

I'll make a PR shortly removing the PNG images from the `gammapy` repo and pointing to `gammapy-extra`.

Closing this issue now.

[2016-09-20 13:00] #619 closed

[2016-09-20 16:08] adonath commented on #711
#713 includes a fix for this.

I could reproduce the error locally with scipy 0.18 and numpy 1.11.1. I didn't check in detail, but I noticed that the number of iterations was different when the test failed. So it could be that the minimizer obtained different results. As a quick fix I removed the `assert_allclose` on the niter map, because we don't care about the number of iterations, as long as t

[2016-09-21 08:10] cdeil commented on #611
Both of these work fine not on RTD:

- https://gammapy.readthedocs.io/en/latest/search.html?q=spectrumfit
- https://gammapy.readthedocs.io/en/latest/search.html?q=spectrumobservation

This is with the latest commit 828a7f5d180d6fd5258cff236ff41d9bdd75b7d0 which shows up as version `v0.5.dev3463`.

RTD still runs on Sphinx 1.3.5, but I did change it to run on Python 3.5 and conda recently.
Not sure

[2016-09-21 08:15] cdeil commented on #24
Note to self:

There's two Sphinx extensions that do this for `argparse`:
- http://sphinxcontrib-argdoc.readthedocs.io/en/latest/
- https://pythonhosted.org/sphinxcontrib-autoprogram/

I haven't found one that does it for click.

A simple solution could be to just put the cli `--help` program output using this:

- https://pythonhosted.org/sphinxcontrib-programoutput/

Or I could write a Sphinx ext

[2016-09-21 09:18] cdeil commented on #13
The PDF build is currently working locally for me and on RTD.

The PDF looks mostly OK:
https://media.readthedocs.org/pdf/gammapy/latest/gammapy.pdf

500 pages, and I didn't even know we had so many pretty Figures.

I've added the commands that work for me locally to build the PDF in #714 (commit: 0274c03)

Closing this issue now.

[2016-09-21 11:39] cdeil commented on #33
I'm closing this issue now.

It just says "clean up spectrum code" in the title and that's not very helpful.
A lot of changes / cleanup have happened already, and more will.

@joleroi - If you feel like there is something useful here (like the suggestion to have an example of how to write a user-defined spectral model class and use it with `FitSpectrum` in the docs), please open a new more specifi

[2016-09-21 11:39] #33 closed

[2016-09-21 14:44] cdeil commented on #711
Fixed by @adonath in 748a099dfdb12e808c6450db20e11f507dec6ed2 (in #713).

Looks like `niter` was a bit different depending on the machine.
Tests pass for me now locally in master.

@adonath - Thanks!

[2016-09-21 14:44] #711 closed

[2016-09-21 15:10] cdeil opened #718 "Remove arithmetic from CountsSpectrum"
@joleroi - Can we remove arithmetic methods (`__mul__`, `__add__`, ...) from `CountsSpectrum`, please?
https://github.com/gammapy/gammapy/blob/85832ae599bac466f69b675aa1096534e3c11572/gammapy/spectrum/core.py#L114

I think if we do it there, we'd have to do it in many places and would have to write a lot of boilerplate code and tests, without much gain. See  https://github.com/gammapy/gammapy/pull

[2016-09-21 15:29] joleroi commented on #718
Gammapy is full of 1 or 2 line convenience functions so I don't really see why it bothers you here. But I also don't have a strong opinion, so feel free to remove the methods.

[2016-09-21 15:43] joleroi opened #720 "Simulate background vector in SpectrumSimulation"
The possibility to simulate a full spectrum observation including background, would be very valuable for tests (and in general)

I would suggest the following
- Simulate bkg using the same IRFs as for source counts
- n_on = possion(n_source + n_bkg)
- n_off = possion((1 / alpha) \* n_bkg)

[2016-09-22 08:05] adonath commented on #694
`SkyImage.convolve()` has been added in #713. But still it might be nice to add the `SkyImage.smooth()` method to provide more convenience to the user with, e.g. allow specifying the smoothing radius in world coordinates as well with `radius = 0.2 * u.deg` etc.

[2016-09-22 11:26] cdeil commented on #336
I'm postponing this to the 0.6 milestone.

[2016-09-22 11:35] cdeil commented on #540
This is basically set up.

We should link to it a bit better from gammapy.org and docs.gammapy.org and add some info in the dev HOWTO.

But this is something we'll re-visit after our curated data sets for HESS and Fermi-LAT are in place and the docs updated to use those.

For now, I'm closing this issue.

Thanks, @adonath

[2016-09-22 11:35] #540 closed

[2016-09-23 10:17] cdeil commented on #611
This issue is back.

* Works: https://gammapy.readthedocs.io/en/latest/search.html?q=SkyImage
* Doesn't work: https://gammapy.readthedocs.io/en/latest/search.html?q=skyimage

The second query has a different capitalisation, and with that only the `SkyImageList` class is found, but not the `SkyImage` class.

This looks like some weird Sphinx bug.

First thing to do is update the Sphinx version on R

[2016-09-24 11:31] cdeil opened #724 "TestFluxEstimator.test_with_power_law fail in master"
@joleroi - I think after your changes yesterday `TestFluxEstimator.test_with_power_law` fails in master. Looks like the energy grouping isn't applied to `backscale_ratio`?

[code]

https://travis-ci.org/gammapy/gammapy/jobs/162223291#L938

I will mark that test as `xfail` for now.

Putting this under the 0.5 milestone.
Let me know if you don't have time, and I'll try to do it on Monday.

[2016-09-24 11:49] cdeil commented on #724
It might fail like this by now:
https://travis-ci.org/gammapy/gammapy/jobs/162411311#L1057

[2016-09-24 11:52] cdeil commented on #724
There's also this fail in the spectrum notebook:
https://travis-ci.org/gammapy/gammapy/jobs/162411333#L3070

@joleroi - I'll disable the test for that one now to do other things,
and then you or I can go back to `gammapy.spectrum` Monday.
I'm moving the 0.5 milestone to Tuesday.

[2016-09-24 12:37] cdeil commented on #724
`test_wstat` on `gammapy/stats/tests/test_fit_statistics.py:83` also fails:
https://travis-ci.org/gammapy/gammapy/jobs/162414691#L940

I'm adding `xfail` to this test now as a temp solution to fix the builds in `master`

[2016-09-24 14:08] cdeil commented on #400
Note to self.

Recently I put this hack in `docs/conf.py` to access files from `GAMMAPY_EXTRA` form the Sphinx build:
https://github.com/gammapy/gammapy/blob/352117bc417074223010b71c0fe8ebc8743b85c3/docs/conf.py#L173

It's not a good solution .. I've asked here for advice:
http://stackoverflow.com/questions/39677049/use-environment-variable-in-python-sphinx-image-directive

[2016-09-26 18:48] joleroi commented on #724
General comment. Fails like this
[code]
are due to https://github.com/sherpa/sherpa/issues/248

I'll have a look at the other fails ASAP

[2016-09-28 11:01] cdeil opened #726 "Gammapy import fails on Binder"
Currently `import gammapy` fails in the IPython notebooks on Binder.

https://github.com/gammapy/gammapy-extra#binder

The cause is unknown, `import astropy` works.

I'll look into the issue and fix this later this week.

[2016-09-28 11:47] adonath commented on #726
It seems like none of the dependencies specified in the `Dockerfile` works. Astropy probably only works, because it is accidentally part of the base anaconda installation.

[2016-09-28 11:51] cdeil commented on #726
@adonath - I'm debugging the issue locally now. No need for you to also investigate the same thing.

[2016-09-28 12:20] cdeil commented on #726
Look like it's a known recent issue with conda install on Binder:
see https://github.com/binder-project/binder/issues/80
and discussion on https://gitter.im/binder-project/binder

Probably we'll just have to wait a day or two ...

Note to self: put some command in the Dockerfile to generate the MPL font cache, so that this warning doesn't come up at the start of each IPython notebook:
[code]

[2016-09-28 12:40] joleroi opened #727 "make test-notebooks installs gammapy"
As the title says, if you run

[code]

the command

[code]

is executed, which leads to great confusion if you're used to work with

[code]

(like me)

[2016-09-28 12:48] cdeil commented on #727
How should we do?

- Run `python setup.py build_ext --inplace` instead and add to `PYTHONPATH` just when running `python test_notebooks.py`? This could be confusing as well for devs that don't use / don't know what `build_ext --inplace` does?

- I think removing the `make test-notebooks` target to avoid confusion and running the two commands on travis-ci isn't easy, because of the way our `.travis

[2016-09-28 12:59] joleroi commented on #724
The notebook is fixed in https://github.com/gammapy/gammapy/pull/728

[2016-09-28 13:18] joleroi commented on #727
Very naive question:
Replacing
[code]
by
[code]
won't work?

[2016-09-28 13:24] cdeil commented on #727
I don't think that it will work. There would never be a Gammapy build, so the import for the Cython TS code e.g. in the detect notebook would fail.

[2016-09-28 13:37] joleroi commented on #727
of course ...

Then I would go for

ok @adonath ?

[2016-09-30 07:17] massimocapasso opened #732 "SpectrumFitResults.model_with_uncertainties"
[code]

Does not work if units not defined

[code]

[2016-09-30 07:22] joleroi commented on #732
Thanks for reporting this!

@cdeil @adonath
The problem is that we're trying to support both ``float`` and ``Quantity`` input for model parameters. Should we keep it like that? I'm +1 for not supporting ``float`` input.

[2016-09-30 09:32] adonath commented on #732
@massimocapasso I can't reproduce this issue on my machine. Can you try the following example:

[code]
Which worked for me in Python 2.7 as well Python 3.

[2016-09-30 09:35] joleroi commented on #732
@adonath you have to uncomment the following lines like this to reproduce the issue

[code]

[2016-09-30 09:44] cdeil commented on #732
Maybe related: #687

I don't have time to look today, so @adonath or @joleroi, if you can fix this, great.
Otherwise I'll have a look on Monday.

[2016-09-30 09:52] massimocapasso commented on #732
@adonath sorry, the problem arises when you comment the units out, as @joleroi commented before. Thanks for the example it works :)

[2016-09-30 10:12] adonath commented on #732
@joleroi Yes, we should remove the support for `float` from the documentation of the models, but technically we still need it to handle models with uncertainties via the `SpectrumFitResult` object and `model_with_uncertainties` method. Unfortunately there's not elegant solution to the problem until we implement our own `Parameter` class to handle uncertainties and quantities at the same time.

[2016-09-30 10:50] adonath commented on #726
@cdeil Jeremy Freeman gave a hint at gitter that the gammapy-extra Binder works on Python 2. And indeed that's the issue: if you manually change to a Python 2 kernel it works. Probably the default kernel on Binder changed from Python 2 to Python 3 and as we don't install the dependencies for Python 3 in our Dockerfile it fails..

[2016-10-03 12:26] jjlk commented on #134
Hi @cdeil @joleroi ,
Now that the spectrum.models module looks fine, do you think we could add a spectral table model class ? I'd like to use that with the gammapy.spectrum.utils.calculate_predicted_counts function.

I guess we could start with something similar to what they did in [naima.models.TableModel](http://naima.readthedocs.io/en/latest/api-models.html#naima.models.TableModel) and adapt it

[2016-10-04 06:55] cdeil commented on #134
@jjlk - Yes, sure, that would be great.
You can also copy it over from Naima and leave a comment to give attribution.

[2016-10-04 20:03] cdeil opened #734 "Issues with EnergyDispersion"
As noted by Michael Punch in https://github.com/open-gamma-ray-astro/gamma-astro-data-formats/issues/67#issuecomment-251428920 , the EnergyDispersion axis order in the matrix plot was incorrect.

I fixed this in e8c2e3744798d9d5d507adc083850087966684ce and https://github.com/gammapy/gammapy-extra/commit/68ccba45d2645289594d86dfbb24276493083d7a because I need that plot for https://github.com/open-g

[2016-10-05 09:14] cdeil opened #735 "Clean up image profile code and add docs example"
I just found an old notebook ([link](http://nbviewer.jupyter.org/gist/cdeil/f4c5b13d50a6c7922e858e58a62faf55)) that illustrates an application for the [gammapy.image.FluxProfile](http://docs.gammapy.org/en/latest/api/gammapy.image.FluxProfile.html) class.

This is a reminder issue for myself that I should clear up the image profile code and add a docs example (probably using a simulated Galactic p

[2016-10-06 12:55] joleroi commented on #734
I am using it regularly, I'd be surprised if it was broken

This is not true, see http://docs.gammapy.org/en/latest/api/gammapy.spectrum.SpectrumObservation.html#gammapy.spectrum.SpectrumObservation.stack

[2016-10-13 16:12] cdeil commented on #726
I've worked on this issue a bit:
https://github.com/gammapy/gammapy-extra/blob/master/Dockerfile

I tried to create a Python 3 conda env, but didn't manage to activate it propertly (because Docker is running `/bin/sh` which doesn't have `source`, not `/bin/bash`, and there's no `sudo`.

Now I changed to a Python 3.5 Docker base image with Anaconda already present:
https://hub.docker.com/r/andrewos

[2016-10-14 06:07] cdeil commented on #726
The build seems to work, but binder is not starting up correctly, it currently shows "failed" without further info.
I've asked on Gitter for help (https://gitter.im/binder-project/binder?at=57ffb58fb68c1ca566b1b93a) but no response yet.

[2016-10-18 15:47] cdeil opened #742 "Improve spectrum observation notebook"
To have a Gammapy CTA application example for the presentation at the CTA meeting next week Tuesday, @jjlk and I started a "Spectrum simulation for CTA" notebook just now:
http://nbviewer.jupyter.org/github/gammapy/gammapy-extra/blob/master/notebooks/spectrum_simulation.ipynb

@joleroi and / or @jjlk - If you have time in the coming days to investigate / fix some of the issues that came up there,

[2016-10-31 11:58] joleroi commented on #742
In general ``run`` methods in (at least the spectral analysis part of) gammapy run all steps of an analysis and write the results to disk. If you do not want that you have to call the individual analysis methods, in the case of ``SpectrumFit`` it's only one called ``fit``

[2016-10-31 12:00] joleroi commented on #742
https://github.com/gammapy/gammapy/issues/720

[2016-10-31 12:03] joleroi opened #747 "Refactor SpectrumExtraction"
The ``extract_spectrum`` method on ``SpectrumExtraction`` is very messy.

* [x]  The loop should be separated from a method processing one observation
* [x] The handling of meta keywords should be separated out
* [x] The containment correction should be separated out (see also https://github.com/gammapy/gammapy/issues/684)

[2016-10-31 13:16] #724 closed

[2016-10-31 13:19] joleroi commented on #742
@cdeil Can you point out an example where I can see the error message, in principle the simulation does not know anything about thresholds

[2016-10-31 13:21] cdeil commented on #742
I noticed this while writing
[spectrum_simulation.ipynb](http://nbviewer.jupyter.org/github/gammapy/gammapy-extra/blob/master/notebooks/spectrum_simulation.ipynb) with @jjlk .
If you uncomment
[code]
in cell 6 you should get the error.

[2016-10-31 15:43] cdeil opened #749 "Add Sphinx directive to link to notebooks"
As a first step towards better Sphinx / Jupyter notebook integration, we should add a Sphinx directive that let's us link from the Sphinx docs to a given notebook (or maybe even a section therein), without having to put a long URL.

It's just a matter of writing one function and registering it.
https://doughellmann.com/blog/2010/05/09/defining-custom-roles-in-sphinx/

More info: http://www.sphinx-

[2016-11-01 10:14] joleroi commented on #720
Fixed in https://github.com/gammapy/gammapy/pull/748

[2016-11-01 10:14] #720 closed

[2016-11-01 10:47] joleroi opened #750 "TestFluxEstimator.test_with_power_law fails in master"
https://travis-ci.org/gammapy/gammapy/jobs/172244252#L961

I don't know this test, is the failure expected?

[2016-11-02 15:59] adonath opened #751 "Add background estimation to ASmooth"
`ASmooth` uses an internal background estimation (ring of 3-4 sigma for Gaussian, and 1-4/3 sigma for Tophat), which should be added as an option to the `ASmooth` class.

[2016-11-02 16:02] adonath opened #752 "Add ASmooth 2FHL example"
Add an example notebook, that runs the `ASmooth` algorithm on the Fermi 2FHL dataset. Or even reproduce Fig. 1 and Fig 5. from the [2FHL paper](https://arxiv.org/abs/1508.04449).

[2016-11-08 16:18] joleroi opened #757 "Update EffectiveAreaTable2d to read effective area as function of reconstructed energy"
The ``EffectiveAreaTable2d.read`` method at the moment takes the first HDU it find. As of https://github.com/gammasky/hess-host-analyses/issues/48 there is a second HDU containing the effective area as a function of reconstructed energy. It should be possible to read this HDU.

[2016-11-09 15:34] cdeil opened #760 "High-level documentation priorities"
We should add more high-level documentation (in general, but also wrt. CTA use cases).

Concrete high-priority suggestions:

- [ ] The basic image analysis example notebook should be extended showing how to do a morpholgy fit [here](http://nbviewer.jupyter.org/github/gammapy/gammapy-extra/blob/master/notebooks/image_analysis.ipynb#Morphology-fit)
- [ ] For IACT DL3 data access, we have [data_iact.

[2016-11-09 15:58] cdeil opened #761 "Implement basic event list sampler"
For the planned CTA data challenge, but also generally for tests, we should implement an event sampler, i.e. a tool to simulate event lists given:
- source spectral model (arbitrary shape)
- source morphology model (point-like or arbitrary radial shape)
- given AEFF, EDISP, PSF (radially symmetric)
- given obs time.

We realised that it's actually not very hard to do, basically a series of samplin

[2016-11-09 16:08] cdeil commented on #401
Just a note: @bkhelifi and I have a strong preference to add a config-file driven analysis interface at least for the most common types of simple analyses.

Something similar to what @joleroi had implemented for spectral analysis a while ago:
http://docs.gammapy.org/en/v0.4/tutorials/gammapy-spectrum/index.html#tutorials-gammapy-spectrum
(this has been removed in the meantime, because the spectral

[2016-11-09 16:16] kosack commented on #401
we're just testing it now, so it's not totally stable.

Currently we are directly using the ipython config system, which is based on `traitlets.config`. The documentation is not very good, so we may re-implement it ourselves in a simpler way. However, the idea is not too bad. One simply defines an `Application` (which we call `Tool` in ctapipe, but it's just a subclass), and what parameters are ne

[2016-11-09 19:36] woodmd commented on #401
I've written some classes for configuration management in fermipy.  It's nothing as sophisticated as `traitlets.config` but I think the design and intent is similar.  To make a class configurable you define its parameters in a static dictionary called `defaults` and inherit from `Configurable` which does the parsing and validation.  The configuration state itself is just passed around as a python

[2016-11-09 21:08] cdeil commented on #757
Related:
- https://github.com/gammapy/gammapy/issues/539#issuecomment-222464452
- http://docs.gammapy.org/en/latest/_modules/gammapy/utils/nddata.html#NDDataArray.read

Agreed this should be changed so that a `hdu` option works for `EffectiveAreaTable2d.read`.

[2016-11-10 08:26] joleroi commented on #757
Actually I think nothing has to be done, since ``Table.read`` takes ``hdu`` as keyword argument.
see

[2016-11-10 10:35] adonath commented on #761
Just wanted to mention Scipy's  [rv_discrete](https://docs.scipy.org/doc/scipy-0.18.1/reference/generated/scipy.stats.rv_discrete.html) class, which might be useful for this usecase. Here's a toy example, where I used it to generate the gammapy poisson logo: https://github.com/gammapy/gammapy-extra/blob/master/experiments/gammapy_poisson_logo/gammapy_poisson_logo.py

[2016-11-10 10:55] joleroi commented on #760
IMO the HESS data release should be prioritized over simulating a CTA reference test dataset

[2016-11-10 11:00] kosack commented on #401
`traitlets.config` does give you a dictionary of the configuration state (as as `Config` object, which is just a subclass of `dict`), so it should work.

[2016-11-10 14:32] cdeil opened #764 "Fix test_convolve_cube in gammapy/cube/tests/test_core.py"
PyCharm tells me that there's a bug in this test:
https://github.com/gammapy/gammapy/blame/master/gammapy/cube/tests/test_core.py#L273
The Quantity import is missing.

The fact that travis-ci passes means that the test never runs there, i.e. there's some problem with the
[code]
Probably it doesn't work for strings like "scipy.interpolate.RegularGridInterpolator".

@adonath - Do you have time to fi

[2016-11-10 14:50] adonath commented on #764
I can fix the issue , I'm working on `SkyCube` anyway...

[2016-11-10 14:58] cdeil commented on #764
@adonath - Thanks! Assigning to you ...

[2016-11-10 22:48] joleroi commented on #539
How should we deal with the ``write`` method? In some cases e.g. for the effective area it is not clear what the extension name is. One option would be to force the user to give one or more extension names when calling ``write`` but this is somehow really inconvenient.

[2016-11-11 02:04] joleroi commented on #757
This should be fixed by https://github.com/gammapy/gammapy/pull/755

[2016-11-11 12:28] cdeil commented on #13
Gammapy PDF build is broken again on RTD:
http://readthedocs.org/projects/gammapy/builds/4649893/

Re-opening this issue.

- [ ] Fix PDF build
- [ ] Add PDF docs build on travis-ci so that this doesn't keep breaking

[2016-11-14 09:13] adonath commented on #764
Fixed by #766

[2016-11-14 09:13] #764 closed

[2016-11-14 09:16] #732 closed

[2016-11-14 09:38] adonath commented on #99
I'm closing this one the initial implementation has been addressed in #746. Remaining work for ASmooth is documented in  #751 and #752

[2016-11-14 09:38] #99 closed

[2016-11-14 09:42] adonath commented on #121
Partly addressed in #753, #759 and #766.

`SkyCube.sky_image_integral()` works now with any energy unit and does a log-linear extrapolation to higher energies.

[2016-11-14 09:49] adonath commented on #14
From my experience with TS maps, I think it's a good choice to use [brentq](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.optimize.brentq.html) in combination with multiprocessing. Sensitivity computation for TS maps is missing as well, I'll open a separate issue for that.

[2016-11-14 09:53] adonath opened #769 "Implement sensitivity computation for TS maps"
Currently we don't have a method to compute sensitivity images for TS based analyses. This should be implemented, documented and tested, e.g. using Fermi 2FHL data.

[2016-11-14 11:06] joleroi commented on #732
@adonath Can you file an reminder issue that we need to fix this? :grin:

[2016-11-14 11:13] adonath opened #770 "Remove float support from SpectralModel documentation"
As suggested in #732 we should remove the support for float from the documentation of the models. Models should be only instanciated with `Quantity` objects. Technically we still need float support to handle models with uncertainties via the SpectrumFitResult object and model_with_uncertainties methods, but this should only be used internally in object methods and not by the user.

[2016-11-14 15:16] adonath commented on #687
I've looked into that issue and I can reproduce it on my machine. The reason of this error is the upper bound of the integration range (emax = `1E10 * u.TeV`). Effectively the function value  `model(1E3 * u.TeV)` is already O(1E-51) (because of the exponential term...), so `1E10` is far beyond the machine precision, maybe one should clip the values somehow or just change the integration range to `

[2016-11-15 07:32] cdeil commented on #400
Fixed by @adonath in #773

[2016-11-15 07:32] #400 closed

[2016-11-15 07:53] #727 closed

[2016-11-15 07:59] cdeil commented on #687
@adonath - I don't fully understand. There will probably be Fermi-LAT pulsars with a sharp cutoff at ~ 1 GeV that have `flux < 1e-51` at `1e3 TeV`, so changing the `e_max` to fix this test fail will probably just mean that the same issue will come back for a different case soon? We need an integration method that's OK with fluxes ~ 0, no?

That said -- if you have any solution to fix / improve thi

[2016-11-15 08:54] adonath commented on #687
@cdeil Yes, you are right this wasn't the full issue. I tracked the issue down to the `uncertainties.unumpy.log10` function. While numpy deals fine with these small numbers:
[code]
The invalid numbers are then handled in the [this line](https://github.com/gammapy/gammapy/blob/master/gammapy/spectrum/utils.py#L291) in `_trapz_loglog`.

The `uncertainties.unumpy.log10` raises an error:
[code]

And t

[2016-11-15 09:03] adonath commented on #687
One could manually filter out the tiny values like so:
[code]
@cdeil Do think this is appropriate?

[2016-11-15 09:06] cdeil commented on #687
Sure, if that works, and you leave a comment why you're doing it, it's certainly fine with me.
Maybe call [numpy.clip](https://docs.scipy.org/doc/numpy/reference/generated/numpy.clip.html) to clip the lower fluxes to a range that works?
(not sure if that's better than filtering, as you like)

[2016-11-16 13:42] joleroi opened #776 "gammapy.irf is a horrible mess"
## Problem

[gammapy.irf](http://docs.gammapy.org/en/latest/irf/) contains many classes to represent IRF tables with different axis. At the moment it is very difficult to use (even for me, who wrote many of these classes). I think the problem is that the class naming is not coherent at all. Sometimes classes are called ``SomeIRF2D`` and sometime ``EnergyDependentSomeIRF`` and sometimes it's not cl

[2016-11-16 15:13] #694 closed

[2016-11-16 17:06] registerrier commented on #776
I also find the naming scheme confusing. I would not use a system based on axis number, or axes quantities though.  I think it is equally confusing.

To me the main difference between these objects is their level in the analysis scheme. I think it would clarify to use names more explicit on the level.

- `EnergyDispersion2D` is used to represent the full EDISP information of the data. Would we hav

[2016-11-16 17:10] registerrier commented on #776
Also why do we have a PSFKing and a PSFMultiGauss?

Can't we have a single class: analytical PSF where in the `read` function we instantiate the relevant parameters and function to use?

[2016-11-17 09:42] adonath opened #781 "Changing the `.table` attribute breaks `SourceCatalog` indexing"
Currently the `SourceCatalog` indexing by source name returns incorrect results, when the underlying `.table` attribute is changed in place, e.g. by sorting:

[code]

Which yields:
[code]

I think this behaviour should be fixed, because it is common use case e.g. to look for the 10 highest significant or largest sources in a catalog.

[2016-11-17 09:47] adonath commented on #781
A possible fix could be to use `Table` advanced indexing. Here's a minimal example:

[code]

Which returns:
[code]

[2016-11-17 10:04] joleroi commented on #776
I agree, it is for example not clear if the ``offset`` axis for the PSF or the ``migra`` axis for EDISP are to be counted in the dimensionality of an IRF object. The problem is that I didn't have a better idea.

I think yes. The transition from migra to e_reco is an integration, right? So it would give a nice API if we had an object representing an energy migration for a given e_true (with migra a

[2016-11-17 11:59] cdeil commented on #13
@bsipocz - Thanks for making the PR #779.

The Gammapy PDF docs build has been braking many times over the past years.

Would it be possible to add a travis-ci build that runs it?
I think the commands that should be run are these and then the exit status needs to be checked:
http://docs.gammapy.org/en/latest/development/howto.html#sphinx-docs-build
[code]

[2016-11-17 12:29] cdeil commented on #781
There's many classes in Gammapy that are supposed to be read-only.
Every time we compute something in `__init__` or explicitly create a cache, things will break when the underlying data is changed.

So we should try to have as few such pitfalls as possible, and  where we need to keep the pre-computation or cache for performance reasons, add a sentence to the docstring explaining that this object i

[2016-11-17 14:19] cdeil commented on #776
I'm all for better names and code for IRFs.

We should not duplicate work in ctapipe, so @TarekHC and @kosack, please let us know what you think, and add a link to here if there's similar work ongoing in ctapipe.

For the specs, we have this section on IRF axis names:
http://gamma-astro-data-formats.readthedocs.io/en/latest/irfs/index.html#irf-axes

and there's https://github.com/open-gamma-ray-as

[2016-11-17 14:37] joleroi commented on #570
to be discussed
https://github.com/gammapy/gammapy/pull/778#issuecomment-261260028

[2016-11-18 09:19] cdeil opened #782 "Further EventList improvements"
In #754 I improved EventList a bit. This is a reminder issue on further tasks that should be done:

- [x] Merge `EventListDataset` class into `EventList` class
- [x] Add events region selection
- [x] Add tests for stacking event lists
- [x] Change from `$GAMMAPY_EXTRA/datasets/hess-crab4-hd-hap-prod2` to a better dataset where event lists have units, and remove the temp fix in `EventList.__init__`

[2016-11-18 09:26] cdeil commented on #687
@adonath - I think this issue was fixed in #775, no? Can we close it?

[2016-11-18 09:26] adonath commented on #687
Yes

[2016-11-18 09:26] #687 closed

[2016-11-18 10:49] cdeil commented on #689
Changelog is updated:
http://docs.gammapy.org/en/latest/changelog.html#november-18-2016

`master` should be ready to release 0.5.
I'll try to do it soon (maybe tonight).

[2016-11-21 14:33] adonath opened #787 "Change `LogEnergyAxis` to use `RegularGridInterpolator`"
The `LogEnergyAxis` object should be changed to use scipy's  `RegularGridInterpolator`, so that pixel to world (and world to pixel) transformations can be done outside the normal pixel range. This is important to calculate pixel edges and to handle e.g. interpolation to higher energies (see #785 as well for some discussion).

[2016-11-22 07:57] cdeil commented on #689
I'll make the release now.
@adonath @joleroi - Please no commits to master or merging of pull requests for the next ~ hour.

[2016-11-22 09:21] cdeil commented on #689
Git tag: https://github.com/gammapy/gammapy/releases/tag/v0.5
Source package on PyPI: https://pypi.python.org/pypi/gammapy/0.5

[2016-11-22 09:25] adonath commented on #689
@cdeil Great, Thanks!

[2016-11-22 09:50] cdeil commented on #689
Conda package: https://github.com/astropy/conda-channel-astropy/pull/99

[2016-11-22 09:54] cdeil commented on #689
RTD v0.5 build is done: http://docs.gammapy.org/en/v0.5/
Stable also points to v0.5: http://docs.gammapy.org/en/stable/

[2016-11-28 14:30] adonath commented on #787
Fixed by #796

[2016-11-28 14:30] #787 closed

[2016-11-29 22:00] jjlk opened #801 "Is the spectrum.SpectrumSimulation.simulate_obs function broken ?"
Hi @joleroi and @cdeil ,
I was playing with the gammapy.spectrum.SpectrumSimulation class and everything was fine until I did an update of gammapy (I was 227 commits late...).

The problem is that I get a None value when I call the SpectrumSimulation.simulate_obs function. I looked at the code but I didn't find where the None value could come from.

Here is a minimal script showing the bug:

[code

[2016-11-29 23:00] joleroi commented on #801
Thanks for your report!

The problem is that ``sim.simulate_obs`` does not return anything, see

http://docs.gammapy.org/en/latest/_modules/gammapy/spectrum/simulation.html#SpectrumSimulation.simulate_obs

The result is stored in ``sim.obs`` (perhaps this was different in the past)

For an up to date example how to use ``SpectrumSimulation`` see

https://github.com/gammapy/gammapy-extra/blob/maste

[2016-11-30 07:22] cdeil commented on #801
@joleroi - I think we made this change of not returning something from the `simulate_obs` method after watching one of the clean code episodes by [uncle Bob](https://en.wikipedia.org/wiki/Robert_Cecil_Martin). One of his recommendations was that methods should
- either change the state of an object and return nothing
- or not change the state of an object and return something

and not both at the

[2016-11-30 08:32] jjlk commented on #801
Thanks for your explanations @joleroi ! I'm getting old and my eyes are not what they where. And yes @cdeil , we can close the issue.

[2016-11-30 08:32] #801 closed

[2016-11-30 11:26] joleroi commented on #801
https://github.com/gammapy/gammapy/issues/749

This would have probably avoided the issue ...

[2016-11-30 12:31] #781 closed

[2016-11-30 14:44] adonath commented on #7
A prototype implementation has been added in #719. Close issue?

[2016-11-30 15:53] TarekHC commented on #776
Hi @cdeil ,

Sorry I took so long to answer. I was terribly busy with the MAGIC general meeting last week.

There is nothing done within ctapipe regarding IRFs. I will "soon" (probably next week) start playing with the new containers, and start calculating some "proto-IRFs".

This is exactly what we tried to do within "flexIRF": https://github.com/cta-observatory/flexIRF
General classes defining I

[2016-11-30 16:43] jjlk opened #804 "Issues while trying to fit a SpectrumSimulation"
Hi @joleroi ,
Last month with @cdeil ,we observed a weird behavior when trying to fit an object from the SpectrumSimulation class. If you don't give an obs_id to the observation en exception is raised:
[code]
Secondly, it is not possible to print the simulated observation with no background information:
[code]
Here is an example script reproducing these behaviours:
[code]
Do you have any idea how

[2016-11-30 16:45] jjlk commented on #804
Is it the good way to discuss about bugs?

[2016-11-30 20:46] cdeil commented on #7
@adonath - I would prefer to keep the issue open as a reminder until the adaptive ring background estimation is of Gammapy 1.0 quality.

Of course, an issue without concrete action items if of limited value. So I had a quick look at [gammapy.background.AdaptiveRingBackgroundEstimator](http://docs.gammapy.org/en/latest/api/gammapy.background.AdaptiveRingBackgroundEstimator.html) in the docs and the

[2016-11-30 20:52] cdeil commented on #804
Yes. Github issues work well for such things (much better than e.g. email, where there's not way to keep track well and prioritize / share the work).

One issue or feature request per Github issue work best.
Although in this case, with many small related issue, I also would have filed one issue.

@joleroi - I'm assigning to you for now, can you have a look please?
If you don't have time, feel free

[2016-12-01 09:01] joleroi opened #805 "Add generic to_sherpa method in SpectralModel"
* Define Sherpa model (something not built in in Gammapy) - should work
* Simulate data - won't work at the moment, only GP models supported
* Fit - should work

[2016-12-01 09:10] joleroi commented on #804
@jjlk  Do you think it should be possible to have an observation without ``obs_id``? When doing simulations I usually give the seed as obs_id. At some we decided to not always do input validation in gammapy, so the missing ``obs_id`` passes unnoticed.

This is clearly a bug, I will fix it

[2016-12-01 09:17] adonath commented on #7
@cdeil I agree with most of your points, so lets keep this issue open.

[2016-12-01 09:47] jjlk commented on #804
@joleroi I think it's a good thing to be able to distinguish between simulated osbervations so I guess we should keep the obs_id. Maybe we could set the obs_id to the seed by default and add an optional parameter, in `SpectrumSimulation.simulate_obs`, to label the observation ? What do you think?

Oké great!

[2016-12-01 09:49] joleroi commented on #804
Sounds good! Thanks for reporting these issues

[2016-12-01 10:42] joleroi commented on #570
It probably gives a better API if NDData array is not subclassed but used as attribute in the IRF classes. TODO

[2016-12-01 17:26] cdeil commented on #298
I'm closing this old issue now.

In Gammapy we're using `Table`, and `Table.meta` doesn't fully represent the FITS header.
It's a known issue, but usually doesn't matter for most users.
If there are cases where full control over the FITS header is needed, the `astropy.io.fits` classes should be used.
But we don't want to do that in most (all?) parts of Gammapy, because `Table` is a much friendlier

[2016-12-01 17:26] #298 closed

[2016-12-01 17:33] cdeil commented on #439
@adonath - I'm clearing out old issues today.

For `gammapy/astro/population/tests/test_spatial.py` I currently see this:
https://gist.github.com/cdeil/89d53bf5ebf53b19d307fc8d849e28c2

I.e. no fails, but some are skipped, e.g.
[code]

This is something you wrote.
Could you please have a look?
If you don't want to do this, please just assign back to me.

[2016-12-01 20:20] cdeil commented on #805
I think keeping our `SpectralModel` in the Gammapy interface, and having a generic way to create and fit Sherpa models from that might be nicer. I.e. Sherpa as a fitting engine only. More convenience and control in Gammapy. Of course, this will not give the expressive modeling language from Sherpa.

So bottom line -- add whatever you like for now, if it works it's progress.

[2016-12-02 08:54] adonath commented on #439
@cdeil For testing we use `Fittable1DModelTester` from `astropy.modeling.tests.test_models`, which saves ~100 lines of model testing code. As the models don't have a derivative or a bounding box defined (which are tested by default by `Fittable1DModelTester`), the tests are skipped. Changing this would require and upstream fix in astropy or some hacking on our side...

[2016-12-02 09:06] cdeil commented on #439
So we just close this old issue, it's fine as-is, right?
I'm doing it now ... if that wasn't appropriate, please re-open and comment what can / should be done.

[2016-12-02 09:06] #439 closed

[2016-12-06 09:48] jjlk commented on #804
Hi @joleroi ,
I did some tests and it's ok for me. I think we can close this issue, right?

[2016-12-06 10:35] jjlk opened #808 "Needed developments for science tools"
Hi @cdeil , @joleroi , @registerrier , @bkhelifi , @adonath , @TarekHC ,
In order for gammapy to be able to handle science use cases in CTA I list below some needed features:
- [ ]  Make a class to store CTA performance from public IRF (effective area, background rate, energy dispersion and PSF)
- [ ]  Make a new class which inherits from `SpectralModel` to be able to handle an absorbed model  (e.

[2016-12-06 14:01] cdeil commented on #808
@jjlk - Sounds great!

It's usually best to do one issue per point, because otherwise discussion on multiple topics is in one linear thread that is hard to follow. Still, here's some quick comments:

---

For the performance you already added [gammapy.scripts.CTAIrf](http://docs.gammapy.org/en/latest/api/gammapy.scripts.CTAIrf.html), which access FITS prod 2 IRFs from CTA. Did you mean to extend t

[2016-12-06 15:01] joleroi commented on #805
I agree

[2016-12-06 15:07] joleroi opened #809 "Support background rates in SpectrumSimulation"
This is a split out from https://github.com/gammapy/gammapy/issues/808

At the moment the ``SpectrumSimulation`` take a ``background_model``  and a ``livetime`` keyword, see [here](http://docs.gammapy.org/en/latest/api/gammapy.spectrum.SpectrumSimulation.html). I don't think I understand what is missing for your use case @jjlk. In what format do you have the background rate exactly? There is also

[2016-12-06 15:09] joleroi commented on #805
This will also solve the problem raised [here](https://github.com/gammapy/gammapy/issues/808) namely the fitting of a absorbed spectral model.

Therefore

* [ ] add to_sherpa method to ``SpectralModel``, subclasses should not have to implement this
* [ ] add notebook showing how to define a user model, simulate data and fit it

[2016-12-12 08:57] adonath opened #815 "Handling of gamma-cat related tests in gammapy"
Changing the reference paper values for Vela X in gamma-cat recently  caused a test fail (https://travis-ci.org/gammapy/gammapy/jobs/183176472#L985) in gammapy master, where Vela X is used as a test source. As a quick fix, I marked the tests as `xfail`, but we need a better solution.

@cdeil  Suggested to re-enable the tests, as soon as gamma-cat has version numbers assigned.

[2016-12-12 13:11] #804 closed

[2016-12-14 12:45] astrofrog opened #818 "AppVeyor build is in personal account"
I noticed today that the gammapy builds are in @cdeil's AppVeyor account rather than in a gammapy organization on AppVeyor:

https://ci.appveyor.com/project/cdeil/gammapy/build/1.0.1764

It would probably be a good idea to fix this in the long run.

[2016-12-14 12:49] cdeil commented on #818
I didn't know.
What do I have to do to change?

[2016-12-14 12:58] astrofrog commented on #818
@cdeil - I dislike how AppVeyor handles all this compared to Travis... But to do it 'properly', I think you need to make an account for gammapy:

https://ci.appveyor.com/signup/free

And then you would need to add the build there and remove it from your account. If you want the build moved with all the history, you have to email them. Once you have the account set up, you can go to Team then add G

[2016-12-14 13:09] astrofrog commented on #818
(A side bonus of this is that the number of builds is set per account/organization, so then gammapy would have its own queue separate from your account)

[2016-12-16 11:06] cdeil opened #823 "Image plots (e.g. EDISP, PSF) incorrect with Matplotlib > 2"
In #816 and https://github.com/gammapy/gammapy-extra/pull/44 , @jjlk added files and a class to access CTA prod 2 IRFs.

As mentioned in https://github.com/gammapy/gammapy/pull/816#issuecomment-266420658, there's a potential issue with EDISP.

@joleroi - Can you try this, as a first step?
[code]
The plotted EDISP is correct for @jjlk , but not for me.

Here's my version info, in case it helps to r

[2016-12-16 11:10] cdeil commented on #823
It's just a Matplotlib plotting issue. If I go back to the latest stable MPL 1.5.3, the plot is OK for me.

Assigning this issue to myself, to see if we should improve our plotting code or if I should file a bug report in the MPL tracker.

[2016-12-21 07:35] cdeil commented on #823
I've tracked this down to a change in MPL behaviour in the upcoming MPL 2.0 release:
http://matplotlib.org/2.0.0rc2/users/dflt_style_changes.html#interpolation

If I pass `resample=False` to the `imshow` call in `plot_matrix`, I get the same result as with MPL 1.x.

This needs to be fixed for every `imshow` call in Gammapy in a way that gives the same output with MPL 1.x and 2.x. I'll think about

[2017-01-08 15:19] cdeil commented on #749
Implemented by @joleroi in #802.
See http://docs.gammapy.org/en/latest/development/howto.html#link-to-a-notebook-in-gammapy-extra-from-the-docs
Closing this old issue now.

[2017-01-08 15:19] #749 closed

[2017-01-10 16:20] joleroi commented on #757
This was fixed in https://github.com/gammapy/gammapy/pull/832

[2017-01-10 16:20] #757 closed

[2017-01-11 07:09] cdeil commented on #570
I think this was partly done in https://github.com/gammapy/gammapy/pull/832 .

[2017-01-12 07:24] cdeil commented on #434
We should probably create and advertise a conda environment file to users.

Here's a simple working example of installing Gammapy and all it's dependencies:
* https://github.com/gammapy/gamma-cat/blob/master/environment.yml
* https://github.com/gammapy/gamma-cat/blob/master/.travis.yml

In the Gammapy repo, we're already using this conda environment file for the installation on ReadTheDocs, but it

[2017-01-12 07:38] cdeil commented on #623
Since no-one has time to work a lot on the Gammapy webpage, probably we should start with small steps.

The first one should IMO be to add a few buttons like at https://www.meteor.com/

![screen shot 2017-01-12 at 08 26 55](https://cloud.githubusercontent.com/assets/852409/21880837/551c195e-d8a1-11e6-9f3f-07ce962d34cc.png)

For us, the three buttons / links for now could be:
- Docs: pointing to ht

[2017-01-12 08:53] cdeil commented on #670
I'm still getting this error:
[code]

[2017-01-12 10:54] cdeil commented on #618
cc @robertazanin

[2017-01-12 10:54] cdeil commented on #618
One example how to read and browse tables:
[code]

[2017-01-12 12:46] cdeil commented on #670
Non-characters removed by Gilles Ferrand just now.

This works again:
[code]

Closing issue now.

(if this comes up again in the future, we should change the Gammapy code to replace non-ascii characters with a default ascii character on read to make this more robust)

[2017-01-12 12:46] #670 closed

[2017-01-12 13:31] cdeil commented on #611
Looking though the Gammapy search results, it seems that it's sometimes case-sensitive, sometimes case-insensitive.

There is an open Sphinx issue to add support for case-insensitive search: https://github.com/sphinx-doc/sphinx/issues/738#issuecomment-272162580

And there are several open Sphinx issues about search giving wrong results, all with complicated details about which text is searched exa

[2017-01-12 13:31] #611 closed

[2017-01-13 18:36] rlopezcoto opened #839 "Problem with example_plot_spiral_arms.py"
Hi,

if I try to run the example, I get the following error:
[code]
I updated astropy and I still got the same error, which was solved by changing line 19 to:
[code]
Furthermore, the naming of the spiral arms does not correspond to that of the vallee paper:
http://iopscience.iop.org/article/10.1088/0004-6256/135/4/1301/pdf

[2017-01-16 09:33] cdeil commented on #839
This works for me:
[code]
with
* Numpy 1.11.3
* Astropy 2.0.dev17685
* Gammapy 0.6.dev3945

@rlopezcoto - Is this the example you're running?

Which versions of Numpy, Astropy, Gammapy do you have?
You can print them with
[code]

---

@adonath - Can you please have a look?

I think this was discussed / fixed / checked when you made the plot for the ICRC proceeding last year?
http://docs.gammapy.or

[2017-01-16 10:06] adonath commented on #839
The example works for me as well.

Concerning the labelling of the spiral arms:

| Original plot | Gammapy plot |
|-----------------|--------------------|
|![vallee_spirals](https://cloud.githubusercontent.com/assets/3715928/21978126/788344ae-dbd9-11e6-948c-4d17138c1337.png)|![gp-vallee-spirals](http://docs.gammapy.org/en/latest/astro/population/plot_spiral_arms.png)|

I can only see one differenc

[2017-01-16 10:40] rlopezcoto commented on #839
The versions of numpy/gammapy/astropy I'm using are:

- python -c 'import numpy; print(numpy.__version__)'
1.11.3
-  python -c 'import astropy; print(astropy.__version__)'
1.3
-  python -c 'import gammapy; print(gammapy.__version__)'
0.4

I cannot update further gammapy/astropy using conda, shall I download the development version from git?

When I run the example, if I plot only the vallee spiral

[2017-01-16 10:47] cdeil commented on #839
Gammapy 0.4 is very old:
http://docs.gammapy.org/en/latest/changelog.html

You should get the development version of Gammapy, although in this case probably updating to Gammapy 0.5 would work as well.

---

At the moment apparently we're using the X/Y orientation that's also shown in the Vallee paper.
Updating to http://docs.astropy.org/en/latest/api/astropy.coordinates.Galactocentric.html is a su

[2017-01-18 13:21] cdeil commented on #206
@klepser just today published "The optimal on-source region size for detections with counting-type telescopes" (https://arxiv.org/abs/1701.04731) pretty much doing this study.

Concretely for Gammapy, I think it would be nice to add a function or method that computes the optimal theta cut for any [TablePSF](http://docs.gammapy.org/en/latest/api/gammapy.irf.TablePSF.html), or for [EnergyDependentTa

[2017-01-20 07:45] cdeil opened #843 "SkyImage paste error with Numpy 1.12"
I just now updated to Numpy 1.12, and what was before a warning is now an error:
[code]

@bsipocz - Why didn't this show up on travis-ci so far? I thought we had a build for latest stable Numpy, maybe even latest dev version?

@adonath - Do you have time to make a fix? If no, let me know and I'll have a look tomorrow.

I know that getting this right is tricky. It took a few pull request to arrive

[2017-01-20 11:17] adonath commented on #843
The issue was just a missing `.astype('int')` in `SkyImage._get_boundaries()`, because `np.rint()` still returns an array of float values. I fixed in directly in master. Let's keep the issue open until @bsipocz commented, why this didn't show up on Travis-CI.

[2017-01-20 11:31] cdeil commented on #843
@adonath - Thanks!
I can confirm that the test fail is resolved.

Running the docs build, the only error is this one:
[code]
Again, looks like something where Numpy got stricter and doesn't accept a float where an integer is needed.

@adonath - It's again code that (I think) you wrote. Do you have time to fix or should I have a look?

[2017-01-20 12:14] bsipocz commented on #843
@cdeil - latest numpy is defined by ci-helpers, and it's still 1.11 as last time I checked (yesterday), 1.12 was not yet available on the default conda channel.

[2017-01-20 12:18] bsipocz commented on #843
Also it seems that both numpy dev and prerelease are allowed to fail so no wonder there that it wasn't spotted.

[2017-01-20 15:06] cdeil commented on #843
This is the only fail we have with numpy dev on travis-ci:
https://travis-ci.org/gammapy/gammapy/jobs/193710741#L1837

@adonath - Is this one of the new functions you wrote or old stuff from Ellis or me? Can you fix or remove?

[2017-01-24 12:37] joleroi opened #846 "Notebook tests cannot require certain version of a dependency"
In #844 I had to mark the tests for ``spectrum_analysis.ipynb`` and ``spectrum_simulation.ipynb`` as ``false``. The reason is that a sherpa HEAD version is required to run the ``SpectrumFit``. In the regular unit tests this is easy to require, whereas in the notebook tests I don't know how to do that.

[2017-01-25 08:38] cdeil commented on #843
I will look at and try to fix the `plot_spiral_arms.py` and `test_image_lat_profile` fail now.

[2017-01-25 09:07] cdeil commented on #843
I've fixed `plot_spiral_arms.py` in master in 50208e64 .

@adonath - If you could have a look and try to improve the script a little further that would be great. See TODO comment at
https://github.com/gammapy/gammapy/commit/50208e649e83da1245d40c12eb724dcc338882c9#diff-2f5a20c6838f9424c68dfdb0deee6bc1R44

I hope the current output is still correct, and I didn't introduce an issue in the calculatio

[2017-01-26 09:56] cdeil commented on #843
With #849 merged, the issues discussed above are resolved.

@adonath confirmed offline that the spiral arms and labels are still correct (nothing changed).

Closing this issue now.

[2017-01-26 09:56] #843 closed

[2017-01-26 13:36] joleroi opened #850 "Check data types written to OGIP files"
In https://github.com/gammapy/gammapy/pull/848  and https://github.com/gammapy/gammapy/pull/847 @registerrier  noted that some of the OGIP files that are written by gammapy contain incorrect data types. This seem not to cause problems when opening them in an IPython sessions using sherpa but makes the sherpa command line interface and also XSPEC crash.

The correct data types are given [here](http

[2017-01-26 13:51] joleroi commented on #688
@cdeil

I updated the files in ``gammapy-extra`` manually and all fit results changed. It is now impossible to trace this back because the person who changed the code writing the OGIP files did not update the file in ``gammapy-extra`` and didn't notice the change.

Any idea how to avoid this in the future?

[2017-01-26 21:50] cdeil commented on #850
I think the Sherpa devs always consider a crash as a bug, even if passed bad input data, there should be a nice normal Python error traceback, not a crash.

So @joleroi or @registerrier - If you have a minimal test case, I'd encourage you to file an issue in the Sherpa Github tracker in addition to this one.

[2017-01-26 22:00] cdeil commented on #688
@joleroi - Can you please come by my office tomorrow to discuss and find a good solution here?

[2017-01-27 13:30] cdeil opened #852 "Gammapy 0.6 release"
I plan to make a Gammapy 0.6 release before the APC and MPIK workshops, tentatively scheduled for February 13.

A major reason to do it is to fix the conda build (see https://github.com/astropy/conda-channel-astropy/pull/99) so that `conda install gammapy` just works or participants. And we've already accumulated many fixes and new features (see http://docs.gammapy.org/en/latest/changelog.html#gam

[2017-01-27 13:31] jjlk commented on #809
Hi @joleroi , usually the background rate for a given configuration of analysis is provided. Therefore it should be used for the ON/OFF method to estimate the number of background events in the ON region. As I understand you implemented the backgound modeling in the SpectrumSimulation class to study the systematics for the spectral reconstruction, right? What I want is to predict the number of exp

[2017-01-27 13:37] jjlk commented on #852
Roger.

@adonath : Hi Axel, during this week-end I plan to implement everything that is needed to be able to handle the 1FGL Fermi/LAT catalogue in gammapy. Is it ok for you if I follow closely what you did for the 2FHL catalogue?
Thanks!

[2017-01-27 13:45] adonath commented on #852
@jjlk Yes, of course. All the classes in `gammapy.catalog` are very similar. It's a lot of code repetition, with only slight modifications, but for now this totally fine (and never might change...we'll see).

[2017-01-27 13:46] jjlk commented on #852
OK great, thanks @adonath !

[2017-01-27 14:03] cdeil opened #853 "Refactor plot_fermi_3fgl_light_curve"
We currently have this function:
http://docs.gammapy.org/en/latest/api/gammapy.time.plot_fermi_3fgl_light_curve.html

It was added a long time ago before the catalog and lightcurve class existed.
It should now be refactored like this:
* Turn it into a method on [gammapy.catalog.SourceCatalog3FGL](http://docs.gammapy.org/en/latest/api/gammapy.catalog.SourceCatalog3FGL.html) that returns a [gammapy.

[2017-01-27 14:08] cdeil commented on #852
@jjlk @adonath  -There's also quite some cleanup needed in gammapy.catalog. I'm not sure if you or anyone will have time to do it for v0.6. Just in case that yes, I've put some info concerning Fermi lightcurves here: #853 .

That's basically the idea ... we always split out things into separate issues and then try to prioritise for v0.6, v0.7, ... and ideally find new contributors in the second pa

[2017-01-29 17:36] jjlk opened #856 "Fermi/LAT butterfly and upper limits for the 1FHL and 2FHL sources"
Hi @axel,
There is something weird with the butterfly and th upper limits of the 1FHL and 2FHL catalogues. @cdeil find the reason, it is given in PR https://github.com/gammapy/gammapy/pull/855#issuecomment-275929851. I could have a look in the comming week.

![pks2155](https://cloud.githubusercontent.com/assets/15717586/22406295/0aa7f754-e651-11e6-9194-ef18132714f1.png)

[2017-01-30 12:55] adonath commented on #856
@jjlk I'm looking into this issue right now...could you share the code to create the plot?  This would help to verify, that the issue is fixed. Thanks!

[2017-01-30 13:25] jjlk commented on #856
I @adonath , here the script I used:
[code]
Thanks!

[2017-01-31 14:28] cdeil commented on #760
@robertazanin and I discussed this a bit just now. With the Gammapy workshops and the CTA data challenge happening in a few weeks, priorities have changed a bit. Basically it's important to extend and improve the documentation now, and to add examples how to do stuff ASAP. There's people from CTA asking if Gammapy can do e.g. a user-defined spectral model, a 2D image based analysis etc. ... stuff

[2017-02-01 11:30] cdeil opened #861 "CTA IRF interpolation nodes issue"
As mentioned in  https://github.com/gammasky/cta-dc/blob/master/irf/prod3/irf_check.ipynb and discussed with @jjlk , there's an issue with IRF interpolation.

The offset-dependent IRFs have bins:
[code]

In Gammapy, this is read in like this:
[code]
i.e. interpolation nodes are placed at `THETA_HI` instead of the bin center.

And there's the additional issue that `evaluate` fails for low-offset va

[2017-02-01 12:50] cdeil opened #862 "EnergyDispersion2D peek is very slow"
@joleroi - As discussed right now, for unknown reasons EnergyDispersion2D peek is super-slow at the moment.
It should take < 1 sec and do simple linear interpolation, but takes ~ 1 minute for this example:
https://github.com/gammasky/cta-dc/blob/master/irf/prod3/irf_check.ipynb
and I think it takes ~ 10 seconds for this example:
http://nbviewer.jupyter.org/github/gammapy/gammapy-extra/blob/master/

[2017-02-01 13:18] cdeil commented on #856
Fixed by @adonath in  #858

[2017-02-01 13:18] #856 closed

[2017-02-01 14:59] #688 closed

[2017-02-01 14:59] joleroi commented on #862
The same problem occurs in the CTA spectrum simulation notebook. It's impossible to run it because all operation including energy dispersion take O(1min)

[2017-02-01 15:16] joleroi commented on #861
It was not tested and completely broken, maybe we should add a disclaimer to all notebooks that are not tested.
This one I fixed in https://github.com/gammapy/gammapy-extra/commit/63a13c19fc911aa419b97f59277a378c4fbcae2f
but it still does not show much. It should be improved.

[2017-02-01 19:44] cdeil commented on #861
My hope is that we can make a concerted effort to improve documentation over the next 10 days until the Gammapy 0.6 release and the workshops. I.e. all try to spend ~ a day to take a broken notebook and make it great ... (wait, this is not funny any more).

If that doesn't work out, yes, I'll delete or hide broken notebooks.

Current status can roughly be seen on this overview page: http://nbviewe

[2017-02-01 19:58] cdeil commented on #688
Thanks for finishing this up!

I don't think I fully understand why this went unnoticed. Basically that test wasn't set up in a good way an it is possible to change it so that it fails when a bug is introduced in the code, or the reference files change, no? And linking versions of code and test data is key.
This and more stable reference test datasets should make things better in the future, but a

[2017-02-02 10:50] adonath commented on #699
Resolved by #810? Close this issue?

[2017-02-02 10:54] joleroi commented on #699
:+1:

[2017-02-02 10:55] cdeil commented on #699
The new class is here:
http://docs.gammapy.org/en/latest/api/gammapy.spectrum.FluxPoints.html

Of course, further feedback and improvements are welcome!
But I don't think keeping this issue open helps ... closing it now.

[2017-02-02 10:55] #699 closed

[2017-02-02 12:33] adonath commented on #217
Resolved by #753.

[2017-02-02 12:33] #217 closed

[2017-02-02 12:34] cdeil commented on #217
Thanks @adonath for fixing and triaging Gammapy issues!

[2017-02-02 12:41] adonath commented on #15
Is there anything left to be done for this issue? Compare against gammalib?

[2017-02-02 12:46] cdeil commented on #15
This is a key piece of spectral analysis, and probably there will still be a lot of work on getting the precision / speed trade off right in Gammapy, and https://github.com/joleroi/wstat/issues/12 might be related, i.e. things can improve a lot by changing to integrating over bins use power-law approximation over bins by default instead of a simple diff flux times bin width method (cc @joleroi).

[2017-02-02 12:46] #15 closed

[2017-02-02 12:51] adonath commented on #134
Resolved by #733?

[2017-02-02 12:54] cdeil commented on #134
Yes, like for the other issues: I would have suggestions for better tests / docs and in some cases also implementation. But no concrete high-level action items here, a basic version is implemented.

Closing issue now.

[2017-02-02 12:54] #134 closed

[2017-02-02 12:59] adonath commented on #632
Resolved by #644 and #643

[2017-02-02 12:59] #632 closed

[2017-02-03 11:11] joleroi opened #867 "Fix SpectrumEnergyGroupMaker.compute_range_safe"
The [compute_range_safe](https://github.com/gammapy/gammapy/blob/master/gammapy/spectrum/energy_group.py#L111) method is broken, and the corresponding test xfailed.

This method applies the energy range, based on the ``lo_threshold`` and ``hi_threshold`` properties of the ``SpectrumObservation``. This does not work if these are not set (i.e. all bins within the safe range, can happen in simulation

[2017-02-03 11:20] cdeil commented on #294
As mentioned at https://github.com/gammapy/gammapy/pull/866#issuecomment-277218459 setting up pytest-mpl will take time.

My suggestion would be that for now (next week, for the 0.6 release) we instead add some asserts for plots that pick a data value or two from the ax or fig object. This could even be a good long-term solution to keep.

Ideally someone would take half a day next week and do this

[2017-02-03 11:22] cdeil commented on #294
I just remembered that I did something similar for the MPL patch objects in `regions`:
https://github.com/astropy/regions/blob/master/regions/shapes/tests/test_circle.py#L33
The hard part is figuring out which numbers to `assert_allclose` on, and how to access them via the MPL API.

[2017-02-05 20:24] cdeil commented on #867
I see that there's several fails in `master`:
https://gist.github.com/cdeil/16bb76351da9669f7018861976884200
and don't have time to look into this at the moment.

@joleroi - Can you fix those in the coming days or should I xfail those tests for now?

[2017-02-05 22:02] joleroi commented on #867
https://github.com/gammapy/gammapy/pull/863 fixes master by marking the FluxPoints test xfail.

[2017-02-06 08:26] joleroi opened #869 "UnitConversionError in calculate_predicted_counts"
The [following line](https://github.com/gammapy/gammapy/blob/master/gammapy/spectrum/utils.py#L160) in ``gammapy.spectrum.utils.calculate_predicted_counts`` is really strange
[code]
Obviously, the unit of an astropy quantity should not matter. However, if you change the line to
[code]
the test
[code]
fails with
[code]

This looks like a bug in astropy (the unit should be convertible), but I cannot

[2017-02-06 08:35] cdeil commented on #869
I get this, not sure if it's relevant or if the number at the end makes sense:
[code]

It should be possible to debug or reproduce this by printing what `aeff.energy.data` is.
Is it a `Quantity` object? What is it's unit exactly?

I don't think so, but it might be that there's some configuration in `astropy.units` that can result in an `UnitConversionError` when running tests, but otherwise is a w

[2017-02-07 14:22] cdeil commented on #325
@arpitgogia started the cleanup in 870, for now using
[code]

I think it's clear that automatic checking and consistency in docstrings is a good thing.

It'll take some time to do it, and we can discuss on if / where to deviate from the default numpy convention style as suggested by `pydocstyle --convention=numpy` here, but my default suggestion would be that we just adopt that style as-is for now

[2017-02-07 15:56] cdeil opened #873 "Matplotlib notebook double plot issue"
I was reading
http://nbviewer.jupyter.org/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/04.00-Introduction-To-Matplotlib.ipynb#show()-or-No-show()?-How-to-Display-Your-Plots
and remembered the "double-plotting" issue we sometimes had / have in IPython notebooks.

It sounds like we in Gammapy should never call "plt.show" and leave that up to the user (to control the plotting event

[2017-02-07 16:39] arpitgogia commented on #853
I'd like to take this up.

[2017-02-07 17:01] cdeil commented on #853
@arpitgogia - Great!

I assigned the issue to you.
Feel free to ask questions here or on Slack any time.

[2017-02-07 22:15] bsipocz commented on #689
This probably can be closed? We got stuck with the conda package, but hopefully 0.6 will sort that out.

[2017-02-08 10:02] joleroi opened #874 "Add docs examples how to create FluxPoints"
The old ``DifferentialFluxPoints`` class I added a while ago, had a method ``from_arrays`` (I don't care about the name though).

http://docs.gammapy.org/en/v0.4/api/gammapy.spectrum.DifferentialFluxPoints.html#gammapy.spectrum.DifferentialFluxPoints.from_arrays

I found it very useful, because you give flux points and errors etc. without caring about the column names in the SED spec. I don't thin

[2017-02-08 11:06] joleroi commented on #869
Consider the following code
[code]

The issue could be cause be rounding differences in the ``_powers`` attribute.  Possible solutions

* Always convert to dimensionless in PowerLaw like models before applying the index
* Always convert to fixed units in model evaluation

[2017-02-08 13:31] joleroi opened #876 "Reuse SpectrumSimulation in CTASpectrumObservation"
In https://github.com/gammapy/gammapy/pull/875 the class [CTASpectrumObservation](https://github.com/gammapy/gammapy/blob/master/gammapy/scripts/cta_utils.py#L114) was added. It should be refactored to result the functionality already available in ``SpectrumSimulation``. I think the necessary steps are the following

* [ ] Make CTA background available as [TableModel](https://github.com/gammapy/ga

[2017-02-08 13:34] cdeil commented on #874
I'm -1 on adding this. It's just re-exposing a small subset of functionality of `Table` before creating the `FluxPoints` object. Suggest to instead improve the docs with examples how to manipulate `Table` into the expected format.

What we have now is this:
http://docs.gammapy.org/en/latest/api/gammapy.spectrum.FluxPoints.html

So if you have a Table in a non-standard format you have to do somethi

[2017-02-08 13:40] adonath commented on #874
Thinking about this again, I agree with @cdeil. Astropy tables are a standard data structure we use everywhere in Gammapy (`EventList`, `SourceCatalog`, etc.) and we should just teach users how to work with it.

[2017-02-08 13:47] cdeil commented on #874
@adonath - Yes, from the past few weeks I've learnt that most users don't know the basics of `Table`, and teaching them those is really essential to using Gammapy.

So basically we should refer to the Astropy tutorials and docs, but I think a 10 min read on tutorial introduction to Numpy & Astropy, and for sure including Table, would be in scope for the Gammapy docs. This could be made interesting

[2017-02-08 15:10] joleroi commented on #874
:+1: to make all gammapy users astropy experts!

[2017-02-08 17:51] cdeil commented on #874
I'm re-opening to have this as a reminder. The action item here is to improve the docs along the lines of what is discussed above.

[2017-02-08 19:13] cdeil opened #877 "Add Fermi-LAT 3FHL extended sources templates"
The 3FHL extended sources spatial template archive (v17) was released:

https://fermi.gsfc.nasa.gov/ssc/data/access/lat/3FHL/
https://fermi.gsfc.nasa.gov/ssc/data/access/lat/3FHL/LAT_extended_sources_v17.tgz

If I remember correctly, we have access to the spatial templates for one of the previous Fermi-LAT catalogs, and generating model images used to work at some point. Not sure if it's still wor

[2017-02-08 19:40] cdeil opened #878 "Spectrum test fails in master"
@joleroi - Could you please fix this docs build error leading to travis-ci test fail in master?
https://travis-ci.org/gammapy/gammapy/jobs/199604312#L1626
[code]
(I wasn't sure if you're working on that code and didn't want to create a merge conflict for you.)

---

Locally I currently get the following fails from ` gammapy/spectrum/tests/test_fit.py` in master, which as far as I can see aren't se

[2017-02-09 09:11] joleroi commented on #878
Did you update ``gammapy-extra`` ?

[2017-02-09 09:24] joleroi commented on #878
travis build should be fixed by https://github.com/gammapy/gammapy/commit/29f45c186cafec0f6550a5af6da5b7d897dd9085

[2017-02-09 10:53] cdeil commented on #878
I am up to date with gammapy-extra, at this latest commit: https://github.com/gammapy/gammapy-extra/commit/19f60bbc90ee01cfd649d07305fdab56bd5fa3ad

The fail is about a test example that slices a `SpectrumObservationList` object, and then apparently the result isn't a `SpectrumObservationList` object any more, i.e. this fails:
[code]
This is how it's currently implemented:
http://docs.gammapy.org/

[2017-02-09 13:18] joleroi opened #879 "Merge spectral model classes in gammapy.utils.modeling with gammapy.spectrum.models"
[This](https://github.com/gammapy/gammapy/blob/master/gammapy/utils/modeling.py#L171) has to go [here](https://github.com/gammapy/gammapy/blob/master/gammapy/spectrum/models.py#L35)

see also https://github.com/gammapy/gammapy/pull/871

[2017-02-09 20:59] cdeil opened #880 "Spectrum model test fail"
The following issue was reported on the Gammapy mailing list just now:
https://groups.google.com/forum/#!topic/gammapy/HBCTHRfh6Hs

[code]

I see a similar issue for gamma-cat when using the Gammapy master since a few hours ago:
https://travis-ci.org/gammapy/gamma-cat#L582

@adonath @joleroi - Is this due to changes you did recently?
I'm assigning this to myself and plan to look at this tomorrow,

[2017-02-10 07:55] joleroi commented on #880
I have never seen this error and cannot reproduce it locally, sorry.

[2017-02-10 10:10] cdeil commented on #815
I think the best solution for gamma-cat tests is to put a given version in `gammapy-extra/datasets/catalogs`. That's analogous to the Fermi-LAT catalogs, which I put there because fetching from the FSSC server timed out too often.

We have the same problem for all catalogs (Fermi-LAT, SNRCat, GammaCat) that new versions come out, and we have to document to users how to check / get / use the latest

[2017-02-10 10:17] adonath commented on #815
@cdeil Fine by me! The test are for the code and not for the numbers in `gamma-cat` anyway....so it shouldn't be critical which version we use for testing.

[2017-02-10 10:50] joleroi opened #882 "ForwardFolding in SpectrumFit is very slow"
After having changed the stats calculation from sherpa to gammapy, the fit became significantly slower. A wstat fit now takes ~ 3 seconds. This makes it inconvenient to simulate & fit even O(10) spectra for example in a tutorial notebook.

The problem is that the response matrix is interpolated before the multiplication with the flux vector in each fit iteration. This should be cached. Best way: R

[2017-02-10 10:50] cdeil commented on #815
There's still the problem and question what to give users per default.
At the moment it's the version in `gammapy-extra` for the Fermi catalogs, which can be outdated.
For `gamma-cat`, it's the version in `$GAMMA_CAT`, which they have to set up.

I think I'll leave those defaults as-is for now, but we should discuss if that is the long-term best solution, and how to document this better for users.

[2017-02-10 10:56] cdeil commented on #882
The EDSIP matrix computation (involving interpolation and integration) must happen completely in the "extract" step, and the "fit" step just calls `np.dot`.

Is this what you meant already?

Your description sounds like you plan to compute the matrix and cache it at the start of the "fit" step, but that's not clean code and a good separation of computing steps, no?

[2017-02-12 22:45] cdeil opened #886 "Catalog getitem fails with Numpy int index"
I just tried to get a catalog source by int index, and my int was a numpy int.

This failed with a ValueError due to this check:
https://github.com/gammapy/gammapy/blob/c77fe799202acdc880db717ffd85106c1d46f326/gammapy/catalog/core.py#L169

To check that this doesn't work as expected:
[code]

I guess we should find some better incantation to check for int via Google.
(and add a regression test, sho

[2017-02-13 07:30] cdeil opened #887 "Add 2HWC HAWC source catalog"
The 2HWC HAWC source catalog is out:
https://arxiv.org/abs/1702.02992

We should add it to [gammapy.catalog](http://docs.gammapy.org/en/latest/catalog/index.html) and http://gamma-sky.net/

@rlopezcoto - Is it available in electronic format somewhere? If no, can you please forward that request to release it, or should I write to someone asking for it?

[2017-02-13 07:36] rlopezcoto commented on #887
@cdeil the idea was to release the electronic format of the catalog when it was accepted by ApJ. I'll get in touch with the main author and let you know if things can be speeded up.

[2017-02-13 07:38] cdeil commented on #887
@rlopezcoto - Thanks!

Is there a 1HWC catalog? Is it published? Available in electronic format? We could start with that one.

(The results are given in tables in the PDF, so there's really no point in not releasing an electronic version when posting to ArXiv IMO. This is what Fermi-LAT does with their catalog, and then they post updated files in the coming months or even years of their catalog a

[2017-02-13 07:49] rlopezcoto commented on #887
Yes, the 1HWC was done with data from the partial array:
http://adsabs.harvard.edu/abs/2016ApJ...817....3A
I do not think there was any electronic material released with it, but I'll ask either way.

I agree with you that the electronic material could be released now, the only issue is that it was thought that the host for all this information could be the journal, therefore we need it accepted be

[2017-02-13 07:57] cdeil commented on #887
http://adsabs.harvard.edu/abs/2016ApJ...817....3A
I do not think there was any electronic material released with it, but I'll ask either way.

I see that they have their measurements in Table 4. That should be released by HAWC in electronic format, so that people interested in the data don't have to scrub the PDF, no?

There's also the option to  send the tables to http://vizier.u-strasbg.fr/ via

[2017-02-13 15:10] rlopezcoto commented on #887
I talked to Colas Riviere (riviere@umdgrb.umd.edu, @ColasRi) and he said he would produce an electronic version of the tables. I gave him your contact details, so if he does not come back to you, please let me know.
I can try to upload the table, so I can practice the pull requests, if you want.

[2017-02-13 19:56] cdeil commented on #887
We usually add catalog files here: https://github.com/gammapy/gammapy-extra/tree/master/datasets/catalogs

Just to not give the wrong impression: this is not urgent at all, I don't want to rush HAWC into releasing anything. I just file reminder issues such as this one whenever I hear of something that I think could be a nice addition to Gammapy.

[2017-02-14 14:02] #861 closed

[2017-02-14 14:25] cdeil commented on #618
@registerrier - I'm assigning this issue to you, to make such an intro notebook and add it to gammapy-extra for Monday.

Useful existing examples to copy & paste from:
* http://python4mpik.readthedocs.io/en/latest/
* http://www.astropy.org/astropy-tutorials/

As you said, the Fermi catalog is probably the nicest example dataset.
For the 2FHL catalog, we also have the event list and the catalog fil

[2017-02-15 08:15] cdeil commented on #853
@arpitgogia - Here's a (kinda) working example to get you started:
http://nbviewer.jupyter.org/gist/cdeil/63161b7b877bc8040178088a8c05846b

So the minimum PR here would be to add the ` gammapy.catalog.SourceCatalog3FGLObject.lightcurve` property as shown in the notebook, and to add a test for it that asserts something about the contents for one case.

If you  want to go further here, you could als

[2017-02-15 08:41] cdeil commented on #129
@adonath - Should we just remove this file?
https://github.com/gammapy/gammapy/blob/master/gammapy/spectrum/sed.py

It think this file is all old code that is roughly available in better form already, no?

[2017-02-15 08:51] cdeil commented on #62
I'm closing this very old issue, it doesn't have concrete action items and thus isn't useful.
Spectrum integral flux computation is by now mostly implemented and with tests in Gammapy, thanks to @adonath . One more PR in that direction is #885.

[2017-02-15 08:51] #62 closed

[2017-02-15 08:53] cdeil commented on #70
This test is still in Gammapy and xfailed:
https://github.com/gammapy/gammapy/blob/a6cd2e24438b4008473d33f5a6ab3e9264f5e125/gammapy/detect/tests/test_matched_filter.py#L36

We'll have to discuss whether to remove or fix this matched filter code.
Deferring to 0.7 milestone for now.

[2017-02-16 08:47] JouvinLea opened #891 "SkyMask write method"
@cdeil @adonath
Hi, I have a problem with the write method of SKyMask. When you write a SkyMask you only write the first hdu and sou see it when you try to load the fits file when io.fits
[code]

[2017-02-16 08:49] JouvinLea commented on #891
When you load directly the mask from gammapy extra with io.fits:
[code]
, you have the 2 hdu so there is something happening in the write method...:

[2017-02-16 08:55] cdeil commented on #891
So this file has an empty primary HDU, and the mask is stored in the second HDU:
[code]

@JouvinLea - Do you care in which HDU the mask is stored? What exactly are you trying to achieve?

---

There's also #539 which might be related and my suggestion anyways would be to get rid of `SkyMask` completely, and put it's functionality on `SkyImage`. Would SkyImage read and write solve your use case her

[2017-02-16 08:57] JouvinLea commented on #891
The problem is that I am creating a SkyMask with the method ```make_tevcat_exclusion_mask()```changinf the redius of the source to exclude... And when I write it I only get the primary hdu in the fits file but it womes from the write function....

[2017-02-16 09:12] #891 closed

[2017-02-16 11:40] cdeil commented on #869
I just now came across this oddity trying to help @vorugantia with an example:
[code]

@joleroi @adonath - I think we have to discuss (offline) what to do about `__call__` for spectral models, no?

[2017-02-16 20:03] rlopezcoto opened #892 "Problem plotting butterfly"
Hi,

I get a problem trying to plot a butterfly from the Fermi catalogs with the latest gammapy version (0.6.dev4171). If I run:

examples/example_fermi_catalogs.py

I get:
[code]

[2017-02-17 07:26] cdeil commented on #892
This week we introduced `gammapy.utils.modeling` and started using it also for spectral models.
The transition isn't finished, there's #889 still open and further changes might be needed.

Thanks for reporting this issue, we'll put another comment here and close it when it's fixed (within the next few days).

[2017-02-17 08:35] joleroi commented on #882
This has nothing to do with EDISP matrix computation. The (precalculated) EDISP matrix is reprojected on the reco energy axis of the counts vectors for each fit iteration. This was a [feature request](https://github.com/gammapy/gammapy/issues/638) by @jjlk. The reprojection even happens if the binning of the EDISP matrix and the counts is already the same (due to poor implementation).

So what I w

[2017-02-19 19:57] cdeil opened #897 "Problem with gammapy-extra/test_datasets/cube/data/hdu-index.fits.gz"
@JouvinLea - I was trying to run http://nbviewer.jupyter.org/github/gammapy/gammapy-extra/blob/master/notebooks/cube_analysis_part1.ipynb but it failed because for the background models, the `FILE_DIR` contains an absolute path from your machine:
[code]

Can you make this better?

I.e. put the background models in a `background` sub-folder there, and then use a relative path.
Copying around a data

[2017-02-19 20:00] cdeil commented on #897
Here's a screenshot from TOPCAT of the current contents of `gammapy-extra/test_datasets/cube/background/hdu-index.fits.gz`:

<img width="1301" alt="screen shot 2017-02-19 at 20 51 50" src="https://cloud.githubusercontent.com/assets/852409/23105882/059c6a24-f6e6-11e6-8f69-b9cb6586746f.png">

One thing I forgot to mention was that I changed the `background_model.ipynb` handling so that the paths are

[2017-02-20 08:38] cdeil opened #901 "Broken nddata_demo.ipynb notebook"
@joleroi - The `nddata_demo.ipynb` notebook is currently broken after the changed you did last week:
https://travis-ci.org/gammapy/gammapy/jobs/203344546#L2693

Can you please fix it?

[2017-02-20 09:26] joleroi commented on #901
Fixed by https://github.com/gammapy/gammapy-extra/commit/67e9fa69650a6c41f7ba0f4523aadc72c2c4b626

[2017-02-20 09:26] #901 closed

[2017-02-20 19:52] cdeil commented on #897
This issue was fixed by @JouvinLea in https://github.com/gammapy/gammapy-extra/commit/c7773ecbeedcd10289b8c533167b9cb05b4a5d7a .

The index file is now at `test_datasets/cube/data/hdu-index.fits.gz` and looks fine, and the `cube_analysis_part1.ipynb` notebook that was broken for me before now works.

[2017-02-20 19:52] #897 closed

[2017-02-20 19:59] cdeil commented on #892
This issue was fixed today by @adonath , probably via #889.

@rlopezcoto - Could you please update to latest Gammapy `master` and try to run `python examples/example_fermi_catalogs.py` again?

Works for me now:
![figure_1](https://cloud.githubusercontent.com/assets/852409/23139973/6421005e-f7af-11e6-999d-af69e2e9b404.png)

[2017-02-20 20:04] #892 closed

[2017-02-20 20:31] rlopezcoto commented on #892
It works for me too, thanks!

[2017-02-20 22:58] cdeil opened #902 "Add notebook on Fermi-LAT data"
I've re-organised the Gammapy tutorials overview page:
http://nbviewer.jupyter.org/github/gammapy/gammapy-extra/blob/master/index.ipynb#Notebooks

One thing that was clearly missing is an example how to load Fermi-LAT data with Gammapy.
@adonath - Could you please start a small notebook so that people have a chance to find this via the Gammapy docs.

It doesn't have to do any analysis, but if it's

[2017-02-21 10:23] joleroi commented on #902
Typo: If you're new to Astro **-> Astropy** (haven't used Table, SkyCoord and Time much), start here:

Other than that I like the re-orgaization, probably I would have put the data analysis examples at the top, but I don't really care

[2017-02-21 17:21] adonath commented on #902
See https://github.com/gammapy/gammapy-extra/pull/71

[2017-02-21 20:37] cdeil opened #903 "Improve setup instructions for tutorials"
So yesterday and today we gave the Gammapy tutorials for the first time to a crowd of ~ 15 people, many new to Python / Jupyter notebooks / Gammapy.

What we currently have is here:
https://nbviewer.jupyter.org/github/gammapy/gammapy-extra/blob/master/index.ipynb

The most common issues people had was setup problems:
* Running the wrong Python / Jupyter version
* Missing dependencies, such as Sher

[2017-02-22 08:46] cdeil commented on #873
@facero is fixing this. The main issue is that we're returning a `Figure`. We discussed just now and decided that not calling `plt.show` and not return a `Figure`.

This means that our plot / peek functions behave like Matplotlib functions like `plt.scatter`, `plt.plot`, and users will have to learn to call `plt.show` if they aren't in pyplot mode (which is rare when doing interactive work with pl

[2017-02-22 09:24] cdeil opened #905 "Add convenience constructors for SkyCube"
@leajouvin is presenting the cube tutorial, where she introduced a helper function to create an empty SkyCube, see [here](http://nbviewer.jupyter.org/github/gammapy/gammapy-extra/blob/master/notebooks/cube_analysis_part1.ipynb#Define-a-method-to-create-an-empty-SkyCube).

This was confusing to some people, Gammapy itself should make it easy to create empty sky cubes in common ways. I think we shou

[2017-02-22 09:38] adonath commented on #903
For the notebooks one possible improvement could be to add the required dependencies (incl. versions) and required environment variables to https://github.com/gammapy/gammapy-extra/blob/master/notebooks/notebooks.yaml (I just noticed there's already an empty section for this in the file). Every notebook would then call `check_notebook_setup('image_analysis')` in the first line and give well unders

[2017-02-22 10:06] adonath commented on #905
I think we should definitely add a method `SkyCube.empty_like_skyimage()` or similar, that allows creating a cube from already **existing** sky images. This is currently not possible.

In general I don't think we gain much by separating the construction in an energy and image part beforehand. It's just writing even more code. It's a fact that to create an empty `SkyCube` you have to specify O(10)

[2017-02-22 10:13] adonath commented on #873
:+1: For this change.

[2017-02-22 10:51] adonath commented on #905
Some further thoughts:

I would keep the `.empty()` method as is. I.e. it just takes a set of float/string parameters to create an empty cube. This is equivalent to `SkyImage.empty()`.
In addition we could add `SkyCube.empty_like_skyimage(image, energy)`, which allow creation with a `SkyImage` and `Energy` or `EnergyBounds` object.

[2017-02-22 11:12] registerrier commented on #905
Why not have all possible inputs among the list of arguments and test to know which solution to apply?

This would be simpler to have a single empty constructor, than having empty_likeXXX, empty_likeYYY.

[2017-02-22 11:23] adonath commented on #905
@registerrier On one hand I agree this leads to a simpler (and smaller) API, but on the other hand I think it introduces a lot of complexity in the code (checking of input types, checking of combinations of required arguments etc.) and leads to a much more complex documentation of the `.empty()` method.

I think "overloading" functions in Python is not very straightforward. @cdeil Did we already a

[2017-02-22 11:40] cdeil commented on #903
@adonath - I think a utility function `check_notebook_setup` would be very nice.

I've written a utility function to gather version numbers and other info in a dict a while ago:
https://gist.github.com/cdeil/5b17b031d649879761a5a44e75c94407

So `check_notebook_setup` could call into a helper function or class in Gammapy to gather that info, and then print what's missing (or "all good"). Then it wo

[2017-02-22 11:53] adonath commented on #905
@registerrier A compromise could be to allow more arguments in `SkyCube.empty_like()`. So that it either takes an existing cube or a combination of `SkyImage` and `Energy` or `EnergyBounds` objects. I.e. change the signature to `SkCube.empty_like(reference, energies=None)`. If reference is a `SkyImage` object, `energies` has to be specified in addition.

`SkyCube.reproject(reference)` already allo

[2017-02-22 12:21] registerrier commented on #905
@adonath this sounds like a good proposal.

[2017-02-22 15:45] kosack commented on #905
I like both suggestions:

1) to restructure the cube constructor to take an image + energy axis (it's clearer what is happening in that case)

2) add an `empty_like(x)` constructor, following the numpy convention (`zeros_like(x), ones_like(x), ...`) with either another cube or an image+energy to mimic

[2017-02-22 15:46] kosack commented on #905
One other comment: I was confused by the name "energy", which implies a singular energy, when you mean a range. Shouldn't that be called `EnergyRange` or `EnergyBounds`, or `EnergyBins`? That would be clearer.

[2017-02-22 17:39] jjlk opened #908 "Problem with flux points"
Hi @cdeil and @joleroi ,
I've got an issue when I try to compute flux points for a simulation with CTA performance file. Something is going wrong with the index of the energy bins:
[code]
Here a short example that reproduce the BUG:
[code]

If you put:
[code]
there is no error anymore but it takes the first bin energy low edge for the computation.
![figure_1](https://cloud.githubusercontent.com/as

[2017-02-22 17:53] joleroi commented on #908
I have seen this bug before. It is related to [this function](https://github.com/gammapy/gammapy/blob/master/gammapy/spectrum/energy_group.py#L114). The bins for a given energy are searched using the bin edge, this is unstable due to float noise. Adding the ``0.999`` factor fixes this, but leads to a crash if the lowest flux points bin is equivalent to the lower bin in the energy axis (i.e. not th

[2017-02-22 22:08] cdeil commented on #886
Will be fixed by #906.

[2017-02-22 22:53] cdeil commented on #905
I don't think we have an agreement or policy on when / where to put multiple simple methods, or one complex method that looks at the inputs and has complex logic about what to do.

Most of the time, I prefer simple, explicit methods. But e.g. for `SkyCoord` you can call it a dozen different ways, and it's super convenient as a user, and basically all it does is contain the logic how to dispatch to

[2017-02-22 23:45] #886 closed

[2017-02-23 09:57] jjlk commented on #908
Hi @joleroi ,
I'm not sure I understand. My `simu` object which comes from `SpectrumObservation`, has an energy threshold greater than the first energy bin (0.0125892544 GeV):
[code]
There must be something else, no?

[2017-02-23 10:43] TarekHC commented on #823
Not sure if it will help much, but together with @mackaiver , we found an issue that is probably related to this one.

If you execute the following code (taken from the image_analysis notebook):
[code]

It plots a beautiful counts map. But if you add a cross in the position of the Crab Nebula:

[code]

The plot is distorted, but ONLY if you are using an old Matplotlib version (I'm on Matplotlib: 1

[2017-02-23 12:39] joleroi commented on #908
You are right, the method I mentioned is never called in your script. The problem however is like I described (just one layer deeper). The error is raised in ``compute_groups_fixed``
[code]

There you give the reco binning of the ``SpectrumObservation``
[code]

This checks which bins the energies you give fall into using [this method](https://github.com/gammapy/gammapy/blob/master/gammapy/spectrum

[2017-02-23 12:45] joleroi opened #910 "Finish implementation of flux points computation methods"
Related https://github.com/gammapy/gammapy/issues/867

I have received many question (via slack, email) but also on github (e.g. https://github.com/gammapy/gammapy/issues/908) regarding flux points computation.

In short: The current functions were added in 1 day by @cdeil and are untested and (meanwhile) broken. As a short term solution I suggest to remove them from the public API to avoid a nega

[2017-02-23 17:04] joleroi commented on #908
With https://github.com/gammapy/gammapy/pull/912 it works for the following definition of ``ebounds``

[code]

Is that ok for your use case?

[2017-02-23 17:32] jjlk commented on #908
Ola @joleroi ,
Thanks! Yes it is oké, no bug anymore. Except that errors look pretty wrong (both for the spectra and the residuals).
Ideas?
![figure_2](https://cloud.githubusercontent.com/assets/15717586/23270881/a85e2aec-f9f5-11e6-878a-9868ee91435b.png)
Do you know where I could look for the problem in the code?

[2017-02-23 17:44] cdeil opened #913 "Change NDDataArray default_interp_kwargs to extrapolate"
@joleroi - while working on CTA IRFs, @facero and @leajouvin  just now had the problem that our IRFs aren't extrapolating. I think we discussed this last week and said we should change to extrapolate by default.

Currently we have this:
https://github.com/gammapy/gammapy/blame/0e3a282736308a67fdcd51cbfded123b339e4770/gammapy/utils/nddata.py#L40
[code]

According to the scipy docs, it should be thi

[2017-02-23 20:18] joleroi commented on #913
I know that you don't remember, but you wanted to change this to fill nan values outside extrapolation bounds. You even wrote it down [here](http://docs.gammapy.org/en/latest/development/howto.html#interpolation-and-extrapolation)

@jjlk @JouvinLea - you don't have to do this. All irfs classes duplicated the ``default_interp_kwargs`` attribute (e.g. https://github.com/gammapy/gammapy/blob/master/g

[2017-02-23 22:27] cdeil commented on #913
@joleroi - I thought we discussed this with @adonath in my office a week or two ago, and decided to change to extrapolate, no?

Yes, I have changed my mind on this, I'm proposing we change our policy here.

There's just no other good way. E.g. CTA IRFs and also some HESS IRFs have first offset bin node at something > zero, but still it's common for people to query them for offset = 0, close to the

[2017-02-23 22:55] cdeil commented on #823
My guess is that the sky image plotting issue is unrelated to this issue.
@adonath - Could you try the example they give with MPL 1.5, please?

Here's what I get with MPL 2.0, i.e. what the expected version looks like:
<img width="752" alt="screen shot 2017-02-23 at 23 53 05" src="https://cloud.githubusercontent.com/assets/852409/23282826/555e67ac-fa23-11e6-979a-ade5245ed7d3.png">

[2017-02-23 23:50] cdeil opened #916 "Simplify cube exclusion example"
@adonath - Could you please have a look at this example, and see if the example code can be simplified, or if we need to add a convenience method for something like this?

http://nbviewer.jupyter.org/github/gammapy/gammapy-extra/blob/master/notebooks/cube_analysis_part2.ipynb#Define-the-mask

This is how it's currently written:
[code]

[2017-02-23 23:59] cdeil opened #917 "Simplify cube analysis tutorial notebook"
@JouvinLea  or @registerrier - Could you please simplify this notebook a bit?

http://nbviewer.jupyter.org/github/gammapy/gammapy-extra/blob/master/notebooks/cube_analysis_part1.ipynb

People are starting to copy & paste notebooks to adapt it to their analysis, so IMO notebooks should be as short and sweet as possible.

Concretely, here I think the following two helper functions should note be in

[2017-02-24 00:01] cdeil commented on #902
This is implemented. Closing this issue now.

@adonath - Thanks!

[2017-02-24 00:01] #902 closed

[2017-02-24 00:08] cdeil commented on #274
So now that we're getting several 10k lines of analysis code in Gammapy, my feeling is that we should go the other way, and not add things that will be used by very few people, and start removing such things. We discussed this today at dinner and all others recommended the same thing.

So now my proposal would be that we close this issue, and instead remove this similar class now:
http://docs.gamm

[2017-02-24 07:28] cdeil opened #918 "Change 3FHL source catalog flux points implementation?"
@jjlk added in #868 the [SourceCatalog3FHL](http://docs.gammapy.org/en/latest/_modules/gammapy/catalog/fermi.html#SourceCatalog3FHL) and [SourceCatalogObject3FHL](http://docs.gammapy.org/en/latest/api/gammapy.catalog.SourceCatalogObject3FHL.html#gammapy.catalog.SourceCatalogObject3FHL) classes.

On Tuesday Arache asked me how exactly the flux points are filled, and we looked at `source.data` and s

[2017-02-24 11:56] adonath commented on #274
:+1: Yes, I'm totally in favour of removing old stuff, that is not used, broken or in very bad shape. We should focus on the important analysis code (1D, 2D, 3D) and rather try to improve the existing code base.

[2017-02-24 12:28] joleroi commented on #913
I see that the current scheme lead to a problem if the offset axis does not go to 0.

However, e.g. for the EnergyDispersion the current behaviour is to fill zeros outside the valid migra range.
[code]
This makes sense since the migration probability for extreme migra values is 0. I don't know what happens if you turn on interpolation here.

Other example, effective area: It's hard to see what hap

[2017-02-24 16:46] registerrier opened #922 "Access time of events through DataStoreObservation.events"
I am trying to understand why image_pipe is slow. While profiling the code, I saw that most of the time is spent in access to events and irfs.

If one tests the access time to the event file, one gets:

Why is there a factor 100 between the 2 access times? This seems to be a very serious bottleneck, no?

[2017-02-24 18:14] cdeil commented on #922
@registerrier - Thanks for identifying this issue!
I'll have a look on Monday.

[2017-02-26 14:01] cdeil commented on #823
@kosack suggested we call `pcolormesh` instead of `imshow` to fix this issue with many of our plots. I've never used `pcolormesh` before, so I don't know yet if we should go that way or just fix our call arguments passed to `imshow`.

Here's some info: http://stackoverflow.com/questions/21166679/when-to-use-imshow-over-pcolormesh

It sounds like `pcolormesh` is a bit more flexible and maybe we sho

[2017-02-27 11:53] kosack commented on #823
The main reason to use it is that `pcolormesh` doesn't require square pixels or even spacing of pixels, but otherwise it is slower and produces larger output. It renders each pixel as a box to produce an image, but then you are always guaranteed the axes are correct, since there can be no mismatch unlike within imshow.

[2017-02-27 11:55] kosack commented on #823
I'd say for some images (like skymaps), where the pixels are square and the axes are linear,  `imshow` is the better one to use, however for plotting 2D histograms/IRFs/etc you should use `pcolormesh`. It even supports logarithmic axes.

[2017-02-27 13:08] joleroi commented on #823
:+1:

[2017-02-27 13:59] cdeil commented on #823
Ah ... yes, agreed. We should use `pcolormesh` for all the IRF plots. (pretty much all cases where we call `imshow` now.

[2017-02-28 10:14] cdeil opened #925 "Image pipeline issue with sky image size"
@leajouvin - I changed the sky image tutorial notebook a little, the current version is here:
https://github.com/gammapy/gammapy-extra/blob/61765830218610d00a11fd413bf4a139bc506894/notebooks/image_pipe.ipynb

It works as before.

But if I change `nxpix=300, nypix=300` to `nxpix=500, nypix=500`, then the background estimate fails completely (all `NaN` I think, white output). There's also the weird

[2017-02-28 11:12] cdeil opened #926 "Add test for SpectrumResult.plot"
For the tutorial
https://github.com/gammapy/gammapy-extra/blob/9d294e232cdb3fb049613c01e067651d75aad1f6/notebooks/spectrum_analysis.ipynb
I currently get this error (with Python 3.5, matplotlib 2.0)
https://gist.github.com/cdeil/2cacc687a8247c6a48d17a50a41060af

The issue is that in `SpectrumResult.plot`, strings are passed for arguments that should be numbers:
https://github.com/gammapy/gammapy/b

[2017-02-28 11:20] cdeil commented on #926
I did this: df9785dd
After this change, the notebook runs for me.

[2017-02-28 13:03] JouvinLea commented on #925
@cdeil
I get zero values outside the range!
My version for numpy is 1.12.0, for scioy 0.16.1 and for gammapy gammapy.version.version

[2017-02-28 14:16] joleroi commented on #908
After https://github.com/gammapy/gammapy/pull/927

Your plot looks like this

![figure_1-2](https://cloud.githubusercontent.com/assets/11678435/23408572/cc8232de-fdc8-11e6-98ad-5f7154ee8474.png)

Does this fix the issue?

[2017-02-28 14:17] joleroi commented on #862
Fixed in https://github.com/gammapy/gammapy/pull/911

[2017-02-28 14:18] #862 closed

[2017-02-28 14:19] joleroi commented on #867
Fixed in #912

[2017-02-28 14:19] #867 closed

[2017-02-28 14:25] joleroi commented on #805
Done, see https://github.com/gammapy/gammapy-extra/blob/master/notebooks/spectrum_simulation.ipynb

[2017-02-28 14:25] #805 closed

[2017-02-28 15:37] nhrjr opened #928 "Replace "skimage" with "scikit-image""
When following the tutorial in the gammapy.org site, the novice user is advised to call:

$ python -c 'import gammapy; gammapy.test()'
and
$ gammapy-info --dependencies
which both print a list of installed packages. When trying to install the missing packages, one would try to use:
$ pip search skimage
or
$ pip install skimage
while one must use 'scikit-image'.
Renaming these outputs would make it

[2017-02-28 16:01] cdeil commented on #928
@nhrjr - Thanks for the suggestion!

Yes, I agree, this (and really all of our install instructions) should be improved.

At the moment we're very busy fixing important bugs and adding features people need.
So I'm putting this under the v0.7 milestone, and we'll get to it in the coming weeks.

[2017-03-01 12:06] #926 closed

[2017-03-02 10:00] tibaldo opened #930 "No explanatory error if cython is missing"
I was trying to run the image_pipe notebook from the latest gammapy dev version. When doing
from gammapy.scripts import StackedObsImageMaker
I was getting an error
[code]
It turns out in the end I did not have cython installed, but the error from the import was not easy to interpret for me, and there was no error/warning thrown when installing gammapy without cython.

Could we have a clearer error

[2017-03-02 10:14] cdeil commented on #930
I'm not sure what happened here, how you ended up with this broken install of Gammapy in site-packages.

Cython is used to generate C code files when you build / install the dev version.
If you don't have Cython, then usually there's an error ending with a statement about missing Cython.

Then when you have Gammapy installed, there's a compiled C extension, and Cython is never used at import / run

[2017-03-02 14:17] jjlk commented on #908
Hi @joleroi ,
It looks better. Could you merge #927 to make the fix available to everyone?

@cdeil and @joleroi : Question, is there a way to use dedicated methods such as Rolke or Feldman & Cousin to compute error on flux points and on residuals. And how upper limit are dealt within GammaPy? Thanks

[2017-03-02 15:24] joleroi commented on #908
done

Answer, no(t yet)

Not at all (yet)

Are you interested in working on this? If yes we could make a call to discuss what need to be implemented and how. Personally I don't plan to spend much time on this in the near future.

[2017-03-02 15:26] joleroi commented on #930
FYI:

I encounter this error quite frenquently. I usually goes away with

[code]

[2017-03-03 09:59] adonath commented on #917
Partly adressed in https://github.com/gammapy/gammapy-extra/commit/de312f08e82191b01d5adf48692f555eb6a091ab and https://github.com/gammapy/gammapy/commit/8bd8a16212960cb4f01c139e45de160da6a3ebc7.

Remaining ToDo's:

- [ ] Use observation selection by `OBS_ID`
- [ ] Cut long lines

[2017-03-03 10:02] adonath commented on #916
My first suggestion would be to add `.region_mask` to the `SkyCube` class. For convenience it can take a `SkyMask` object as well or a region object. For now it will return just another `SkyCube` object.

[2017-03-03 10:05] cdeil commented on #916
👍

[2017-03-04 12:09] cdeil opened #934 "Broken conda install for docs build on Readthedocs"
The conda install for the docs build on Readthedocs has been broken for over a week.

* Last build that passed: http://readthedocs.org/projects/gammapy/builds/5044590/
* Last build as of now, failing: http://readthedocs.org/projects/gammapy/builds/5101299/

There's a `CondaRuntimeError` when trying to install the `yaml` conda package.

I will try to reproduce this locally now, and fix by making co

[2017-03-04 12:48] cdeil commented on #908
@jjlk @joleroi - I think this bug has been fixed. Closing the issue now.

If there's still an action item here, please re-open.
Concerning future work / feature requests, like upper limits, please open a new issue (if one doesn't exist already).

[2017-03-04 12:48] #908 closed

[2017-03-04 12:58] cdeil commented on #742
@joleroi @jjlk - Contrary to what I said last week, I've decided to keep this notebook for now:
https://github.com/gammapy/gammapy-extra/blob/master/notebooks/spectrum_simulation_cta.ipynb

At least until we have new / better notebooks with CTA examples.
It's not linked to from the index page at the moment though.

I've updated it a bit and cleaned it up.

It's pretty slow, I think because there's

[2017-03-05 13:15] adonath commented on #770
Addressed in #885.

[2017-03-05 13:15] #770 closed

[2017-03-05 14:18] cdeil commented on #934
This is a known issue on RTD since a week or two, see e.g.:
https://github.com/rtfd/readthedocs.org/issues/2651

As far as I can see, there's no simple workaround available.
Changing the docs build on RTD to not use conda (but just pip like in the good old days) would probably work.
I might attempt this tonight, but only if I have other things ready for tomorrow.

@adonath - The other thing that w

[2017-03-05 16:55] adonath commented on #934
@cdeil FYI: I'll take 30 min. now and try to fix the Binder build.

[2017-03-05 16:58] cdeil commented on #726
@adonath - Thanks for giving this another try. I've assigned the issue to you.

Above my notes, in case they are useful. In short - I'd suggest you try going back to Python 2, what you set up first, unless you think you understand the startup config issue for Python 3 or find a working other example built on top of a Python 3 Docker image.

[2017-03-05 17:36] cdeil commented on #823
So with #933 merged the EDISP plot is fixed. Thanks @adonath !

Executing the example snippet given above I see this:

<img width="752" alt="screen shot 2017-03-05 at 18 32 41" src="https://cloud.githubusercontent.com/assets/852409/23589707/45aa457c-01d2-11e7-95f6-3f199b5401b7.png">

@adonath - I think you missed one IRF plot where we should go imshow -> edisp:
[code]
https://github.com/gammapy/ga

[2017-03-05 18:20] cdeil commented on #823
@adonath - I've re-run the IACT data notebook. See https://gist.github.com/cdeil/6227bedaad8487888f3867730b4b3c55

Indeed the EDISP bias plot still has the issue because `imshow` is still used there.

For AEFF and PSF, the axes are now switched.
- Before: x=offset, y=energy
- Now: x=energy, y=offset

I think I slightly prefer the old version, but probably that's just because I got used to it.
@ado

[2017-03-05 18:26] cdeil commented on #930
@tibaldo - you could also try
[code]
a few times , or if that doesn't solve the broken install issue you can use this to get rid of the broken install in your site-packages:
[code]
Let us know how it goes ...

[2017-03-05 20:15] adonath commented on #823
@cdeil I added the replacement of  `imshow()` in #936.

While in principle for an image plot it doesn't matter, the x-axis is often considered as the independent axis. I slightly prefer energy on the x-axis, because energy dependence seems to be the more common case for our IRF classes. Typically we evaluate at one given offset and keep the energy dependence.

[2017-03-05 20:20] cdeil commented on #823
I have no strong preference, so let's merge #936 for now and move on.
We can always re-discuss as we get feedback from others.
Closing this issue now.

@TarekHC - Do you still see the sky image plotting issue you mentioned above?
If yes, could you please open a new issue for it?
(and paste the image you're getting that shows the bug via drag & drop of the PNG into the Github issue edit field).

[2017-03-05 20:20] #823 closed

[2017-03-05 20:23] adonath commented on #726
I changed the docker build to use Python 2.7 and the build succeeds (http://mybinder.org/status/gammapy/gammapy-extra) again, but launching binder still doesn't work for me. I noticed that other binder projects such as [ligo-binder](http://mybinder.org/repo/minrk/ligo-binderGW150914_tutorial.ipynb) or [scikit-learn-binder](http://mybinder.org/repo/glouppe/tutorial-scikit-learn) don't work either.

[2017-03-05 20:29] cdeil commented on #726
@adonath - Thanks for trying!

Yeah, this is really frustrating, to have a binder that doesn't start and there's no error message.

I guess the quickest way would be to start with a working one (even if very primitive) and to add things line by line to the Dockerfile (or bisect) to see what introduces the issue.

Or we give up on this for now.
(I certainly don't have time today.)

[2017-03-05 20:42] cdeil opened #937 "Remove SkyImage.plot_norm?"
@tstolarczyk mentioned via email that it wasn't clearly described what this does
[code]
in this notebook:
http://nbviewer.jupyter.org/github/gammapy/gammapy-extra/blob/master/notebooks/first_steps.ipynb#1.-Working-with-sky-images

It actually is documented here what this does, but there's no link to that method from the notebook:
http://docs.gammapy.org/en/latest/api/gammapy.image.SkyImage.html#ga

[2017-03-05 22:59] cdeil opened #938 "Use uncertainties nominal_value and std_dev attributes"
@adonath - A while ago I was puzzled by the gamma-cat code when I saw the `.n` and `.s` properties being accesses. I didn't know what they were, and whether that was something new in our parameter class or uncertainties.

It's from uncertainties:
[code]

Can we please everywhere in Gammapy change to the more explicit `.nominal_value` instead of `.n` and to `.std_dev` instead of `.s`. Especially si

[2017-03-05 23:48] cdeil opened #939 "Reflected regions errors"
I managed to make an example analysis for CTA:
https://github.com/gammapy/gammapy-extra/blob/ed2c653df95580f001db1173c67a8bf28e1efa8e/notebooks/cta_data_analysis.ipynb

We now have a nice example of three CTA runs that we can use for other notebooks as well.
One major thing to fix would be the background model.

However, short-term, I've noticed two issues with the reflected regions analysis:
- So

[2017-03-06 00:04] joleroi commented on #939
I've never seen this error. Can you provide an example, please?

[2017-03-06 00:13] cdeil commented on #939
Did you know about this?
http://docs.gammapy.org/en/latest/detect/index.html#computation-of-li-ma-significance-images

Maybe we should call this?
Or did you do the significance image computation with kernels by hand intentionally to teach people something lower-level?

[2017-03-06 09:15] cdeil commented on #939
I think the reflected regions issues are resolved?
@joleroi - Thanks!

Current status: https://github.com/gammapy/gammapy-extra/blob/master/notebooks/cta_data_analysis.ipynb

One more thing that would be nice would be to put the cell that computes a significance image into it's own section, and to make a TS image instead (if it's fast enough), and to run findpeaks from photutils on it, and to plot

[2017-03-06 09:31] cdeil opened #940 "Change SkyImage cutout x, y order?"
One thing that tripped me up was that the cutout order is `size=(y, x)`. See:
https://github.com/gammapy/gammapy-extra/blob/master/notebooks/cta_data_analysis.ipynb

Suggest to change the example here to something with different width / height to make it clear:
http://docs.gammapy.org/en/latest/image/sky_image.html#image-cutpaste

I would also suggest that our end-user interface always used `(x, y

[2017-03-06 09:33] adonath commented on #938
I used `.n` and `.s` just for convenience and for me as a frequent user of `uncertainties` I didn't make a large difference. But I totally see the advantage if you're not familiar with the code, so I think it's a good idea to change it.

[2017-03-06 10:09] adonath commented on #940
It is the same order that is used in `astropy.nddata.Cutout2D` and it is documented in [SkyImage.cutout](http://docs.gammapy.org/en/latest/api/gammapy.image.SkyImage.html#gammapy.image.SkyImage.cutout), but actually I prefer the `(l, b)` or `(ra, dec)` order as well. So :+1: to change it.

I must say I strongly prefer to not introduce special (public) `_pix` methods, because we already have `SkyIm

[2017-03-06 10:57] joleroi commented on #939
@joleroi - Thanks!

I wouldn't call it resolved. I put a workaround for the plotting issue. And the maps are still very large. So please leave this open as a reminder to properly fix this.

[2017-03-06 15:32] adonath commented on #823
@TarekHC The sky image plotting should be resolved, when #941 is merged (fixed by [this](https://github.com/gammapy/gammapy/pull/941/files#diff-bfb05eb798826cb17a9c1246b3ef5567R901) line).

[2017-03-06 18:39] cdeil commented on #940
I'm not sure. My experience is that the basic algorithms must be implement with pix.
Otherwise you're always unsure about float rounding effects and it's very hard to have simple and reproducible results / algorithms.

Then the problem is that algorithms from outside the class want to call these pixel-based methods.
So yes, you can make the pix methods private, but then you're calling private meth

[2017-03-07 10:16] adonath commented on #940
Yes, let's wait and discuss later again.

[2017-03-07 11:03] adonath opened #943 "Use gamma-cat to create all-sky exclusion mask"
We have a function [make_tevcat_exclusion_mask](https://github.com/gammapy/gammapy/blob/master/gammapy/image/mask.py#L201), which uses TeVCat to create an all-sky exclusion mask. This should be changed to use [gamma-cat](https://github.com/gammapy/gamma-cat).

In addition we should think about storing the mask as a high resolution healpix FITS image to avoid artefacts cause by the projection. Down

[2017-03-07 11:28] adonath commented on #922
@registerrier @cdeil

I can't reproduce this on my machine. I used the following code:
[code]
The output is:
[code]

[2017-03-07 11:30] registerrier commented on #922
This is because the hdu_table in GAMMAP_EXTRA is tiny. You should use a larger one e.g. HESS I data.

[2017-03-07 11:30] adonath commented on #913
Resolved by #932?

[2017-03-07 11:35] adonath commented on #905
Resolved by #935 . Thanks for all your suggestions!

[2017-03-07 11:35] #905 closed

[2017-03-07 11:37] cdeil commented on #913
My understanding is that everything now works for AEFF and EDISP.
I haven't checked for PSF and BACKGROUND.
Probably those classes aren't even rewritten to use `NDDataArray`, so that is just a separate / future issue.
Closing this one now.

@joleroi - Thanks!

[2017-03-07 11:37] #913 closed

[2017-03-07 11:48] TarekHC commented on #823
@adonath I just installed your branch, and the problem seems to be not solved...

Noob question: "python setup install" should be enough to use that version of gammapy, right?

@cdeil I'll do a new issue now.

[2017-03-07 11:57] adonath commented on #922
@registerrier Thanks, now I can reproduce it.

[2017-03-07 12:18] adonath commented on #922
I used  `%prun` to find the bottleneck:
[code]

It seems like the majority of time is spend in the python loop in [HDUIndexTable.row_index()](https://github.com/gammapy/gammapy/blob/master/gammapy/data/hdu_index_table.py#L208). Maybe this should be reimplemented using some kind dictionary lookup, that is only created once on init. Or using numpy indexing...

[2017-03-07 12:45] TarekHC opened #944 "Incorrect image plot with Matplotlib < 2"
As reported in Issue #823, I see weird features when plotting images.

Currently using matplotlib 1.5.1:

If I execute:
[code]

It plots a beautiful counts map. But if you add a cross in the position of the Crab Nebula:

[code]

The plot is distorted, but ONLY if you are using an old Matplotlib version (not working for Matplotlib: 1.5.1, and working properly for @mackaiver in 2.0.0).

[2017-03-07 13:15] adonath commented on #944
@TarekHC Thanks for reporting this issue.

Could you re-run the following script with the latest gammapy version and post the output (including image) here?

[code]

For me this gives the following output:
[code]

And a correct image:
![crab](https://cloud.githubusercontent.com/assets/3715928/23657849/5af7142c-0340-11e7-897a-9b9951e164d8.png)

[2017-03-07 14:12] cdeil commented on #922
@adonath - Thanks for all your work to get the Gammapy issues resolved!!!

Here's some feedback. In the end, please put what you think best, no need to discuss.

For catalog we have a similar issue. Looking at the implementation, it's quite complicated. I think at the core it's a dict cache for catalog.

And for the HDU index table, both what we have now and what you put in #945 is different, not

[2017-03-07 14:22] cdeil commented on #922
Just thought of one more possible implementation: Table itself has the option to put an index column. If there are multiple keys, one can make a hash function for both and put that as index column. I think we had this at some point, but removed it due to a bug in Table indexing, which should be no longer present with Astropy 1.3.

So @adonath - Put whatever you like for now to resolve the speed is

[2017-03-07 17:32] TarekHC commented on #944
@adonath, if I execute your code, I do get the correct png image.

But if I execute the code in a jupyter notebook, the image gets distorted.

![image](https://cloud.githubusercontent.com/assets/7864276/23669353/1bf18734-0364-11e7-9e56-e487b80dc4da.png)

Any idea why?

[2017-03-08 11:13] adonath opened #946 "Remove Table inheritance from HDUIndexTable"
The `HDUIndexTable` class currently inherits from `astropy.table.Table`. We agreed to get rid of this implementation pattern and instead hold the data in `.table` attribute.

When addressing this issue we should revisit the [suggestions](https://github.com/gammapy/gammapy/issues/922#issuecomment-284731971) by @cdeil to further improve and unify the indexing pattern we use.

[2017-03-08 11:32] cdeil opened #947 "Rewrite 3D background class"
For CTA we urgently need support for 3D background IRFs in this format:
http://gamma-astro-data-formats.readthedocs.io/en/latest/irfs/background/index.html#bkg-3d-format
Example file for testing is here:
https://gist.github.com/cdeil/2b4561935f2a65d988d7f8e28aeaee8b

We have these old classes:
http://docs.gammapy.org/en/latest/api/gammapy.background.FOVCube.html
http://docs.gammapy.org/en/latest/a

[2017-03-08 11:41] cdeil opened #948 "How to compute an exposure image?"
Yves was asking me how to compute an exposure image with Gammapy
(for HESS, for multiple runs, starting from DL3 files and a given energy band / assumed spectral index).

He just wants the exposure image, not a counts image or background estimate.

I am aware of Lea's image pipe class, and @adonath, now you added a second version where background modeling is more flexible.

@adonath - Is there a w

[2017-03-08 12:01] adonath commented on #948
The function to compute exposure cubes is already available: [exposure_cube](http://docs.gammapy.org/en/latest/api/gammapy.cube.exposure_cube.html#gammapy.cube.exposure_cube).

The function to compute exposure images (computing the weighted integral over the energy assuming some spectral  model) is only part of the `IACTBasicImageEstimator` and `StackedObsImageMaker`.
This should probably be separ

[2017-03-08 12:06] adonath commented on #948
The example how to compute and exposure image would be the same as in the CTA data analysis notebook [here](https://nbviewer.jupyter.org/github/gammapy/gammapy-extra/blob/master/notebooks/cta_data_analysis.ipynb#Make-maps). Except that you load the HESS FITS data into the data store.

[2017-03-08 12:27] adonath commented on #947
@cdeil When I understood correctly there a two separate tasks in this issue:

* Read the precomputed CTA background IRFs and create background model cube and images from it.
There I think it would be nice to introduce a `FOVBackgroundEstimator` class, that just takes a list of observations and computes background cubes/images given a reference cube/image.

* Create background models from the scrat

[2017-03-08 12:45] adonath commented on #922
Resolved in #945.

[2017-03-08 12:45] #922 closed

[2017-03-08 13:37] cdeil commented on #948
@adonath - OK.

But the problems we have:
- docs build on RTD is broken, no link for `IACTBasicImageEstimator`.
- no example showing how to do *just* the exposure computation, and how to configure it, i.e. pass an assumed spectral index.

He doesn't need it super urgently. If we can resolve these two points and get back to him next week, that would be great! Let's just keep this open as a reminder

[2017-03-13 20:14] JouvinLea commented on #925
@cdeil
There is still a bug to fix for the tests for image_pipe and cube_pipe class concerning nan values...
https://travis-ci.org/gammapy/gammapy/jobs/208692980

[2017-03-15 07:39] cdeil commented on #873
This issue was fixed a few weeks ago by @facero in #919.
Closing it now.

[2017-03-15 07:39] #873 closed

[2017-03-15 15:07] cdeil commented on #937
Changed to use Astropy `simple_norm` just now by @adonath  in #951 and notebooks are already updated. Closing this issue now.

@adonath - Thanks!

[2017-03-15 15:07] #937 closed

[2017-03-15 17:40] cdeil opened #952 "Improve EVENTS peek plots"
I've produced "peek" plots for the ~ 100 runs from the HESS test data release:
https://hess-confluence.desy.de/confluence/display/HESS/HESS+FITS+data+-+HESS+high-level+public+test+data+release+1#HESSFITSdata-HESShigh-levelpublictestdatarelease1-Dataqualitybasics

The ones for AEFF, EDISP and PSF are useful (although they can be improved a lot also, concerning axis scales and adding safe energy ran

[2017-03-16 18:09] cdeil opened #953 "Bug in calculate_predicted_counts if e_reco different from e_true"
While working on light curve computation in #950, @jjlk found an issue today, which I think is a serious bug in `gammapy.spectrum.calculate_predicted_counts`.

It seems that it gives incorrect results if `e_reco` is different from `e_true`.

To reproduce, you can use the example from the current docstring (slightly modified):
[code]
Currently for `n_reco_energy_bins = 100` this gives:
[code]
and t

[2017-03-17 09:19] jjlk commented on #953
Hi @cdeil, @registerrier , @joleroi ,
Just a comment. It seems that I get, consistant results when I compute the expected excess with the default binning of the reconstructed energy (from the rmf) and, as Christoph said, strange results when i use a different binning for the reconstructed energy. For example, if use the same energy range as the rmf but with a number bins X times greater, I get ~X

[2017-03-17 15:01] kosack commented on #952
Looks good.  Btw, I notice you were concerned about the trigger rate not being constant, but it is not normally constant due to the change in zenith angle, so the HESS cut is on a line-fit to the full data and the cut is on deviations from that line (the change is not really linear, but probably more like cos(z), but it's approximately linear in a ~30 min observation).  It could be useful to also

[2017-03-17 15:04] kosack commented on #952
Also  +1 for error bars if possible. Would also be useful on the containment plots, since it is not clear that the crazy behavior is due to stats. Not sure the best way to calculate them there though.  We've started implementing things like error bar calculation on effective area in ctapipe (which I think just uses an `astropy.stats` function), so could be useful to translate some of that to `gamm

[2017-03-21 14:30] bkhelifi opened #955 "DL3 IACT Format: towards the new proposal"
In the context of adding the point-like IRFs into the fits file, @TarekHC proposes a data format with a fixed axis order for aeff and edist.
Is the GammaPy machinery robust enough to deal with a fixed axis order (that can be different from the one used for the HESS production)?

Bruno

For: @cdeil @jjlk @adonath

[2017-03-21 14:44] adonath commented on #955
I don't see any problem with that. Once the DL3 data format specification has settled, we'll have to adapt the code anyway...

[2017-03-21 16:29] bkhelifi commented on #955
It means that it is hardcoded, ie there is no way by reading some metadata to read them?

[2017-03-21 17:49] adonath commented on #955
Yes, it's hard-coded, but I think this is totally fine, because we only support one data format (unless DL3 defines something different and requires flexibility in axis orders...)

[2017-03-22 06:59] cdeil commented on #955
@adonath - This is a question that came up yesterday as we were working on the spec.

Currently the spec recommends an axis order, but doesn't require one.
That means Gammapy (and other tools) shouldn't rely on it, but be able to work with any axis order.
I'm assigning this issue to me as a reminder to implement a script that checks if that is the case for all the IRFs we support (and to fix imple

[2017-03-27 10:17] joleroi commented on #953
Related https://github.com/gammapy/gammapy/issues/882

[2017-03-27 13:16] joleroi commented on #953
I am :+1: to separate the interpolation / integration of the energy dispersion and then do all later operation on pure np.arrays (or wrapper classes holding such) for both speed and consistency. The reco energy of the predicted counts vector would then always be the same as in the energy dispersion matrix. There was, however, this features request by @jjlk a while ago https://github.com/gammapy/ga

[2017-03-27 13:25] cdeil commented on #953
I'm +1 to make a class to hold the EDISP matrix. It has energy axes and FITS serialisation and plotting, so a class makes sense, no?

For me, an extra step and requiring that people explicitly prepare a new EDISP matrix every time they want to change energy binnings is fine. If really needed, conveniences can be added back later, or maybe just docs examples are needed showing how to do this.

[2017-03-31 13:41] cdeil opened #959 "make_base_catalog_galactic not passing random_state"
This is a reminder issue for myself.

The random number generator or seed is not passed to the `draw` calls in `make_base_catalog_galactic`. So it's currently not possible to choose a seed and get fixed output.

To reproduce:
[code]

The output should be the same in both calls (because the seed is the same), but it's not.

[2017-04-06 11:49] joleroi opened #962 "CTAObservationSimulation is broken"
I don't know exactly when this happened, but I don't think there is a unit test in gammapy so nobody noticed. This is also the reason why the notebook tests fail at the moment, I think

https://travis-ci.org/gammapy/gammapy/jobs/218368596

@jjlk It's hard for me to fix the class since I don't quickly see what it's supposed to do. Can you add a test?

[2017-04-06 12:15] jjlk commented on #962
Hi @joleroi , yes it's broken because the way to compute the expected excess changed. It's easy to fix by removing the `e_reco=e_reco_axis`. Should I do a pull request for that?

But the problem is that the fix is not enough to get good results.

[2017-04-06 12:16] jjlk commented on #962
And tests exist but results of the simulation are not tested

[2017-04-06 12:35] jjlk commented on #962
Hi @joleroi , fix is in PR #963.

I'll open an issue for the non-results we get.

[2017-04-06 12:40] joleroi commented on #962
It's weird that they did not fail, the should have because of the change to the predicted counts computation

[2017-04-06 19:15] cdeil opened #964 "Class attribute coding patterns in Gammapy"
One question we discussed a bit today is what pattern(s) to use to handle class attributes.

So far in Gammapy we're mostly using the following pattern (consenting adults, no safety, checking):
[code]

@woodmd is mostly using the following pattern in Fermipy:
[code]
which is more code to write, but gives some advantages (attributes are read-only by default, and docstrings show the attributes more

[2017-04-07 14:43] joleroi commented on #962
I xfailed the notebook test in https://github.com/gammapy/gammapy-extra/commit/d83fb7f215dd5aaad86880eff39dbfc1af9b2388  to get a clean gammapy master again

[2017-04-10 09:14] cdeil commented on #539
I just now ran into an issue with this file:
[code]
Reading via `SkyImage.read` gives this:
[code]
It looks like the reading went OK, but really what happened was that the data was read from the `EXCLUSION` HDU and the WCS is from the header of the primary HDU, i.e. invalid. Passing e.g. `hdu='EXCLUSION'` doesn't help.

The cause is that `fits.getdata` and `fits.getheader` are called in `SkyImage.

[2017-04-11 06:43] cdeil commented on #962
I'm not 100%, but I think this is resolved?
Closing this issue now.

@jjlk - For the future: we need to have "normal" tests that execute analysis code and assert on some result. If we don't have that, it's very hard to refactor and improve code in Gammapy and thing are likely to break as we work on Gammapy. All we test for the notebooks is that they don't raise an exception, to help us notice when

[2017-04-11 06:43] #962 closed

[2017-04-11 06:45] cdeil commented on #962
For reference:

Notebook update commit: https://github.com/gammapy/gammapy-extra/commit/a97d12863bbd6da82d1baae14acde13f50fffdf6
Current version: https://github.com/gammapy/gammapy-extra/blob/a97d12863bbd6da82d1baae14acde13f50fffdf6/notebooks/cta_simulation.ipynb

[2017-04-11 07:48] joleroi commented on #955
The issue we had with the axis order was https://github.com/gammasky/hess-host-analyses/issues/32

The readers for the EffectiveArea and EnergyDispersion rely on a fixed axis order, see e.g. http://docs.gammapy.org/en/latest/_modules/gammapy/irf/effective_area.html#EffectiveAreaTable2D.from_table

The axes are read in correcyly independent of their order in the fits file, but the data array is ass

[2017-04-11 07:50] joleroi commented on #953
TODO
* [ ] Add ``EnergyDispersionMatrix`` class holdig a numpy array (no NDData with interpolation). This should have all plotting methods attached to it
* [ ] To the same separation also for the effective area (even though there it's mostly cosmetics)

[2017-04-11 08:03] cdeil commented on #955
This needs to be fixed, using a generic helper function or class in
https://github.com/gammapy/gammapy/blob/master/gammapy/utils/fits.py
to deal with FITS I/O for these multi-dimensional arrays in BINTABLEs:
http://gamma-astro-data-formats.readthedocs.io/en/latest/general/fits-arrays.html#bintable-hdu

I think reformatting to a standard axis order on read is better than always keeping the array as

[2017-04-11 08:18] joleroi commented on #955
I agree, that's already the case for the axes, the problem is that the data need to be reshaped to the correct axis order.

[2017-04-11 08:31] jjlk opened #968 "healpix import"
Hi @cdeil,
Is the healpix package is mandatory now?

When trying to import `CTAPerf` I get the following error:
[code]

[2017-04-11 10:01] cdeil commented on #742
One issue I noticed just now with `spectrum_simulation.ipynb` is that I get incorrect spectral indices, but no error:
[code]
@joleroi - Can you please have a look?

---

More generally, we should discuss / clean up the 1D spectrum analysis related notebooks, so that there's good organisation of content and not too much overlap.

Currently we have this:

* [spectrum_analysis](https://github.com/gam

[2017-04-11 11:12] joleroi commented on #742
:+1:

I am currently working on a ``SpectrumAnalysisIACT`` class (because I got tired of writing it again and again for my analyses). Maybe we should wait for that before we reorganize the notebooks.

[2017-04-11 11:13] joleroi commented on #742
What is the line you posted? Can you point me to the cell where the incorrect index is computed?

[2017-04-11 11:27] cdeil commented on #742
The output I posted was from
[code]
which is currently in cell 26.

[2017-04-11 11:48] joleroi commented on #742
After https://github.com/gammapy/gammapy-extra/commit/20a677acbac453b97f233b789543a74caf496d6c the output is

[code]

[2017-04-11 18:33] #181 closed

[2017-04-12 12:03] cdeil opened #974 "Add Besancon model for Galactic structure"
For the CTA first data challenge it was suggested to use the "Besancon" model for the spatial distribution of sources in Galactocentric radius and z-height, which is derived from the Milky Way stellar populations.

Description:
* http://adsabs.harvard.edu/abs/2004A%26A...416..157R (useful)
* http://model.obs-besancon.fr/ (lots of material, no need to look there)

I looked around a bit, and there i

[2017-04-18 12:54] cdeil opened #977 "Further cleanup of Galactic population code"
This is a reminder issue for myself to continue the cleanup of Galactic population models I started in #976 but didn't finish today. Task list:

- [ ] Change to Astropy Galactocentric coordinates
- [ ] Update the spiral arm plot and add position of sun (see comments in #839, now script is in `docs/astropy/population`)
- [ ] Rename columns in simulation (all lower-case, prefix with "psr", "pwn", ..

[2017-04-18 12:56] cdeil commented on #839
This issue was mostly about an old, outdated version of Gammapy. Closing it now.

I've moved the spiral arm plotting script to the docs just now in #976, and filed a reminder issue for myself to change to Astropy Galactocentric coordinates (#977).

[2017-04-18 12:56] #839 closed

[2017-04-19 16:22] cdeil opened #980 "Use QTable in Gammapy?"
In https://github.com/gammapy/gammapy/pull/978#issuecomment-295322592, @mhvk suggested we use `QTable` by default, instead of `Table`. As I mentioned in https://github.com/gammapy/gammapy/pull/978#issuecomment-295290263, I'm not so sure it's better.

At the moment we use QTable 7 times:
https://github.com/gammapy/gammapy/search?utf8=%E2%9C%93&q=qtable&type=
and Table over 100 times.

This is a rem

[2017-04-19 17:16] cdeil commented on #980
Let's use the following example data for playing around and discussing:
[code]
will give this:
[code]
This is an example column with a quantity:
[code]
Now comes the interesting part, I just didn't know that Quantity has an `info` attribute that can store the same attributes as Column.info:
[code]
The `repr` doesn't mention "description" or "format"
[code]
but it's there:
[code]
It looks like thes

[2017-04-19 17:41] mhvk commented on #980
@cdeil - you're right that we need better documentation on the use of `info`; throughout much of the table code, we have been switching to always include `info` before things like `name`, `description` etc. This generalizes not just to `Quantity`, but also to `Time` and `SkyCoord`, when used as mixin columns (cc @taldcroft for that reason). Do you want to open an astropy issue for this? (If not, I

[2017-04-19 19:11] cdeil commented on #980
@mhvk - Can you please do it? (the description / proposed action items will be better than if I do it)

[2017-04-19 19:42] mhvk commented on #980
@cdeil - see https://github.com/astropy/astropy/issues/5976

[2017-04-19 21:34] taldcroft commented on #980
@cdeil, @mhvk - agreed that improvements in documentation are needed.  But in fairness http://astropy.readthedocs.io/en/latest/table/mixin_columns.html#mixin-attributes does explicitly mention `.info` with an example.

Your confusion with the `col.info` repr not showing the column attributes could be the result of overloading `info` to have two distinct functions:
- Container for the mixin column

[2017-04-20 06:57] #130 closed

[2017-04-20 06:58] #129 closed

[2017-04-20 08:18] joleroi opened #982 "Update LightCurveEstimator"
https://github.com/gammapy/gammapy/pull/972 breaks the light curve estimator. I list the steps that are necessary to fix it here

* [ ] Remove hard coupling from ``SpectrumExtraction``: At the moment the ``LightCurveEstimator`` takes a ``SpectrumExtraction`` instance as only argument. This coupling is very strong, e.g. the data (i.e. the ``DataStoreObservation`` is accessed via the ``SpectrumExtra

[2017-04-20 08:19] joleroi commented on #982
I won't have time to do this in the near future

[2017-04-23 15:26] cdeil commented on #776
I did an axis name cleanup to use "rad" for offset wrt source position in #983 .

The other change I would propose (and that is easy / quick to implement with search / replace) is for the IRF class names. One comment I have on this is that I'd prefer if all PSFs start with "PSF<something>", to be uniform with the other IRFs (the effective areas start with "EffectiveArea" and the energy dispersions

[2017-04-24 08:23] adonath opened #984 "Reimplemement analytical solutions for `.energy_flux_error()` and `.integral_error()`"
I think we should reimplement analytical solution for `.energy_flux_error()` and `.integral_error()` for all spectral models, where these are known. Currently the default is, that these quantities are computed numerically, which gives raise to few issues e.g. https://github.com/gammapy/gamma-cat/issues/107

[2017-04-24 11:40] cdeil commented on #984
Moving to milestone: 0.7

[2017-04-24 12:07] joleroi commented on #939
Fixed in https://github.com/gammapy/gammapy/pull/972

[2017-04-24 12:09] joleroi commented on #953
We decided to not do the second TODO because it's trivial.

[2017-04-24 12:09] #953 closed

[2017-04-24 12:11] #939 closed

[2017-04-24 13:25] cdeil commented on #850
@joleroi - Assigning to you.
If you don't have time, feel free to assign to me or defer to the 0.7 milestone.
(I want to make the Gammapy 0.6 release this Wednesday)

[2017-04-24 13:31] cdeil commented on #918
This was partly cleaned up in 07cb7444855186b384a48f1898247c2e0785a9d6 as part of #978 .

Remaining task:
- [ ] Remove https://github.com/cdeil/gammapy/blob/07cb7444855186b384a48f1898247c2e0785a9d6/gammapy/catalog/fermi.py#L660
- [ ] Remove `eflux`? Or keep it, but document which is to be used? Or maybe a second property `flux_points_eflux` would be best?

Assigning to myself and moving to the 0.7

[2017-04-24 13:32] cdeil commented on #684
@joleroi - Assigning to you. If you don't have time, please move to the 0.7 milestone, and unassign yourself if you don't want to do this at all.

[2017-04-24 13:34] cdeil commented on #618
This was implemented by @registerrier in February:

* http://nbviewer.jupyter.org/github/gammapy/gammapy-extra/blob/master/notebooks/astropy_introduction.ipynb
* http://nbviewer.jupyter.org/github/gammapy/gammapy-extra/blob/master/notebooks/using_numpy.ipynb

Closing this issue now.
(But of course, further improvements or extra docs or suggestions are always welcome.)

[2017-04-24 13:34] #618 closed

[2017-04-24 14:19] joleroi commented on #684
Done in https://github.com/gammapy/gammapy/pull/972. Please leave open, the AREASCAL is not taken into account in the fit yet.

[2017-04-24 21:12] cdeil commented on #19
I think this was removed a while ago.

[2017-04-24 21:12] #19 closed

[2017-04-25 08:58] TarekHC opened #987 "Consistent background FITS column names"
Hi all,

These days I have been trying to generate MAGIC DL3 data, and now we are able to import event lists + IRFs quite decently. While doing this, I found some inconsistencies between the [DL3 specifications](http://gamma-astro-data-formats.readthedocs.io/en/latest/irfs/full_enclosure/bkg/index.html) and the gammapy readers.

I'm not even sure if these classes are being used... So correct me if

[2017-04-25 09:03] cdeil commented on #267
Closing this old issue now.

The main missing piece is support for the 3D background models, which is covered by #947.

[2017-04-25 09:03] #267 closed

[2017-04-25 09:05] cdeil commented on #808
I want to release Gammapy 0.6 tomorrow. Moving this to the 0.7 milestone. Note that if we make progress in the coming weeks, 0.7 can be very soon (e.g. before the 1DC data release).

[2017-04-25 09:05] cdeil commented on #742
Moving to 0.7 milestone.

[2017-04-25 09:08] cdeil commented on #987
@TarekHC - Thanks for the issue. Yes, we need to clean this up.

For the 3D background, our thinking was that we throw away the very old class we have and rewrite it using NDDataArray. This needs to happen very soon anyways (also for CTA 1DC) and is the task in
#947.

[2017-04-25 09:10] TarekHC commented on #987
@cdeil , what about the 2D background? For a simple 1D analysis it may turn out useful (although of course it can be re-calculated within gammapy).

[2017-04-25 09:25] cdeil commented on #987
Do you mean the column name should be "BKG" (upper case)?
http://gamma-astro-data-formats.readthedocs.io/en/latest/irfs/full_enclosure/bkg/index.html#bkg-2d

For a very quick look, I don't see where the problem is:
https://github.com/gammapy/gammapy/blob/master/gammapy/background/energy_offset_array.py

Could you please make a "magic" folder in
https://github.com/gammapy/gammapy-extra/tree/master/

[2017-04-25 09:47] TarekHC commented on #987
http://gamma-astro-data-formats.readthedocs.io/en/latest/irfs/full_enclosure/bkg/index.html#bkg-2d

Yes, that is what I mean.

https://github.com/gammapy/gammapy/blob/master/gammapy/background/energy_offset_array.py

Take a look at line 649/613 in:
https://github.com/gammapy/gammapy/blob/master/gammapy/background/models.py

https://github.com/gammapy/gammapy-extra/tree/master/test_datasets
and put

[2017-04-25 09:51] cdeil commented on #938
I reviewed the code, this has been fixed.

[2017-04-25 09:51] #938 closed

[2017-04-25 10:00] cdeil commented on #987
OK, I see. My suggestion would be to just support both keys on read here to make it work for you:
https://github.com/gammapy/gammapy/blob/master/gammapy/background/models.py#L649
(and to add a regression test with a properly formatted file)
As I said, we have to rewrite that class anyways, but for now, it's good to make it work.

If you anyways don't fill with MAGIC data, then it would be even bet

[2017-04-25 10:05] TarekHC commented on #987
https://github.com/gammapy/gammapy/blob/master/gammapy/background/models.py#L649
(and to add a regression test with a properly formatted file)

That would be nice (although note it should be done both for the 2D and 3D!).

http://gamma-astro-data-formats.readthedocs.io/en/latest/irfs/full_enclosure/bkg/index.html#bkg-2d

I agree. We have the one from the effective area, so it would be very fast to

[2017-04-25 12:53] cdeil commented on #850
Moving milestone to 0.7 (I'll make the 0.6 release tomorrow)

[2017-04-25 12:54] cdeil commented on #747
Moving milestone to 0.7 (I'll make the 0.6 release tomorrow)

[2017-04-25 12:54] cdeil commented on #684
Moving milestone to 0.7 (I'll make the 0.6 release tomorrow)

[2017-04-25 12:56] cdeil commented on #734
Moving milestone to 0.7 (I'll make the 0.6 release tomorrow)

[2017-04-25 12:57] cdeil commented on #121
Moving milestone to 0.7 (I'll make the 0.6 release tomorrow)

[2017-04-25 12:57] cdeil commented on #184
Moving milestone to 0.7 (I'll make the 0.6 release tomorrow)

[2017-04-25 12:58] cdeil commented on #198
Moving milestone to 0.7 (I'll make the 0.6 release tomorrow)

[2017-04-25 12:58] cdeil commented on #874
Moving milestone to 0.7 (I'll make the 0.6 release tomorrow)

[2017-04-25 12:59] cdeil commented on #760
Moving milestone to 0.7 (I'll make the 0.6 release tomorrow)

[2017-04-25 12:59] cdeil commented on #669
Moving milestone to 0.7 (I'll make the 0.6 release tomorrow)

[2017-04-25 12:59] cdeil commented on #539
Moving milestone to 0.7 (I'll make the 0.6 release tomorrow)

[2017-04-25 13:00] cdeil commented on #297
Moving milestone to 0.7 (I'll make the 0.6 release tomorrow)

[2017-04-25 13:01] cdeil commented on #333
Moving milestone to 0.7 (I'll make the 0.6 release tomorrow)

[2017-04-25 13:04] cdeil commented on #334
Moving milestone to 0.7 (I'll make the 0.6 release tomorrow)

Since this issue was filed, we've decided to prefer composition over inheritance in Gammapy.
So this class should be replaced with one that has a "Table" data member, instead of sub-classing "Table". It can still be useful to create such classes with single data members, because they provide a namespace to put application-specific funct

[2017-04-25 13:08] cdeil commented on #934
Fixed.

* https://readthedocs.org/projects/gammapy/builds/5335869/
* http://docs.gammapy.org/en/latest/

So now it's worth working on the Gammapy docs again -- your changes will show up!

I'll check a few more things and then close this issue tomorrow morning.

[2017-04-25 14:06] cdeil commented on #916
Moving to 0.7 milestone.

[2017-04-25 14:09] cdeil commented on #852
I'll make the Gammapy 0.6 release tomorrow afternoon.

Everyone -- if you have time to help with cleanup (code and docs) or little bug fixes, please do:
https://github.com/gammapy/gammapy/issues?utf8=%E2%9C%93&q=is%3Aopen%20is%3Aissue%20milestone%3A0.6%20
Everything that's not done by tomorrow noon I'll just move over to v0.7.

[2017-04-25 14:11] cdeil commented on #934
Closing this now, seems to be all OK.

I changed several things, so I'm not sure what fixed the build in the end.
But I think it was disabling "use virtualenv" and "use global site-packages" in the RTD settings page.

And the conda issues on RTD (see https://github.com/rtfd/readthedocs.org/issues/2651) had been resolved in the meantime.

[2017-04-25 14:11] #934 closed

[2017-04-25 14:12] cdeil commented on #13
PDF is currently working: https://media.readthedocs.org/pdf/gammapy/latest/gammapy.pdf
Remaining task is stated in my last comment: add CI build for PDF to make sure it doesn't break again.
Moving this issue to v0.7.

[2017-04-25 14:55] adonath commented on #916
Just for the record:

The `SkyCube.region_mask` already exists ([see here](http://docs.gammapy.org/en/latest/api/gammapy.cube.SkyCube.html#gammapy.cube.SkyCube.region_mask)). So it's just a matter of adapting the notebook to use that method.

[2017-04-26 09:21] adonath opened #992 "Introduce default values for spectral model parameters?"
After working with the `FluxPointFitter` class I think it would be useful to have default values for spectral models. Instantiating the parameters with units is a non-negligible amount of typing (especially for interactive work...), while being 80% the same for most users.

In most cases you just want to fit a spectral model and only change the starting parameters if the fit fails.
In other use ca

[2017-04-26 10:32] cdeil commented on #880
I'm not sure if this issue is still present or have a testcase for it.
Moving this issue to 0.7
Action item: implement well-structured unit tests for spectral models (including table model) in `gammapy/spectrum/tests/test_models.py`

[2017-04-26 11:26] cdeil commented on #689
Closing this now. There was / is no conda package for Gammapy 0.5. I'll try to sort this out now and make a Gammapy 0.6 release later today.

[2017-04-26 11:26] #689 closed

[2017-04-26 12:02] #882 closed

[2017-04-26 12:23] cdeil commented on #992
I'm 50:50 on this suggestion. As you noted already, there aren't good defaults for all parameters, so whatever we put will mean that some users will get bitten. On the other hand it's convenient to have defaults here sometimes.

PS: I like passing strings for quantities in examples / docs, e.g.
[code]
which works if inputs are passed through constructors like `Quantity` (since Astropy 1.3 which we

[2017-04-26 14:10] TarekHC commented on #987
http://gamma-astro-data-formats.readthedocs.io/en/latest/irfs/full_enclosure/bkg/index.html#bkg-2d
We should do this for all formats anyways, the original idea to use real example files from HESS / MAGIC isn't a good one (I can explain why if needed).

An example python script creating a sample background FITS file using ``BKG_2D`` and ``BKG_3D`` formats was added in:
https://github.com/open-gamma

[2017-04-27 10:02] cdeil opened #1000 "healpy imports in gammapy.maps"
@woodmd - The Gammapy CI is failing because of the top-level `healpy` import in `gammapy.maps`:
https://travis-ci.org/gammapy/gammapy/jobs/226312428#L1790

Is it OK if I fix this now? Or do you have uncommitted changes in `gammapy.maps`?

cc @joleroi

[2017-04-27 10:22] joleroi commented on #413
Since https://github.com/gammapy/gammapy/pull/999 all meta info available for an observation is copied into the meta attribute of the ``SpectrumObservation``.

[2017-04-27 10:22] #413 closed

[2017-04-27 10:24] joleroi commented on #878
What's the status here? Do you still get the issue? Assigning back to you @cdeil

[2017-04-27 10:27] joleroi commented on #747
Done in https://github.com/gammapy/gammapy/pull/995

[2017-04-27 10:27] #747 closed

[2017-04-27 10:28] cdeil commented on #1000
💯  + 💯  + 💯  + 💯  + 💯  + 💯  + 💯  + 💯  + 💯  + 💯
We have issues!

[2017-04-27 10:31] joleroi commented on #567
Duplicate https://github.com/gammapy/gammapy/issues/413

[2017-04-27 10:31] #567 closed

[2017-04-27 10:34] joleroi commented on #406
We have this now as standard debug plot
![debug](https://cloud.githubusercontent.com/assets/11678435/25479625/db622c6e-2b45-11e7-97e9-c5dc32f0e47f.png)

see https://github.com/gammapy/gammapy-extra/blob/master/notebooks/spectrum_analysis.ipynb

[2017-04-27 10:34] joleroi commented on #406
Close?

[2017-04-27 10:45] joleroi commented on #684
This must go in otherwise no containment correction is possible

[2017-04-27 10:45] cdeil commented on #406
Closing this now.
Of course: concrete issues or pull requests for more / better diagnostics plots are always welcome!

[2017-04-27 10:45] #406 closed

[2017-04-27 11:57] #684 closed

[2017-04-27 12:36] joleroi commented on #910
Done in the two PRs mentioned above

[2017-04-27 12:36] #910 closed

[2017-04-27 12:40] joleroi commented on #742
It's not clear what this issue is about. There are two notebooks
* http://nbviewer.jupyter.org/github/gammapy/gammapy-extra/blob/master/notebooks/spectrum_simulation.ipynb
* http://nbviewer.jupyter.org/github/gammapy/gammapy-extra/blob/master/notebooks/spectrum_simulation_cta.ipynb
And they are both party discussed above. I suggest to close this and open new issues for each notebook

[2017-04-27 12:43] joleroi commented on #850
I am not aware of an issue that is currently present with our OGIP files. Let's keep this open in order to report such issues when we encounter them.

[2017-04-27 12:47] cdeil commented on #742
@joleroi - OK to close this old issue.

Maybe check if this bug is still present (one of the things listed above)?
[code]

[2017-04-27 13:16] joleroi commented on #742
Ensured by this test
https://github.com/gammapy/gammapy/blob/master/gammapy/spectrum/tests/test_observation.py#L41

[2017-04-27 13:16] #742 closed

[2017-04-27 13:25] joleroi opened #1005 "Fix observation grouping functionality in gammapy.spectrum"
In https://github.com/gammapy/gammapy/commit/926855652eba59a1d2e3188987b329c6dd9daea1 I remove ``gammapy/spectrum/obs_group.py`` from the high level docs because it is untested and completely broken. The test is xfailed since [more than 1 year](https://github.com/gammapy/gammapy/blame/master/gammapy/spectrum/tests/test_obs_group.py#L11). After discussing with @JouvinLea we decided to keep this fil

[2017-04-27 14:07] joleroi commented on #982
UPDATE: #972 was not merged so the Lightcurve stuff continues to work. So whether or not we implement the changes suggested here is a mere question of API design.

[2017-04-27 14:59] #1000 closed

[2017-04-27 15:04] cdeil commented on #1000
Fixed in #1003. I'm not a huge fan any more of the delayed imports in many methods.

For `gammapy/maps/tests/test_hpx.py` I've put `pytest.importorskip('healpy')` at the top, instead of `@requires_dependency('healpy')` on each test.

We could investigate using something like that at the top of files like `gammapy/maps/hpx.py` as well.

[2017-04-27 15:11] woodmd commented on #1000
Have you given any thought to making healpy a core dependency?  For now the delayed import approach seems fine but once you have other gammapy modules that depend on HPX functionality from `gammapy.maps` it might get cumbersome to isolate imports like this.

[2017-04-27 15:17] cdeil commented on #1000
Yes.

I'd like to avoid making `healpy` a core dependency, and have Gammapy install and import always work if only Numpy Astropy are there.

We can implement a nicer solution if the delayed imports in the methods become too annoying (e.g. `from gammapy.utils.dependency import healpy as hp` at the top, which does a few lines of magic to import healpy or to give a shim that will raise an ImportError

[2017-04-27 17:30] cdeil opened #1007 "Improve Gammapy conda install docs"
In #994 the install docs were improved a bit, they now look like this:
https://gammapy.readthedocs.io/en/latest/install/index.html

The next steps are to introduce an `environment.yml` for Gammapy as already mentioned in
https://gammapy.readthedocs.io/en/latest/install/index.html#development-version
and to improve the conda install docs here:
https://gammapy.readthedocs.io/en/latest/install/conda.

[2017-04-28 07:03] cdeil commented on #943
I've removed `make_tevcat_exclusion_mask` in #1009 .

This is what I think we should do to clear this out:
- [ ] Add a small utility function to make an exclusion mask from a table with RA, DEC, Radius (similar to the old `make_tevcat_exclusion_mask`, but not hardwired to TeVCat.
- [ ] In examples, use `gamma-cat` instead. Yes, also make an all-sky mask and put it in gammapy-extra as @adonath sugg

[2017-04-28 13:50] cdeil commented on #852
I've made the Gammapy 0.6 release:
* https://pypi.python.org/pypi/gammapy/0.6
* https://github.com/gammapy/gammapy/releases/tag/v0.6

@bsipocz - Could you please make a conda package, please (under the astropy or openastronomy org)?

[2017-04-28 13:51] joleroi commented on #852
:fireworks:

[2017-05-02 20:33] cdeil commented on #852
Update Gammapy in conda: https://github.com/astropy/conda-channel-astropy/pull/147

This is failing because of the incompletely removed `gammapy-spectrum`:
https://travis-ci.org/astropy/conda-channel-astropy/jobs/227010748#L2580
I will fix this in Gammapy shortly and add a CI build that checks for this issue so that it doesn't come up again.

Update Gammapy in Macports: https://github.com/macports

[2017-05-02 22:20] cdeil opened #1012 "testCombinedModel3DIntConvolveEdisp fail with Numpy 1.10"
In #1011 I noticed this issue in the build that uses Numpy 1.10: https://travis-ci.org/gammapy/gammapy/jobs/228110585#L2003

`testCombinedModel3DIntConvolveEdisp` fails because at https://github.com/gammapy/gammapy/blob/24db8c055d249494d66067ef58cf3feb15bf8f79/gammapy/cube/sherpa_.py#L425 `numpy.moveaxis` is called.

The moveaxis function was added in Numpy 1.11 (see https://github.com/numpy/numpy

[2017-05-05 16:04] bsipocz commented on #852
The conda packages should be up and ready very soon as astropy/conda-channel-astropy#147 got merged.

[2017-05-07 12:28] adonath opened #1016 "Introduce source catalog class for simulated catalogs"
Now that there's a `CatalogImageEstimator` and and a nice `SourceCatalog` base class we should introduce something like a `SourceCatalogMC` class, which handles simulated catalogs in well defined formats.

[2017-05-07 13:46] cdeil commented on #1016
Do we really need this? What's your use case?

Ideally there would be a catalog format that works for real and simulated catalogs, no?

Currently the most complex sky model we have is 1DC, part of it is here:
https://github.com/gammasky/cta-dc/tree/master/sky_model
It's a bunch of XML sky model files, in some cases (like image and cube templates or pulsars) pointing to FITS files.

The other compl

[2017-05-07 16:09] adonath commented on #1012
Closed via #1017.

[2017-05-07 16:09] #1012 closed

[2017-05-07 18:40] cdeil opened #1018 "Set up Jenkins CI"
At our institute MPIK we have a Jenkins CI server set up since a few years:
https://www.mpi-hd.mpg.de/gamma-jenkins

So far it has been mostly used to run builds for the HESS-internal software, but a year or so ago @joleroi set up a build for Gammapy as well. It's failing at the moment (because the installed Sherpa is too old I think, we now require Sherpa 4.9):
https://www.mpi-hd.mpg.de/gamma-jen

[2017-05-07 19:22] cdeil commented on #852
@bsipocz - As far as I can see, the Gammapy conda packages for v0.6 were released under the "astropy" channel and not the "openastronomy" channel:
* https://anaconda.org/OpenAstronomy/gammapy/files
* https://anaconda.org/astropy/gammapy/files

Our docs still mention the "openastronomy" channel in one prominent place, and our RTD build uses that channel:
https://github.com/gammapy/gammapy/search?ut

[2017-05-07 19:27] cdeil commented on #852
This is in place: http://docs.gammapy.org/en/v0.6/
I'll write Gammapy 0.6 release announcements and send them tomorrow evening and close up this issue.

Thank you @bsipocz and the Gammapy devs that helped to make 0.6 finally happen!

[2017-05-07 19:43] cdeil commented on #1007
I wanted to try out the conda 0.6 and did `conda install gammapy`, which did fetch v0.6 but some tests fail:
https://gist.github.com/cdeil/2e492b1788c6c628fbec22de887ec315

Apparently what happened was that I had an older version of Gammapy installed, and then conda just added the files for 0.6, but didn't remove the previous install, so there's a mix of old and new files. This is really bad, many

[2017-05-07 22:10] bsipocz commented on #1007
I'm not using conda myself, but it seems that the page you linked actually talks about updating to the latest version with ``conda update gammapy``. Maybe what you want is to reorder and rehighlight things, move the update to the top and have the install from scratch the second item?

[2017-05-07 22:46] bsipocz commented on #852
@cdeil - Yes, the channels as a bit confusing. In my read, astropy has all the affiliates. Some of those are copied over from conda-forge, though. While openastronomy is a mixing pot of all astronomy related stuff that may be copied over from astropy and/or conda-forge.
The astropy channel is set up a cron travis run once a week, so if there is a new version available on conda-forge, it gets copie

[2017-05-07 22:53] cdeil commented on #852
My main question is: which conda channel should we point to from the Gammapy install docs?
What's the best long-term solution?

- should we add Gammapy to conda-forge and point there?
- for now, OK if we only point to the Astropy channel? I.e. are you willing to keep building and posting Gammapy conda packages there, or do you prefer openastronomy?

[2017-05-08 08:19] bsipocz commented on #852
@cdeil - Pointing to the astropy channel sounds good to me. I tend to check and update versions from time to time for that channel, and am watching the repo in case someone opens a PR there. I believe, even in the case of everything moved to conda-forge, we will keep this channel. And maybe at some point in the future I will have enough time to set this up being done more automatically.

 I'm not

[2017-05-08 09:55] robertazanin opened #1019 "conda install gammapy.v0.6"
When I try to install the last stable version
conda install -c openastronomy gammapy
it installs version 0.6.dev3938

[2017-05-08 16:17] cdeil commented on #1019
@robertazanin - try `conda install -c astropy gammapy`. Does it work?

The Gammapy 0.6 conda package is in the "astropy" channel, not the "openastronomy" channel.
I've fixed the docs that were mentioning the "openastronomy" channel just now in  7e58d4ff089dd68b67b25f0de74eb15e9a7bde98 .

[2017-05-09 09:08] rlopezcoto opened #1020 "State not defined when running simulate.make_base_catalog_galactic"
When running the script in /docs/astro/population/plot_spiral_arms.py, if I try to include the option spiralarms=False in the simulate.make_base_catalog_galactic function, I get the following error:
[code]

I assume one needs to switch off the writing of the spiralarm column in the output table when the spiralarms option is set to false.

[2017-05-09 09:09] adonath commented on #1016
@cdeil The main use case I have in mind is computing simulated sky images, plotting simulated spectra and flux points etc. just the same way we already do for real catalogs.

I agree this would be solved best with a uniform catalog format. I was still in the habit of introducing a new catalog class for any format we have...but long-term we might give up on this and just use a common format.

[2017-05-09 13:39] cdeil commented on #1007
As far as I know `conda install` is equivalent to `pip install --update`. Yes / no?
E.g. here they also recommend `conda install` and `pip install --update` to update to a new release:
http://matthewrocklin.com/blog/work/2017/05/08/dask-0.14.3

[2017-05-09 15:09] cdeil commented on #1016
OK, let's keep this issue open as a reminder.
A class implementing the format that Matthew uses (see his explanation and example file at https://github.com/gammapy/gamma-cat/issues/101#issuecomment-295918515) would be very welcome in Gammapy (as would any similar format that works).

[2017-05-09 15:48] cdeil commented on #1020
Fixed in #1021.

[2017-05-09 15:48] #1020 closed

[2017-05-09 17:21] cdeil commented on #852
I've updated the release checklist for Gammapy and written up release announcement in https://github.com/gammapy/gammapy/commit/fbdfbe0677f79faf2fcb813995fcd5ec256fbd0a

I'll send out the Gammapy 0.6 release announcement now and close this issue.
(but feedback to the release checklist and announcement text is still welcome of course, to make the next release better).

Thank you everyone who contri

[2017-05-09 17:21] #852 closed

[2017-05-09 18:00] cdeil commented on #1019
I'm closing this issue now.

@robertazanin - If `conda install -c astropy gammapy` doesn't install gammapy 0.6 for you, please re-open the issue and copy & paste the full  output from that command here.

[2017-05-09 18:00] #1019 closed

[2017-05-09 19:19] bsipocz commented on #1007
Maybe @astrofrog or @mwcraig can comment on it, as I don't use conda beyond CI.

[2017-05-09 21:08] cdeil opened #1023 "Spatial shape tests issue"
This issue was pointed out by flake8 (and I'm not fixing it in #1022):
[code]
You can't have a dictionary with duplicated keys.
Can you please fix this?

I suggest to always use lists (I've changed from dict -> lists in other parts of Gammapy tests during code cleanup).

[2017-05-09 22:14] cdeil commented on #325
Note to self: in #1022 I've added a `make pydocstyle` target.
This should be used for this task.

[2017-05-14 18:56] Bultako opened #1024 "KeyError: u'spec_index' when gammapy.test('catalog')"
Hi there
I've been installing last release v0.6
When doing the battery tests I find KeyError: u'spec_index' in tests_gammacat.py

--

[2017-05-15 12:43] adonath commented on #1024
@Bultako Thanks for reporting this issue! Can you update your `gammapy-extra` repository and see if it resolves the issue? I think this test fails is because of a recent update of https://github.com/gammapy/gammapy-extra/blob/master/datasets/catalogs/gammacat.fits.gz (see [here](https://github.com/gammapy/gammapy-extra/blob/master/datasets/catalogs/gammacat.fits.gz)).

[2017-05-15 12:59] adonath commented on #1024
I just noticed: you probably updated `gammapy-extra` already and that's why the error occurs. So to resolve that have to update to the latest (development) gammapy version.

@cdeil Can those issues avoided in future, if we introduce `gammapy-extra` as a git submodule?

[2017-05-15 16:12] Bultako commented on #1024
Yes
installing last gammapy devel version 0.7.dev4612 with an updated gammapy-extra repo solved the issue. All battery tests passed. I think the point is, as you say, how to link gammapy-extra repo with gammapy (at least with a a tagged release). Or maybe removing/modifying the tests that need gammapy-extra repo.

[2017-05-15 16:21] cdeil commented on #1024
Yes, we need to change our test setup to version-couple any files we access with the Gammapy version. It's non trivial to set this up in a good way, most files are from gammapy-extra, but we have other files as well that need to be dealt with. @adonath - let's discuss offline or in #288.

For now, users shouldn't run tests. Keeping this issue open as a reminder until it's resolved.
@Bultako - Than

[2017-05-17 09:12] jjlk opened #1028 "Problem of fit with sherpa"
Hi @cdeil and @joleroi ,
I've got some problem to do a spectral fit with sherpa on CTA simulated data. I don't really understand why it's happening. Everything worked fine ~2 weeks ago.

Here is a small example to illustrate the problem:
[code]

which results in weird NaN values and implies problem for the fit:
[code]

Do you have any idea what could cause that? OGIP format writting or something l

[2017-05-18 15:24] emmaow opened #1030 "CTA spectrum forward-folding fit"
Hi,

we are trying to simulate some spectrum using the CTA response. We followed the nice tutorial under: https://nbviewer.jupyter.org/github/gammapy/gammapy-extra/blob/master/notebooks/cta_simulation.ipynb
Once we have the number of excess, on, off etc, and read the performance file, can we do a forward folding to the data to recover the initial spectrum? is there any example I can follow to lear

[2017-05-18 20:55] cdeil commented on #980
As mentioned above, in Gammapy we currently use `Table` almost everywhere, except if very few cases where we use `QTable`. For now, I have made the decision to change to `Table` everywhere and have started that in #1032 . I'm pointing out issues and give my reasons in this issue and also https://github.com/astropy/astropy/issues/6098 .

We can revisit this decision later, and change to use QTable

[2017-05-18 22:17] cdeil commented on #980
@mhvk - I'm responding to your comment at https://github.com/astropy/astropy/issues/6098#issuecomment-302541958 here, to avoid complicating the discussion there in the Astropy tracker.

What we do in Gammapy is to use Table data members for most things (event lists, instrument response functions) like this (using wrapper classes, i.e. composition):
[code]
and then expose the Astropy / Gammapy obje

[2017-05-18 22:25] mhvk commented on #980
OK, makes sense. I think that then it becomes a matter of possibly switching out the back-end, which is less important.

Still, your example is a little scary: what if the particular fits file did not have `RA`, `Dec` in degrees? Your `radec` would now be wrong; with `QTable`, you'd avoid that.

Separately: many astropy classes accept a `copy=False` argument, which should make things faster and le

[2017-05-19 05:35] joleroi commented on #1030
Hi @emmaow

I think the easiest way is to follow the instructions in [this notebook](https://nbviewer.jupyter.org/github/gammapy/gammapy-extra/blob/master/notebooks/spectrum_analysis.ipynb). I talks about how to extract spectra from IACT data first - you can skip all that. But there's a section called 'Fit Spectrum' that explains how to fit a given spectral model to a ``SpectrumObservation`` (what

[2017-05-19 07:42] emmaow commented on #1030
Hi Johannes,

thanks!! that works beautifully.

Maybe, for some tontos like me, it would be useful to include just a couple of lines more in the CTA notebook:

http://nbviewer.jupyter.org/github/gammapy/gammapy-extra/blob/master/notebooks/cta_simulation.ipynb <http://nbviewer.jupyter.org/github/gammapy/gammapy-extra/blob/master/notebooks/cta_simulation.ipynb>

model2fit = models.PowerLaw(index = 2

[2017-05-19 08:26] joleroi commented on #1030
I'm happy to hear that the fitting worked for you. We're currently trying to restructure/improve the documentation in gammapy, so for now I just added a link to to ``spectrum_analysis`` notebook at the end of the ``cta_simulation`` notebook until we have figured out how to structure the docs in a clearer fashion.

[2017-05-19 09:38] cdeil commented on #1028
I poked at this a bit, but didn't find the issue.

@joleroi - Favor attender!
(Julien and I don't know how alpha is supposed to be stored, and likely that's the issue ... see below)

Here's what I know:
* The simulation runs OK, results look good: https://gist.github.com/cdeil/4ccdbd47a0997bc9371431c47b55c1e6
* I write and read AEFF, EDISP, on and off counts, all look good.
* The @jjlk mentioned o

[2017-05-19 10:18] joleroi commented on #1028
Note that you can also fit the written files with gammapy by adding this to your script
[code]
It gives me

[code]

Which are the value you input to your simulation.

___

Obviously this does not answer your question. There is not obvious problem with the files written by gammapy, see #1033 . In general, I did not find it very convenient to do sherpa fits using wstat, because I kept running into w

[2017-05-19 10:25] joleroi commented on #1028
Update:
When just running the script @jjlk provided I get warnings like this

[code]

Is this only me, or do @jjlk and @cdeil get the same?

[2017-05-19 10:29] cdeil opened #1034 "Better flux point code and tests"
@adonath @joleroi - I'm starting an overhaul of the code in `flux_points.py` and `test_flux_points.py`. My hope is that I'll be able to finish it today, so I'm pinging you for feedback now already. Most likely some of your scripts will break, but I think that's unavoidable and it won't be hard to adapt other scripts to the new, better version.

Initially I just wanted to add support for plotting s

[2017-05-19 11:29] jjlk commented on #1028
Ola @joleroi ,

Yes I'm aware of that. I'm using directly the sherpa library since I do not have an easy way to deal with additive and multiplicative models with Gammapy.

I understand. Everything worked 2/3 weeks ago. Did someone change something in the way gammapy data are exported to OGIP format?

I do get some warnings but nothing related to group or dataskack module:
[code]

My sherpa version

[2017-05-19 15:43] cdeil commented on #1023
@adonath - I'll do this one, assigning to me.

[2017-05-22 07:32] cdeil commented on #930
Closing this old issue now.

@tibaldo or anyone else - if you still see this issue, see the info in the comments above and if that doesn't help, please leave a comment here and we'll re-open, or open a new issue.

[2017-05-22 07:32] #930 closed

[2017-05-22 07:46] cdeil opened #1042 "Issues in energy dispersion apply and to_sherpa"
@joleroi The current [EnergyDispersion.apply](https://github.com/gammapy/gammapy/blob/bc822b86/gammapy/irf/energy_dispersion.py#L63) has the following issues:
* arguments `e_reco=None, e_true=None` are never used.
* The ValueError message accesses the undefined name `true_nodes`, i.e. will error out with a NameError.

Also, can you please resolve the TODO in the current [EnergyDispersion.to_sherpa

[2017-05-22 08:59] cdeil opened #1044 "Remove SkyImage unit attribute?"
Currently `SkyImage` has a unit attribute separate from the data attribute, whereas `SkyCube` doesn't. As far as I know, in both cases one can store a `Quantity` in `data`.

This leaves the two classes inconsistent and confusing for the user, and I'd like to make them work the same by either removing `unit` from `SkyImage` or adding a separate `unit` attribute to `SkyCube`.

Naively (without havin

[2017-05-22 11:34] cdeil commented on #1042
Fixed in #1045 by @joleroi .

[2017-05-22 11:34] #1042 closed

[2017-05-23 14:51] jjlk opened #1046 "Fix absorbed spectral model evaluate_error"
Hi @cdeil, @joleroi  and @adonath ,

I'd like to know you if get any ideas how to deal with the problem related to the error propagation of the `AbsorbedSpectralModel` model. For now I can fit the model but I can't get the flux points and the butterfly associated to the minimisation.

As a reminder, the `AbsorbedSpectralModel.evaluate` function returns the product:
[code]

The `Absorption.evaluate

[2017-05-23 16:20] adonath commented on #1046
The problem here is that `NDData.evaluate()` is called with a `uncertainties.ufloat` object as parameter, which doesn't cast into  a `Quantity` object.

One could try to specifically handle the case where the parameter are `uncertainties.uarray` objects, e.g. as done in [ExponentialCutoffPowerLaw.evaluate()](https://github.com/gammapy/gammapy/blob/master/gammapy/spectrum/models.py#L714), but I hav

[2017-05-24 09:28] cdeil opened #1047 "Improve 3D PSF kernel computation"
In a3c9bff38d17504d07cb4f9a5b871194430609cc @robertazanin and added a hack to make the 3D PSF kernel computation work for the CTA example. This is a reminder issue assigned to myself to put in a proper fix and add a test.

The problem is in [EnergyDependentTablePSF.table_psf_in_energy_band](http://docs.gammapy.org/en/latest/_modules/gammapy/irf/psf_table.html#EnergyDependentTablePSF.table_psf_in_e

[2017-05-24 09:39] cdeil opened #1048 "Introduce PSF kernel classes"
This is a follow-up to #1047. I plan to do this soon, but in case I don't have time, I'm splitting this into a separate issue.

Currently we use `SkyImage` and `SkyImageList` to hold PSF kernels.

This makes no sense to me. A sky image is a numpy array and a WCS object. A PSF kernel has no WCS object. So just using a Numpy array would be better, like others do (see e.g. https://photutils.readthedo

[2017-05-24 09:50] adonath commented on #1047
Sounds good to me. Maybe it's possible to make the API consistent with [integrate_spectrum](http://docs.gammapy.org/en/latest/api/gammapy.spectrum.integrate_spectrum.html#gammapy.spectrum.integrate_spectrum), where we used `xmin`, `xmax` and `ndecade`. I don't really care which parametrization to use. I slightly prefer the latter, because `ndecade` allows to set the precision of the integration in

[2017-05-24 10:00] cdeil commented on #1047
I'm also not sure what is the best option to offer callers concerning precision. There are use cases where `n_decade` works better and where `n_points` works better (e.g. for cube analysis, where users chose their energy binning so that it's appropriate and exposure, PSF and EDISP don't vary strongly within energy bins).

Some callers will probably need the full power of choosing the energy grid p

[2017-05-24 13:56] robertazanin opened #1049 "SkyCube.read: units lost"
I write my SkyCube obj in a file
 exposure_cube.write('exposure_cube.fits', overwrite=True)

Sky cube None with shape=(10, 300, 500) and unit=m2 s:
 n_lon:      500  type_lon:    RA---TAN         unit_lon:    deg
 n_lat:      300  type_lat:    DEC--TAN         unit_lat:    deg
 n_energy:    10  unit_energy: TeV

when I read it out
exposure_cube = SkyCube.read('exposure_cube.fits')

I lost info abo

[2017-05-24 14:02] adonath commented on #1049
Currently the `I/O` format has to be specified by hand and the default is `'fermi-counts'` (see [SkyCube.write()](http://docs.gammapy.org/en/latest/api/gammapy.cube.SkyCube.html#gammapy.cube.SkyCube.write)). Could you try:
[code]
And see if that works?

[2017-05-24 14:06] #1049 closed

[2017-05-24 14:06] robertazanin commented on #1049
Yep! Thanks!
Even though it sets the Energy to MeV :)

[2017-05-24 14:27] cdeil opened #1050 "SkyCube read doesn't read units correctly"
@robertazanin reported on Slack that currently SkyCube.read doesn't read units correctly.

E.g. this file: `examples/3D/exposure_cube.fits.gz` has this in the header:
[code]
but if read with Gammapy, it comes back at counts:
[code]

This is a reminder issue, assigned to myself, to fix unit handling in SkyImage and SkyCube I/O and to add tests.

For now, the workaround is to set units manually, lik

[2017-05-24 14:29] cdeil commented on #1050
I hadn't seen #1049 yet.
I have to go, but I'll look at what you discussed there.
But in any case, I'm not happy with the current unit handling / "formats" for I/O, so I'll keep this reminder issue open until it's in good shape (and tests added to establish the behaviour).

[2017-05-28 16:12] cdeil commented on #818
I've looked at this a bit. Indeed it seems that as @astrofrog said, the change would involve creating a new account on Appveyor and then making the change. More info here:
* http://help.appveyor.com/discussions/questions/1154-appveyor-account-for-github-organizations
* https://www.appveyor.com/docs/team-setup/

I'll prefer to leave as-is for now, as there's no real benefit to making the change. Ch

[2017-05-29 11:49] astrofrog commented on #818
@cdeil - the dashboard is generated automatically, but I'll see if there is a way to add an exception

[2017-05-29 16:20] cosimoNigro opened #1052 "FluxPointEstimator.compute_points(): missing uncertainties module"
Hi all,

I am trying to reproduce the steps in
https://nbviewer.jupyter.org/github/gammapy/gammapy-extra/blob/master/notebooks/spectrum_analysis.ipynb
with my own FITS files that contains IACT observations.
I got stuck at the point of creating spectral points, when I try to execute the ```compute_points()``` from FluxPointEstimator
[code]
I have the following error
[code]
I am using the 0.6 releas

[2017-05-29 16:29] cdeil commented on #1052
@cosimoNigro - Indeed `uncertainties` is  separate Python package that you should install:
https://pypi.python.org/pypi/uncertainties

It is available at https://anaconda.org/conda-forge/uncertainties , so you should be able to get it like so:
[code]
If that doesn't work, you can always try:
[code]

It's an optional dependency for Gammapy, that we use for parameter uncertainty propagation to deriv