[2018-05-03 18:14] cdeil commented on #879
Closing this old issue.
This was done by @joleroi recently in a0c231cf01475d0a2d60655d3a59a8aed6999002 and more cleanup in that directly is coming via #1403 .

[2018-05-03 18:14] #879 closed

[2018-05-03 18:16] cdeil commented on #24
This was done in #1240 . Closing.

[2018-05-03 18:16] #24 closed

[2018-05-03 18:25] cdeil commented on #1213
@registerrier - Close issue or keep open?

I want to release Gammapy v0.8, so moving milestone to v0.9 here.

[2018-05-03 18:28] cdeil commented on #1148
@registerrier - Assigning to you and moving milestone to v0.9.
Close this issue or is it useful for you to develop the new function that does ring bg estimation?

[2018-05-03 18:31] cdeil commented on #393
We now have this
http://docs.gammapy.org/dev/api/gammapy.cube.make_map_exposure_true_energy.html
but it's work in progress and the old code is still around and high-level docs need to be added.

So @registerrier - I'm keeping this issue open for now, assigning to you and moving milestone to v0.9.

[2018-05-03 18:33] cdeil commented on #1024
I'm closing this issue as duplicate.

We still don't have version coupling of the Gammapy code with the example files used in tests / docs, but there's  #1131 and other issues open that cover that, and it doesn't help to distribute the discussion across many issues and to keep those open.

[2018-05-03 18:33] #1024 closed

[2018-05-04 07:37] registerrier commented on #1242
OK Let's close.

[2018-05-04 07:37] #1242 closed

[2018-05-04 10:09] mackaiver commented on #1055
I'm afraid I don't have the time for it right now.

[2018-05-07 06:27] cdeil commented on #1055
The problem was that `with fits.open` with the default `memmap=True` didn't reliably close the mmap file at the end of the with block. I've changed to `memmap=False` in Gammapy everywhere in https://github.com/gammapy/gammapy/pull/1407.

We now have a uniform way of doing I/O, i.e. always `with fits.open(filename, memmap=False)`.
Closing this issue for now.

Of course, if in the future an issue ap

[2018-05-07 06:27] #1055 closed

[2018-05-07 08:13] cdeil commented on #925
I removed the image_pipe notebook :

https://github.com/gammapy/gammapy-extra/commit/c6303bdff6b663c17c3b55869f40116d5551084d

and also the old cube analysis notebooks:

https://github.com/gammapy/gammapy-extra/commit/2db123deb6ca7082fdd80daf4b233b41bb096d8c

This is part of the effort to rewrite map-based analysis (both 2D and 3D) in Gammapy and to remove SkyImage / SkyCube and the old image and

[2018-05-07 08:13] #925 closed

[2018-05-07 08:27] cdeil commented on #1348
The issues mentioned here should all be resolved in gammapy.master. Closing.

[2018-05-07 08:27] #1348 closed

[2018-05-07 08:33] cdeil commented on #917
This old notebook was removed (see https://github.com/gammapy/gammapy/issues/925#issuecomment-386992338)

New code is work in progress, the equivalent example for a 3D analysis and mean PSF / EDISP will appear here: http://docs.gammapy.org/dev/notebooks/analysis_3d.html

[2018-05-07 08:33] #917 closed

[2018-05-07 08:35] cdeil commented on #121
Closing this old issue. SkyCube is deprecated. New issues or feature requests for `gammapy.maps` welcome any time.

[2018-05-07 08:35] #121 closed

[2018-05-07 09:06] cdeil commented on #1254
Done in #1265 .

[2018-05-07 09:06] #1254 closed

[2018-05-07 09:17] cdeil commented on #1152
Moving to v0.9 milestone, keeping this issue open for now as a reminder to make the spectrum weighting nice and clear in the new code. Existing code like `BasicImageEstimator` will be removed anyways, doesn't make sense to work on that now.

[2018-05-07 09:33] cdeil commented on #425
I've moved this discussion to the format spec:
https://github.com/open-gamma-ray-astro/gamma-astro-data-formats/issues/107
and once that's resolved we can adapt Gammapy.

[2018-05-07 11:43] cdeil commented on #1271
Moving to v0.9, IRFs will need much more further thought / work.

Just a note: the thinking on this has reversed, the idea is now to make the NDDataArray an implementation detail on the IRF classes, and to expose what is needed to work with IRFs on the IRF class (re-exposing NDDataArray things for the IRFs that are implemented with this).

[2018-05-07 12:14] cdeil commented on #513
SkyImage and SkyCube is deprecated; would suggest to leave as-is.

But I'm keeping this issue open and moving to v0.9, because we should review and make sure the create / copy methods in the new gammapy.maps are nice and how we like them.

[2018-05-07 12:25] cdeil commented on #1396
I'm +1 to use `overwrite=True` default everywhere in Gammapy because it's what one wants most of the time (consistent with Python itself for `open`,  opposite to Astropy default). 🔪 ✂️ 🔥

@registerrier @joleroi  and all - please vote here.

[2018-05-07 12:29] cdeil commented on #1263
@lmohrmann or @registerrier  - This discussion ended in January. Is there a conclusion or is more discussion needed? Ideally we'd close out old issues or find action items (i.e. summarise proposed code changes or docs improvements) and move forward.

[2018-05-07 12:36] cdeil commented on #1175
We now have this: http://docs.gammapy.org/dev/api/gammapy.data.EventListLAT.html

I'm keeping this issue open for now (moving to v0.9 milestone) - remaining task is to improve the docs or add a factory method for event list read - it's still possible / too easy read an event list with the class that only works properly for IACT data:
[code]
gives
[code]

[2018-05-07 12:43] cdeil commented on #1132
@joleroi - Thoughts?

[2018-05-07 12:49] joleroi commented on #1396
+1 for ``overwrite=False``, better safe than sorry

[2018-05-07 13:04] cdeil commented on #336
This is a very old issue. The plan is to fully develop http://astropy-regions.readthedocs.io/ and use that in Gammapy. Keeping open for now with the "cleanup" label, because we still have to change Gammapy methods to use regions in several places (see comments above).

[2018-05-07 13:41] cdeil opened #1409 "Change Binder and tutorial docs to JupyterLab?"
In February 2018 [JupyterLab](http://jupyterlab.readthedocs.io/) was announced to by ready for users (see [blog post](https://blog.jupyter.org/jupyterlab-is-ready-for-users-5a6f039b8906)). I think it'll be another half year or more until they release 1.0, but that's only because work on the API and extension system is ongoing, for end users JupyterLab is in a good state, and conda and pip install

[2018-05-07 14:27] joleroi commented on #1402
I will make a PR

[2018-05-07 14:55] Bultako commented on #1409
@cdeil
I agree JupyterLab is the way to go.

I'll play with`environment.yml` file in `gammapy-extra` repo and fix the jupyter-links in the doc building in case of success.

[2018-05-07 15:26] cdeil commented on #1336
@ctrichard - Thank you for debugging this issue!

Here's the notebook you last showed:
https://nbviewer.jupyter.org/gist/cdeil/cd1862c9096db1731c0c59ad2b72f3d2

So if I understand correctly, you say that the bug is in `SkyImage.region_mask`, not in the reflected region computation?

Could you please try running this example?

[code]

I tried to create a test case for which you say in the notebook

[2018-05-07 15:36] cdeil commented on #1336
I tried all kinds of different combinations of frame for the sky image, the pointing center and the region center: http://docs.gammapy.org/dev/background/reflected.html

I always get the same, correct result, i.e. I'm not able to reproduce an incorrect reflected region result.

@ctrichard - Could you please try again and produce a minimal example that gives an incorrect result for you? (using the

[2018-05-07 16:06] cdeil opened #1411 "Add Gaussian spectral model"
One of the spectral models we are still missing in [gammapy.spectrum.models](http://docs.gammapy.org/dev/spectrum/index.html#module-gammapy.spectrum.models) is the Gaussian model:

* https://fermi.gsfc.nasa.gov/ssc/data/analysis/scitools/source_models.html#Gaussian
* http://cta.irap.omp.eu/ctools/users/user_manual/getting_started/models.html#gaussian

It is nice to have to test energy dispersion e

[2018-05-07 16:09] cdeil commented on #423
I'm closing this old issue. A docs example could still be added, but mostly this kind of functionality is outside the scope of Gammapy, we should concentrate on building a stable core package.

[2018-05-07 16:09] #423 closed

[2018-05-07 19:16] registerrier commented on #1396
I would also support `overwrite=False` as the default and have write(overwrite=True) in notebooks and example.

[2018-05-07 19:25] cdeil commented on #1396
Ha ha, then we have a tie: @woodmd and I like `overwrite=True` as default and @registerrier / @joleroi like `overwrite=False`. @leajouvin or @adonath - please vote.

[2018-05-07 20:26] leajouvin commented on #1396
I support the "better safe than sorry" of Johannes (-; so overwrite=False

[2018-05-08 07:34] cdeil commented on #1396
OK, then I'd suggest we change to `overwrite=False` consistently in Gammapy.
#1412 does the change for gammapy.maps, and #1413 for SpectrumExtract.

[2018-05-08 11:02] Bultako commented on #1409
@cdeil

We have a building a JupyterLab-Binder platform for the tutorials.
https://mybinder.org/v2/gh/gammapy/gammapy-extra/master?urlpath=lab

But... I do not have succeeded in associating a link to a specific notebook, so to open it directly from the static docs in JupyterLab-Binder. Fortunately, links to Standard-Binder notebooks from the static docs continue to work.

With JupyterLab-Binder we

[2018-05-08 11:31] Bultako commented on #1409
It would be nice, but I don't know how to do it :(
I make the PR then.

[2018-05-08 11:34] cdeil commented on #1409
How about adding a very small `notebooks/README.md`
with the link to http://docs.gammapy.org/dev/tutorials.html#notebooks for now?
Then it will appear in the file view on the left and many users will first click there.

[2018-05-08 11:59] Bultako commented on #1409
I think it's better a README.md file with links to the most important notebooks, maybe the same list as http://docs.gammapy.org/dev/tutorials.html#notebooks to start.
I'll check if it's possible.

The downside is that we will have to keep it up to date :(

[2018-05-08 12:03] cdeil commented on #1409
Yes, it's hard to maintain if duplicated. Linking to http://docs.gammapy.org/dev/tutorials.html#notebooks and maybe pointing out the getting started again is OK for now, no?

[2018-05-08 15:45] ctrichard commented on #1336
Hi @cdeil ,

Thanks for looking into this issue. Indeed I don't think the problem is the reflected background computation.
I have the same results as you for the example you presented in the previous comment.

Can you try this :

[code]

and then change lon by :
`lon=69.97601`

I don't have the same results in both cases.

I'm sorry I'm in holidays so I cannot do much more for the moment.

Cheers,

[2018-05-08 16:52] joleroi commented on #1402
I noticed that this will be a larger project because it cannot be achieved with the current XML serialization module. The issue is that different XML parameter map to the same parameter name in gammapy, e.g.

* ``Prefactor`` :arrow_right: ``amplitude`` (PowerLaw)
* ``Integral`` :arrow_right:  ``amplitude`` (PowerLaw2)

Since the parameter names have a separate registry than the model names at the

[2018-05-08 19:33] cdeil commented on #1402
I see: https://github.com/gammapy/gammapy/blob/c45c3d9e807e37231e413edbaac2562118c977b7/gammapy/utils/serialization/xml.py#L37

How about deleting the parameter registry and putting something like this instead?
https://github.com/gammapy/gamma-cat/blob/master/model_serialisation/spectral_models.yaml

I think either a bundled YAML file, or just typing it in `xml.py` like you have now is fine: YAML

[2018-05-09 09:41] joleroi commented on #1402
That would have been my first guess as well :+1:

[2018-05-11 18:06] cdeil opened #1417 "ImportError: libgfortran.so.4 with conda Sherpa 4.10"
In Gammapy we have a build that now fetches Sherpa 4.10 and fails like this:
https://travis-ci.org/gammapy/gammapy/jobs/377744827#L3797
[code]

I think basically we do the equivalent of this in our `.travis.yml`, but I'm not sure:
[code]

This build used to work with Sherpa 4.9, so presumably something changed in 4.10?
Or is our `.travis.yml` no good and we fetch e.g. a wrong `libgfortran` for som

[2018-05-11 18:26] cdeil opened #1418 "SpectrumFit run and write"
While doing the edit for #1413 I noticed that in `SpectrumFit.run` we currently do `if outdir: self._write` at the end:

https://github.com/gammapy/gammapy/blob/346fc531d5c4093a527324134cb15be21fa0d817/gammapy/spectrum/fit.py#L529-L543

IMO it would be better to remove that from run and let users that want to write call `write` (because more modular and explicit), i.e. make that public and mention

[2018-05-13 13:01] cdeil commented on #1396
Resolved via #1412 and #1413. Closing.

[2018-05-13 13:01] #1396 closed

[2018-05-16 06:17] cdeil commented on #1280
Fixed in 8af972d0 and https://github.com/gammapy/gammapy-extra/commit/7d75c3c0235fb484688324eeecc1294752b7df7a

[2018-05-16 06:17] #1280 closed

[2018-05-16 08:27] cdeil commented on #27
I'm closing this super old issue. Good example datasets for Gammapy are available now and more are in the works (e.g. from HESS and other IACTs).

[2018-05-16 08:27] #27 closed

[2018-05-16 10:56] cdeil commented on #1237
@adonath - Please review and comment on #1419.

It doesn't mention `gammapy.datasets`, but my thinking is that it will become mostly superfluous. Maybe we'll use it as the place where the `gammapy download` code and some code to make example simulated test datasets lives. That discussion is a next step that we could have e.g. at the coding sprint.

I'm -1 on attaching move code like `EventList.loa

[2018-05-17 11:50] joleroi commented on #1418
Agreed :+1:

[2018-05-17 11:51] joleroi commented on #1411
Unassigning myself to leave this to a ``package-novice``

[2018-05-29 14:06] cdeil opened #1423 "Auto-format Gammapy code?"
There's a new Python auto code formatter called [black](https://github.com/ambv/black). It can paint your code any color you want, as long as it's black. :-)

It's very easy to use, just give a file or folder and it will re-format all Python code in-place.
[code]

The idea of `black` is that they give no options to customise it. There's others like [yapf](https://github.com/google/yapf) that allow

[2018-05-29 15:45] #1230 closed

[2018-06-01 13:02] cdeil opened #1425 "Add benchmark for cta_data_analysis example notebook"
At the CTA hands-on session we used this notebook:
http://docs.gammapy.org/dev/notebooks/cta_data_analysis.html

It seems to be slow and once for me even ran into a MemoryError on Binder.

This is a reminder issue for myself to have a look at CPU / memory usage and try to improve (make it faster / use less memory).

[2018-06-12 08:03] MaxNoe opened #1427 "FluxPointEstimator is not documented"
There are many different ways to compute Flux Points. Mostly different kinds of unfolding.

What is used in `FluxPointEstimator`?

[2018-06-12 08:19] cdeil commented on #1427
Currently there is only one method: "npred equals excess".

* First reco energy bins are chosen, and the data in those bins contribute to a given spectral point.
* A spectral model shape is assumed, all parameters except the norm are fixed
* A 1D amplitude fit is done, to find the amplitude so that npred equals excess.

This is a pretty common method, what Fermi-LAT and HESS are doing.
The nice th

[2018-06-14 08:06] jlenain opened #1428 "gamma_rate wrongly computed in data.ObservationStats"
Hi,

We (@santiagopita and I) just noticed that `gamma_rate` is wrongly computed in `data.ObservationStats`. For instance, the final result in https://github.com/gammapy/gammapy-extra/blob/master/notebooks/cta_simulation.ipynb reports (entry 13) a `gamma_rate` of 2.51/min, while it should be `excess/livetime`~30/min.

I am not sure where the problem exactly lies, but to start with, I noticed that

[2018-06-15 11:31] registerrier opened #1429 "axis names not properly exported in Map.write()"
When using a map in regular (gadf) format (see http://gamma-astro-data-formats.readthedocs.io/en/latest/skymaps/index.html), the axis names are not properly exported in the BAND HDU. The columns are then AXIS0, AXIS0_MIN and AXIS0_MAX although the Primary header correctly states the name in the keyword AXLCOLS.
 This causes a failure in `Map.read()` because  AXLCOLS is not consistent with the colu

[2018-06-15 12:06] registerrier commented on #1429
The issue comes from `make_axes_cols` in `gammapy.maps.geom` which is called by `MapGeom.make_bands_hdu()`

I have tried to introduce a specific behavior by passing the convention to `make_axes_cols`. This solves the issue above but breaks the tests...

[2018-06-18 10:34] adonath commented on #1423
In general I support this idea. I think it is very helpful for developers, when the coding style is consistent. What I do not like is that with the auto-format after every commit, we artificially double the numbers of commits, which blows up our history. Can this process be automatized or shall we ask contributors to run the formatting tool themselves? How do other projects handle this?

I quickly

[2018-06-18 10:40] cdeil commented on #1423
Devs that know are experienced would just configure their editor to auto-format on save. Black is very new, but e.g. PyCharm and VSCode already support it and others are adding it, and there's also the CLI one can run. This would be described in the dev docs.

But if someone doesn't do this, as a reviewer I wouldn't argue but just do a follow-up commit, either directly when merging, or any time la

[2018-06-19 10:20] cdeil commented on #1429
Indeed, this seems to be a bug in `make_axes_cols`:
https://github.com/gammapy/gammapy/blob/c209481f42edf675dc5d675cb2fd4ffd1ec9873d/gammapy/maps/geom.py#L43

It happens when `map.write` is called for the case where an axis has been given an explicit name, that is different from the names `energy` and `time` that are special-cased. Like `name="e_true"` in the example by @registerrier above.

Here'

[2018-06-19 11:00] cdeil commented on #1429
For me the small change in #1433 fixes the issue and makes all tests pass.
I.e. I think it was a but that's localised in `make_axes_cols` for the case of having a custom axis name other than `'energy'`, `'time'` or the empty string `''`.

[2018-06-20 12:42] joleroi commented on #1428
Hi @jlenain

thanks for reporting this and sorry for the late reply. With the modification in #1434 I get

[code]

Please confirm that this is what you expect

[2018-06-20 13:56] registerrier commented on #1429
Issue solved by PR #1433 .
Closing issue.

[2018-06-20 13:56] #1429 closed

[2018-06-21 10:22] registerrier opened #1436 "Incorrect unit treatment in `make_map_exposure_true_energy` and `MapMaker`"
The unit is not given to the maps created by `make_map_exposure_true_energy`.
Similarly `MapMaker`creates an exposure map without instating its unit.
This should be corrected.

[2018-06-21 10:53] cdeil commented on #1436
For whoever takes this up: my suggestion would be to add a failing test first, and only then touch the implementation of `MapMaker`.

Note that `make_map_exposure_true_energy` has a test and is giving a good unit:
https://github.com/gammapy/gammapy/blob/34df2927fa897c948949122ab49d87d1f022b719/gammapy/cube/tests/test_new.py#L69
So the problem is in `MapMaker`, because it initialises an exposure ma

[2018-06-21 15:52] jlenain commented on #1428
Hi @joleroi ,

Thanks a lot for digging into it. This is exactly what is expected. I'll have a look at #1434 asap.

[2018-06-21 15:56] #1428 closed

[2018-06-25 08:03] adonath opened #1440 "Pixel coordinates clipping behaviour in gammapy.maps"
When transforming from pixel coordinates to indices using the `MapGeom` object, the pixel coordinates are clipped, when outside of the image range and an index of `-1` is returned. This might be the desired behaviour in some cases but I found it surprising. The option `clip=False` is without effect on the result.

Here is a minimal example:
[code]
Which returns `(array([-1]), array([-1]))` in both

[2018-06-25 08:17] cdeil commented on #1440
@adonath - See #1186 and #1208 where this was introduced.

As mentioned there, the idea is to return and "invalid" sentinel value instead of raising an error. This is what `astropy.wcs` does also. It's very common that one has arrays of coordinates, and wants the result for the good ones, even if some are invalid (e.g. in an AIT all-sky plot.

We should definitely introduce a constant for the sent

[2018-06-25 08:28] adonath commented on #1440
Yes, I think the minimal action would be to introduce a global constant and document the behaviour. What I found surprising is that `-1` is actually a valid index and is also returned for negative pixel coordinates, where I would rather expect that the values are clipped at `0`. But now I understand it's actually only used as a place-holder.

[2018-06-25 08:29] cdeil commented on #1440
The problem is that with `int` there is no good placeholder. If you want to make it a bit more obvious, you could use `-42`.

[2018-06-25 09:18] adonath opened #1441 "Allow axis names a keyword arguments in maps `..._by_coord()` methods?"
Currently all the `..._by_coord()` methods take either a `tuple`, a `dict` or an `MapCoord` object as argument. In https://github.com/gammapy/gammapy/pull/1438#discussion_r197163800 @registerrier suggested to allow the axis names directly as keyword arguments, which is a little bit more convenient to the user:

[code]
Instead of:
[code]
Shall we introduce this pattern everywhere in `gammapy.maps`?

[2018-06-25 09:34] adonath commented on #1441
Fine by me. I re-labelled the issue with **wishlist** instead of  the **1.0** milestone.

[2018-06-26 07:01] cdeil commented on #1329
Some references that might be useful examples to look at for indexing / slicing:
* http://www.numpy.org/neps/nep-0021-advanced-indexing.html
* http://docs.astropy.org/en/stable/nddata/mixins/ndslicing.html
* http://xarray.pydata.org/en/stable/indexing.html
* In Astropy, there is [APE 14](https://github.com/astropy/astropy-APEs/blob/master/APE14.rst) with implementation in Astropy started (https://

[2018-06-27 10:51] registerrier opened #1445 "HpxGeom.upsample/downsample incorrect behavior with partial skymaps"
When working with healpix region defined `HpxGeom` the `geom._region` attribute is not properly transferred to the new geom created by `HpxGeom.upsample()`. The same is true for `HpxGeom.downsample()`

This introduces an error when trying to create a new geometry with the upsampled geometry with `MapGeom.to_cube()`.

[code]

If now we do:
[code]

Maybe this is an expected behavior. @cdeil @woodmd

[2018-06-27 11:17] cdeil commented on #1445
I'll have a look next week.

[2018-06-27 11:32] joleroi commented on #1303
I talked to @dcfidalgo about the status of ``gammapy.data`` today. Later I found this issue describing the most important points already. I think what was suggested above is in scope for the gammapy coding sprint.

The first step would be introducing an ``Observation`` class that takes an event list and IRFs on init and is completely independent of a ``DataStore``. This class will be exposed to us

[2018-06-27 11:38] cdeil commented on #1303
@joleroi @dcfidalgo - Awesome!

Yes and no. If you're adding a new class or options, then yes. But touching many callers and lines during that week is not a good idea, because there will be ~ 15 people hacking on Gammapy that week, so everyone must make small and quick and focused PRs that don't tough too many lines / files, or it'll be chaos. So try to find a series of small PRs that iterate towa

[2018-06-27 11:42] joleroi commented on #1172
I would keep the ``ObservationTable`` and implement the most basic selection criteria, most importantly selecting observation within an ``astropy.regions``. It just a few lines of code but it's code that every user will need, so it doesn't hurt to have in done correctly in gammapy. We can always add docs on how to make fancier selection if need be.

Probably the ``ObservationTable`` class needs to

[2018-06-27 11:45] joleroi commented on #1336
What's the status here? Anything left to be done?

[2018-06-27 11:51] joleroi commented on #1284
#1280 is closed, can this also be closed?

[2018-06-27 11:53] joleroi commented on #1255
I think it's okay to ask people to put this one line

[code]

if they want all observations

[2018-06-27 11:55] joleroi commented on #1218
Related to #1172 - could be added if ``ObservationTable`` is rewritten.

[2018-06-27 12:15] cdeil commented on #1172
@joleroi - I think your suggestion from the last comment is OK, it's better than what we have now.

But IMO it's not a good long-term solution. The most common selections are region and time.
- The problem is that currently for astropy.regions one needs a WCS, whereas for observation selection one might want to do it for "true sky regions".
- The second concern I have is that region selection is d

[2018-06-27 12:19] cdeil commented on #1284
@mackaiver - Please re-open or file a new issue if there's still a problem.

[2018-06-27 12:19] #1284 closed

[2018-06-27 12:27] joleroi commented on #1132
Well, the issue lies in the finite resolution of the ``e_reco`` histogram in each bin of true energy. I modified @cosimoNigro script a little bit to illustrate this

[code]
![edisp_issue](https://user-images.githubusercontent.com/11678435/41973727-24d908e8-7a16-11e8-9e87-d6f2868827e5.png)

after changing the reco energy binning from 20 to 200 bins the problem is much less severe

![edisp_issue2](h

[2018-06-27 12:28] cdeil commented on #1336
@joleroi - I think making a notebook with the example by @ctrichard in the last comment, and showing / comparing the mask for `lon=68.97601` and `lon=69.97601` should be done.

It's not clear to me if there's a bug in `ref_image.region_mask` or just a misunderstanding that region selection is pixel-based and changing the ref point with TAN projection can slightly change results.

[2018-06-27 12:30] cdeil commented on #1132
@cosimoNigro - What to you suggest? Some change to the implementation, or docstring clarification concerning the method that's used for the computation?

[2018-06-27 13:05] joleroi commented on #1172
I guess thats a good short-term option. Once there are true sky circles and polygons in ``regions`` the helper function in ``gammapy.utils`` can probably go away since it should then really be only one line to select ``X`` in a region

[2018-06-27 13:06] joleroi commented on #1303
That's the plan

[2018-06-27 15:00] woodmd commented on #1445
Yes this is expected behavior.  An upsampled/downsampled map does not preserve the condition on which the DISK geometry is defined (all pixels with centers within X radius of some point on the sphere).  When you use upsample/downsample the geometry type is changed to explicit indicating that the geometry should be inferred directly from the pixels present in the map.  If you want to better preserv

[2018-06-27 15:42] registerrier commented on #1445
Thanks @woodmd !
So the issue is rather the fact that a `HpxGeom` with `explicit`geometry type cannot be extended with the `HpxGeom.to_cube()` method. Right?

[2018-06-28 12:08] cosimoNigro commented on #1132
Ok, I devoted a couple of hours and my opinion is: it is fine as it is.
What @joleroi is doing in the function to get the bias is:
1) compute the mean of `e_reco` in the node of `e_true` to which the input energy is close
https://github.com/gammapy/gammapy/blob/master/gammapy/irf/energy_dispersion.py#L366
2) get the `e_true` value of the node closer to the input energy
https://github.com/gammapy/g

[2018-07-02 15:34] cosimoNigro opened #1449 "selecting the number of OFF regions in the reflected regions background estimation"
Hello,

Would it be possible to choose arbitrarily the number of OFF regions to be used in the background estimation?
For example I would like to use only 3 OFF regions (I have to make a comparison as much similar as possible with an analysis done with another software).
I have tried to play with the `ReflectedRegionsFinder`, changing the `angle_increment` value but putting or not putting it does

[2018-07-02 15:42] cosimoNigro opened #1450 "Add theta2 plots in gammapy?"
Hi,

In MAGIC to have a quick look of the excesses in an observation and to assess their significance we use theta2 plots.
These are basically histograms of the ON and OFF counts in theta2 (angular distance from the centre of the on/off regions)
![theta2flare](https://user-images.githubusercontent.com/26409711/42173223-a22486d6-7e1e-11e8-92f6-13e438c0d0c1.png)
We count (integrate) the ON and OFF c

[2018-07-04 16:21] woodmd commented on #1445
I think there are two issues here:
* There seems to be a bug in how `HpxGeom` constructor handles the `explicit` geometry type.  Probably we need some additional unit tests for creating/reading/writing explicit geometries. We also neglected to add the EXPLICIT region geometry to the GADF healpix format.  This had been on my todo list but I never got around to it.  My initial thought was to do some

[2018-07-06 07:10] cdeil commented on #1450
Short answer: I'm not sure if / what kind of code we should add.

##### What we have already

- One method we already have is [EventList.plot_offset2_distribution](http://docs.gammapy.org/dev/api/gammapy.data.EventList.html#gammapy.data.EventList.plot_offset2_distribution) that makes the theta2 histogram from events. It doesn't do theta2 background estimation or handle multiple event lists, it's j

[2018-07-06 07:14] cdeil commented on #1436
Fixed by @AtreyeeS in #1448 .

@registerrier - If something is still to be done, leave a comment what it is and re-open.

[2018-07-06 07:14] #1436 closed

[2018-07-06 10:42] AtreyeeS opened #1453 "Difference in the functions `from_hdu_list()` and `from_hdulist()`"
Hello,

I am a bit confused by the difference in the two functions

`from_hdu_list()` in `class Map` (base.py) and `from_hdulist()` in `class MapGeom` (geom.py)

I can see that `from_hdu_list()` is used to properly call `from_hdulist()` , but maybe it is a bit confusing to an user to see 2 very closely named functions callable from a map object?

There is also a similar  `from_hdulist()` in `class

[2018-07-06 11:01] cdeil commented on #1453
For reference: see code in [Map.from_hdu_list](http://docs.gammapy.org/dev/_modules/gammapy/maps/base.html#Map.from_hdu_list) and [MapGeom.from_hdulist](http://docs.gammapy.org/dev/_modules/gammapy/maps/geom.html#MapGeom.from_hdulist). Also see other classes with [from_hdulist](http://docs.gammapy.org/dev/search.html?q=from_hdulist&check_keywords=yes&area=default#) or [from_hdu_list](http://docs.g

[2018-07-06 11:07] cdeil commented on #1453
I also think we should significantly extend the Gammapy.maps docs concerning FITS I/O.
This is what @woodmd wrote: http://docs.gammapy.org/dev/maps/index.html#fits-i-o
and @AtreyeeS just added [intro_maps.ipynb](https://github.com/gammapy/gammapy-extra/blob/master/notebooks/intro_maps.ipynb)

There are many FITS example files here:
http://gamma-astro-data-formats.readthedocs.io/en/latest/skymaps/i

[2018-07-06 13:58] cdeil commented on #808
I think most of these features are available now.
Please open specific new issues for things that should be added / changed / removed.

[2018-07-06 13:58] #808 closed

[2018-07-06 14:34] cdeil commented on #1048
This was done by @registerrier  in #1447 .
We'll have to see how to use this class, e.g. whether to expose more properties or methods there (e.g. to get the 2D or 3D kernel array), but I don't think this old issue describing the idea to introduce such a class is useful. Closing now.

[2018-07-06 14:34] #1048 closed

[2018-07-06 14:47] cdeil commented on #1353
@joleroi is continuing with the 3D analysis in #1454 and plans to update the notebook. I don't think this old issue is helpful. Closing.

[2018-07-06 14:47] #1353 closed

[2018-07-06 14:50] cdeil commented on #1262
Cleanup of Gammapy has been and is going on, I'm a big fan. However, in my experience it's best to handle one thing at a time, or to go file by file or sub-package by sub-package, and trying to tackle the technical debt by a list like the one above isn't efficient. So closing this issue.

[2018-07-06 14:53] cdeil commented on #1261
Along the lines of https://github.com/gammapy/gammapy/issues/1262#issuecomment-364461333 : I don't think this issue listing all TODOs in notebooks is helpful. Closing it now.

We will make a real effort to clean up and improve, and also to split the work among more contributors. But for that, I think we have to either do pair coding or make issues describing one specific task (e.g. how to improve

[2018-07-06 14:53] #1261 closed

[2018-07-06 15:03] cdeil commented on #982
@joleroi @dcfidalgo - Close this issue and discuss in #1451 ?

[2018-07-06 15:14] dcfidalgo commented on #982
:+1:

[2018-07-06 15:15] cdeil commented on #982
@joleroi - Please review and comment on #1451.

[2018-07-06 15:15] #982 closed

[2018-07-06 15:32] cdeil commented on #1
I'm closing old Gammapy issues. Ha ha, this was the first, from 2013. We don't have such a utility function, but it can be done with a few lines of code with the classed we have already, so IMO no extra utility function needed here.

[2018-07-06 15:32] #1 closed

[2018-07-06 15:42] cdeil commented on #8
I'm closing this old issue from 2013.

Possibly this could be nice to have, in CTA work is at the moment ongoing on methods to add systematics into measurements and sensitivity estimates. But I'd suggest to add what people request or send PRs for.

I've also removed `gammapy/stats/number_counting_utils.py` just now in 2ec9d443 .
That was also some code I added very early, where I was learning abou

[2018-07-06 15:42] #8 closed

[2018-07-06 15:44] cdeil commented on #9
Closing this old reminder issue from 2013. Suggest to focus on background template models for a while, and only add more esoteric background estimations later, when people request it.

[2018-07-06 15:44] #9 closed

[2018-07-06 17:07] cdeil commented on #136
Access to dust maps is available now in a few other packages.
https://github.com/kbarbary/sfdmap#alternatives

I don't think we want to add / maintain code for this to Gammapy.
Closing this old issue now.

Docs additions explaining the most relevant maps and how to get / use them with Gammapy would still be welcome of course, maybe even code if there are computations needed to go to gamma-ray emis

[2018-07-06 17:07] #136 closed

[2018-07-06 17:10] cdeil commented on #135
We have the [gammapy.background.GaussianBand2D](http://docs.gammapy.org/dev/api/gammapy.background.GaussianBand2D.html)
Should probably be re-written or wrapped as a spatial model that can be fit.
But it's not very common, not sure if someone really needs this.
So closing this old issue for now.

[2018-07-06 17:10] #135 closed

[2018-07-06 17:12] cdeil commented on #94
I'm closing this old issue from 2014.
Cleanup in Gammapy and improving code and tests is ongoing and will be for a while.
I just don't think this generic reminder issue will help.

[2018-07-06 17:15] cdeil commented on #37
Closing this old issue.

Many nice methods / a toolbox available here:
http://photutils.readthedocs.io/en/stable/

I'll add a mention of `photutils` in the docs now:
http://docs.gammapy.org/dev/detect/index.html

IMO we should first polish what we have, and add docs examples / notebooks showing what is already possible with Gammapy / photutils before adding more methods to Gammapy.

[2018-07-06 17:15] #37 closed

[2018-07-06 17:24] #36 closed, assigned to nobody

[2018-07-06 17:25] #23 closed, assigned to nobody

[2018-07-06 17:30] cdeil commented on #321
I did this a few months ago.
We now use click and have sub-commands:
http://docs.gammapy.org/dev/scripts/index.html
Closing issue.

[2018-07-06 17:30] #321 closed

[2018-07-06 17:32] cdeil commented on #608
Closing this old issue.

@woodmd did this work, introduced [gammapy.maps](http://docs.gammapy.org/dev/maps/index.html) in 2017 and it's in use in Fermipy now.

[2018-07-06 17:32] #608 closed

[2018-07-06 17:35] cdeil commented on #1148
Closing this old issue. Note that #1198 is still open.

[2018-07-06 17:35] #1148 closed

[2018-07-06 17:39] cdeil commented on #1152
@registerrier - Assigning this old issue to you and moving it to the v0.8 milestone.

It's discussing spectral weighting of the PSF with the old code.
I think that's not available yet in the new code you are adding for PSF evaluation?
So maybe worth keeping open as a reminder, and something to work on next week?

[2018-07-06 17:45] cdeil commented on #411
I'm not sure if we want this, but anyways there' still #780 open which is a PR and has more infos. Closing this old issue now.

[2018-07-06 17:45] #411 closed

[2018-07-09 09:34] cdeil commented on #1095
Now there is a nice example dataset available for lightcurve, the PKS 2155 flare from HESS:
https://github.com/cdeil/HESS-DL3-DR1-preview

I'd suggest to change the existing tutorial notebook (http://docs.gammapy.org/dev/notebooks/light_curve.html) to use that.

[2018-07-09 12:44] mackaiver commented on #1453
As far as I can see in the FermiPy repo, there are no  callers for either `from_hdu_list` or `from_hdulist`.

[2018-07-09 12:50] mackaiver commented on #1427
Is there a reference we can put in the docs? Otherwise I can just copy and paste what you wrote up there to the docs?

Only as long as e_reco bins are uncorrelated no?

[2018-07-09 12:56] cdeil commented on #1427
I'm not aware of a good reference. Suggest to put a description in the docs.

Or maybe you could mention `4.11.4 Flux points` in
https://ui.adsabs.harvard.edu/#abs/2018A%26A...612A...1H
and say like it's what's used in Fermi-LAT and maybe refer to one of the Fermi-LAT catalog papers (e.g. https://ui.adsabs.harvard.edu/#abs/2015ApJS..218...23A) or to Fermipy (http://fermipy.readthedocs.io/en/latest

[2018-07-09 14:24] mackaiver opened #1459 "Unclear usage for MapMaker"
Hi,

The documentation for the MapMaker class is a bit sparse. Also maybe this functionality can go into a `from_obersvations` method on the Maps class.

[2018-07-09 14:41] mackaiver commented on #1453
So the base class `Map` has a `from_hdu_list` which calls `from_hdulist` from the implementing class. Sounds like a typo to me.

[2018-07-09 15:12] cdeil commented on #1459
As a first step, I'd suggest to link from [here](http://docs.gammapy.org/dev/api/gammapy.cube.MapMaker.html) to [here](http://docs.gammapy.org/dev/notebooks/analysis_3d.html) in both directions.

So far the idea was to keep `Maps` a simple container, and have algorithms on it in other code. This isn't true for event list fill, and now we're discussing if PSF apply should be moved on Maps.
My initi

[2018-07-09 17:32] bsipocz opened #1461 "matplotlib minimum version is incorrect"
In `setup.py` the required minimum for mpl is set to be 1.5, while the code uses features that was introduced into mpl 2.1.
To filter out these cases, some older versions could be tested on travis, e.g. it can be easily controlled with the `MATPLOTLIB_VERSION` variable.

E.g.
[code]

[2018-07-09 19:04] AtreyeeS commented on #1453
From what I understand, the `from_hdu_list`  function is used to get the Map class using `_get_map_cls` and call the according `from_hdulist`. But since the map object already knows what geom it has, maybe we can do away with the `from_hdu_list` function?

Or at the very least, make it private so that it doesn't show up in the function suggestions?
Or maybe we shift completely to one naming and th

[2018-07-09 19:13] AtreyeeS opened #1462 "Axes transposed between maps and geom"
It seems that the shape of the non-spatial axes are transposed between the geom object and the map object.

eg: see lines 14 and 15 of https://github.com/gammapy/gammapy-extra/blob/master/notebooks/intro_maps.ipynb

ie, `geom4d.shape` gives (10, 3), while `map4d.data.shape` gives (3, 10, 300, 300)

@woodmd,  can you comment why this is so?

[2018-07-10 02:03] woodmd commented on #1462
Yes this is by design.  See #1180 for a detailed explanation of why the `data` axes are transposed.

[2018-07-10 02:16] woodmd commented on #1453
I don't think calling the method `from_hdu_list` instead of `from_hdulist` was intentional.  Since `from_hdulist` is used in the derived classes I agree it makes sense to use the same name for `Map`.

However I woudn't recommend removing this method from `Map`.  The `Map.read` method (which relies on `Map.from_hdu_list`) is useful for querying the contents of a file when you don't necessarily know

[2018-07-10 08:51] registerrier opened #1463 "unit is not transferred with Map.reproject()"
When doing the reprojection, the map unit is not transferred to the new map.

[2018-07-10 12:05] registerrier opened #1465 "Unit not conserved by WcsNDMap.make_cutout()"
The cutout from make_cutout does not have the unit of the parent `Map`. This is obviously a bug.

[2018-07-10 12:10] registerrier commented on #1465
OK. My mistake... It works. Issue is somewhere else.

[2018-07-10 12:10] #1465 closed

[2018-07-10 12:29] registerrier opened #1467 "Unit not properly transferred by Map.upsample()/downsample() methods."
`Map.downsample()`and `Map.upsample()`create new maps without transferring the unit to the daughter maps.

[2018-07-10 12:33] mackaiver commented on #1459
I think the name is misleading. A `maker` which doesn't return anything is surprising to me. In fact the 'maker' object keeps some state. The name 'maker' implies that it's creating an object. Usually this is the task reserved for constructors or initializers.  I expected this to work like a builder or even like a factory.

So I talked to @registerrier about this for a bit. So I think we could eit

[2018-07-10 12:44] mackaiver commented on #1453
Alright. So I'll rename the method.

[2018-07-10 12:57] mackaiver commented on #1262
If we keep doing trunk based development, maybe we can compromise and avoid this in official release versions starting with 1.0. I really think this also helps keeping up the overall code quality.

[2018-07-10 13:09] AtreyeeS commented on #1462
Thanks @woodmd !

[2018-07-10 14:54] registerrier commented on #1467
This is now solved by PR #1468

[2018-07-10 14:54] #1467 closed

[2018-07-10 19:14] cdeil commented on #1308
Fixed by @leajouvin  in #1472 . Closing.

[2018-07-10 19:14] #1308 closed

[2018-07-11 06:59] registerrier commented on #1463
This is now solved by #1473 . Closing issue.

[2018-07-11 06:59] #1463 closed

[2018-07-11 15:05] dcfidalgo opened #1481 "different `method` and `err_method`"
In `gammapy.spectrum.SpectrumFit` it gives an error when choosing different methods for `method` and `err_method`. I think we simply could get rid of the `err_method` and only use `method` ...
Would you ever need a different backend for the parameter and error estimation?
@cdeil @joleroi Objections?

As an reminder for me, i want to update the tests for SpectrumFit.

[2018-07-11 15:08] mackaiver opened #1483 "Plot in SpectrumFit changes model"
It's not an idempotent operation. It changes the parameters of the fitted model. This is dangerous since the plot output changes as well as the model parameters.

I found no wasy fix. I guess we could remove the method.

[2018-07-11 17:02] cdeil commented on #1481
I'm not sure, let's discuss tomorrow.

E.g. with Minuit there's the HESSE and MINOS to get errors. Sherpa also has the equivalent of a method that estimates errors based on second derivatives (like HESSE) or likelihood profile analysis (like MINOS). In principle I guess other might be added. So it might make sense to keep the `err_method` option, even if not used at the moment.

[2018-07-11 17:13] cdeil commented on #1483
@mackaiver - Do you have an example that shows that bug?

@joleroi - I think we previously had some issues where computing npred changed one of the model objects. Maybe @mackaiver is just accessing the wrong model object?

[2018-07-12 07:21] mackaiver commented on #1481
Or we add it back once we actually use it. --> less clutter.

[2018-07-12 07:26] mackaiver opened #1485 "Deprecate SkyImage"
Add deprecated flag to this.

https://github.com/gammapy/gammapy/blob/26df297191166ad1efc779bda3b9a97881f77db9/gammapy/image/core.py#L66

[2018-07-12 07:46] dcfidalgo commented on #1481
Then i think we should rewrite a bit the code, since now `err_method` is used to rather define the backend for the error estimation (iminuit, sherpa) than the actual method (HESSE, MINOS, ...).

[2018-07-12 07:59] adonath commented on #1481
For the `TSImageEstimator` there is an [error_method](https://github.com/gammapy/gammapy/blob/master/gammapy/detect/test_statistics.py#L94) argument, where I offered `covar` and `conf` as options, named after the corresponding sherpa methods (even though it does not use sherpa under the hood...). It be nice to make it consistent.

[2018-07-12 08:01] joleroi opened #1487 "Local test failure on python 3.6"
Since a few days I have several local test failures, when running on python 3.6. For example

[code]
On Python 3.6.2 the test [fails](https://gist.github.com/joleroi/1f91cd663bdf67e7b4b5926e6844dc3f)
On Python 3.5.3 if passes

Can anyone reproduce this and/or has any idea how to tackle this?

[2018-07-12 08:06] mackaiver opened #1488 "Iminuit Fit does not converge for Cash"
See the attached notebook. The fit works using 'wstat'. But not when using 'Cash'. Both work when using sherpa as a backend.

[iminuit_bug.ipynb.zip](https://github.com/gammapy/gammapy/files/2187668/iminuit_bug.ipynb.zip)

[2018-07-12 08:17] mackaiver commented on #1427
fixed in #1460

[2018-07-12 08:17] #1427 closed

[2018-07-12 08:23] adonath commented on #1487
The test passes just fine for me using Python 3.6 and pytest 3.5 / 3.6.2. Have you tried updating pytest?

[2018-07-12 08:47] joleroi commented on #1487
I was on the wrong conda channel ... so I indeed had an old version of pytest. Thanks @adonath

[2018-07-12 08:47] #1487 closed

[2018-07-12 10:17] joleroi commented on #1488
The problem with your fit is that you do not pass a background model even though you fit an observation with background.

There is, however, a fundamental problem in gammapy. When you simulated the observation, the background model is [folded](https://github.com/gammapy/gammapy/blob/master/gammapy/spectrum/simulation.py#L77) with the source IRFs. When fitting the obseration the background model is

[2018-07-12 10:18] mackaiver commented on #1488
Why does it work with the sherpa backend?

[2018-07-12 10:23] joleroi commented on #1488
Good point ....

You do not set the initial step size for the parameters. Apparently sherpa can deal with this better than iminuit. If you add the following line before the fit, it converges
[code]

[2018-07-12 12:22] robertazanin opened #1494 "scikit-image dependency"
In the downsample method in maps>wcsnd.py import skyimage from the scikit-image.
Do we really want this dependency? If so, it should be included in the installation instructions

[2018-07-12 12:44] mackaiver commented on #1485
Also this is deprecated if I understood correctly

https://github.com/gammapy/gammapy/blob/a861a63af8f56cb3732e88b81c961a25716b4b74/gammapy/image/basic.py#L25

[2018-07-12 13:03] registerrier commented on #1494
A priori, scikit-image is one of our dependencies. It appears the environment.yml file.  So it should be OK as is. Do you have an issue with this dependency?

There is apparently also a a block_reduce function in astropy. I don't know if they can be substituted  one with the other. Opinion @cdeil ?

[2018-07-12 13:18] adonath commented on #1494
@registerrier The `block_reduce` in Astropy requires `scikit-image` as well ([see here](https://github.com/astropy/astropy/blob/4cc41d398d85a7cb9610dec0736f011349c75c87/astropy/nddata/utils.py#L389)). So this does not make a difference. The policiy in Gammapy is that `sscikit-image` is an optional dependency.  If user want to use the functionality they have to install the package. I guess this sho

[2018-07-12 13:51] #1483 closed

[2018-07-12 17:17] cdeil commented on #1485
We did a "soft deprecation" for this already a few months ago:

https://github.com/gammapy/gammapy/blob/11ec6f308a34435bfa7379bc71c7cb6d9d8e616e/gammapy/image/core.py#L41-L46

Also explained in the v0.7 release notes:
https://github.com/gammapy/gammapy/blame/master/CHANGES.rst#L108-L119

I would like everyone to replace use of SkyImage with Map (e.g. in gammapy.detect).
But I would prefer not to s

[2018-07-12 17:17] #1485 closed

[2018-07-13 06:47] cdeil commented on #1459
I think the pattern we use is this:
[code]
I see simple alternatives like using many functions instead of grouping them on a maker class.
And also grouping the results in a dict and not storing it on the maker, but always letting the caller hang on to it.
Looking at the builder pattern link in your last comment, I don't really get it: three classes and the builder just dispatches set / get to anot

[2018-07-13 06:51] cdeil commented on #1262
@mackaiver - we have to work hard on cleanup and remove many things, and then we can start talking about 1.0 in the fall.

I still don't think this issue is useful, would suggest to close it.

(my preference would be that our issue tracker has few and short-term concrete bugs and tasks only, not "List of NotImplemented things" and other issues that take months and relate to 100 tasks)

[2018-07-13 07:29] cdeil commented on #1399
I think this was basically done by @AtreyeeS in #1484
We'll have to see if that works, but we can always re-open or have a new issue if needed.
Closing this one.

[2018-07-13 07:29] #1399 closed

[2018-07-13 08:48] mackaiver commented on #1485
And how are user supposed to know that?
Add a FutureWarning printing that statement.

[2018-07-13 08:53] MaxNoe commented on #1485
GammaPy is still in early development, it is not that widely used and it has a < 1.0 version number.

If there is stuff you want people to not use anymore, remove it.

[2018-07-13 09:00] mackaiver commented on #1262
Ok. Let's discuss version 1.0 later then.

[2018-07-13 09:00] #1262 closed

[2018-07-13 09:31] mackaiver commented on #1459
The point is this: A maker class (or builder or whatever) should have a 'make',  'build' or 'create' method which actually returns the object (objects) created.

That's how some of the other 'maker classes' in gammapy also behave.

The maker should not encourage access to the mutable intermediate objects.

[2018-07-13 09:46] cdeil commented on #1485
@mackaiver - We had the v0.7 release and did the soft deprecation via docs and changes to mention that users should transition to Maps. My preference would be that the transition is very far along for v0.8 and e.g. the BasicImageEstimator is removed next week. That's why I don't want to spend time adding lines that emit FutureWarnings in all the right places.

Also please note our development stat

[2018-07-13 09:48] mackaiver commented on #1485
👍 for simply removing deprecated things.

[2018-07-13 09:48] MaxNoe commented on #1485
Exactly. That means that just breaking stuff is ok.

[2018-07-13 09:50] cdeil commented on #1485
What I'm doing is to remove as soon as the same functionality is available in a better way.
Since we made good progress on maps analysis this week, e.g. the IACTBasicImageEstimator can go next week.
Since I know (and have authored) a lot of the old code, that cleanup is best done by me and other people like Axel that have been around for the past years.

[2018-07-13 16:48] tony32lin opened #1504 "Livetime correction using GTI ?"
We have been testing VERITAS DL3 files with GTI table with gaps ( due to weather, hardware ... etc) and found that the livetime isn't based on GTI in gammapy at the moment. Is there any plan to change this ?

[2018-07-13 19:20] cdeil commented on #1504
@tony32lin - Yes, we do plan to change Gammapy to use GTIs and use that for livetime computation.
Currently it's read from the EVENTS header keyword and GTI isn't used in Gammapy, because in HESS we only had one contiguous GTI per OBS_ID (and just throw away the few runs where a part in the middle is bad).

There is some thoughts in #1451 and this week we discussed this with @dcfidalgo and @jolero

[2018-07-15 20:50] cdeil commented on #344
We now have very general map classes in gammapy.maps, and also the gammapy.irf classes have been rewritten in the past years since this issue was filed. Closing.

[2018-07-15 20:50] #344 closed

[2018-07-15 20:51] cdeil commented on #393
Closing this old issue. We now have code to make exposure maps.

[2018-07-15 20:51] #393 closed

[2018-07-15 20:52] cdeil commented on #32
Not in scope for Gammapy. Closing this old reminder issue for myself.

[2018-07-15 20:52] #32 closed

[2018-07-15 20:55] cdeil commented on #158
Closing this old issue now. I guess it would be still welcome in `gammapy.astro`. But we should focus on analysis for a while ...

[2018-07-15 20:55] #158 closed

[2018-07-15 20:57] cdeil commented on #1198
I'm closing this old issue. I think it has been resolved in the old image estimator a few months ago, and anyways that code will be deleted very soon.

Please use gammapy.maps and the new MapMaker (see [tutorial](http://docs.gammapy.org/dev/notebooks/analysis_3d.html)), and do report any issue you find there!

[2018-07-15 20:57] #1198 closed

[2018-07-15 21:00] cdeil commented on #1209
Should be fixed in gammapy master now, since last week (see #1493).
If there's still any issue with energy grouping, please re-open or file a new issue!

[2018-07-15 21:00] #1209 closed

[2018-07-15 21:00] cdeil commented on #1158
Should be fixed in gammapy master now, since last week (see #1493).
Please try again!
If there's still any issue with energy grouping, please re-open or file a new issue!

[2018-07-15 21:00] #1158 closed

[2018-07-15 21:01] cdeil commented on #1368
Should be fixed in gammapy master now, since last week (see #1493).
Please try again!
If there's still any issue with energy grouping, please re-open or file a new issue!

[2018-07-15 21:01] cdeil commented on #1091
Should be fixed in gammapy master now, since last week (see #1493).
Please try again!
If there's still any issue with energy grouping, please re-open or file a new issue!

[2018-07-15 21:01] #1091 closed

[2018-07-15 21:07] cdeil commented on #637
I removed this old class today. The new `gammapy.irf.Background?D` classes already follow the coding pattern mentioned above.

[2018-07-15 21:07] #637 closed

[2018-07-15 21:08] cdeil commented on #612
Closing this old issue. The transition to gammapy.maps is very far along. SkyImage is deprecated. No point in spending time to polish it.

[2018-07-15 21:08] #612 closed

[2018-07-15 21:10] cdeil commented on #548
Closing this old issue. Half of the tasks above are done. The class is currently in pretty good shape, and anyways it's still unused. If we start using it in the future (e.g. for slowing observations, or for CTA), we can improve it further, but this old issue won't help.

[2018-07-15 21:10] #548 closed

[2018-07-15 21:11] cdeil commented on #496
Closing this old issue now. Such event cluster finding methods would still be welcome in gammapy.detect, but our focus is now on binned map likelihood analysis.

[2018-07-15 21:11] #496 closed

[2018-07-15 21:13] cdeil commented on #281
Closing this old issue now, not in scope for Gammapy. For data collection there is now https://gamma-cat.readthedocs.io/ and also the joint-crab paper will provide some example data from MAGIC and other IACTs.

[2018-07-15 21:13] #281 closed

[2018-07-15 21:14] cdeil commented on #219
Closing this old issue now.
We're using nbsphinx for the tutorials and I'm pretty happy with it.
Not sure if an image gallery approach would work well for Gammapy.

[2018-07-15 21:14] #219 closed

[2018-07-15 21:16] cdeil commented on #164
Closing this old issue. We have 100 bigger fish to fry and should focus on those for the next year. IMO it also helps to have the Gammapy issue tracker cleaned out and only important issues left, so that people know what to focus on.

[2018-07-15 21:16] #164 closed

[2018-07-15 21:18] cdeil commented on #1409
I think what we have now is just fine. Closing this old issue.
@Bultako - Thanks for switching Binder to JupyterLab and in general taking care of this!

[2018-07-15 21:18] #1409 closed

[2018-07-16 07:53] cdeil commented on #1494
Given that number of dependencies is a factor in the CTA ST selection, and that we only use one relatively simple function from scikit-image in one place, I would suggest that we just re-write that utility function ourselves to completely get rid of the scikit-image dependency.

The argument that Gammapy is interoperable with the scientific Python stack and scikit-image, scikit-learn, ... because

[2018-07-16 08:11] cdeil opened #1510 "test_spectrum_analysis_iact fail"
This test:
https://github.com/gammapy/gammapy/blob/8010f910e458d464002aae8646c46ec26069f0f5/gammapy/scripts/tests/test_spectrum_pipe.py#L32

is failing in this build because the `dnde` changed a little bit:
https://travis-ci.org/gammapy/gammapy/jobs/404319697#L3770

Locally I don't see the fail, I get the same expected values that are currently in the test file.
This is not failing in all builds,

[2018-07-16 09:05] cdeil commented on #1440
@adonath - I'd like to release Gammapy v0.8 in a week. What should we do here? OK to defer to v0.9, or do you think this needs to be addressed now?

[2018-07-16 10:38] cdeil commented on #1453
I had a look at this.

Using a simple example:
[code]
one finds
[code]
i.e. `SomeMap.read` will have `cls=SomeMap` and then call `SomeMap.from_hdulist`.

But what we have is incompatible signature of `Map.from_hdulist` (with argument `map_type`) and derived map `from_hdulist` (without argument `map_type`)
[code]
resulting in these errors:
https://travis-ci.org/gammapy/gammapy/jobs/402197541#L2092

[2018-07-16 10:55] cdeil commented on #472
I fixed the `test_snr.py` in cef28d73 . It's behaving as expected for me now.

The `gammapy/time/tests/test_plot.py::test_plot_fermi_3fgl_light_curve` seems to have been deleted in the meantime.

Closing this old issue.

[2018-07-16 10:55] #472 closed

[2018-07-16 11:46] joleroi commented on #1510
I see the failure locally, my guess is that the tests for spectrum pipe were not updated during the work on the flux points functionality during last weeks coding sprint. In [this](https://github.com/gammapy/gammapy/commit/31ea0ff23b8d7b0f82a29442bc023b40251cc0d7) commit ``dnde`` was changed for quite some other tests, so my suggestion would be to adapt the test value here as well

[2018-07-16 13:41] cdeil opened #1516 "Add code to make background models"
I deleted the old code we had in Gammapy to make background models (see #1513, #1515).
This was added when we and Astropy were very young, and before `gammapy.irf` and `gammapy.maps` existed.

In principle we want this code back, rewritten in a clean and simple way, using e.g. the `gammapy.irf.Background3D` class instead of the old `gammapy.background.FOVCube` class.

Probably this will take some

[2018-07-16 14:00] cdeil commented on #1510
But for me, locally with `master`, I get exactly the values as written in the test file.

Adding this line in the test:
[code]
I get these numbers: https://gist.github.com/cdeil/b1ccf760fcfc03711c6d0d2d2338fd88

@joleroi - Could you please try that also and past the result?
Maybe it's a float rounding issue where the energy bins are slightly different for you and me?

[2018-07-16 18:44] cdeil commented on #345
I'm closing this old issue. Those old helper functions were removed. We can add some conveniences or examples back once we have an event sampler.

[2018-07-16 18:44] #345 closed

[2018-07-17 06:29] cdeil commented on #1453
Should be resolved via #1469 .

[2018-07-17 06:29] #1453 closed

[2018-07-17 10:29] cdeil opened #1528 "Migrate gammapy.detect.test_statistics to gammapy.maps"
@adonath kindly agreed to migrate `gammapy.detect.test_statistics` to `gammapy.maps` later this week, and to maybe simplify the API and code or increase test coverage a bit in the process.

(I'll file some more issues to try to get a good overview of the work needed for v0.8 later today, and then ask for help / volunteers to get it done.)

[2018-07-17 10:43] cdeil opened #1529 "Migrate gammapy.image.profile to gammapy.maps"
The code in [gammapy/image/profile.py](https://github.com/gammapy/gammapy/blob/master/gammapy/image/profile.py) and [gammapy/image/tests/test_profile.py](https://github.com/gammapy/gammapy/blob/master/gammapy/image/tests/test_profile.py) should be migrated from `SkyImage` to `gammapy.maps`.

A minimal PR for this would be welcome, that should be relatively quick; the goal is just to have no more `

[2018-07-17 11:05] cdeil opened #1530 "Migrate gammapy.detect.cwt to gammapy.maps"
The code in [gammapy/detect/cwt.py](https://github.com/gammapy/gammapy/blob/master/gammapy/detect/cwt.py) and [gammapy/detect/tests/test_cwt.py](https://github.com/gammapy/gammapy/blob/master/gammapy/detect/tests/test_cwt.py) should be migrated from `gammapy.image.SkyImage` to `gammapy.maps.WCSNDMap`. That should be relatively straightforward, because the algorithm is Numpy array based and can rem

[2018-07-17 11:54] cdeil commented on #1529
There's also the question what to do about the related [gammapy/image/measure.py](https://github.com/gammapy/gammapy/blob/master/gammapy/image/measure.py).

@adonath - Please comment what you propose for the API in those two files.

[2018-07-17 13:43] facero opened #1531 "initial step sizes in SkyModel in 3D analysis"
When performing a 3D fit with a Skymodel, the user has to specify reasonable values for the steps in the iMinuit fitting process. This is currently done via the skymodel.parameters.set_parameter_errors  interface.

 If no values are provided iMinuit assumes that the step is one. This is wrong for all our parameters (and super wrong for the amplitude parameter).
After playing around some values, th

[2018-07-17 13:53] cdeil commented on #1531
I think leaving this to users is possible; that's what Fermi ST do e.g., they just use the "scale" and "error" and pass that on directly to MINUIT?

But IMO it would be better to handle this by default for the user. Could be done either by a generic scaling of parameters to value 1 in the interface to the optimiser and error estimator, or even by using our domain knowledge that e.g. for RA and DEC

[2018-07-17 14:13] adonath commented on #1531
I think we should use our domain knowledge to introduce a sensible default step size for the model parameters. This could be attached to the `Parameter` object by a hidden attribute `._minuit_default_stepsize`. When parameter errors are available, those would be used instead.

The more powerful concept might be to introduce a `scale` attribute for the `Parameter` class as suggested by @cdeil, whic

[2018-07-17 14:15] joleroi opened #1532 "What's the correct value for errordef in iminuit?"
see https://github.com/gammapy/gammapy/blob/master/gammapy/utils/fitting/iminuit.py#L88

Reminder:
out fit statistic is -2 log (likelihood)
https://github.com/gammapy/gammapy/blob/master/gammapy/stats/fit_statistics.py#L58

[2018-07-17 14:31] facero commented on #1531
Lessons learnt from Fermi:
- the way this is handled in Fermi and (probably) in ctools is that all parameters are scaled to ~1 in the XML. Minuit doesn't know anything about the physical parameters.
One important difference is that in Fermi gtlike, the RA, DEC position are not let free. So it's only spectral parameters that are scaled to 1. But how to scale RA, DEC ?
- When the amplitude of the PO

[2018-07-17 15:03] HDembinski commented on #1531
- Minuit works more reliably when all fitted parameters of the model are of similar scale. Internally, it does linear algebra that involves summing. In a sum you lose numerical precision when you add numbers which differ at lot in magnitude. If you have parameters of O(1) and O(1000), I wouldn't worry, but I would worry when it is O(1) and O(1e10). It is always possible to scale the parameters in

[2018-07-17 15:38] facero opened #1533 "PSF issues when fitting Gaussians ?"
When trying to fit a Gaussian in CTA DC1, I get some residuals even when fixing the truth sigma read from the model.

When the sigma is fixed to truth model (0.06°) there are some positive residual in the core
![gaussian-fixed-truth](https://user-images.githubusercontent.com/8652898/42827309-5b17aa9c-89e6-11e8-99be-c39e5b568777.png)

When the sigma is let free the best fit is 0.048° and there are

[2018-07-17 15:58] facero commented on #1533
So I tried with smaller energy bins (20bins/decade) to see if the sampling of the IRF was enough and also smaller pixels and the result is the same. Below is the best-fit Gaussian model
![gaussian-bestfit-smallbins](https://user-images.githubusercontent.com/8652898/42830107-f2bac0f6-89ea-11e8-944a-f4bb8337e607.png)

[2018-07-17 19:02] cdeil commented on #1531
Let's make this issue a focus in our Gammapy call this Friday ([link](https://github.com/gammapy/gammapy-meetings/tree/master/2018-07-20)).

All of the options mentioned are good one, it'll be hard to choose what to bake into Gammapy, it needs some experimentation.

If someone plans to work on this already this week, I think there's two ways to proceed:

1. Add a "scale" in [Parameter](https://git

[2018-07-17 19:33] cdeil commented on #1533
@facero - Thanks for this!

This can come from different effects:
- PSF interpolation in FOV offset done differently in the ctools simulation and Gammapy evaluation?
- Mean PSF computation and PSF kernel computation in Gammapy OK?
- Still need to apply npred-weighting of PSF with an assumed spectrum for better precision?
- Still need to apply EDISP?
- Bug in Gammapy?

They need to be checked one b

[2018-07-18 06:48] cdeil opened #1537 "Simpler names for map evaluator and fit?"
In #1536 I did a few small renames for the map functions towards more consistency.
I think we should consider a few more renames to go towards a simple and consistent API this week, before making the v0.8 release, especially for the new things that were never shipped in a stable release yet.

This is one change I'd like to make:
* SkyModelMapEvaluator -> MapEvaluator
* SkyModelMapFit -> MapFit

Th

[2018-07-18 06:52] cdeil commented on #1462
@AtreyeeS - I'm putting this on the v0.8 milestone and assigning to you.

Please update the map intro notebook with an explanation about axis order, and change the example so that the spatial axis have different length. E.g. 200 x 100 pixels or anything you like, as long as in printouts of `shape` the order of the axes is visible as `(200, 100)` or `(100, 200)`, instead of the current `(300, 300)`

[2018-07-18 06:59] cdeil commented on #1047
@registerrier - I'm deferring this issue to the v0.9 milestone.

I think the new way to make PSF kernels is mostly [PSFKernel.from_table_psf](http://docs.gammapy.org/dev/api/gammapy.cube.PSFKernel.html#gammapy.cube.PSFKernel.from_table_psf)? Probably what should be done is to add options for spectrum weighting or better integration in energy there?

Note that in Fermi-LAT the PSF (represented by `

[2018-07-18 07:54] cdeil opened #1538 "Implement combined exposure and energy dispersion"
In #1503 we added energy dispersion to the map evaluator and 3D analysis. It's optional, if an `edisp` is given it's applied (should be more correct, but much slower),  if it's not given it's not applied (should be a bit incorrect, but fast).

There is an approximate way to apply `edisp` not on each evaluation, but to combine it with `exposure` assuming some spectral shape (e.g. power-law with ind

[2018-07-18 08:04] cdeil commented on #1285
I'm making a decision here.

In Gammapy, we keep the `plot` or `peek` methods on some objects, e.g. map or IRFs.

These are "peek" or "quick look" methods, just like `print(something)` should give a small text summary what the object contains.

The proposed alternative of separate plotter functions or classes is not as nice for users: it's much harder to discover than typing `something.<TAB>` in i

[2018-07-18 08:04] #1285 closed

[2018-07-18 08:07] cdeil commented on #4
I'm closing this old issue.

We now have https://github.com/gammapy/gammapy/blob/master/gammapy/utils/coordinates/fov.py and I've removed the old example scripts mentioend above.

The task of connecting this to the analysis code and improving the transform implementation is still todo, but for that I'll open a new issue describing what exactly should be done.

[2018-07-18 08:07] #4 closed

[2018-07-18 08:10] cdeil commented on #947
This issue is mostly done. Closing. Lea added a Background2D class.

Proper transform to FOV coordinates in analysis still needs to be done, for that I'll open a new issue with a description.

[2018-07-18 08:10] #947 closed

[2018-07-18 08:30] HDembinski commented on #1531
In principle, Minuit2 in C++ supports arbitrary transformations between "external" and "internal" parameters. This is currently used to implement bounded parameters, by mapping a parameter that goes from a to b to an internal parameter that goes from -inf to inf. This machinery could be used to also rescale parameters internally. The advantage of doing it on this deep level would be, that you don'

[2018-07-18 08:42] cdeil commented on #1531
I think we should do such things in Gammapy. Note that we plan to have other fitting backends, notably Sherpa and emcee, and some tricks like e.g. transforming flux to log flux should likely be applied there as well.

@HDembinski - In `iminuit`, I would always start with a docs example, and only if several users request it make code additions. Looks like this is what we currently have:
http://nbvi

[2018-07-18 09:11] cdeil opened #1540 "Add utility functions or docs for working with TS values"
Something most gamma-ray astronomer struggle with is converting likelihood value differences (TS values) between two fitted models (e.g. with and without background) into p-values or significances, that are usually stated in papers.

The problems are:
- one has to understand the statistics (Wilk's theorem) and how to do the computations involving the chi2 and normal distributions.
- one has to kno

[2018-07-18 09:12] facero commented on #1537
I agree that the prefix Sky is confusing and that `SkyModelMapEvaluator` is too long. This is the moment to change names are few people/examples are using it.

[2018-07-18 09:14] joleroi commented on #1537
I don't like the name ``XEvaluator`` since it doesn't evaluate ``X``. I chose ``CountsPredictor`` because the task of the class is to predict counts, but I don't need to keep the name.

In the long run I would prefer an API similar to sherpa, where you say
[code]
or if you want only a subset of the IRFs
[code]
but this is certainly a longer project (not for the next release).

[2018-07-18 09:22] AtreyeeS commented on #1537
I think we do really need to change our evaluator in the long term to allow different PSFs for different sources. I really like @joleroi 's approach in this regard...

But for the moment, if we are doing some name cleanup, I would +1 for changing the name `SkyModelMapEvaluator` to `MapEvaluator` and so on...

[2018-07-18 09:34] AtreyeeS commented on #1532
I can try this check... maybe later today or early tomorrow

[2018-07-18 09:38] cdeil commented on #1532
@AtreyeeS - Thanks!
I assigned the issue to you.

Maybe you could also send a PR that removes the TODO comment @joleroi linked to above,
and adds a few asserts on the parameter errors in this test? (low precision, with `rtol=1e-2` like we have for the parameter values)? Then we'll have a regression test.

https://github.com/gammapy/gammapy/blob/c886a411f24a011459ca4a3a8d701180ea8e1f19/gammapy/cube

[2018-07-18 09:56] HDembinski commented on #1531
That is an excellent argument, agreed.

Full ack on the suggestions for improving the tutorial and mentioning this issue there.

[2018-07-18 09:59] cdeil commented on #1459
My suggestion would be to add `MapMaker.run` and put the equivalent of [IACTBasicImageEstimator.run](http://docs.gammapy.org/dev/api/gammapy.image.IACTBasicImageEstimator.html#gammapy.image.IACTBasicImageEstimator.run).
I would not suggest a complete restructure of `MapMaker` now, i.e. keep the current structure with the mutable data members.
This will be nice for users, and also provide an API th

[2018-07-18 10:11] facero commented on #1531
So I was struggling to fit the supernova remnant RXJ1713 with a Disk model and the fit always failed to converge. I found the problem: the initial value for the amplitude was too far from the solution. I had amplitude=1e-12 whereas the truth value was 1.5e-11 (the step size was 0.1e-12).

This is probably a good example of why working with very small values is a bad idea.
In CTA data we will have

[2018-07-18 11:46] joleroi opened #1541 "notebook links in documentation are broken"
The ``gp-extra-notebook`` sphinx directive has [recently been modified](https://github.com/gammapy/gammapy/pull/1286). I'm not sure what the intended behaviour is, but the online documentation does not work for me anymore.

For example the link on [this page](http://docs.gammapy.org/dev/api/gammapy.spectrum.SpectrumSimulation.html) links to ``http://docs.gammapy.org/notebooks/spectrum_simulation.h

[2018-07-18 12:01] HDembinski commented on #1531
@facero Just to clarify, if all your parameters are O(1e-12), that's ok. It is bad if you have an amplitude with a scale 1e-12 and a gamma exponent which is of O(1). The problem only occurs when you fit several parameters simultaneously. When you only fit one parameter, don't worry about its scale.

When you change your fit to use log(norm) instead of norm, it helps with the convergence issues. I

[2018-07-18 12:06] facero commented on #1531
@HDembinski  thanks for the summary it was very clear.
As you say the problem in my case is that I'm trying to fit multiple parameters which have very different scales. In my example I have :
- RA ~ 258
- DEC~ -39
- radius~0.1-1
- POW index ~2-3
- amplitude ~ 1e-13 - 1e-11

so quite messy indeed.

[2018-07-18 15:05] AtreyeeS opened #1542 "Suppressing output on jupyter notebooks for fit"
Is there any way to suppress the output on the screen for

`fit = SkyModelMapFit(
    model=model.copy(),
    counts=counts_map,
    exposure=exposure_map,
)`

`fit.fit()`

This prints results on the screen, and can be very disturbing when fitting inside a loop (eg: for a large number of simulations)

[2018-07-18 16:19] cdeil commented on #1542
I think for this one has to pass `print_level=0` to `Minuit`.
@joleroi - Is it possible to pass such options at the moment?

[2018-07-19 07:28] cdeil opened #1545 "Update FermiLATBasicImageEstimator to gammapy.maps"
I plan to update the FermiLATBasicImageEstimator to gammapy.maps in the following way:

- Update [data_fermi_lat.ipynb](http://docs.gammapy.org/dev/notebooks/data_fermi_lat.html) to give very similar output (maybe the images will be slightly different because of energy binning or spectral weighting isn't done the same)
- Update this to give the same result (or again - almost the same):
https://git

[2018-07-19 12:12] cdeil commented on #1541
Current we generate a link to http://docs.gammapy.org/notebooks/spectrum_simulation.html which doesn't exist. The "version" part in the URL is missing, e.g. for the dev version this exists: http://docs.gammapy.org/dev/notebooks/spectrum_simulation.html

Previously I think we didn't have the version coupling, so the problem with linking between Sphinx notebooks and RST docs in different versions wa

[2018-07-19 12:42] AtreyeeS commented on #1459
Hello @cdeil, @mackaiver  : Are you working on `MapMaker.run` ? If not, I can do it now.

[2018-07-19 13:11] Bultako commented on #1541
@cdeil
@joleroi

I'll rebuild locally and hope to get the same broken links for the notebooks. If this happen I think it could be just a silly problem of definition of relative paths, not related with version coupling (which is a bigger issue...)

[2018-07-19 13:18] cdeil commented on #1459
@AtreyeeS - Please go ahead. Assigning this issue to you.

[2018-07-19 13:56] adonath opened #1547 "Cloning / copy pattern for Gammapy maps"
In the Gammapy code we have many use cases, especially with `Map` objects, where we want to basically clone an object and modify a selection of its attributes. E.g. cloning a `Map` object and then set its data, meta or unit attribute. Currently this is typically done as follows:

[code]
This patter is inefficient, because data is copied and thrown away again. It is also error-prone because, people

[2018-07-19 14:17] AtreyeeS opened #1548 "Possibility of having "extra" functionalities for gammapy"
It seems to me that we are often having cases which would be nice for users to have, but painful for developers to maintain (eg: the profile plot in #1543 or options to simulate date with real background #1330)
These can be worth 10-15 lines of code I guess, so I was wondering if we can have an "extra" repository with a few functionalities, which doesn't go into the main gammapy repo? I am thinkin

[2018-07-19 14:54] cdeil commented on #1547
I like `clone`. A clone is by default an exact copy, but then can have attributes that are different if the caller requests it in the call.

[2018-07-19 15:11] registerrier commented on #1547
I am +1 for clone.

[2018-07-19 15:16] registerrier commented on #1548
We definitely need a place for specific but non core functionalities if we want to keep gammapy lean. Maybe contributed is a good choice.

[2018-07-19 15:54] cdeil commented on #1548
@AtreyeeS - Good point.

I agree that we basically want this, but how to set it up needs a lot of thought and discussion.

This will need a PIG. If someone wants to start writing it, great, and then we can discuss it at the fall Gammapy meeting. For now my preference would be that everyone with time helps to build the Gammapy core functionality, there's still so much to do.

Even a `contrib` needs

[2018-07-20 07:03] cdeil commented on #695
I'm closing this old issue. The `SkyMask` class is gone since a long time. In Gammapy.maps we now mostly use `self.__class__` to make new objects as suggested above.

An IMO even better pattern is to use `clone`. For this we still have #1547 - please comment there.

[2018-07-20 07:03] #695 closed

[2018-07-20 08:04] adonath commented on #1548
@AtreyeeS I also think this a very good suggestion!

I'm not sure if it should even be a separate repository or sub-module of Gammapy, because then we somehow commit to maintain the code. In it's simplest realisation it could be just a docs page, where people can link to their projects, interesting analyses or useful code snippets using Gammapy.

[2018-07-20 08:08] joleroi commented on #1548
A good example for this are the ``CTAPerf`` and CTAIrf`` classes we currently have in gammapy.scripts. When updating the ``cta_simulation`` notebook I also felt that it might be usefull to somehow keep these classes to avoid that everyone has to write the same 10 lines of wrapper code again.

Spontaneously I would think that notebooks are a good way to share this, but I agree that this is quite a

[2018-07-20 09:25] AtreyeeS opened #1550 "Incorrect results for SkyPointSource"
The SkyPointSource spatial model gives a wrong npred.

eg:

`spatial_model = SkyGaussian(
    lon_0='0.2 deg',
    lat_0='0.1 deg',
    sigma='0.01 deg',
)
spectral_model = PowerLaw(
    index=3,
    amplitude='1e-11 cm-2 s-1 TeV-1',
    reference='1 TeV',
)
sky_model = SkyModel(
    spatial_model=spatial_model,
    spectral_model=spectral_model,
)'
'evaluator = MapEvaluator(sky_model, exposure=ex

[2018-07-20 09:36] cdeil commented on #1547
Decision in Gammapy dev call today: `clone`.
Axel will add this very soon.

[2018-07-20 09:38] adonath commented on #1550
I'm pretty sure that this is an issue of flux vs. surface density, so a missing division by the solid angle of the pixel. I'll look into it...

[2018-07-20 09:58] cdeil commented on #1550
@AtreyeeS - If you do the checks in a bit more systematic way, it could either be Python scripts or notebooks in gammapy-extra, and/or it could by one test per sky model with an assert on an npred when passing it to a SkyModelEvaluator. Then we know where we stand, and can refactor evaluation between the sky model evaluate and the evaluator.

[2018-07-20 10:06] AtreyeeS commented on #1550
I see that just the test for the SkyPointSource` woks well, but the  MapEvaluator has tests only for the `SkyGaussian` spectral model. I am guessing that the error lies there.
Cleaning up my pull distribution code now.

[2018-07-20 10:08] Bultako commented on #1541
Fixed

[2018-07-20 10:08] #1541 closed

[2018-07-20 10:46] cdeil commented on #1548
I think the new data / obs classes will contain a convenience to load the four IRFs for an obs, see the `Observation` class here: #1546

The other classes there are really useless, just a remnant of preliminary formats / discussion / checks concerning IRF formats.

We should support all CTA IRFs moving forward directly in Gammapy.

Notebooks are nice for docs examples and to copy & paste from.
But

[2018-07-20 11:24] cdeil opened #1551 "Finish clean-up of gammapy.scripts"
This issue is to continue the cleanup and discussion started in #1517 of gammapy.scripts.

What's there?
* In v0.7: http://docs.gammapy.org/0.7/scripts/index.html#module-gammapy.scripts
* In dev: http://docs.gammapy.org/dev/scripts/index.html#module-gammapy.scripts

I removed the `CTAObservationSimulation` and `ObservationParameters` and `Target` class in #1517, and would also like to remove the r

[2018-07-20 11:42] cdeil commented on #1542
@dcfidalgo - Just one more thought on this how to configure the Minuit fit.

One option is to add option dicts that are passed along.

But another option might be to change this:

https://github.com/gammapy/gammapy/blob/1a43d653ac8a8a528c7dbd7fc4c61160a3e1e773/gammapy/utils/fitting/iminuit.py#L42-L46

It's probably not a good idea to create `Minuit` and call `migrad` in the same function.
Note tha

[2018-07-20 11:51] facero commented on #1533
So I tried to simulate sources using the [simulate_3D notebook](https://github.com/gammapy/gammapy-extra/blob/master/notebooks/simulate_3d.ipynb). The **pixel size for this study is 0.005°** and E=0.1-10 TeV with 20 bins and the source is the center of the FoV.

When simulating a point source and comparing it to the PSF, the residuals come out almost perfect (residuals are ~1e-8):

![ptsource-psf]

[2018-07-20 12:03] cdeil commented on #1533
Is it still possible to run without a PSF by passing no PSF kernel to the evaluator of fitter?
Does that give correct results for Gaussians?

Or prepare a kernel which has a single pixel with 1 at the center, i.e. should be a no-op in the PSF apply?

What is your PSF containment in the kernel. If it's truncated I guess you would find this residual, no?
Can you make the PSF kernel larger to be full

[2018-07-20 12:14] cdeil opened #1552 "Change to from CompoundSkyModel to SumSkyModel"
One of the highest priority items in Gammapy is to enable the fitting of two Gaussian models, or generally for the multiple models that have a parameter with the same name. This is currently not possible using the [CompoundSkyModel](http://docs.gammapy.org/dev/_modules/gammapy/cube/models.html#CompoundSkyModel), because there a list of parameter names is made, some are the same, and `iminuit` need

[2018-07-20 12:44] dcfidalgo commented on #1542
@cdeil Sorry, i just read your response now. I already submitted a PR where i pass along a `dict` ...
Let's go with the `dict` for now and leave major changes to some long term solution.

[2018-07-21 08:16] cdeil commented on #1542
Resolved by @dcfidalgo in #1553.

[2018-07-21 08:16] #1542 closed

[2018-07-23 06:34] cdeil commented on #1459
@AtreyeeS - Another thing I noticed is that the `MapMaker` has a `count_map` (without s), but in most other places in Gammapy I think we have it with s, e.g. here:
http://docs.gammapy.org/dev/api/gammapy.cube.make_map_counts.html
Could you please change the map name to `counts_map` on the MapMaker?

[2018-07-23 06:45] cdeil opened #1555 "Update Jupyter notebooks"
After the many changes in the past two weeks, several of our notebooks are broken.

This is a reminder issue to update them all this week.

I'm assigning this to myself for now, but if someone wants to edit a notebook, please just leave a comment here, so that we don't overlap. (cc @AtreyeeS @adonath @registerrier @facero)

I would also like to replace any import of `SkyImage`, `SkyCube`, and the

[2018-07-23 10:46] cdeil commented on #1555
I updated the `analysis_3d` to add a sky model fit: [new version](https://github.com/gammapy/gammapy-extra/blob/d8d6e6fc5bc2ac1a69e279875bd7172dee010d42/notebooks/analysis_3d.ipynb)
Needs more work in Gammapy and then another update later this week.

[2018-07-23 12:32] AtreyeeS commented on #1459
Sure!
I am adding a MapList class similar to the `SkyImageList` (http://docs.gammapy.org/dev/api/gammapy.image.SkyImageList.html#gammapy.image.SkyImageList).

[2018-07-23 12:32] cdeil commented on #1555
Updated `first_steps` to use gammapy.maps: see [here](https://github.com/gammapy/gammapy-extra/blob/master/notebooks/first_steps.ipynb).

[2018-07-23 12:38] cdeil commented on #1459
@AtreyeeS - Please don't add a `MapList` class.

Let's just use dicts for now to hold multiple objects.

If you or @adonath or others feel that we should re-introduce such convenience classes as `MapList`, it can be discussed in the future. But for now, I want us to keep it simple.
Note that I myself added such classes to Gammapy in the past, e.g. a SkyCubeImageList that translates back and forth

[2018-07-23 12:57] cdeil opened #1557 "Add DM data files"
@joleroi - I tried to run [astro_dark_matter.ipynb](https://github.com/gammapy/gammapy-extra/blob/master/notebooks/astro_dark_matter.ipynb) and it fails because
[code]
isn't there:
https://github.com/gammapy/gammapy-extra/tree/master/datasets

This is mentioned here:
https://github.com/gammapy/gammapy/blob/7abc4bacecb4b36270b59a975fa9649144c76750/gammapy/astro/darkmatter/spectra.py#L42

Can you pl

[2018-07-23 12:58] AtreyeeS commented on #1459
Thanks for this input!
This opinion is exactly what I wanted!

Will write accordingly!

[2018-07-23 13:03] facero commented on #1533
So turns out that I used the `simulate_3D notebook` for my analysis without adding the psf_kernel in my fit:
[code]
when adding the `psf=psf_kernel` we can recover the good sigma values, so nothing is wrong in this auto-consitent test (simulate, fit).

I managed to recover the good sigma value of the Gaussian for values down to 0.01° (almost the pixel size). I also tested different offset angle in

[2018-07-24 15:04] cdeil commented on #1557
@joleroi - I just now did a small fix in master for `darkmatter`: 0cd7cd83b36bd46356ce22df9c786ca017c29f2f

I noticed that it has zero tests!?

It does use `ParameterList`, which I wanted to refactor today; you also use things from `gammapy.maps` which we want to refactor. Zero tests is really problematic.

Please add a few simple unit tests that execute the key functionality once and have one ass

[2018-07-25 06:17] cdeil commented on #1532
@AtreyeeS - I now start editing the `make_minuit_par_kwargs` and also moving this `kwargs['errordef'] = 1` line. Hope I'm not interfering with edits you've made in the past days...

[2018-07-25 07:40] cdeil commented on #1548
Thinking about this some more: I think it will be very hard to decide this already in the coming months.
We are proposing Gammapy as CTA ST to CTAO, and basically should set up Gammapy in a way to make this possible. That requires extensive discussion with CTAO and ctapipe about what goes where, and how things are reviewed and maintained. These discussions will only start in the fall.

So @Atreyee

[2018-07-25 17:14] #1532 closed

[2018-07-25 17:17] cdeil commented on #1532
This issue should be resolved via #1563 and #1567 .

@AtreyeeS - Could you please try running your script for a pull distribution again with `master` for a simple test case? Do you now find a unit normal distribution for the pull?

If no, there's an important bug please let me know and I'll have a look.

[2018-07-25 17:24] cdeil commented on #1459
Improved in #1459 .
Closing this issue now.

Of course, more PRs to improve the maps code and MapMaker are welcome any time!

[2018-07-25 17:24] #1459 closed

[2018-07-25 17:30] AtreyeeS commented on #1532
The width of the pull distribution is `1` now (major improvement), but there is still a bias in the fitting. The gaussians are not centred on `0`.

[2018-07-25 17:33] cdeil commented on #1532
@AtreyeeS - OK, but then that could be pixelisation or other effects.
Please open a new issue and share your script or notebook if you want me to have a look.

[2018-07-25 17:38] AtreyeeS commented on #1532
Yes, I will just clean up my notebook and file an issue.
But this issue looks solved.

[2018-07-25 17:57] cdeil opened #1570 "Migrate ring background estimation to gammapy.maps"
The ring background estimation code in [gammapy/background/ring.py](https://github.com/gammapy/gammapy/blob/master/gammapy/background/ring.py) and [gammapy/background/tests/test_ring.py](https://github.com/gammapy/gammapy/blob/master/gammapy/background/tests/test_ring.py) needs to be migrated to use `WcsNDMap`.

I would suggest to do it in those files, basically keeping the existing code / tests,

[2018-07-25 18:10] adonath commented on #1529
I'll take care of this tomorrow...

[2018-07-25 18:16] cdeil opened #1571 "Add make_images method on MapMaker"
I would propose to add a small convenience method on MapMaker (or standalone) which makes 2D images from 3D cubes by summing or integrating over the energy axis.

This is what some people want that do 2D image-based analysis.

As test case we could use the old
https://github.com/gammapy/gammapy/pull/1568/files#diff-f2e451b070025cd2253c3025e08fce92L55
but for that test case the ring background esti

[2018-07-25 19:47] cdeil commented on #1461
Adding this to the v0.8 milestone.

@adonath or @bsipocz Maybe for plotting it's OK to require something very recent, just to spare the  work of adding a build / test against older version and updating to work with MPL < 2.0?
Or should we just do the not very large work to support MPL 1.5, i.e. rewrite this function and add a build for MPL 1.5?
See https://pypi.org/project/matplotlib/#history for

[2018-07-25 19:50] bsipocz commented on #1461
I feel it's reasonable to require a recent mpl, but I have know knowledge about gammapy's userbase.

[2018-07-25 20:56] AtreyeeS commented on #1571
Isn't this what is done by the `sum_over_axes` method, making 2D images from 3D cubes by summing over the energy axis?
http://docs.gammapy.org/dev/api/gammapy.maps.WcsNDMap.html?highlight=sum_over_axes#gammapy.maps.WcsNDMap.sum_over_axes

[2018-07-25 21:02] cdeil commented on #1571
For counts and background, yes, I think it's just a `sum_over_axes` call.

For exposure, probably we would want to do weighting by a spectral model as here:
https://github.com/gammapy/gammapy/pull/1568/files#diff-f92b7b183b45d4bc8b841ffa28f26b77L690

The idea is to make an image such that if you do `counts - background) / exposure` and have the exposure weighting with the right spectral model, the

[2018-07-26 07:19] adonath commented on #1571
What about if we just provide an additional `weights` argument to the `sum_over_axes()` method and show an example how to compute the weights from a spectral model?

[2018-07-26 07:32] registerrier commented on #1571
Yes weights are really the best way to go.

[2018-07-26 07:35] cdeil commented on #1571
OK, but weights can be passed in as a vector or a spectral model is passed and the integral / weights are computed there. I would do it "from the outside" for now, and only when we have 2 callers at least move that to a method on maps. But any solution is fine with me. Anyone has time to type this up?

[2018-07-26 07:38] cdeil commented on #1570
Thanks!

Please use dict for now. We can re-discuss adding more convenience grouping classes tomorrow. If you have a concrete proposal (e.g. "same as what SkyImageList was"), please open an issue.

[2018-07-26 16:25] AtreyeeS opened #1574 "Bias in MapFit"
I have been testing MapFit and it seems there is a slight bias in the fitting at high statistics. The pull distributions are shifted at high statistics. I am looking into this, but since I will be on vacations for a month, I doubt I will get time.
The notebook is here:
https://github.com/AtreyeeS/gammapy-extra/blob/map-ex/notebooks/test_pd.ipynb

[2018-07-26 17:11] cdeil commented on #1574
Note that `pull = (reco - true) / error`, so even for small differences `reco-true` the `pull` can be large if `error` is large. So for very high statistics, the error gets small and it's not super surprising that the pull can be biased.

It'll still be interesting to look at this in detail and understand why it doesn't come out perfect, but if e.g. a flux is off by < 1% or a spectral index by < 0

[2018-07-26 17:22] cdeil commented on #1216
The PSF kernel class was introduced and the Fermi PSF docs example adapted to the new code:
https://github.com/gammapy/gammapy/blob/master/docs/irf/plot_fermi_psf.py

Closing this old issue now.

[2018-07-26 17:22] #1216 closed

[2018-07-26 17:23] cdeil commented on #1152
Closing this old issue, let's continue the discussion in #1571.

[2018-07-26 17:23] #1152 closed

[2018-07-26 17:25] cdeil commented on #70
The matched filter code and this broken test were removed in #1519.
Closing this old issue.

[2018-07-26 17:25] #70 closed

[2018-07-26 17:27] #223 closed, assigned to adonath

[2018-07-26 17:30] cdeil commented on #274
Closing this old issue.
The `gammapy.catalog.FluxDistribution` was already removed.

[2018-07-26 17:30] #274 closed

[2018-07-26 17:35] cdeil commented on #203
I think the methods to get FluxPoints and LightCurve objects for the common Fermi catalogs are now all done in Gammapy.
Don't think we should add more plotting / tools to Gammapy.
We could over at http://gamma-sky.net/#/cat , but that's not Gammapy.
Closing this old issue.

[2018-07-26 17:35] #203 closed

[2018-07-26 17:37] cdeil commented on #735
Done by @adonath  in #1573 . Closing this old issue now.

[2018-07-26 17:37] #735 closed

[2018-07-26 17:40] cdeil commented on #508
I'm closing this old issue now.
For now, data quality handling is left to the user.
If it gets used in the CTA DL3 data model and science tools are expected to handle data quality, we can add that later.

[2018-07-26 17:40] #508 closed

[2018-07-26 17:41] cdeil commented on #1361
I never took the time to track down this issue.
But good news, I don't see it locally any more.
Closing issue.

@Bultako - Thanks for your patience with me bringing this up several times and never resolving it.

[2018-07-26 17:41] #1361 closed

[2018-07-26 17:46] cdeil commented on #1237
A lot of old stuff in `gammapy.datasets` was removed recently.
Status: http://docs.gammapy.org/dev/datasets/index.html

Concerning the Fermi observation list class, indeed it should be added to `gammapy.data`.
See https://github.com/gammapy/gammapy/pull/1546#issuecomment-408152794
Let's discuss tomorrow whether to make this a priority (since we need to translate to `Map` anyways), or leave this to

[2018-07-26 17:50] cdeil commented on #333
I'm closing this old issue from 2015 with a long list of TODOs (many of which were done by @leajouvin in 2016 or 2017).

Note that the old background modeling code was removed for now (#1515), and we have an open issue to bring it back soon (#1516).

[2018-07-26 17:50] #333 closed

[2018-07-26 18:05] cdeil commented on #315
I'm closing this very old issue.
By now we have new classes for observation handling.
Those still need work and discussion, but this old issue isn't useful.

[2018-07-26 18:05] #315 closed

[2018-07-26 18:08] cdeil commented on #760
We have improved our tutorial notebooks, and continue to do so with high priority before the v0.8 release, see #1555 .

We had many of such "improve everything" issues from the past years; in the end I don't think any of them were really helpful / triggered work. So I'm closing this old issue.

[2018-07-26 18:08] #760 closed

[2018-07-26 18:13] cdeil commented on #1402
Just to note: the model XML I/O isn't in very good shape.
Especially the writing is completely broken at the moment.
(was it every working?)
But also most of the read tests are still xfail.

@joleroi - Do you have time for Gammapy next week?
If no, we could just defer this from v0.8 to v0.9.

[2018-07-26 18:16] cdeil commented on #1016
@adonath - I'm closing this issue.

The `CatalogImageEstimator` is gone, and we now have the sky model classes and `MapEvaluator` and `MapFit` instead. I feel like work should now focus on model serialisation: first with the existing XML format (see https://github.com/gammapy/gammapy/issues/1402#issuecomment-408186996) and then with a better YAML format.

With that way forward, the suggestion abov

[2018-07-26 18:16] #1016 closed

[2018-07-26 18:19] cdeil commented on #1255
Closing this old issue. We're discussing a one-line convenience addition, and opinions are split whether it's useful. If someone send a PR to improve gammapy.data (or anything really), I'll hit the merge button.

[2018-07-26 18:22] cdeil commented on #282
I'm closing this old issue. Most likely this is something that only needs to be dealt with in the CTA pipeline (ctapipe), not the CTA science tools (Gammapy).

[2018-07-26 18:22] #282 closed

[2018-07-26 18:33] cdeil commented on #1194
I looked over the diff in: https://github.com/gammapy/gammapy/pull/1168/files
None of those things stand out to me as something particularly important to add back as notebook tutorials.
We have a lot of work to do on core functionality and then describing it well, and those are all either nice to have or not in scope for Gammapy docs.

So closing this issue now.
Of course, if someone disagrees, fe

[2018-07-26 18:33] #1194 closed

[2018-07-26 18:38] cdeil commented on #1175
I'm not sure sure anymore if introducing a separate EventListLAT class was a good idea.
There could also be a single class with a flag whether it's from a pointed observation (IACT) or a slewing one (Fermi-LAT and HAWC).
It's related to the question whether we introduce an `ObservationLAT` class, and whether that would smooth over the differences in the events via a uniform interface.

@registerri

[2018-07-26 18:53] cdeil commented on #1071
Currently `python setup.py build_docs` actually gives errors that are pretty loud and clear that `gammapy-extra` is missing:
https://gist.github.com/cdeil/3172b6f9ae59ad13d81a0f481c634747

And actually it runs through and makes a docs version, just with notebooks and examples that use data files from gammapy-extra missing.

So IMO it's as good as it can be. Closing this old issue.

Notice that we

[2018-07-26 18:57] cdeil commented on #948
I'm moving this issue to the v0.8 milestone.

The missing part is to add a little helper how to make an exposure image:
https://github.com/gammapy/gammapy/issues/1571#issuecomment-407894414

IMO the MapMaker should also be changed a bit to allow computing just an exposure cube / image, without e.g. having to compute a counts cube.

@registerrier - Let's discuss tomorrow in the call and then get th

[2018-07-26 19:01] cdeil commented on #680
Closing this issue. Not really in scope for Gammapy, except as a mention in the docs. Maybe.
Let's focus on clean data model and analysis for the next months.

[2018-07-26 19:01] #680 closed

[2018-07-26 20:02] cdeil commented on #626
@leajouvin @registerrier @adonath @dcfidalgo  - I'd like to discuss the obs group code in Gammapy tomorrow.

We currently have a lot of code for this:
- https://github.com/gammapy/gammapy/blob/master/gammapy/data/obs_group.py
- https://github.com/gammapy/gammapy/blob/master/gammapy/data/tests/test_obs_group.py
- http://docs.gammapy.org/dev/data/obs_group.html

I think very few people (maybe @leajo

[2018-07-26 20:17] cdeil commented on #513
The plan is to delete the old SkyImage / SkyCube in the next days, before the v0.8 release.

@adonath - I think we're both not 100% satisfied yet with the map create methods on the new classes, but I don't see any concrete action item here. So closing this old issue. Of course, a new issue with a proposal for change or addition in maps is welcome any time.

[2018-07-26 20:17] #513 closed

[2018-07-26 20:18] cdeil commented on #409
Closing this old issue. No concrete action items here. We have other issues do discuss event lists still open.

[2018-07-26 20:18] #409 closed

[2018-07-26 20:21] cdeil commented on #237
Closing in favour of #1540. This issue is a duplicate and the description there is better.

[2018-07-26 20:21] #237 closed

[2018-07-26 20:23] cdeil commented on #201
This is one of the remaining users of SkyCube:
https://github.com/gammapy/gammapy/blob/master/gammapy/datasets/fermi.py

We have to decide what to do here and clean this up, so moving this to the v0.8 milestone.

[2018-07-26 20:32] cdeil commented on #49
I don't think we should add any code to Gammapy.

What we could do is to add a docs example that accesses a gamma-ray observatory location
http://docs.gammapy.org/dev/api/gammapy.data.observatory_locations.html
and uses Astropy or https://github.com/astropy/astroplan to compute something, e.g. Crab nebula object visibility or whatever. That's not really Gammapy functionality, but given that our st

[2018-07-27 07:33] cdeil commented on #1530
Started by @hsiejkowski  in #1576

[2018-07-27 10:14] cdeil commented on #1132
Discussed in the Gammapy dev call just now with @cosimoNigro .
Basically everything is OK.

If someone looks at EDISP again in the future, please start by trying to use Cosimo's test case from above to derive a better test case than what we currently have:

https://github.com/gammapy/gammapy/blob/377ad3e657cbe4a9663e45b96d7aa6ce276f6bfb/gammapy/irf/tests/test_energy_dispersion.py#L59

[2018-07-27 10:14] #1132 closed

[2018-07-27 10:30] cosimoNigro commented on #1175
Hi @cdeil, I think also this old issue can be closed since it is related to the implementation of the eventual Fermi Event List class.

[2018-07-27 10:32] cdeil commented on #1450
Discussed with @cosimoNigro in the Gammapy call just now. Decided to close this feature request for now. We could still add something in the future, if someone is willing to send a pull request and it's not too much or to complex code. Plotting should always be separate from documentation.

@cosimoNigro - If you have working code for this, you could add add it as a docs example either in Gammapy,

[2018-07-27 10:32] #1450 closed

[2018-07-27 10:36] cdeil commented on #1551
Discussed in the Gammapy call today. @registerrier insisted to keep this for v0.8, and to first talk to @jjlk before cleaning this up, and promised to do the clean-up for v0.9. I would hope rather to do it directly after the v0.8 release, so that we can focus developments on obs sim / IRF to the right place for August / September already, not leave this "to the fall".

I'll put the CTASpectrumSimu

[2018-07-27 10:37] cdeil commented on #876
@registerrier agreed to do this. See https://github.com/gammapy/gammapy/issues/1551#issuecomment-408381049 .

[2018-07-27 10:41] cdeil commented on #1005
Fixed by removing this code. See #1575 .

[2018-07-27 10:41] #1005 closed

[2018-07-27 10:41] cdeil commented on #626
Fixed by removing this code. See #1575 .

[2018-07-27 10:41] #626 closed

[2018-07-27 10:43] Bultako commented on #1450
FYI
In case it helps, here's a notebook on how to do theta2 plots with `ctapipe`

https://github.com/cta-observatory/ctapipe/blob/master/examples/notebooks/Theta%20square%20plot.ipynb

[2018-07-27 10:44] cdeil commented on #1175
I'll take care of this next week. Probably I'll do some changes to the event list classes, but at the very least the docs example needs to be udpated with one Fermi-LAT example here:
http://docs.gammapy.org/dev/data/index.html

So this is a reminder issue for myself now.

[2018-07-27 10:48] cdeil commented on #1462
@AtreyeeS - This is the only issue left for you under the v0.8 milestone.
Do you still have time to do this update to the notebook before you go on vacation?
If no - please assign to me and I'll do this in the next days, no problem.

[2018-07-27 11:00] cdeil opened #1577 "Make a tutorial notebook for a spectral analysis with obs grouping"
This is a reminder issue to follow up on #1575 .

I think we should change this docs page:

https://github.com/cdeil/gammapy/blob/75b9321d3f385885483e44ef49278ac78545cad8/docs/data/obs_group.rst

to a tutorial notebook, and actually show a working example of a spectrum analysis with runs grouped, as hinted at in the lower part of that page.

Extra points if updating an existing notebook like
http:

[2018-07-27 11:06] AtreyeeS commented on #1462
Hello, I wrote a few lines explaining this in the `intro_maps` notebook in the `Exploring maps` section (after input cell 15): https://github.com/gammapy/gammapy-extra/blob/master/notebooks/intro_maps.ipynb

Do you want me to put in some more details?

[2018-07-27 11:06] cdeil commented on #1528
Done by @adonath in #1564 . Closing issue.

[2018-07-27 11:06] #1528 closed

[2018-07-27 11:07] cdeil commented on #1462
Thanks for doing this!
Closing issue.

[2018-07-27 11:07] #1462 closed

[2018-07-27 12:12] cdeil opened #1578 "Implement and test edge mode for WcsGeom.get_coord"
In #1573 apparently @adonath tried to implement `mode="edge"` for `WcsGeom.get_coord`, see his edits here: https://github.com/gammapy/gammapy/pull/1573/files#diff-3cf936d0601fe08b95aa7b11fb9cf614

This doesn't work yet, it causes test fails in gammapy.maps:
https://ci.appveyor.com/project/cdeil/gammapy/build/1.0.3897/job/04tkynv5dibs2jbq#L2313

The missing `mode="edge"` for `WcsGeom.get_coord` was

[2018-07-27 14:43] registerrier commented on #1571
Initially I had planned a specific function for this `make_map_exposure_reco_energy` with the idea of being able to compute a (most likely 2D) map with spectral weighting and possibly edisp usage. It was not implemented and the caller and docstring was removed.

So we probably should put it back in if we want to have exposure maps made this way. I don't think we should handle this specific issue b

[2018-07-27 17:10] cdeil commented on #1571
Like I said above, I would also prefer to have some code outside gammapy.maps that computes this, probably multiplies the exposure cube data with a spectral weights vector and then calls sum_over_axes on that, no?

[2018-07-28 12:32] cdeil opened #1583 "Support different map energy binnings in MapMaker"
This is a follow-up issue for #1579 and #1580 by @AtreyeeS that weren't merged.

The question is whether to support different energy binnings for different maps in `MapMaker`.

Currently all maps (counts, exposure, background) have the same energy binning. The counts and exposure have a reco energy axis, and the exposure has a true energy axis, exposure combined with EDISP is not supported yet. Si

[2018-07-28 16:02] registerrier commented on #7
Migration is done in PR #1582

Docstrings and example have been updated and corrected.
A parameter property has been added.

I don't know what diagnostics to add for the AdaptiveRingBackground for the moment.

[2018-07-28 16:13] registerrier commented on #1547
Can we close the issue now?

[2018-07-28 16:31] registerrier commented on #1545
Isn't it better avoiding using `MapMaker` for non IACT datasets?

Passing a mask rather than an offset cut to the various functions such as `make_map_exposure` is obviously something we have to do, since offset might not be the unique way to determine the validity region (e.g. non isotropic FoV) and since the selection might be energy dependent. Yet we need to find a way to allow `MapMaker` to kno

[2018-07-28 17:15] registerrier commented on #1391
I'll take care of this.

Some question though: is it safe to have a default mask at all? Since it is defined in galactic coordinates it will give weird results in many situations, in particular when the Plate-Carrée projection is inadapted.

[2018-07-28 17:41] cdeil commented on #1391
Thanks for taking this on!
I didn't start this one because it's complex and I wasn't sure what we want.

Looking at  https://github.com/gammapy/gammapy/blob/master/gammapy/background/reflected.py again, I would suggest to change the algorithm to be SkyCoord based, not PixCoord.

Note that since 2016 this is available, so reflected region computation in sky coords should now be just a few lines:
ht

[2018-07-28 17:55] cdeil commented on #1545
I think you're right. @adonath made the same comment.

We can't compute exposure for Fermi-LAT, and background is different. No point in using MapMaker just to make a counts image, that's trivial for Fermi-LAT.

Not sure yet if we want to add a class for Fermi-LAT. Probably not needed, except if we want to pre-script again the diffuse model npred computation, because we think MapEvaluator is too l

[2018-07-28 18:00] #1547 closed

[2018-07-28 21:00] #7 closed, assigned to registerrier

[2018-07-29 14:07] cdeil commented on #1510
My guess is that this issue is due to floating point noise, possibly leading to a difference in fine bin energy grouping by one bin, or in the flux point computation.

The flux points agree at the 0.5% level, which I consider acceptable, so I've reduced the tolerance to 1% for these dnde asserts in 06ffe6af049d1a41ee7c18bc6d52247806e4376b .

Closing this issue now.

[2018-07-29 14:07] #1510 closed

[2018-07-29 14:12] cdeil commented on #928
@nhrjr - Actually, we're only using scikit-image for one little utility function. So instead of documenting that better, I'll just remove the dependency on scikit-image completely next week before making the v0.8 release.

This is now tracked here:
https://github.com/gammapy/gammapy/issues/1494#issuecomment-405171810

Closing this issue.

[2018-07-29 14:12] #928 closed

[2018-07-29 14:20] cdeil commented on #1494
I plan to replace the call to scikit-image with a bundled utility function next week, moving this to the v0.8 milestone.

[2018-07-29 14:54] cdeil commented on #1533
The next thing I would investigate here is the FOV offset interpolation of PSF parameters.

I think what's happening is that we load the CTA DC1 PSF via [EnergyDependentMultiGaussPSF](http://docs.gammapy.org/dev/api/gammapy.irf.EnergyDependentMultiGaussPSF.html) (it's really a single Gaussian), and then via [ObservationList.make_mean_psf](http://docs.gammapy.org/dev/_modules/gammapy/data/data_stor

[2018-07-29 14:56] cdeil commented on #1481
This was improved a bit in #1512 . I think a proper resolution will need quite a bit of work, to create a uniform interface to optimisers and error estimators in gammapy.utils.fitting. Moving this to the v0.9 milestone.

[2018-07-29 14:59] cdeil commented on #1570
Done by @registerrier in #1582 . Closing issue.

[2018-07-29 14:59] #1570 closed

[2018-07-29 15:10] cdeil commented on #1449
@registerrier - Since you volunteered to do the transition to Map for the reflected region computation, I'm assigning this issue to you. Cosimo is asking how to select a given number of off regions, whether it's possible to make that possible. I think in this case it is possible, and the fact that the options don't work is probably a bug?

[2018-07-29 15:15] cdeil commented on #1336
@registerrier - Since you volunteered to do the transition to Map for the reflected region computation (see #1391), I'm assigning this issue to you.

I think I tried to reproduce / understand the issue described by Cyril in the May 8 comment above, but never figured out what the actual issue was, i.e. wan't able to extract a failing regression test case as a first step to fixing this.

@registerri

[2018-07-29 15:32] cdeil commented on #1213
This was resolved in #1226 .  We will be developing new data classes in the coming months and when objects are created and deleted will be a big topic. But I don't see any remaining concrete action item here, so closing this issue now.

[2018-07-29 15:32] #1213 closed

[2018-07-29 16:30] cdeil commented on #1417
I have Sherpa 4.10 locally on Mac from conda, and here is a build using Sherpa 4.10 with Linux:
https://travis-ci.org/gammapy/gammapy/jobs/409535201#L2301
Everything looks OK.

We also didn't have any users or devs complain about this issue.

So I'm closing this now. If someone finds the issue in the future, please re-open or file a new one.

[2018-07-29 16:35] cdeil commented on #31
We did make simulated sky images (also RGB) ones as part of the CTA DC1, see e.g. here:

* https://forge.in2p3.fr/boards/242/topics/2227
* https://github.com/gammasky/cta-dc1-gps-analysis
* http://christophdeil.com/hips-data/cta-dc1-gps/

Closing this old issue now.

[2018-07-29 16:35] #31 closed

[2018-07-29 17:03] cdeil commented on #943
This is mostly done, I removed the TeVCat catalog just now:
https://github.com/gammapy/gammapy-extra/commit/7b34e6748d5982ac4581912dbe77949380ef6de7

What remains to be done is to adapt those tests to not use this file:
[code]
and then finally to delete  `$GAMMAPY_EXTRA/datasets/exclusion_masks/tevcat_exclusion.fits`

I will do this after #1391 is done, then it should be easier because the mask is

[2018-07-29 18:01] cdeil opened #1588 "Improve Sherpa fitting backend code"
I think we should move  [gammapy/utils/sherpa.py](https://github.com/gammapy/gammapy/blob/master/gammapy/utils/sherpa.py)
to [gammapy/utils/fitting](https://github.com/gammapy/gammapy/tree/master/gammapy/utils/fitting) and add a minimal unit test case that gives one working example.  That should not be much work. This is currently used only by the `FluxPointFitter`.

I guess then we could try to u

[2018-07-30 06:43] JouvinLea commented on #1583
I agree that clearly MapMaker should handle the maps computation on different energy binning. Background and counts are in reco energy and exposure, PSF and edisp in true energy. Since for the moment the energy resolution is not taken into account in the 3d analysis, it was not necessary but it will be important. Maybe we can add this etrue=none by default or we just have one axis name energy and

[2018-07-30 08:56] adonath commented on #1588
I will work on this this week.

[2018-07-30 08:58] adonath commented on #1578
As I'd like to finish up #1573, I'll take this over. Re-assigning to me...

[2018-07-30 13:16] joleroi commented on #1557
Solved in https://github.com/gammapy/gammapy-extra/commit/56e4baf4e30b61ddcb38a5f8abd50f0d39c882c7

[2018-07-30 13:16] #1557 closed

[2018-07-30 14:33] olaurino commented on #1417
@cdeil sorry I don't remember seeing this issue despite the specific mention, at least until this morning when I got a notification that you closed it. I apologize for not getting back to you. Please let me know if we can still be of assistance.

[2018-07-30 14:35] cdeil commented on #1417
Omar - thanks!

In the future I'll try to track down issues better and open a ticket in your Sherpa tracker.

[2018-07-30 15:09] cdeil commented on #1530
Done by @hsiejkowski  in #1576 .

[2018-07-30 15:09] #1530 closed

[2018-07-30 16:52] #1578 closed

[2018-07-30 16:52] adonath commented on #1578
Resolved in #1592

[2018-07-30 17:24] cdeil commented on #1529
Done by @adonath in #1573 .

[2018-07-30 17:30] cdeil commented on #1391
Transition to Map done by @registerrier done in #1589 .

Keeping this open for now, as reminder concerning the question whether to change to a SkyCoord based algorithm and making the exclusion mask optional.

[2018-07-30 18:11] cdeil commented on #1545
Another related thing that I removed just now in #1593 is the `FermiLATDataset` and `FermiGalacticCenter` from `gammapy.datasets`.

@adonath @registerrier - let's discuss later this week what to bring back.

Those were two convenience classes that computed counts maps from events, and also that loaded and reprojected the images commonly used, and for the diffuse background models also did evaluate

[2018-07-30 18:12] cdeil commented on #201
Removed in #1593 .

[2018-07-30 18:12] #201 closed

[2018-07-30 21:46] registerrier commented on #1583
An energy_true vector/axis is clearly needed to create the relevant maps.

Note BTW that a different `MapGeom` for energy_true could be a valid possibility too. Because of ROI sizes and contamination, one might be forced to model the true sky on a larger space region than the observed one.

Also, for computation efficiency, it is obvious we don't need to compute reprojected IRFs on a very fine bin

[2018-07-30 21:59] registerrier opened #1596 "Exporting maps produced by MapMaker to disk"
We need to be able to export the counts, exposure, background maps before the fitting step. Running the map extraction each time we play with the fit is obviously not the way to proceed.

Rather than reintroducing the equivalent of the `SkyImageList`, I would suggest to agree on an internal (at least for the moment) naming scheme for the HDUs to define the maps required for basic cube-style analys

[2018-07-31 07:32] adonath commented on #1596
I think the I/O functionality should not be coupled to the `Maker` or `Estimator` class because then we implement the same functionality in many places and it gets hard to remove as soon as we have another solution. As we have mostly replaced the `SkyImageList` by `dict` or `OrderedDict`, I think the short term solution is to introduce two little helper functions `write_maps_dict()` and `read_maps

[2018-07-31 08:17] cdeil commented on #1596
@registerrier - Is **is** of course possible to save the maps after producing them and read them back before likelihood fitting. I added this to the docs example last week:
http://docs.gammapy.org/dev/notebooks/analysis_3d.html#Save-maps
[code]
and
[code]

Writing to a single file and reading from there is possible, but it's a bit hairy because our maps sometimes have two HDUs. Fermi-LAT ST also d

[2018-07-31 08:26] cdeil commented on #1555
I will spend some time today to update high-level docs pages and notebooks.

[2018-07-31 08:48] cdeil opened #1597 "Add tutorial how to make IACT DL3 index tables"
I'll work on the docs today, and removed  0008b859ecb60b4a5466a4c238eaf1b3ad79dae5 just now.

This is a reminder issue to add a short tutorial notebook how to access DL3 data if you don't have index files, showing how to make index tables and a datastore from scratch.

In the coming months this will then be replaced by new code to make observation lists and access IACT data without index tables an

[2018-07-31 08:50] cdeil commented on #1588
@adonath - FYI: I've deleted the old `examples/example_sherpa_mwl.py` in 4179ec26 , since as we discussed this is not the way we want to interface with Sherpa. (and even if it were, I wouldn't want to maintain such a complex example there, without having it tested as part of continuous integration)

[2018-07-31 08:55] cdeil commented on #1577
Just now I found an old example running a spectral analysis with observation grouping in `examples/test_group_observations.py`. I removed that in ff1b00ff387ade56ccf49638e2a5a3499198b5f1, like I said above, we should add a tutorial notebook for that.

[2018-07-31 09:38] adonath commented on #1588
Discussing offline with @cdeil, we decided the existing backend should be discarded in favour of a solution that directly uses the sherpa optimizers instead of the `Fit` API. I'll rewrite the `FluxPointFitter` to use the existing minuit backend and remove the old sherpa one.

[2018-07-31 12:58] cdeil commented on #1577
I'm cleaning up the RST docs a bit first before tending to the notebooks.
Removed `docs/data/obs_group.rst` in 404ac495
That should be the starting point for this tutorial notebook on obs grouping.

[2018-07-31 14:25] #1550 closed

[2018-07-31 15:02] cdeil opened #1604 "Improve test_statistics test code coverage"
@adonath - The test coverage for `gammapy/detect/test_statistics.py` is now only 49% :
https://coveralls.io/builds/18247864/source?filename=gammapy%2Fdetect%2Ftest_statistics.py

Can you please make this better?
(remove unused code, or add one test exercising most of the code if needed)

[2018-07-31 16:29] cdeil opened #1607 "WcsGeom.create bug in handling of refpix argument"
I tried to make a WcsGeom with image center on the Galactic center at `skydir = (glon, glat) = (0, 0)`.

[code]
and got this:
[code]

It looks like `skydir` is correctly assigned to `CRVAL`, but `refpix=(400, 300)` is not used correctly, it results in `CRPIX=(400, 400)` and as a result the sky image center isn't at `skydir = (glon, glat) = (0, 0)` like I wanted.

@woodmd @adonath - This is a bug,

[2018-07-31 16:41] cdeil opened #1608 "WcsNDMap.make_cutout width option"
I noticed this:
[code]

The docstring of make_cutout says that the width is (width_lon, width_lat):

http://docs.gammapy.org/dev/api/gammapy.maps.WcsNDMap.html#gammapy.maps.WcsNDMap.make_cutout

But really the order is (width_lat, width_lon), becuase that's how
http://docs.astropy.org/en/latest/api/astropy.nddata.utils.Cutout2D.html
treats the `size` option.

@adonath @registerrier @AtreyeeS - I t

[2018-07-31 17:01] cdeil opened #1609 "Cryptic error from MapMaker / make_counts_image"
I accidentally typed this:
[code]
and it blows up with a cryptic error message:
[code]

The problem is in `make_map_counts` here:
https://github.com/gammapy/gammapy/blob/a013ff8ac532ab8b15cee95c5da2abb8937bde9c/gammapy/cube/new.py#L79

It doesn't work for 2D images.

There's other obvious issues one encounters when making maps, e.g. replacing `offset_max=u.Quantity('2 deg')` with `offset_max='2 de

[2018-07-31 18:31] registerrier commented on #1609
Indeed, the code in new.py  expects explicit 3D maps. Having an explicit energy range is necessary for projected irf maps any way. It is probably safe to enforce explicit energy range for the counts map as well. We can add an explicit test for this.
OK for the kind user interface for max_offset.
I agree that a fov_mask is better than a simple offset cut. I think that it is better to use it to dete

[2018-08-01 08:40] cdeil commented on #1608
There's two other changes I think we should consider:

1. Change the default mode to "trim" or "partial", I think most users prefer to get something and "strict" is not the expected default behaviour for them.

2. Not return the slices here. Users don't understand what those are, why they get a tuple instead of just a map. Roberta just asked me that after using it for the first time.

Experts stil

[2018-08-01 08:53] AtreyeeS commented on #1608
Hello,

Firstly, I am sorry about the mistype in the doc string!

Regarding the two other points, I agree we can change the default cutout mode. Maybe we keep it `trim`, which is the default astropy value?

My original PR (#1446) for making the cutout did not return the cutout slices precisely because I thought it might be confusing. However, while changing `MapMaker` during the coding sprint to u

[2018-08-01 08:56] cdeil commented on #1608
I would suggest to add something like cutout_slices to geom and then use that from the MapMaker.
And then the map.make_cutout would call self.geom.cutout_slices and apply them, but not return them. And yet, +1 to default "trim" for map.make_cutout.

[2018-08-01 10:43] cdeil commented on #943
@registerrier - Assigning to you.

[2018-08-01 10:43] cdeil commented on #1609
I'll make a PR for this today.

[2018-08-01 10:44] cdeil commented on #1596
I'll make a PR for this today.

[2018-08-01 10:45] cdeil commented on #948
I'll make a PR for this today, to change MapMaker to make just exposure if the user wants.

[2018-08-01 10:48] cdeil commented on #1571
I will make a PR for this today.

[2018-08-01 12:04] registerrier commented on #943
I suppose we still need a utility function to make a mask for given `MapGeom` from `gamma-cat` ?

[2018-08-01 12:06] registerrier commented on #1608
Shall I do it? Or do you do it yourself @cdeil ? There are several tests that use `make_cutout()[0]` which will need to be updated.

[2018-08-01 12:08] cdeil commented on #1608
I'll do this later today.

[2018-08-01 12:16] cdeil opened #1612 "Improve exclusion mask code / docs"
@robertazanin asked how to make an exclusion masks for a list of regions.

Here's an example:
[code]

![exclusion](https://user-images.githubusercontent.com/852409/43521062-386d0518-9595-11e8-88c7-83528bdea3b2.png)

We should add this and maybe a bit more info how to work with regions to the Gammapy docs.

Also: the make mask code blows up when passing in a CompoundRegion: http://astropy-regions.r

[2018-08-01 12:25] cdeil commented on #1612
Actually there's already a TODO in the code:

https://github.com/gammapy/gammapy/blob/98982e40d71a381cac82a849c5e7d0025f5074b8/gammapy/maps/wcs.py#L762

So the task here is:
1. Resolve that (ideally by making it work for compound, alternatively better error)
2. Add docs example (not sure where)

Let's discuss tomorrow morning who does this, after the more high-priority work is done.

[2018-08-01 12:29] registerrier commented on #1612
A solution for me is to use `WcsNDMap.make_region_mask()` accept a list of regions rather than a single one. This way you can relieve the user with either the creation of the `CompoundRegion` or with the loop on the list of regions.

[2018-08-01 12:38] cdeil commented on #1612
+1 to change http://docs.gammapy.org/dev/api/gammapy.maps.WcsNDMap.html#gammapy.maps.WcsNDMap.make_region_mask to accept list of region. (And only list of region, a caller can do `[region]` if they just have one, and trying to support both single and list like we do in other places is unnecessary complication IMO in the documentation and testing)

(and if it's easy, we could still make this work f

[2018-08-01 12:53] registerrier commented on #1449
Technically the `angle_increment` parameter is used only if a region is excluded. That is you will try to find the new source at an angle changed by this value.  If it is set to 0, this will likely result in a funny problem :).

[2018-08-01 12:55] mealworm commented on #1510
Oh, I also got rid of obs.copy().

[2018-08-01 13:10] registerrier commented on #1449
I can confirm you can put `finder.run()`in a infinite loop if you give it `angle_increment=0`...

I am fixing that and will add a `max_region_number` to stop reflected region extraction after the required number is reached.

[2018-08-01 14:30] cdeil commented on #943
@registerrier removed the users of the tevcat mask in #1613 and I removed the file from gammapy-extra just now in  https://github.com/gammapy/gammapy-extra/commit/e9c678b7e801f3a094eeb5cbb8a6c8ad8c991084

Closing this issue.

Note that there's still #1612 open to add a docs example for exclusion mask, and #1555 to update tutorial notebooks in the next 1-2 days before the v0.8 release.

[2018-08-01 14:30] #943 closed

[2018-08-01 16:02] registerrier commented on #1449
PR #1616 should solve the issue.

Note that to change the space between two adjacent regions the relevant parameter is `min_distance`

[2018-08-01 17:28] cdeil commented on #1449
Closing issue.

@cosimoNigro - See http://docs.gammapy.org/dev/background/reflected.html
(you might have to refresh once or twice to make sure your browser fetches the new page from that URL instead of showing it from browser cache)

If it's not what you need, or not clearly describe, please re-open this issue or file a new one.

[2018-08-01 17:28] #1449 closed

[2018-08-01 18:00] cdeil opened #1618 "Use pytest fixtures properly"
pytest fixtures should be injected into tests, not called as functions.

To quote from https://docs.pytest.org/en/latest/changelog.html#pytest-3-7-0-2018-07-30

We have a few cases where we call fixtures.

I tried to remove one here:
https://github.com/gammapy/gammapy/commit/783f66042057cbea2c3b4714a65ecaa18dede73a#diff-0debc01ce3d7be3a9f0278816f236183R74
but this leads to fails e.g. in `gammapy/s

[2018-08-01 18:37] cdeil opened #1620 "Improve code and tests to fill counts maps"
In #1619 I did a little bit of cleanup for [gammapy/cube/counts.py](https://github.com/gammapy/gammapy/blob/master/gammapy/cube/counts.py) and [gammapy/cube/tests/test_counts.py](https://github.com/gammapy/gammapy/blob/master/gammapy/cube/tests/test_counts.py).

The following things should be done IMO:

I'd again like to make the suggestion to remove `make_map_counts`. It can now be written as one

[2018-08-01 20:52] #1609 closed

[2018-08-01 20:52] cdeil commented on #1609
Fixed in #1622 . Error messages are now good, and I've added a test to establish that MapMaker works if the energy axis only has a single energy bin.

[2018-08-02 06:16] cdeil opened #1623 "Add MapFit test with only one energy bin"
Yesterday I added a test for `MapMaker` for a cube with only one energy bin:
https://github.com/gammapy/gammapy/blob/ddfd325f1510e2999199c02b75f7ca680cff4d16/gammapy/cube/tests/test_make.py#L40

We should do the same for MapFit, a test for that should be added.
I think it should even be possible with a PSF kernel, that has an energy axis with a single energy bin?

During code review in the past mo

[2018-08-02 06:50] cdeil commented on #1608
I wanted to do this yesterday evening, but noticed that trying to handle `width` properly is difficult.

The first issue is that for `width` can be passed to `Map.create`, e.g. `width=(10, 5)` to make a map that's approximately 10 deg in lon and 5 deg in lat. That parameter is missing from the docstring [here](http://docs.gammapy.org/dev/api/gammapy.maps.Map.html#gammapy.maps.Map.create), but it's

[2018-08-02 07:57] cdeil opened #1624 "Input validation and better errors from map initialisers"
@robertazanin and I were very confused for a while by this (actually in a more complex setting, here just a minimal example):

[code]

This is a usage error, where we pass a `map` object instead of a `geom` object to the `WcsNDMap` initialiser.

Overall the init / copy / from_geom is pretty complex, and I've made several such mistakes in the past days.

Maybe we can add type checks as input valida

[2018-08-02 10:08] cdeil commented on #1620
@registerrier - I will remove `make_map_counts` now, and then leave the bug and improvement of `fill_counts_map` to you.

[2018-08-02 13:15] adonath commented on #1588
Addressed in #1605, #1606 and #1614.

[2018-08-02 13:15] #1588 closed

[2018-08-02 13:18] cdeil commented on #1620
The `make_map_counts` was removed in #1625 .
I'll now touch counts.py or test_counts.py now.

[2018-08-02 13:44] adonath commented on #1604
When I run the coverage report locally using `pytest -v gammapy/detect/ --cov-report=html --cov=gammapy/detect/` (`pytest` verrsion 3.6.2) it looks fine for me, even for the parallel execution of the  code. Maybe on coveralls we have an old version of `pytest` installed?

I still improved the coverage of the code in https://github.com/gammapy/gammapy/commit/b83ebbca6286c6b053236abcba0c6d77ee3630f2

[2018-08-02 13:47] cdeil commented on #1604
Thanks!

Moving this to v0.9, if it's CI setup and version numbers of pytest or coverage, and basically the code is well tested, then it's not high priority at all.

[2018-08-02 14:06] #1607 closed

[2018-08-02 15:59] cdeil opened #1629 "Add SkyDiffuseCube model"
@robertazanin wanted to add the Galactic IEM diffuse model component to her analysis.

It doesn't work with the current class, that's just for 2D maps:
http://docs.gammapy.org/dev/api/gammapy.image.models.SkyDiffuseMap.html

I think we should (at least for now) make a new class `SkyModelCube` in `gammapy/cube/models.py` for this.

Copy & paste the `SkyDiffuseMap`, then adapt the evaluate to the ot

[2018-08-02 18:08] cdeil commented on #1391
Decided to keep reflected region computation as-is for now.
I still think it could / should be done with SkyCoord, but we have many other high-priority issues.
Closing this one now, the transition to gammapy.maps is done.

[2018-08-02 18:08] #1391 closed

[2018-08-02 18:15] cdeil commented on #1336
@ctrichard - Could you please try your analysis again with Gammapy master, or if you see this later, with Gammapy v0.8 that we plan to release next week?

@registerrier and I were not able to find a bug from the description above.

Note that in #1616 the reflected region was change to use gammapy.maps, and also the ReflectedRegionsFinder was improved a bit. See here:
http://docs.gammapy.org/dev/ba

[2018-08-02 18:15] #1336 closed

[2018-08-02 18:59] cdeil commented on #1612
Done by @registerrier in #1628 .
Closing issue.

[2018-08-02 18:59] #1612 closed

[2018-08-03 09:15] bkhelifi opened #1633 "How to select energy and spatial range for 3D map fit?"
The user can wish to test different fitting Region of Interest and different energy range during the 3D analysis fit, and this without re-making the cubes.
A nice user interface could be added (to MapFit??) to set the RoI and Erange to all cubes and IRFs used for the fit.
Thanks in advance!

[2018-08-03 10:01] registerrier commented on #1633
I think that generally the philosophy we need to follow is that data reduction and modeling/fitting are distinct steps. So we should not rely on a modification of the data products such as maps.

Instead, we should use masks to compute n_pred on a limited set of 3D points in the cube. This can be done typically with a mask and this offers the maximal flexibility (e.g. if you want to remove a sourc

[2018-08-03 10:11] cdeil commented on #1633
@registerrier - OK.  But what you describe is for v0.9, those are deep changes in the model evaluation.

For v0.8, we only have a few days left, and need to fix bugs and make things possible in the first place.

This morning I showed how one can do a spatial cutout before fitting:
http://docs.gammapy.org/dev/notebooks/analysis_3d.html#Cutout
That reduced the fit from 20 min to 20 seconds.

I will

[2018-08-03 12:30] cdeil opened #1635 "Spectral points from Minuit OK?"
Yesterday @joleroi changed the default fitter for SpectrumFit and flux point estimation to Minuit.

I think it's basically working, see here:
https://github.com/gammapy/gammapy-extra/blob/master/notebooks/cta_data_analysis.ipynb

@bkhelifi - Can you add a link here to your CTA AGN notebook where the spectral points are not OK any more? Extra points if you give values for one point what it was befo

[2018-08-03 12:45] bkhelifi commented on #1635
Hi all,

I have noticed two issues with the latest version of the SpectrumAnalysis. I used this notebook for my  test: [https://github.com/gammasky/cta-analyses/blob/master/dc-1-checks/agn_j1224/TeV_J1224p212_DC1_spectrum.ipynb]( https://github.com/gammasky/cta-analyses/blob/master/dc-1-checks/agn_j1224/TeV_J1224p212_DC1_spectrum.ipynb).

1. We can not plot anymore the bkg counts. I think it is du

[2018-08-03 14:01] cdeil commented on #1620
@registerrier - Thanks for fixing / improving `fill_map_counts` in #1631

I still think we should remove `axis.type`. There's one user and that can be done by name: find first axis with "energy" in the name.
[code]

Now we have this: http://docs.gammapy.org/dev/development/howto.html#coordinate-and-axis-names

That should be enough and simple. If we do things by axis name in some places, and by ax

[2018-08-03 14:12] registerrier commented on #1620
I was doing the update

[2018-08-03 16:26] robertazanin opened #1638 "FluxPointEstimator fails above 100 TeV"
FluxPointEstimator fails estimating spectral points above 100 TeV.

after 100 TeV, the energy is set back to 1 TeV

You can use as working example this notebook

https://github.com/gammasky/cta-analyses/blob/master/dc-1-checks/hess_j1702/1D_spectral_analysis.ipynb

[2018-08-03 16:27] cdeil commented on #1638
cc @mealworm

[2018-08-04 16:12] registerrier opened #1642 "SpectrumFitResult.plot() fails"
During the commit to remove the sherpa fitting backend, the background has been removed from SpectrumFit. The plot therefore fails.
The test in spectrum/test/test_result.py as written masks the failure by passing a fake predicted background.
Any idea @joleroi , @cdeil?

[2018-08-06 08:17] cdeil opened #1644 "Remove or improve map interp_image"
I'm currently rewriting the Fermi-LAT data with Gammapy tutorial (#1545), and was struggling a bit with the exposure cube and Galactic diffuse model cube interpolation onto my WCS geometry of choice.

I'll post an update to that notebook shortly, but I wanted to ask already whether we should remove or improve the map `interp_image` method:
https://github.com/gammapy/gammapy/blame/a61737bbc03652216

[2018-08-06 09:25] cdeil opened #1646 "Quantity support in map get_by_coord"
Currently `get_image_by_coord` does support Quantity, i.e. you can use it like this:

[code]

See examples and implementation here:

https://github.com/gammapy/gammapy/blob/418260e781a2212728e4b793e1eeeb5ce8725e07/gammapy/maps/base.py#L547

However, `get_by_coord` and `interp_by_coord` does not support Quantity. When passing a Quantity, it "works", but just uses the value and assumes it's given in

[2018-08-06 10:52] bkhelifi opened #1647 "FluxPointEstimator residuals"
Hi all,
As mentioned to @joleroi during the last coding sprint, residuals are plotted even when the Point is an upper limit! One could add a mask in the plot_residual fonction to remove UL points...
Thanks in advance

[2018-08-06 14:33] adonath commented on #1644
Fine by me to remove the method for now. Just a few further thoughts:

I think the current use case (extrapolating a Fermi diffuse cube) is perfectly valid and should be covered somehow in future. This involves solving the problem of defining different extra-/ interpolation behaviour for different map axes, which is currently not possible with `interp_by_coord()` and maybe can never easily be achi

[2018-08-06 15:02] cdeil commented on #1545
I've updated the first part of https://github.com/gammapy/gammapy-extra/blob/master/notebooks/data_fermi_lat.ipynb

I still need to update the part from "Isotropic diffuse background" and the rest. The idea would be to prepare everything for a 3D analysis using MapFit, and to fit the Galactic center source at the end of the notebook, in addition to computing a flux map.

Indeed, using MapMaker for

[2018-08-06 15:03] cdeil commented on #1545
Note that these tests were using the few 100 MB diffuse model cube that comes with the Fermi ST. I don't even have that on my machine, and we don't have it on travis-ci. It's not a good test case for an automated test to start with.

[2018-08-06 15:26] cdeil commented on #1629
We're adding this in #1634 .

There's already a lot of discussion / review there.

So I'm closing this reminder issue.

[2018-08-06 15:26] #1629 closed

[2018-08-06 17:25] registerrier commented on #1583
Yes, this definitely should go to v0.9. It is a nice to have feature for efficient memory and computing time usage but this is not required now. And I agree that it will take time to find the best way to deal with multiple `MapGeom`.

I would have expected the reprojection/interpolation to be best at the `MapFit` level, so that the users do not need to store large maps. Having the possibility to s

[2018-08-06 21:41] cdeil commented on #1644
It turns out this method was used by reproject. I've made it private for now in #1649 . Moving this issue to v0.9, as a reminder to look at whether this extra method is really needed, or if it can be improved.

[2018-08-06 21:55] cdeil commented on #1596
I presume `gammapy.maps.utils.write_maps_dict` would do this?
[code]
I'm -1 to introduce that. Note that it's just 3 lines, and already the mkdir options on the first one aren't re-exposed to the user, because it would get too complex.

Suggest to just close this issue and just refer people that ask about this to an example like http://docs.gammapy.org/dev/notebooks/analysis_3d.html#Save-maps .

@

[2018-08-06 22:09] cdeil opened #1650 "Introduce gammapy.cube.models?"
Currently gammapy.cube.models are exposed in gammapy.cube namespace:
http://docs.gammapy.org/dev/cube/index.html#reference-api

For [gammapy.image](http://docs.gammapy.org/dev/image/index.html#reference-api) and [gammapy.spectrum](http://docs.gammapy.org/dev/spectrum/index.html#reference-api) and [gammapy.time](http://docs.gammapy.org/dev/time/index.html#reference-api) there is a separate `models`

[2018-08-06 22:32] cdeil opened #1651 "Polish DMFluxMapMaker and darkmatter docs"
@joleroi - Why is this a "flux map maker" and a class?
http://docs.gammapy.org/dev/api/gammapy.astro.darkmatter.DMFluxMapMaker.html

Looking at the code
http://docs.gammapy.org/dev/_modules/gammapy/astro/darkmatter/utils.html#DMFluxMapMaker
it has an init that just stores away it's arguments, and a run without arguments that does a few lines of computation. Wouldn't a function be move suitable her

[2018-08-07 06:35] cdeil opened #1652 "Merge SourceLibrary and SumSkyModel"
Should we merge [SourceLibrary](https://github.com/gammapy/gammapy/blob/df3330a400f9f0f5f6d8be099608aae4fa0e3f9f/gammapy/cube/models.py#L22) and [SumSkyModel](https://github.com/gammapy/gammapy/blob/df3330a400f9f0f5f6d8be099608aae4fa0e3f9f/gammapy/cube/models.py#L244) into one class? They both represent a Python list of sky model objects. SourceLibrary currently contains a few methods to serialise

[2018-08-07 07:37] adonath commented on #1650
Fine by me...

[2018-08-07 07:41] adonath commented on #1596
I'm :-1 to introduce a `MapMAker.write()` method, so I guess the compromise is what you suggest, to leave it up to the user and show an example how to do it with three lines of code. So I'm fine to resolve this issue with a docs example.

[2018-08-07 07:55] adonath commented on #1652
Sounds like a good suggestion to me, there is no good reason why we should keep both...

[2018-08-07 08:34] registerrier commented on #1650
Fine with me too.

[2018-08-07 08:41] cdeil commented on #1545
Check this out: https://github.com/gammapy/gammapy-extra/blob/master/notebooks/data_fermi_lat.ipynb

Diffuse models and 3D analysis for Fermi-LAT!

@registerrier @adonath - Some things we have to talk about:
- Sane strategy for energy axis handling concerning where to take node_type "edge" or "center"
- Unit handling in gammapy.maps wrt. coords and axes needs to be improved further, I already open

[2018-08-07 08:52] adonath commented on #1545
@cdeil Nice! It would be great to check at least once, whether the predicted number of counts is at least close to what it was before, or close to what is obtained from the Fermi ST. Any idea for that? Maybe add a small test in Gammapy?

[2018-08-07 08:56] registerrier commented on #1545
Nice indeed.
We should also add data in `Map.from_geom` to avoid as much as possible calling `WcsNDMap.create` where a single reference to `Map` and `WcsGeom` would be sufficient.

[2018-08-07 09:01] cdeil commented on #1545
This validation would take me at least a day, I haven't run the Fermi ST since, not sure, maybe two years. The quickest would probably be to analyse the Crab or some other source and compare against 3FHL results. Adding a test to Gammapy is possible, but then the question is whether we access the large prepared maps, or copy cutouts already to gammapy-extra to have a small and quick example that r

[2018-08-07 09:03] cdeil commented on #1545
Yes, we should make some change or addition. Please open a separate issue with a proposal, or if you're unsure what exactly, this question.

[2018-08-07 09:05] cdeil opened #1654 "Warning in data_fermi_lat.ipynb conversion"
I edited `gammapy-extra/notebooks/data_fermi_lat.ipynb` in the last days, and now when running `python setup.py build_docs` there's this warning:
[code]
It makes our docs build fail in CI:
https://travis-ci.org/gammapy/gammapy/jobs/412973457#L2004

I grepped the notebook for "maps" and couldn't spot the problem.

@Bultako - Could you please have a look?

[2018-08-07 09:10] registerrier commented on #1545
OK for me.

[2018-08-07 10:34] cdeil commented on #1545
I'm closing this now. It's mostly done and I want to focus on other stuff this week. @adonath - If you think a reminder issue is helpful about validation or other improvements here, please open it.

[2018-08-07 10:34] #1545 closed

[2018-08-07 10:46] cdeil commented on #1650
I'll do this now. There's no PR open touching `models.py`, so hopefully no-one is disturbed by this.

[2018-08-07 12:39] joleroi commented on #1635
You are right ... Is the background prediction ``mu_bkg`` from WSTAT an important debug number, should it somehow be added back?

I will have look at your second point

[2018-08-07 12:59] cdeil commented on #1494
I'm doing this in #1658 . Closing.

[2018-08-07 12:59] #1494 closed

[2018-08-07 13:37] cdeil commented on #1620
This is done. Closing.

The code in https://github.com/gammapy/gammapy/blob/master/gammapy/cube/counts.py and https://github.com/gammapy/gammapy/blob/master/gammapy/cube/tests/test_counts.py is now very simple.

[2018-08-07 13:37] #1620 closed

[2018-08-07 13:52] joleroi commented on #1638
I can reproduce the issue with the following MWE
[code]

which gives this output

[code]

[2018-08-07 18:13] Bultako commented on #1654
Ok
Fixed in https://github.com/gammapy/gammapy-extra/commit/b48336414e686b79516fd3db5f0ed168799a0fee

You need the filename in the URL when declaring a link, not just the folder.
In this case I have replaced http://docs.gammapy.org/dev/maps/ by  http://docs.gammapy.org/dev/maps/index.html

[2018-08-07 18:13] #1654 closed

[2018-08-07 21:33] cdeil commented on #1654
@Bultako - Thank you!

[2018-08-07 21:56] cdeil commented on #1638
Should be fixed by #1660 .
Closing this issue.

@robertazanin - Please try again with latest master.

[2018-08-07 21:56] #1638 closed

[2018-08-07 21:58] cdeil commented on #1608
Done by @adonath in #1655 . Closing.

[2018-08-07 22:57] cdeil opened #1661 "Remove SpectrumFit _est_errors_iminuit ?"
@joleroi - I think today we said that [SpectrumFit._est_errors_iminuit](https://github.com/gammapy/gammapy/blob/57363f840a11826f1e26187055d3bc360d3e93b5/gammapy/spectrum/fit.py#L427) can be removed, now that we have [this](https://github.com/gammapy/gammapy/blob/57363f840a11826f1e26187055d3bc360d3e93b5/gammapy/utils/fitting/iminuit.py#L54)?

Can the whole `covar_axis` and `covariance` attribute be

[2018-08-08 07:00] cdeil opened #1663 "Add elliptical spatial sky models"
Currently we have radially symmetric sky models, such as e.g. [SkyDisk](http://docs.gammapy.org/dev/api/gammapy.image.models.SkyDisk.html) or [SkyGaussian](http://docs.gammapy.org/dev/api/gammapy.image.models.SkyGaussian.html)

We should add support to fit equivalent elliptical sky models, i.e. elongated variants of those models that are stretched in one direction. This is sometimes used, especial

[2018-08-08 07:28] joleroi commented on #1638
With the latest master I get
[code]

as expected :fireworks:

[2018-08-08 08:04] joleroi commented on #1663
Note that this is not mission difficult, it's mission impossible. Difficult should be a walk in the park for you

[2018-08-08 08:09] cdeil opened #1665 "Expose model parameters as model attributes"
In both Sherpa and Astropy, model parameters are exposed as model attributes. Getting returns a `Parameter` object, setting via float works.

Here's an example with Sherpa, but Astropy behaves the same way:
[code]
Not all models do this, e.g. composite models like `m = Gauss1D() + Gauss1D()` don't have the parameters exposed that way.

Now the mechanism how this is implemented in Astropy and Sherp

[2018-08-08 08:35] registerrier commented on #1551
Since we need a place to share contributed code that does not belong to the core of gammapy, a working and practical solution proposed by @cdeil is to move these codes to gammapy-extra so that clean-up of gammapy can go-on.
Obviously some updates for these codes will be required once v0.8 will be released and we will work with their developers to make the update.

[2018-08-08 09:05] cdeil commented on #1651
Done by @joleroi  in #1666

[2018-08-08 09:05] #1651 closed

[2018-08-08 09:30] cdeil commented on #1651
Small follow-up commit fixing one reference, and a little PEP8 code formatting: 074e1cb8

[2018-08-08 11:04] cdeil commented on #1551
@registerrier - Thank you for agreeing to move the old code to the side for now, so that we can continue with the work on the new code in Gammapy.

I have put a copy of `cta_irf.py` and `cta_utils.py` in gammapy-extra here:
https://github.com/gammapy/gammapy-extra/commit/b15ec9d27bc3c195a7f933146ddbb9bbfab7bf05

The example `cta_simulation.ipynb` is also there, it runs with those two files and oth

[2018-08-08 12:00] cdeil opened #1669 "Improve gammapy/stats/tests/test_fit_statistics.py"
@joleroi - Please remove of fix the tests in ` gammapy/stats/tests/test_fit_statistics.py`, which are currently xfail.

https://github.com/gammapy/gammapy/blob/281af2077f6bb7a8af7137e92304a767faf57d8e/gammapy/stats/tests/test_fit_statistics.py#L42-L44

https://github.com/gammapy/gammapy/blob/281af2077f6bb7a8af7137e92304a767faf57d8e/gammapy/stats/tests/test_fit_statistics.py#L57-L59

My personal pr

[2018-08-08 12:03] cdeil opened #1670 "Remove or fix spectral point tests"
There's a lot of code in `spectrum/tests/test_flux_point.py` that's currently xfail:

https://github.com/gammapy/gammapy/blob/281af2077f6bb7a8af7137e92304a767faf57d8e/gammapy/spectrum/tests/test_flux_point.py#L154-L156

There's so many tests there that it's hard to tell if those should be removed, or made to run again, or rewritten in a simpler form.

@joleroi - Please comment what you think shoul

[2018-08-08 12:25] cdeil opened #1671 "Improve SensitivityEstimator"
The SensitivityEstimator code and tests should be improved.

Here's what we currently have:
- https://github.com/gammapy/gammapy/blob/master/gammapy/spectrum/sensitivity.py
- https://github.com/gammapy/gammapy/blob/master/gammapy/spectrum/tests/test_sensitivity.py

First the tests should be improved, i.e. the two TODOs there addressed in the one working test, and the two xfail tests removed or fix

[2018-08-08 12:37] cdeil commented on #1671
I see that `gammapy.stats.excess_matching_significance` isn't implemented yet:
https://github.com/gammapy/gammapy/blob/281af2077f6bb7a8af7137e92304a767faf57d8e/gammapy/stats/poisson.py#L488

I think you're anyways using the `excess_matching_significance_on_off`, so it's not needed for this. But since it's a simple addition, I'll make a PR for that now.

[2018-08-08 13:04] registerrier opened #1673 "WcsNDMap.cutout() and width"
At the moment, `WcsNDMap.cutout()` does not return the expected cutout. `lon` and `lat` dimensions are inverted. This is because of `astropy.cutout2D` which expects the `width` to be `ny,nx`.
We can either change the docstring of `WcsNDMap.cutout()` or adapt it so that it passes `width`in the correct order if it is a `list` of `Angle`.

The easy solution is to stick to the satrapy convention for c

[2018-08-08 13:06] cdeil commented on #1673
This was discussed at length in https://github.com/gammapy/gammapy/issues/1608 .
I thought this was already done.
Let's close this one, and re-open that other one, to keep discussion on one place.

[2018-08-08 13:06] #1673 closed

[2018-08-08 13:08] cdeil commented on #1608
I'm re-opening this issue. See #1673 by @registerrier - apparently order is still lat / lon.

It's agreed order for width in Gammapy should be consistently lon / lat, no?

@adonath - Thoughts? Can you make it better?

[2018-08-08 15:08] cdeil commented on #1642
Should be fixed in Gammapy master now, in #1672 by @joleroi .
@registerrier - Please try again and shout if not.

[2018-08-08 15:08] #1642 closed

[2018-08-08 15:10] cdeil commented on #1647
@joleroi - Was this addressed in #1672 ?
Is there action item left or should this issue be closed?

[2018-08-08 20:37] cdeil commented on #1552
I'm closing this old issue. We now have both, and I'm pretty sure we want to keep both. Note that #1652 is still open, which is a bit related.

[2018-08-08 20:37] #1552 closed

[2018-08-08 21:33] cdeil commented on #1647
Closing. @bkhelifi - Please re-open or file a new issue if something is still not working.

[2018-08-08 21:33] #1647 closed

[2018-08-09 07:26] adonath commented on #1608
The issue was not yet fixed in #1655. I think the solution is to split out the width handling to a little helper function, that is called from both `Map.cutout()` as well as `Map.create()`. This way we ensure consistency and minimal code duplication.

[2018-08-09 12:10] cdeil commented on #1531
@joleroi agreed to hack on this today.

[2018-08-09 14:11] HDembinski commented on #1531
@cdeil I think the float division by zero is a bug in the new iminuit. I think I got the same error in a completely different fit. I am looking into this.

[2018-08-09 15:04] cdeil commented on #1368
@robertazanin still has a case with an `IndexError`, see cell 32 here:

[code]
https://github.com/gammasky/cta-analyses/blob/master/dc-1-checks/hess_j1702/1D_spectral_analysis.ipynb

@joleroi - Please have a look or assign over to me.

[2018-08-09 15:24] HDembinski commented on #1531
I made a PR with a fix for iminuit. As soon as the PR is merged, you can try with the iminuit master, the problem should be gone then.

[2018-08-09 15:32] cdeil commented on #1531
Is it https://github.com/iminuit/iminuit/pull/284 ? Does this run during the `hesse` call?

[2018-08-09 16:03] HDembinski commented on #1531
Like we discussed offline, this error happened later. You probably ran with print_level = 1 or higher, so that iminuit tried to be helpful and print the correlation matrix at the end of the hesse call. That triggered the bug.

[2018-08-09 20:50] cdeil commented on #1608
Done in #1674 .

[2018-08-09 20:50] #1608 closed

[2018-08-10 07:53] bkhelifi commented on #1635
Hi,
I ran the AGN notebook... So:
- For my question #1: no crash anymore! But I think it is important to plot mu_bkg is order to have an idea of the S/N ratio. To answer to @joleroi, I will be happy to add back mu_bkg
- For my question #2: there is still an issue with the estimation of TS! Ex:
e_ref | e_min | e_max | dnde | dnde_err | dnde_ul | is_ul | sqrt_ts | dnde_errp | dnde_errn
19.0546071796

[2018-08-10 09:39] cdeil commented on #1671
The excess_matching_significance was implemented in #1675 .

@bkhelifi - Do you have time to improve the `SensitivityEstimator` as mentioned above by Monday noon latest? If no, I could make a PR for this today. Please let me know.

[2018-08-10 09:50] cdeil opened #1689 "Add better test for SkyDiffuseCube"
In #1629 we added the [gammapy.cube.models.SkyDiffuseCube](http://docs.gammapy.org/dev/api/gammapy.cube.models.SkyDiffuseCube.html). Already in that issue I noted that it doesn't seem to give correct results for DC1 . For unknown reasons.

Now @robertazanin and @registerrier also found incorrect results when fitting it's norm on CTA DC1, e.g. Roberta gets norm=0.05 for J1702 even though there is a

[2018-08-10 11:48] joleroi commented on #1368
Indeed I can reproduce the error with this MWP

[code]

The error does not occure if I remove the conversion of ``e_reco`` to ``keV`` so it's probably a lacking unit converison somewhere and should be trivial to fix.

[2018-08-10 11:57] #1368 closed

[2018-08-10 12:01] cdeil commented on #1689
For the spatial convolve, as I said above, we are "loosing npred counts" at the edge because we use [astropy.convolution.convolve_fft](http://astropy.readthedocs.io/en/stable/api/astropy.convolution.convolve_fft.html#astropy.convolution.convolve_fft) with zero padded boundary handing. I'd like to change this to [scipy.ndimage.convolve](https://docs.scipy.org/doc/scipy/reference/generated/scipy.ndi

[2018-08-10 12:05] joleroi commented on #1368
[The notebook](https://github.com/gammasky/cta-analyses/blob/master/dc-1-checks/hess_j1702/1D_spectral_analysis.ipynb) mentioned above now runs trough without problems

[2018-08-10 12:45] #1670 closed

[2018-08-10 13:10] registerrier commented on #1689
OK for me to rely only on scipy.
regular convolution can be an issue if the kernel size is not optimized. This means we have to work soon on a energy dependent PSF kernel size.

[2018-08-10 13:31] adonath commented on #1646
Resolved by #1685

[2018-08-10 13:31] #1646 closed

[2018-08-10 20:09] cdeil commented on #1531
Should be fixed via #1696 .

Of course, there might be bugs, and better ways to improve fit robustness and speed (fewer function evaluations) will remain a topic for a long time.

But I'm closing this issue now. Please open new ones when you find issues (and reference this one if you like)!

[2018-08-10 20:09] #1531 closed

[2018-08-10 20:42] cdeil commented on #1665
I'm postponing this to v0.9.

[2018-08-10 20:45] cdeil commented on #1275
I'm just closing this old issue now. I have no idea if it's still there or not, I'm not using that any more.
If someone is using this functionality and finds an issue with it in the future, please comment here, or better yet open a new issue. Please try to post a minimal example to reproduce the error.

[2018-08-10 20:45] #1275 closed

[2018-08-10 20:48] cdeil commented on #97
Closing this now. Let's build a package with core functionality first.

[2018-08-10 20:48] #97 closed

[2018-08-10 20:48] cdeil commented on #73
I'm closing this now. We now have gammapy.maps which has consistent pixel coord handling.

[2018-08-10 20:48] #73 closed

[2018-08-10 20:49] cdeil commented on #198
Closing this now. We already have a few tutorials showing how to plot spectral points and models.

[2018-08-10 20:49] #198 closed

[2018-08-10 20:51] cdeil commented on #386
We now have this: http://docs.gammapy.org/dev/notebooks/data_fermi_lat.html
More on Fermi-LAT is of course always helpful, but I don't think this old issue will help.
Closing it now.

[2018-08-10 20:51] #386 closed

[2018-08-10 20:52] cdeil commented on #288
Closing this old issue now.

[2018-08-10 20:52] #288 closed

[2018-08-10 20:56] cdeil commented on #1250
Closing this old issue now. Of course, metadata handling will remain a topic for the coming months, but I don't see any concrete task or action item here.

[2018-08-10 20:56] #1250 closed

[2018-08-10 21:00] cdeil commented on #1481
I'm closing this now. For now, the err_method is removed.

In the coming weeks / months, we should develop our optimiser and error estimator interface, and then use that and expose options in a uniform way from the higher-level "Fit" classes.

This can go step by step, refactoring as we learn what's good and bad, or if someone wants to write up a design on a page or two, please make a PR for a pig

[2018-08-10 21:00] #1481 closed

[2018-08-12 11:03] cdeil commented on #948
In #1681 @registerrier added a `MapMaker.make_images` which does produce a spectrum-weighted exposure image. Closing this old issue now.

[2018-08-12 11:03] #948 closed

[2018-08-12 11:03] cdeil commented on #1571
Done in #1681 by @registerrier

[2018-08-12 11:04] #1571 closed

[2018-08-12 11:04] #1596 closed

[2018-08-12 11:09] cdeil commented on #1402
The registry data structure is designed for the case of reading XML, for the case of writing XML it's not well suited. This requires a bit more thought and work, so I'm postponing this to v0.9.

[2018-08-12 11:11] cdeil commented on #1577
@registerrier - Do you have something here for Monday or Tuesday latest? IMO it's not critical, OK to just postpone to v0.9.

[2018-08-12 11:38] cdeil opened #1698 "Special case parameter value 0 scale"
I tried to fit this model:
[code]
and got this error:
[code]
It happens because both methods that we have to scale parameters cannot handle exact float value of zero.

We've talked about this before, and possible solutions are:
1. Special-case `value == 0` with an exact float assert in an `if` statement and don't scale those parameters
2. Introduce parameter "type" attribute, among which we have "

[2018-08-12 12:19] cdeil opened #1699 "Improve repr of gammapy.maps classes"
@adonath - could you please improve the repr for the classes in gammapy.maps a bit?
I.e. Map, Geom, MapAxis and MapCoord.

At least for me, it's often not clear yet where nx and ny is printed.
Another thing I found confusing was to have a diffuse cube with first energy at 1 TeV in center mode and then the repr show an edge min that is lower.
See https://gist.github.com/cdeil/3b2e1191a15ea49a1dbc4a

[2018-08-13 10:09] Bultako commented on #1555
In case it helps, this is the list of notebooks broken in my laptop. I made the unit tests with test_notebooks.py in #1365.  Maybe, we should try to fix those present in the docs before publishing v0.8 docs coupled with v0.8 tag in GAMMAPY-EXTRA.

#----- PRESENT IN DOCS

#- in notebooks.yaml

- background_model.ipynb
cannot import name 'ObservationGroupAxis'

- cwt.ipynb
cannot import name 'SkyIma

[2018-08-13 10:35] robertazanin commented on #1555
IMO we should fix most of them before the release otherwise people will not be able to use the new code.

[2018-08-13 11:40] adonath commented on #1635
@bkhelifi I'd like to investigate the issue with the TS values of flux points, but unfortunately the notebook (`TeV_J1224p212_DC1_spectrum.ipynb`) is broken. It fails with an `IndexError`, because the reflected region background estimator does not find any off regions. Can you try to fix it and let me know?

[2018-08-13 11:44] adonath commented on #139
Part of this is addressed in #1701. When building the docs I don't see any warning at all...does sphinx suppress those?

[2018-08-13 11:53] adonath commented on #1555
I'll start working on this now. I'll start with `cwt.ipynb`, `detect_ts.ipynb` and `sed_fitting_gammacat_fermi.ipynb`.

[2018-08-13 12:11] adonath commented on #1555
Those three are fixed in https://github.com/gammapy/gammapy-extra/commit/b7d74c7f509a250df6d65a4ce878ba9e41b9b554. I'll continue with `spectrum_analysis.ipynb`, `spectrum_model.ipynb` and `spectrum_pipe.ipynb`

[2018-08-13 12:33] adonath commented on #1555
Fixed since https://github.com/gammapy/gammapy-extra/commit/7b105577d57f0c3b73641a133848d4d4b8a8316d. I'll continue with `intro_maps.ipynb` and `cta_1dc_introduction.ipynb`.

[2018-08-13 13:03] adonath commented on #1698
Why not just:

[code]
Technically I do not see any issues with this solution...

[2018-08-13 13:04] adonath commented on #1555
Those two are fixed since https://github.com/gammapy/gammapy-extra/commit/c1cfe863616b5f5a5a60fd49d88721c2b2f1ad5b.

[2018-08-13 13:44] joleroi commented on #1698
I still don't really see the purpose of 2., so I'd go for 1. but using ``np.isclose`` not a ``try`` - ``except`` statemant, but that's of course a matter of taste ...

[2018-08-13 13:51] adonath commented on #1698
I agree with @joleroi, that I do not see the need for solution 2. either.

[2018-08-14 08:53] adonath commented on #1699
Addressed in #1700.

[2018-08-14 08:53] #1699 closed

[2018-08-14 09:59] Bultako commented on #1555
@adonath
Thanks very much !
The list has considerably reduced !

Could someone have a look at `background_model.ipynb` and `detect_ts.ipynb`, present in the docs? Once they are fixed we could safely release v0.8 :)

#----- PRESENT IN DOCS
#- in notebooks.yaml

- background_model.ipynb
cannot import name 'ObservationGroupAxis'
- detect_ts.ipynb
KeyError: 'icrs_ra_peak'

#----- NOT PRESENT IN DOCS
#

[2018-08-14 10:04] adonath commented on #1555
@Bultako Could you try updating your `photutils` version? With photutils 0.4 I don't get the error in `detect_ts.ipynb`. I think updating `background_model.ipynb` is a little bit more work as, we've removed the observation group handling from `gammapy/data`. I'll look into the other simulation notebook after lunch...

[2018-08-14 10:44] cdeil commented on #139
What is left to do? If you're not aware of any more warning, I'd suggest to just close this issue. We can always make another issue or PR for a given warning that appears.

No, those are usually visible. But Sphinx build doesn't run a lot of code, and usually I fixed warnings that show up there.

[2018-08-14 10:49] adonath commented on #139
I wasn't sure about the docs build warnings, that's why I left the issue open. Closing now.

[2018-08-14 10:59] cdeil commented on #1698
I think `isclose` could be problematic. Note that we had cases of wanting to fit spectral models with a norm of `1e-20`, which is very close to 0.

I was just thinking that there might be cases where one wants to fit a Gammapy model with a negative parameter. E.g. fitting the Galactic center position could result in  `lon = -0.01 deg` or `lon=+0.01 deg`, and switching to `lon = 359.99 deg` would m

[2018-08-14 11:09] adonath commented on #1698
@cdeil Indeed the case of negative parameter values should be handled correctly, which is currently not the case...I agree `np.isclose()` is problematic, I think it's still fine to just catch the `OverflowError` for  the `value=0` case. I'd be also fine with not scaling certain parameters, but maybe I'd rather handle this with a flag on the parameter object, as it could apply for other (especially

[2018-08-14 11:13] adonath commented on #1698
I agree it's useful to have smart model evaluators in the future, but there are many ways to achieve what you suggest and it's not clear to me that the parameter type property is needed for this. E.g. models could as well just have a `.state` attribute, that specifies whether the model has changed since the last evaluation...

[2018-08-14 11:17] adonath commented on #1555
The remaining notebooks `spectrum_simulation.ipynb` and `spectrum_simulation_cta.ipynb` were fixed in https://github.com/gammapy/gammapy-extra/commit/90a3cb09e568435696bbb6665fd570dccb689424.

[2018-08-14 11:45] joleroi commented on #1698
I agree in this case. I argued against ``try`` - ``except`` because I've encounter numerous examples in gammapy where this policy lead to unforseen errors handled in a bad way. But here it might indeed be a solution

with emphasis on 'in the future'

[2018-08-14 11:52] Bultako commented on #1555
Yes.
You're right, tests passed with deprecation warnings with photutils==0.4
Should we enforce  photutils==0.4 in the `setup.py` requirements?

Now, we only have one broken notebook `background_model.ipynb`
We could also remove it from the docs since it is not a relevant one, I guess.. (it is classed in *Extra topics*)

[2018-08-14 21:13] cdeil commented on #1698
Basically that's what the proposed Parameter `type` is: a multiple-choice string that for now is used as a flag to decide if / how to scale parameters in this method.

Unless you have time to make a PR, we can just briefly talk about this and then put in something tomorrow before cutting the release.

[2018-08-14 22:06] cdeil commented on #1652
Done by @adonath in #1703 .

[2018-08-14 22:06] #1652 closed

[2018-08-15 09:40] adonath commented on #1698
@cdeil I see your point, but I think whether the scaling should be applied or not is independent of the fact whether a parameter is of `spectral` or `spatial` type (e.g. `lon` and `lat` as well `index` wouldn't have to be scaled... ). So wee might need to introduce different or additional categories...or maybe just allow `scale=None` if a parameter should not be scaled?

[2018-08-15 10:03] joleroi commented on #1698
Why don't we go for @adonath solution

And put something fancy as soon as the need arises

[2018-08-15 11:48] adonath opened #1705 "Avoid copies when creating Quantity objects"
By default the creation of `Quantity` objects does a copy of the data, that is passed to it, except if it is explicitly disabled using `Quantity(data, 'TeV', copy=False)`.  We should review our existing code for this behaviour to avoid copies of large data arrays, if they are not needed. Note that the creation via the pattern `energy = data * u.TeV` always makes a copy. In https://github.com/astro

[2018-08-15 13:49] #1669 closed

[2018-08-15 13:53] cdeil commented on #1705
Personally I would lean towards calling `Quantity` because it has the extra option `copy=False` and is a little easier to grep for to review our usage. But I'm not sure if we should make this a guideline and do that uniformly, given that some people like writing `42 * u.TeV` and doing that e.g. in tests is just fine.

[2018-08-15 14:01] cdeil opened #1707 "SkyModels.from_xml example is broken"
This example seems to be broken:

https://github.com/gammapy/gammapy/blob/37a1b3d5317d4ccdb91cc9498360e90e8511e006/gammapy/cube/models.py#L32-L34

There's a parsing error. I get the same error when trying to read that XML file directly with `xmltodict`.

@joleroi - Can you make it better?

[code]

[2018-08-15 15:10] joleroi commented on #1707
This has been resolved offline. It's ``SkyModels.read``

[2018-08-15 15:10] #1707 closed

[2018-08-15 15:15] joleroi commented on #1707
The docs example is fixed in https://github.com/gammapy/gammapy/commit/4b2559d9e7b5f59534e85b4d8a83cdef63759151

[2018-08-15 15:31] joleroi commented on #1698
@cdeil I think this is fixed now, but can you nevertheless try your fit again and confirm?

[2018-08-15 15:35] joleroi commented on #1418
Actually when I think about it now I disagree, if one does not want the results to be written to disk automatically they can just call ``fit`` and ``est_errors`` (and then maybe ``write``). That's 3 lines. The ``run`` method is meant as convenience so where's the point if one has to run some of the analysis steps manually afterwards?

[2018-08-15 15:35] joleroi commented on #869
Postponing to ``0.9``

[2018-08-15 19:50] cdeil commented on #1698
Fixed by @joleroi in #1708

[2018-08-15 19:50] #1698 closed

[2018-08-15 19:53] cdeil commented on #1418
But there's also the aspect of uniformity within Gammapy. It's confusing to users if e.g. SpectrumFit does write stuff, but MapFit doesn't. But let's discuss this without haste some day and try to make a good decision. Moving to v0.9.

[2018-08-15 20:04] cdeil commented on #1633
Done by @adonath in #1702 .

[2018-08-15 20:04] #1633 closed

[2018-08-15 22:47] cdeil commented on #1389
@adonath @joleroi @registerrier @Bultako @robertazanin - I decided to not cut the Gammapy v0.8 release now. It's late, and  I'm without computer for the next three days, so won't be able to finish the steps properly, especially building the conda package usually takes a day or two, so I couldn't send the announcement before leaving anyways.

I'll be back on Monday, @adonath - let's do it together

[2018-08-15 23:09] cdeil commented on #139
@adonath - There's still this FutureWarning from Numpy visible in the notebooks that you ran:
https://gist.github.com/cdeil/b06ec84d5b5007cfe2284b6fdb6a219d#file-gistfile1-txt-L76
Is it resolved or can you do it?

[2018-08-15 23:17] cdeil commented on #1555
@adonath - Rename `data_fermi_lat` to just `fermi_lat`?

For the background model and light curve there's a reminder issue open to bring it back. I don't think anyone has time for those, so suggest to remove for now, at least the link from the tutorials docs page.

For https://github.com/gammapy/gammapy-extra/blob/master/notebooks/cta_1dc_analysis_msh15-52.ipynb I think maybe we should delete it i

[2018-08-16 15:54] Bultako commented on #1555
Done in https://github.com/gammapy/gammapy/commit/5993a028391380751d2636f76bd27d0941e43df4

[2018-08-17 07:01] adonath commented on #1555
@cdeil I renamed the notebook in https://github.com/gammapy/gammapy-extra/commit/ca0cd664bebfa40ca66c06795bdfd29d707bec43.

[2018-08-17 08:10] adonath commented on #1644
Resolved in #1711.

[2018-08-17 08:10] #1644 closed

[2018-08-20 13:06] Bultako commented on #1555
In master branch, it seems the error comes from `astropy`. I have updated the conda environment and still have the error with astropy v3.0.4. I will open an issue about this.

With the conda environment updated I have new different errors and broken notebooks :(
Maybe we should fix version numbers of some dependencies in `environment-dev.yml` and `setup.py`?

[2018-08-20 13:10] cdeil commented on #1555
Also: give me 1 day to go through the notebooks and fix / improve things.
Then I think only very few issues will remain that come from version differences in Numpy and Astropy. Usually it's easy to fix those by rewriting a line or two in a way that works that same in all versions.

[2018-08-20 13:11] Bultako opened #1714 "AttributeError: failed access "info" attribute on a temporary object."
I have an error in cell [9] of notebook `fermi_lat.ipynb` when trying to access properties of object EventList. It seems it is related with `astropy` dependency.

<pre>
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-9-c6754d2c5262> in <module>()
----> 1 events.energy.info('stats'

[2018-08-20 13:41] cdeil opened #1715 "Support region_mask for multi-resolution maps"
This is a reminder issue to make region_mask work for multi-resolution maps:

https://github.com/gammapy/gammapy/blob/5759d4f2fefda7792340c970d0f87e3d2e25dc59/gammapy/maps/wcs.py#L815

Probably only a few lines of code extra or changed are needed for this, but it needs an expert in gammapy.maps that knows how multi-resolution maps and map coords work.

[2018-08-20 15:50] cdeil opened #1717 "test_compute_lima_on_off_image fail"
Locally `test_compute_lima_on_off_image` fails for me in Gammapy master.

Most pixels are the same up to float noise in the 1e-8 range or something like that, but there's islands of pixels where the differences are ~ 1 positive or negative, so changing the assert tolerance won't help.

The issue might have appeared with the recent change in convolve implementation, I'm not sure.

I ran this to dum

[2018-08-20 16:26] cdeil commented on #1551
I've removed `cta_simulation.ipynb` for now in
https://github.com/gammapy/gammapy-extra/commit/586dcbf977abd195a6514cfd578ab06bbe0f1f32

@registerrier - Note that the class to load IRFs is still in https://github.com/gammapy/gammapy/blob/master/gammapy/irf/io.py , so that would be one place to start work on this, and then the main change needed is to put a background rate model in SpectrumSimulati

[2018-08-20 20:27] cdeil opened #1718 "Bad covar with iminuit 1.2"
I'm getting a bad covariance matrix and thus spectral error band in this example with Gammapy master and iminuit 1.2:

https://nbviewer.jupyter.org/github/gammapy/gammapy-extra/blob/66ee6554e0636fc6fddfa176272d79d713c27a14/notebooks/sed_fitting_gammacat_fermi.ipynb#Exponential-Cut-Off-Powerlaw-Fit

After updating to iminuit 1.3.2 the issue is resolved.

I don't understand why yet.

---

This is a

[2018-08-20 20:33] cdeil opened #1719 "Default print_level=0 for iminuit?"
Currently when computing spectral points in Jupyter, one gets a lot of HTML output, one fit result table for every fit / spectral point.

See e.g. here: https://nbviewer.jupyter.org/github/gammapy/gammapy-extra/blob/master/notebooks/spectrum_analysis.ipynb#Compute-Flux-Points

We could expose `opts_iminuit` for spectral points also, and pass `print_level=0` there from scripts, or by default.

But

[2018-08-20 21:08] cdeil opened #1720 "Spectrum result counts plot excess or counts?"
@joleroi - Could you please have a look at this?

https://github.com/gammapy/gammapy/blob/c118a2bb94a13f68546c82d8e2c02b5d88a710cf/gammapy/spectrum/results.py#L229-L235

I saw this in  #139 as one of the few last remaining lines that raise a warning in Gammapy, in this example:

https://nbviewer.jupyter.org/github/gammapy/gammapy-extra/blob/080627bbb409803aa0ba1fa82931237699d3a157/notebooks/spectr

[2018-08-20 21:12] cdeil commented on #139
Almost all warnings are resolved.

I did open a separate #1720 and #1717 mentions another warning.

There's one more in photutils, and two more that appear in notebooks that are currently broken and need to be rewritten anyways.

Good enough for now, closing this issue.

[2018-08-21 08:04] cdeil commented on #1717
`compute_lima_image` and `compute_lima_on_off_image` currently optionally still take an `exposure` image as input, but it's completely unused. @adonath - OK if I remove that?

[2018-08-21 08:57] adonath commented on #1717
@cdeil Yes, sure...

[2018-08-21 09:06] cdeil commented on #1717
Done in 69e3eba4fe25ec5d3289fab5689e52b2159327ad

[2018-08-21 09:40] adonath commented on #1717
Using the exact same environment as in your `version.txt`I cannot reproduce the issue, so I guess it's platform dependent? (but the Travis Mac OS build seems OK) So all in all this seems hard and time consuming to debug. Maybe just change back to non-fft convolution and see if this fixes the issue?

[2018-08-21 09:50] cdeil commented on #1717
I struggled to reproduce today, but now managed to reproduce the issue in this environment:
[code]
@adonath - Can you try that please? And if you can't reproduce we could have a look together after lunch?

[2018-08-21 10:54] adonath commented on #1717
@cdeil I just tried with the environment you suggested above and it works for me. No test fail.

[2018-08-21 12:33] cdeil commented on #139
There's more Numpy and Astropy warnings that you can see via:
[code]
Please ignore the iminuit printout for now, I'll change iminuit to not emit that by default soon.

[2018-08-21 12:41] cdeil opened #1724 "Support Python 3.7"
Python 3.7 was released 2018-06-28 and now people will start to use it (e.g. I got it today by default when making a conda env).

I'll try to add a CI build for Python 3.7, to see if we can support it for v0.8 already.

Probably in Gammapy there's zero or very few changes needed, because Python 3.7 should be compatible with previous Python 3 releases, this is mostly a CI config / setup task.

Nump

[2018-08-21 13:34] adonath commented on #1719
I agree we should use `print_level=0` as default and show in the docs how to get more output, if needed, via the `opts_minuit` argument. Even this simple change I think is already an improvement. Other improvements such as passing different arguments to `migrad()` or `hess()` can be added later...

[2018-08-21 14:00] Bultako opened #1725 "Declare version numbers in environment YAML file?"
I have the feeling that from time to time we must face backwards incompatibility issues related with `gammapy` dependencies. i.e. https://github.com/gammapy/gammapy/issues/1714 https://github.com/gammapy/gammapy/issues/139 https://github.com/gammapy/gammapy/issues/1555. I still remember the nightmare when `matplotlib` upgraded to v2.

We could greatly improve reproducibility if we fix in `gammapy/

[2018-08-21 16:05] cdeil commented on #1725
@Bultako - Do you have time Friday morning to discuss a bit? (see https://github.com/gammapy/gammapy-meetings/tree/master/2018-08-24)

Briefly: for users, yes, we want envs with a known good set of package versions. We should make one for every release, e.g. for Gammapy v0.8 the default should be Python 3.6, Numpy 1.15, Astropy 3.0, basically a recent stable and good version of the dependencies (b

[2018-08-21 17:27] Bultako commented on #1725
not this Friday, but next one 👍

[2018-08-21 21:22] cdeil commented on #139
Many fixed by @adonath in #1726 .

@adonath - I see a few more with recent Numpy and Astropy, e.g. this one:
https://gist.github.com/cdeil/1b3c47c46a27167239878bdbeea2df0c#file-gistfile1-txt-L352

Do you see those / plan to continue here? If no, please assign over to me and I'll have a look at the remaining ones.

[2018-08-21 21:51] cdeil commented on #1417
This error started to appear again on Sherpa import
[code]
in this build yesterday:
https://travis-ci.org/gammapy/gammapy/jobs/418891147#L3539

@olaurino - Any idea why?

You didn't make a release, right? So it must have something to do with other conda or conda-forge packages or setup that changed somehow?

[2018-08-22 07:14] cdeil opened #1728 "4D Map reproject IndexError"
@adonath - 4D map reproject is broken, it gives an IndexError. Probably this is a regression that got introduced in #1711 . Could you please fix?

https://travis-ci.org/gammapy/gammapy/jobs/418894507#L4649

[code]

[2018-08-22 07:56] adonath commented on #1728
I think that's actually the same issue as we've noticed with the `RingBackroundEstimator`, that the `idx` returned by `.iter_by_image()` is in reversed order. I'll review all the places where we do the iteration over images now...and try to fix it for all.

[2018-08-22 07:59] cdeil commented on #1728
@adonath - Thanks!

For now we don't share fixtures across Gammapy tests, and it's not easy to organise this well. So for now, you could just change the existing tests we have for the functions that are supposed to handle extra axes, and insert one or two dummy axes with one or two bins, to have a regression test before changing the idx handling in the implementations.

[2018-08-22 09:36] cdeil opened #1729 "Errors pointed out by make pylint"
This is a reminder issue to fix some errors pointed out by `make pylint`.

Most are false positives, but a few are real errors.

In case someone else wants to run this - there was an issue (https://github.com/PyCQA/pylint/issues/2434), currently `make pylint` only works with `astroid` and `pylint` master.

[code]

[2018-08-22 10:29] cdeil commented on #1729
This is a false positive, there is no issue / error:
[code]
Reported here: https://github.com/PyCQA/pylint/issues/2435

[2018-08-22 14:44] olaurino commented on #1417
It looks like it. Ugh. I'll take a look.

[2018-08-22 15:12] cdeil commented on #1729
Most are fixed or disabled in #1732 . In cases of false positives I've filed issues with `pylint` and left a code comment in Gammapy pointing to that issue, so that we can clean this up further in the future.

The remaining errors are:
[code]

pylint can report a ton of more warnings and code style issues (but also a ton of false positives and irrelevant things):
https://gist.github.com/cdeil/08be

[2018-08-22 15:15] #1728 closed

[2018-08-22 15:30] cdeil commented on #1423
I'll paint Gammapy black now.

[2018-08-22 15:55] olaurino commented on #1417
I can't reproduce exactly the sequence of packages being installed, which might or might not impact my ability to reproduce the issue.

In particular, it looks like for some reason you are forcing downgrading `conda` to a specific version (4.3) from conda-forge. However, after I do that, if I try to create a new channel with python 2.7 I get an installation plan with all packages from the conda-fo

[2018-08-22 15:59] cdeil commented on #1417
@olaurino - thank you for your effort and time!

Of course if it helps we should do that.

Just make a PR with this change to trigger a build, or let me know where exactly I should make an edit in `.travis.yml`.

[2018-08-22 16:58] cdeil opened #1734 "Check map geom FITS axcols numbers"
In 51bee796352cc044e60df92abe70ea8345f6801c I did a little code cleanup for the geom _fill_header_from_axes method and noticed that tests still pass if I change from `start=1` to `start=2`.

This means we don't have good tests for this.

I also noticed that there's several enumerate calls where we loop over axes and start counting at zero:

https://github.com/gammapy/gammapy/blob/96368658ee771573e

[2018-08-22 17:47] cdeil commented on #1734
A related issue is that `HpxGeom.make_energies_hdu` is completely broken:

https://github.com/gammapy/gammapy/blob/96368658ee771573edd54c75c6fc2a6caabc4e20/gammapy/maps/hpx.py#L1419-L1431

[code]

The `make_ebound_hdu` doesn't take axis units into account and is thus also broken for an energy axis with TeV.

Probably we didn't notice so far because that convention to serialise energy axis isn't us

[2018-08-22 18:02] cdeil opened #1735 "Remove EQU coordsys in hpx.py"
The [spec](https://gamma-astro-data-formats.readthedocs.io/en/latest/skymaps/healpix/index.html) mentions `coordsys` of `CEL` or `GAL` and that's used in many places in gammapy.maps.

There's one single mention of coordsys of `EQU` here:
https://github.com/gammapy/gammapy/blob/96368658ee771573edd54c75c6fc2a6caabc4e20/gammapy/maps/hpx.py#L1706

That seems to be a left-over, I think we should remove

[2018-08-22 18:09] cdeil opened #1736 "Remove or fix HpxToWcsMapping read method"
The HpxToWcsMapping read method is broken. It references `mult_map.counts` which doesn't exist. E.g. pylint points this out, so it's part of the code we should clean up.

https://github.com/gammapy/gammapy/blob/96368658ee771573edd54c75c6fc2a6caabc4e20/gammapy/maps/hpx.py#L1848-L1861

@woodmd - Could you please advise what to do here? Should this be fixed or removed?

@adonath - maybe you're alread

[2018-08-22 18:54] cdeil opened #1737 "Remove or fix wcs_to_coords in gammapy.maps ?"
The `wcs_to_coords` function in gammapy.maps is unused and broken. It calls `0.5 *` a tuple, which will give a TypeError.

https://github.com/gammapy/gammapy/blob/27d651f0f2d17efa657dbe5e6ec4567c07cca939/gammapy/maps/wcs.py#L1082-L1093

@woodmd - OK if we remove it?

Or is it needed for some application and we should fix and use it instead?

cc @adonath

[2018-08-22 19:32] cdeil opened #1738 "Mode "edge" vs "edges" in gammapy.maps"
We currently have `mode="edges"` here:
[code]
and `mode="edge"` here:
[code]

I'm not sure if that got all places or if the search is somehow incomplete.

It looks like actually there's a consistency to this at the moment: "edge" is used for MapAxis and "edges" for spatial coordinates?

Still, this might be confusing for users and we could change to uniform "edge" everywhere, given that the "edge"

[2018-08-23 07:57] cdeil opened #1740 "Improve spectrum weighting in table_psf_in_energy_band"
Triggered by https://github.com/PyCQA/pylint/issues/2410#issuecomment-415026690 I had a look at `table_psf_in_energy_band` and have some suggestions.

https://github.com/gammapy/gammapy/blob/cb993b580e8a54a776ed9fcaf534eddd320e79e4/gammapy/irf/psf_table.py#L520-L521

Currently there are two ways to define the spectrum to use for weighting. Pass a `spectrum` or a `spectral_index`. Passing a `spectr

[2018-08-23 08:03] adonath commented on #1738
@cdeil I agree we should go for consistency here.  Whether we choose `edge` or `edges` I don't really care (have a slight preference for `edges`, as there is also the `MapAxis.edges` attribute...). Have you checked whether the mode `center` is actually consistent? Or are there any `centers` used in Gammapy?

I just noticed that for the node edges we have `MapAxis.edges` while for the node centers

[2018-08-23 08:11] adonath commented on #1737
It almost looks equivalent to `WcsGeom.get_coord(flat=True)`, so I think it can be removed...

[2018-08-23 08:12] cdeil commented on #1738
I remember I had a discussion with @woodmd at the start of gammapy.maps whether to use plural `coords`, `pixs` and `idxs` or singular `coord`, `pix` and idx`. We decided to go with singular, even if those are arrays. That's not uncommon, e.g. Time and SkyCoord can represent arrays. Most of gammapy.maps is consistent with `coord`, `pix` and `idx`; I think all of the method names are, and for the ar

[2018-08-23 08:13] cdeil commented on #1737
@adonath - Can you please do it?

[2018-08-23 08:39] cdeil commented on #1720
So if you plot excess this will still emit the Numpy warnings then, because you're taking sqrt of a negagive number, no?

I think you have to change this:

https://github.com/gammapy/gammapy/blob/8a8c3c4da054d8d6fbe399248db4bbbf86e7a66a/gammapy/spectrum/core.py#L166

to
[code]
and then call with `show_poisson_errors=False` for excess, no?

(or put the np.sqrt in a with `with np.errstate(invalid='i

[2018-08-23 08:54] joleroi commented on #1720
Mmh, what the difference between
[code]
and
[code]
I always though they were the same

[2018-08-23 09:01] cdeil commented on #1720
You're right, ignore what I said. But the Numpy warning for negative excess bins still needs to be dealt with, no?

[2018-08-23 09:14] joleroi commented on #1720
The excess is now shown [without poisson errors](https://github.com/gammapy/gammapy/commit/8a8c3c4da054d8d6fbe399248db4bbbf86e7a66a#diff-f62764eadcaaa3f0de5e7a538e709650L234), so the warning should have disappeared ...

[2018-08-23 09:15] cdeil commented on #1720
Ah, OK. Then all is good. Thanks!

[2018-08-23 09:15] #1720 closed

[2018-08-23 10:30] adonath commented on #1734
So I've looked into this a bit and seems like all the three methods `HpXGeom.write()`, `HpxGeom.make_energies_hdu()` as well as `HpxGeom.make_energies_hdu()` are unused and untested. The `.write()` method on the `HpxGeom` does not make sense to me either. The I/O for `HpxNDMap` goes completely through `.make_bands_hdu()` of the `MapGeom` base class. So I guess there is no reason to keep those extr

[2018-08-23 10:43] cdeil commented on #1734
@dimauromattia or @woodmd - Can you comment, please?

We want to release Gammapy v0.8 in the coming days, and of course don't want to break Fermipy.

---

@woodmd set up on CI build for Fermipy to test against Gammapy master:

https://github.com/fermiPy/fermipy/blob/6cbbc0293315caeda3a9bb46e72d2340e696707e/.travis.yml#L91-L102

It passed a week ago:

https://travis-ci.org/fermiPy/fermipy/jobs/4171

[2018-08-23 10:51] cdeil commented on #1734
@adonath - What you can do locally is to remove or change things in gammapy.maps, and then to also run tests in Fermipy via `cd ../fermipy; pytest -v` before making a PR. This also works on Python 3.

For me this currently gives
[code]
See https://gist.github.com/cdeil/4ebc25a94eb8c1ad0bb6ecb75ad49197

@dimauromattia - I think you're also using pytest? Can you fix this?
[code]

[2018-08-23 11:57] #846 closed

[2018-08-23 16:44] cdeil commented on #1734
@dimauromattia - We now have a CI build in Gammapy that checks that Fermipy master tests pass with Gammapy master. It doesn't have the Fermi ST installed, so only the tests that don't need those are run. See #1741 .

If you can improve and extend the test coverage of `gammapy.maps` in those tests, that would help us work on `gammapy.maps` more confidently in the coming months, and to notice if we

[2018-08-24 07:14] cdeil commented on #1724
I'm moving this issue for Python 3.7 support to the v0.9 milestone.

I tried to get it to work locally, but ran into multiple Python 3.7 issues in dependencies: https://github.com/pytest-dev/pytest/issues/3854#issuecomment-415671196 , https://github.com/astrofrog/reproject/issues/158#issuecomment-415672566

Basically we have to wait a few more weeks for our dependencies to make releases that suppo

[2018-08-24 07:28] cdeil commented on #1724
The one test fail in Gammapy I got with Python 3.7 is this:
https://gist.github.com/cdeil/fee13b8d4700a1ea879cfd4b49b367c7

It's an Astropy issue already reported here:
https://github.com/astropy/astropy/issues/7744#issuecomment-415675948

[2018-08-24 13:33] cdeil commented on #139
Here's the remaining warnings that appear in the tests:
https://gist.github.com/cdeil/8c19ae61384d1894173493f77ba565d2

[2018-08-24 15:25] adonath opened #1744 "Update test_observation.py to new HESS dataset"
The edisp matrix of the `'$GAMMAPY_EXTRA/datasets/hess-crab4_pha/pha_obs23523.fits'` dataset, which is used in the `test_observation.py` test, contains negative values, which leads to a `UserWarning`, when the matrix is plotted using a `PowerNorm` scale. The test should be changed to an updated dataset.

[2018-08-24 16:15] adonath opened #1745 "Unify and fix testing of .plot() methods"
Currently we are testing the `.plot()` methods of our data classes, just by calling `.plot()` and in some cases by calling `mpl_savefig_check()` after. When multiple plot methods are executed in one test session, the plots are drawn on the same axes, because we typically call `plt.gca()` to get the current axes object. This leads to unexpected warnings and `funny` plots such as:

![test](https://u

[2018-08-24 17:10] cdeil commented on #1745
I think we should do `plt.figure` to make a new figure in `__enter__` instead of deleting existing things, and close it in `__exit__`. See example and discussion in  https://github.com/matplotlib/matplotlib/issues/5218/

You can get a complete list of all existing plot test with:
[code]

Of course it would be nice if you could also check somehow if we have completely untested plot methods left; th

[2018-08-27 07:12] cdeil commented on #1714
I filed https://github.com/astropy/astropy/issues/7773 asking if this behaviour will remain as-is in Astropy. Either way, I'll change the Gammapy example now to fix this.

[2018-08-27 07:25] cdeil opened #1747 "Error in spectrum_fitting_with_sherpa.ipynb"
With Sherpa 4.10 I'm getting this error for `spectrum_fitting_with_sherpa.ipynb`:
[code]

This is with Sherpa 4.10, see full version info [here](https://gist.github.com/cdeil/8391e73b3e7fa9209f1d2927d9e5da27).

@joleroi or @registerrier - Can you please fix ASAP?

(we don't want to advertise broken notebooks in the v0.8 release, so if it's not fixed I have to temporarily remove it from the tutoria

[2018-08-27 09:07] adonath commented on #139
@cdeil  No . I don't see this warning. If I read the traceback correctly the warning is not raised from the line `convolved_data[idx] = conv_function(img, kernel[idx], **kwargs)`, but rather from `np.fft`, no?

[2018-08-27 09:10] cdeil commented on #1533
Info from Jürgen via email:

We'll have to discuss what to do in Gammapy ...

[2018-08-27 11:52] adonath commented on #1745
Resolved by #1746.

[2018-08-27 11:52] #1745 closed

[2018-08-28 08:16] adonath commented on #1461
@cdeil I think it's OK to require MPL >= 2.0, as most users will prefer the nicer plots by default anyway...

[2018-08-28 20:35] cdeil commented on #1461
I changes the MPL version number mentioned in setup.py in 7e46bfde56d11ed051ee68163c44236dbb9f095f . I don't think we should spend time to do more (like add more CI builds with older MPL versions).

Closing this now, but @bsipocz or @adonath - feel free to re-open if you think something else should be done.

[2018-08-28 20:35] #1461 closed

[2018-08-29 05:30] woodmd commented on #1734
I think the `make_ebound_hdu` and `make_energies_hdu` methods could safely be dropped at this point.  These are left over from earlier iterations of the `maps` code before we generalized to arbitrary non-spatial axes.  I'm pretty sure that we're not using them anywhere in fermipy.  Regarding `HpxGeom.write` it might be nice to try to rework this into a `MapGeom.write` method in order to provide so

[2018-08-29 06:27] #1735 closed

[2018-08-29 06:48] cdeil commented on #1744
I'll work today a bit on changing this and a few other tests and notebooks that were using HESS files over to https://github.com/gammapy/gammapy-extra/tree/master/datasets/hess-dl3-dr1 .

[2018-08-29 08:07] cdeil commented on #1618
I noticed again that `gammapy/background/tests/test_reflected.py` and `gammapy/spectrum/tests/test_extract.py` should be cleaned up to have sane use of setup code. One option would be to use `make_something` helper functions instead of fixtures if that helps.

Specifically I was puzzled by a fail that showed up in `test_compute_energy_threshold` because `extraction` was used without `extraction.ru

[2018-08-29 21:27] cdeil opened #1755 "Support BUNIT FITS header key?"
This is a reminder issue for me to look check if we should support `BUNIT` on `Map.read`.

the CTA 1DC diffuse model was given like this:
[code]

and currently `Map.read` doesn't read `BUNIT`:
[code]

@robertazanin @facero @registerrier  - For now, when using the diffuse model, please always load it via `SkyDiffuseCube.read` - there we set the default unit and the model should come out OK to use w

[2018-08-30 07:25] cdeil opened #1756 "Add execute and black for notebooks"
@Bultako - It would be great if it were simple to "refresh" and "format" our notebooks in a simple way.

We have
[code]
to build the docs and
[code]
to format the Gammapy code.

It would be nice to have something like
[code]
and
[code]
or a Python script to do it.

We already have `make test-notebooks` and `test_notebooks.py`, maybe that could be changed a little bit to support those extra use cas

[2018-08-30 07:47] cdeil commented on #1755
It looks like `gammapy.maps` uses a FITS header key of `UNIT`:
[code]
Reading back works of course:
[code]

It looks like we did support `BUNIT` in SkyImage:
https://github.com/gammapy/gammapy/blob/v0.7/gammapy/image/core.py#L213

And we did support `SPECUNIT` in SkyCube:
https://github.com/gammapy/gammapy/blob/v0.7/gammapy/cube/core.py#L759

There is no mention of `BUNIT` or `SPECUNIT` currently

[2018-08-30 07:57] cdeil commented on #1755
The maps spec doesn't mention how to store unit, and the example files contain no unit:
https://github.com/open-gamma-ray-astro/gamma-astro-data-formats/blob/master/source/skymaps/wcs/make_wcs_files.py
Suggest to add a mention there that the FITS standard BUNIT should be used, and add a unit to the example files.

This package seems to use BUNIT only, not read or write UNIT or SPECUNIT:
https://gi

[2018-08-30 10:36] #1744 closed

[2018-08-30 11:16] cdeil commented on #1417
@olaurino - I have no idea which of the Fortran linking / packaging options you are considering is better. https://conda.io/docs/user-guide/tasks/build-packages/compiler-tools.html is probably relevant, but I'm sure you're aware of that. Probably another good thing to do is to look at what scipy does to build and distribute via conda, since they are very widely used and also have Fortran.

[2018-08-30 12:16] cdeil commented on #1734
@adonath - I think this issue is resolved? Close?

Did you add a test that has an assert on the AXCOL header keys and checks that we start numbering at 1 on write? (calling `map.to_hdu_list()[?].header), not hitting the disk)?

[2018-08-30 12:18] cdeil commented on #1689
@adonath - I think this issue was done by you in #1749 ? Close? (or mention remaining action item and move to v0.9, please)

[2018-08-30 12:27] adonath commented on #1689
Resolved in #1749.

[2018-08-30 12:27] #1689 closed

[2018-08-31 12:12] cdeil opened #1759 "Add find_peaks in gammapy.image"
We have two tutorial notebooks that show how to use `photutils.detection.find_peaks`:

https://github.com/gammapy/gammapy-extra/search?q=find_peaks&unscoped_q=find_peaks

There was a change in photutils 0.5:
https://github.com/astropy/photutils/pull/656

And I also put a compatibility code in
https://github.com/gammapy/gammapy-extra/blob/66ee6554e0636fc6fddfa176272d79d713c27a14/notebooks/cta_data_

[2018-08-31 12:55] Bultako commented on #1555
FYI
only three notebooks broken.

- astro_dark_matter.ipynb
AttributeError: 'LogFormatterSciNotation' object has no attribute 'set_powerlimits'

- cta_1dc_introduction.ipynb
FileNotFoundError: [Errno 2] No such file or directory: '/Users/jer/git/gammapy-extra/datasets/cta-1dc/data/baseline/gps/gps_baseline_110000.fits'

- spectrum_fitting_with_sherpa.ipynb
WARNING: imaging routines will not be ava

[2018-08-31 13:32] adonath commented on #1759
In this case I think it's also justified to drop the support for the older version. Right now it's the only place in gammapy or gammapy-extra where we use photutils. One could update the https://github.com/gammapy/gammapy-extra/blob/master/environment.yml  and require photutils >= 0.5.

Users can always easily update their existing environments using:
[code]
Maybe we should document this somewhere

[2018-08-31 13:41] Bultako commented on #1725
I have realized that dependencies are also declared in *install_requires* section of `setup.py`

https://github.com/gammapy/gammapy/blob/96707079e30451b2a453a5ac3f65b176bf72aaf6/setup.py#L106

For the moment, and as agreed, I will only declare the exact versions of dependencies in an `environment.yml` file, though I leave this comment here for discussion.