[2013-05-15 11:47] cdeil opened #1 "Implement toy background simulation"
There should be a tool to simulate background event lists to generate test data sets.

What I have in mind is a simple analytical formula

[code]

that gives the background rate in units `counts / second / deg ^ 2` for a given zenith angle, offset in the FOV and mean scaled width `mscw` parameter.

The point is not to have a very realistic model, just any model so that all the background methods c

[2013-05-15 11:56] cdeil opened #2 "Implement run list format"
Implement some book-keeping classes:

[code]

and a `RunList` class which is a list of `RunInfo`s.

Both should have read / write e.g. in JSON format.

[2013-05-15 11:56] cdeil opened #3 "Implement Observation and Observations class"
Implement some book-keeping classes:
[code]
and a `RunList` class which is a list of `RunInfo`s.

Both should have read / write e.g. in JSON or ??? format.

There is already a `gammapy.obs` module, but it's currently almost empty. See [here](https://gammapy.readthedocs.org/en/latest/obs/index.html) and [here](https://gammapy.readthedocs.org/en/latest/dataformats/observation_lists.html).

[2013-05-15 11:57] cdeil opened #4 "FOV- to Sky projection"
Some background modelling is sometimes done in the FOV and then projected on a spherical coordinate system at the end.
Exclusion regions are often defined on the sky and need to be projected to the FOV system to be used there.
Implement a method to project back and forth (TAN WCS projection).
- https://github.com/gammapy/gammapy/blob/master/examples/add_gnomonic_projection.py
- https://github.com/

[2013-05-15 11:57] #2 closed, assigned to cdeil

[2013-05-15 11:58] cdeil opened #5 "FOV background method"
Implement a FOV background method (see [Berge 2007](http://adsabs.harvard.edu/abs/2007A%26A...466.1219B)) in [`gammapy/background/fov.py`](https://github.com/gammapy/gammapy/blob/master/gammapy/background/fov.py).

The main thing to implement is computing the 2D image from 1D radial acceptance curves, and then to scale to events outside exclusion regions and apply a FOV offset cut.

[2013-05-15 12:01] cdeil opened #6 "Reflected background method"
We should implement the reflected background method.

It's not clear to me yet what a good API (class or function?) and implementation (cartesian FOV or spherical sky coordinate system?) for this is.

Some code that computes reflected regions is available already in [gammapy/background/reflected.py](https://github.com/gammapy/gammapy/blob/master/gammapy/background/reflected.py)

It would probably

[2013-05-15 12:04] cdeil opened #7 "Adaptive ring background estimation"
Implement an adaptive ring background method in `gammapy/background/ring.py`.

The ring background method is described in [Berge 2007](http://adsabs.harvard.edu/abs/2007A%26A...466.1219B), the adaptive ring background method in [Carrigan 2013](http://adsabs.harvard.edu/abs/2013arXiv1307.4868C).

[2013-05-15 12:11] cdeil opened #8 "Integrate root_poisson_stats"
Include this and add a Python wrapper:
https://github.com/cdeil/root_poisson_stats

[2013-05-15 12:13] cdeil opened #9 "Implement ParisAnalysis background method"
This method is describe here (HESS ParisAnalysis software is not publicly available):
http://llr.in2p3.fr/sites/hess/hess-documentation/parisanalysis/

[2013-05-15 20:04] cdeil opened #10 "python setup.py install doesn't install Python files"
@astrofrog @eteq I can't figure out what I did wrong with the astropy affiliated package template so that now `python setup.py install` doesn't install any Python files:

[code]

Indeed `build/lib` doesn't exist, it's called `build/lib.macosx-10.7-x86_64-2.7`.
Full log here: https://gist.github.com/cdeil/5586877

FYI: I am using the astropy affiliated package template for this project just to get

[2013-05-16 07:08] #10 closed, assigned to cdeil

[2013-06-23 15:54] cdeil opened #13 "Fix docs PDF build"
The docs PDF build gives errors:
https://readthedocs.org/builds/gammapy/

and doesn't look good:
https://media.readthedocs.org/pdf/gammapy/latest/gammapy.pdf

First check package-template if the problem is there already.

[2013-06-23 15:57] cdeil opened #14 "Implement sensitivity function in Cython"
The looping over array entries and the iterative optimisation for each entry in [gammapy.stats.sensitivity_on_off](https://gammapy.readthedocs.org/en/latest/api/gammapy.stats.sensitivity_on_off.html) should be implemented in Cython to get good speed.

Before doing that unit tests and a benchmark should be added.

[2013-06-23 16:25] cdeil opened #15 "Implement fast, accurate integrator for power-law type functions"
I've had problems getting accurate results when numerically integrating power-law type functions (spectral models like curved or exponential cutoff power law) using [scipy.quad](http://docs.scipy.org/doc/scipy/reference/generated/scipy.integrate.quad.html) or other integrators.

I think using a `log(x)` spacing instead of `x` and using a simple integration method that takes vectors of `x` and `y`

[2013-06-23 16:42] cdeil opened #16 "Move docs to top-level"
Since gammapy will never be integrated in astropy core, I think it makes sense to move all docs from `docs/gammapy` to `docs` so that they will show up at
https://gammapy.readthedocs.org/en/latest/
instead of at
https://gammapy.readthedocs.org/en/latest/gammapy/index.html
where they are now.

[2013-06-23 16:46] cdeil opened #17 "Clean up docs layout"
- Should the astropy logo replaced with the gammapy logo?
- The current favicon should be replaced with [this one](https://github.com/gammapy/gammapy-website/tree/master/logos).

See https://gammapy.readthedocs.org/en/latest/index.html

[2013-06-23 16:47] cdeil opened #18 "Finish TS map implementation and add matching filter TS computation"
Currently there's the [ts_image](https://gammapy.readthedocs.org/en/latest/api/gammapy.detect.ts_image.html) function and [TSMapCalculator](https://gammapy.readthedocs.org/en/latest/api/gammapy.detect.TSMapCalculator.html) in `gammapy.detect`.

We should probably also add a command line tool to make TS maps ... here's a very old script as an example: https://gist.github.com/cdeil/58ced17e44d9e8946

[2013-06-23 16:47] cdeil opened #19 "Finish gp-make-derived-maps implementation"
Issue #61 should be done first.

[2013-07-04 06:54] cdeil opened #21 "Implement image <-> table conversion functions"
Implement `image_to_table` and `table_to_image` conversion functions.
They should take a mask of pixels of interest and optionally give pixel and / or world coordinate columns.
The WCS info will be lost in the table of course.

[2013-07-05 10:36] cdeil opened #22 "cython not found by setup.py"
I am trying to add Cython files to this package which I forked from `astropy/package-template`, but for some reason `setup.py` doesn't find `cython`:

[code]

To reproduce:

[code]

@astrofrog @iguananaut I don't understand why this works for other affiliated packages (I tried with `package-template` and `astroquery`), but not in `tevpy`! Can one of you please have a look?

[2013-07-11 11:37] cdeil opened #23 "Add `gp-morph-fit-sherpa` for morphology fitting with Sherpa"
We should add a script `gp-morph-fit-sherpa` that allows to perform morphology fits with Sherpa using an on-off likelihood or on-likelihood fit (using `background = alpha * n_off`).

Here's an old version of mine I have to integrate into gp that does the on-likelihood fit:
https://gist.github.com/cdeil/5974689

@registerrier Can you make a pull request with your script that does the on-off likelih

[2013-07-14 16:37] cdeil opened #24 "Document scripts in docs"
The help output from the command line tools ("scripts") as well as examples should be included in the docs for end-users that don't want to use Python or know how it works.
#230 makes this possible ... the script functions (but not their command line tool help output) are now listed here: https://gammapy.readthedocs.org/en/latest/scripts/index.html

We still have to programatically get at the help

[2013-07-23 11:56] cdeil opened #26 "Docs build error on readthedocs related to `astropy.wcs`"
The `tevpy` docs build now fails because of a problem with `astropy.wcs` (see below and [here](https://readthedocs.org/builds/tevpy/708560/).
I don't see this error on my local machine.

@mdboom Do you know what the problem is? Is this a problem in `astropy` or am I doing something wrong?

[code]

[2013-07-28 15:03] cdeil opened #27 "Add more gamma-ray data examples"
Sometimes HESS makes images in FITS or spectra in ascii available for download here (search for "aux"):
- http://www.mpi-hd.mpg.de/hfm/HESS/pages/publications/pubs_all.shtml

We can use these as test datasets ...
- http://www.mpi-hd.mpg.de/hfm/HESS/pages/publications/auxiliary/HESSVelaX_fluxmap.fits

[2013-08-05 18:04] #26 closed, assigned to cdeil

[2013-08-05 18:44] cdeil opened #28 "Python 3.2 tests fail on travis-ci"
This is just a reminder ... it's an astropy issue:
https://github.com/astropy/astropy/issues/1256

I'll disable Python 3.2 tests on travis-ci for now in gammapy until this gets fixed.

[2013-08-06 09:01] cdeil opened #29 "Sphinx build warnings with `astropy.utils.data.get_pkg_data_filename`"
I'm using `astropy.utils.data.get_pkg_data_filename` in a few places in `tevpy` (see [here](https://github.com/gammapy/tevpy/search?q=get_pkg_data_filename&ref=cmdform&type=Code)).

This causes four `tevpy` Sphinx build warnings:

[code]

It's annoying because it makes the travis-ci sphinx build fail:
https://travis-ci.org/gammapy/tevpy/jobs/9869684#L686

@eteq @astrofrog @iguananaut Do you know w

[2013-08-13 13:58] cdeil opened #30 "AttributeError in test_SNR_Truelove"
@adonath Could you please fix the following error?

[code]

[2013-08-14 15:32] cdeil opened #31 "Make simulated gamma-ray images of the Milky Way"
To showcase the different parts of astropy and gammapy we should make simulated gamma-ray images of the Milky Way.

[2013-08-14 15:35] cdeil opened #32 "Make movie or animation of 3D simulated gamma-ray Milky-Way"
We could make a movie (e.g. using [Blender](http://www.cv.nrao.edu/~bkent/computing/kentPASP.html) or a JavaScript 3D animation like [this](http://www.asterank.com) to illustrate how the Milky way looks for different source population models and instrument sensitivities / resolutions.

cc @adonath

[2013-08-15 15:28] #22 closed, assigned to cdeil

[2013-08-19 19:12] cdeil opened #33 "Clean up spectrum code"
The [`gammapy.spectrum`](https://gammapy.readthedocs.org/en/latest/spectrum/index.html) sub-package contains a lot of old code that needs to be reviewed.
Keep the useful parts and add unit tests / docs.
Remove the superfluous stuff ...

I also have [this super-old script for PWN spectra](https://gist.github.com/cdeil/1b9e58f2e9e5c4096f03) which can probably be thrown away except for this [analytic

[2013-08-21 12:22] #29 closed, assigned to cdeil

[2013-08-21 12:25] #30 closed, assigned to adonath

[2013-08-22 12:29] cdeil opened #36 "Check and document Sherpa model integration"
In the [poisson_stats_image](https://github.com/gammapy/gammapy/tree/master/gammapy/data/poisson_stats_image) example possibly both during simulation and during fitting the model is not integrated over bins?

[2013-08-22 15:13] #16 closed, assigned to cdeil

[2013-08-22 16:47] cdeil opened #37 "Implement simplexy in detect"
I came across this simplexy source detection method:
https://github.com/astrojs/simplexy.js
https://github.com/astrojs/simplexy.js/blob/master/src/simplexy.coffee
http://trac.astrometry.net/wiki/SimplexyTuneup
http://trac.astrometry.net/browser/trunk/src/astrometry/blind/simplexy.c
https://www.stsci.edu/trac/ssb/stsci_python/browser/GoogleSky/trunk/astrometry.net/quads/simplexy.py
http://astrometr

[2013-08-23 08:19] cdeil opened #38 "Spectrum file formats and interop with other tools"
In Gammapy we should support existing spectrum file formats.
Also we should make it easy to use other existing tools.

These might be useful for visualisation or even analysis, there might be more:
- http://tools.asdc.asi.it/SED/
- http://www.asdc.asi.it/tgevcat/
- http://cxc.cfa.harvard.edu/iris/latest/index.html
- https://github.com/jbudynk/sedstacker

I think these all work on spectra = flux po

[2013-09-02 19:09] cdeil opened #40 "Edit on github links are broken"
All "edit on github" links in the docs are broken.

E.g. the top-level page at the moment points to this non-existing URL:
https://github.com/gammapy/gammapy/tree/v0.1/docs/index.rst

[2013-09-06 08:21] #28 closed, assigned to cdeil

[2013-09-12 07:06] cdeil opened #42 "Implement template background images"
There is some old code in [pyfact.py](https://github.com/gammapy/gammapy/blob/master/gammapy/utils/pyfact.py) to do template background estimation as in [Rowell 2003](http://adsabs.harvard.edu/abs/2003A%26A...410..389R).

This should be cleaned up (nice API, add docs, add tests) in `gammapy.background`.

[2013-09-21 12:46] cdeil opened #43 "Update .travis.yml file"
I should update the gammapy `.travis.yml` file to fix this:
https://github.com/astropy/astropy/commit/513b002c6cdaf968a663a6f3c70fb2183e46650e#commitcomment-4148009

And maybe start using wheels to speed up the tests ...

[2013-09-23 11:14] cdeil opened #44 "Utility function to compute IAU-style source name"
Add a utility function that computes a source name string in these formats:
- `HESS J0534+220`
- `2FGL JHHMM.m+DDMM`, constructed according to IAU Specifications for Nomenclature; m is decimal minutes of R.A.; in the name R.A. and decl. are truncated at 0.1 decimal minutes and 1, respectively

This should probably be in astropy ... check first if it already is or make PR there.

[2013-09-25 14:17] ellisowen opened #46 "_lookup_pix should optionally ignore positions outside the array"
Here's an example showing the problem:

[code]

[2013-10-03 11:55] cdeil opened #49 "Add visibility computation / plot functionality"
We should add basic data and methods for TeV telescope observer calculations.

E.g. [TeVCat](http://tevcat.uchicago.edu/) has for each TeV telescope location and TeV target the "Vis-plot this source" and "vis-plot full year" plots ... see e.g. the [Crab](http://tevcat.uchicago.edu/?mode=1&showsrc=74) as an example.

Since `astropy.coordinates` doesn't contain Sky-to-horizon coordinate transformati

[2013-10-04 12:54] cdeil opened #50 "Implement Lafferty & Wyatt 1995 flux point method"
[Lafferty & Wyatt (1995)](http://adsabs.harvard.edu/abs/1995NIMPA.355..541L) gives a fancy method to position points within a bin, which is commonly used in TeV gamma-ray astronomy to compute flux points.

See e.g. Equation 3.7 on page 63 and the footnote on page 65 in [Hoppe](http://www.ub.uni-heidelberg.de/archiv/8893).

This should be implemented in [gammapy/spectrum/flux_point.py](https://gith

[2013-11-27 10:36] cdeil opened #55 "Implement and test GALPROP helper class or functions"
Here's an old script I wrote to work with GALPROP output cubes:
https://github.com/gammapy/gammapy/blob/master/examples/galprop.py

@ellisowen Let's discuss how to best implement this functionality and then you re-write it and add documentation and tests.

[2013-12-09 08:58] cdeil opened #61 "Fix `Maps` container class constructor"
The `Maps` container class constructor logic is broken at the moment (doesn't show up on travis-ci for some reason):
https://gist.github.com/cdeil/7869324

It should be re-written, probably use `gammapy.stats.Stats` and have FITS I/O in methods `from_fits` and `to_fits` instead of sub-classing `HDUList`.

[2013-12-17 14:44] cdeil opened #62 "Fix and test spectrum integral flux methods"
The numerical integration to compute integral fluxes doesn't seem to work well ... I had this note:

[code]
- [ ] Make the integration method robust
- [ ] Add several unit tests

[2014-02-11 15:20] cdeil opened #69 "Fix TestMaps.test_make_derived_maps"
`TestMaps.test_make_derived_maps` currently fails:
https://gist.github.com/cdeil/8936825

For now I'll just disable the test because I don't have time to fix it now.

[2014-02-11 15:22] cdeil opened #70 "Fix test_image"
At the moment `test_image` fails like this:
https://gist.github.com/cdeil/8936875

I don't want to look into this right now, so I'll just disable this test.

[2014-02-11 17:46] #44 closed, assigned to cdeil

[2014-02-13 08:46] cdeil opened #71 "Add XSPEC example dataset from Fermi LAT"
After #68 is merged, we should add an XSPEC example to `gammapy.data` and example plots of the response and analysis as a tutorial.

A Fermi observation of a GRB would be nice:
- http://fermi.gsfc.nasa.gov/ssc/data/analysis/scitools/help/gtrspgen.txt
- http://fermi.gsfc.nasa.gov/ssc/data/analysis/scitools/lat_grb_analysis.html
- http://fermi.gsfc.nasa.gov/ssc/data/analysis/documentation/Cicerone/C

[2014-02-13 08:48] cdeil opened #72 "Implement `gp-xspec` command line tool"
Implement the [xspec](https://github.com/gammapy/gammapy/blob/master/gammapy/scripts/xspec.py) tool.
See docstring for what it should do.

[2014-02-13 08:57] cdeil opened #73 "Consistently follow astropy pixel coordinate convention"
All functions working with pixel coordinates need to be reviewed to make sure they follow the astropy pixel coordinate convention:
http://photutils.readthedocs.org/en/latest/photutils/index.html#coordinate-convention-in-photutils

Specifically some functions currently contain a `shift` argument with default 0.5 ... I think this can be removed and simply follow this convention.

[2014-02-13 14:29] cdeil opened #74 "array cdf random sampling"
The current [`GeneralRandom`](https://gammapy.readthedocs.org/en/latest/api/gammapy.utils.distributions.general_random.GeneralRandom.html) class should be improved (work with n-dim arrays, rename, document, unit tests).

I think this can be implemented better with [`np.choice`](http://docs.scipy.org/doc/numpy/reference/generated/numpy.random.choice.html) when passing `a=pdf` and `p=pdf`.

It would

[2014-02-17 08:34] cdeil opened #75 "Use astropy.modeling for source / population models and PSF models"
Suggestion by @eteq from http://github.com/astropy/astropy.github.com/pull/3#issuecomment-35200275 : The source/population models would be natural use cases for astropy.modeling, as well as the PSF models.

[2014-02-17 08:36] cdeil opened #76 "Use specutils in gammapy.spectrum?"
Suggestion by @eteq in https://github.com/astropy/astropy.github.com/pull/3#issuecomment-35200275 : [gammapy.spectrum](https://gammapy.readthedocs.org/en/latest/spectrum/index.html) and [gammapy.spectral_cube](https://gammapy.readthedocs.org/en/latest/spectral_cube/index.html) should use [specutils](http://specutils.readthedocs.org/) classes (of course this isn't very yet, so this is an "in the fu

[2014-02-17 08:37] cdeil opened #77 "Review all code to use quantities for input / output where appropriate"
Comment by @eteq in https://github.com/astropy/astropy.github.com/pull/3#issuecomment-35200275 :
There are also a number of places that would be improved by using Quantity instead of expecting specific units.

[2014-02-17 14:15] cdeil opened #78 "Integrate PyFACT functionality in gammapy"
This is a continuation of #68, which copied all PyFACT code over to gammapy, but didn't refactor / clean up / add tests and docs for all code.

These are the remaining TODOs:

- [ ] Check that `gp-pf-map` works for common cases
- [ ] Check that `gp-pf-spec` works for common cases
- [ ] Check that `gp-pfsim` works for common cases
- [ ] Check that `gp-pf-cta-irf-root-to-fits` works.
- [ ] Integrate

[2014-02-17 14:39] #46 closed, assigned to cdeil

[2014-02-19 20:51] cdeil opened #79 "Add some survey strategy tools"
In Gammapy we should have a toolbox for planning and evaluating surveys, or more generally to simulate data for a telescope like HESS or CTA:

Generate [ObservationTable](https://gammapy.readthedocs.org/en/latest/api/gammapy.obs.ObservationTable.html)s for
- Galactic survey grid observations
- Extragalactic survey grid observations
- Wobble observations of targets (e.g. [TeVCat](https://gammapy.re

[2014-02-21 09:24] #43 closed, assigned to cdeil

[2014-02-24 13:28] cdeil opened #86 "readthedocs build fails"
I had to wipe `gammapy` on `readthedocs` and now I'm getting this error:

[code]

@ericholscher @eteq @astrofrog Any idea what the problem is or what I can do to fix the build?

The build log is here:
https://readthedocs.org/builds/gammapy/1188211/

With Google I found that a similar error message happened for astropy last year:
https://readthedocs.org/builds/astropy/911086/

!???

[2014-02-24 16:16] #86 closed, assigned to cdeil

[2014-02-24 16:23] cdeil opened #87 "Add Poisson denoising methods"
It would be nice to have Poisson denoising methods such as those published with Fermi LAT applications by Starck et al. in `gammapy`:
- http://adsabs.harvard.edu/abs/2010A%26A...517A..26S
- http://adsabs.harvard.edu/abs/2012A%26A...546A.114S
- http://adsabs.harvard.edu/abs/2009A%26A...504..641S

Versions that simply work on 2-dim images (instead of on the sphere) could also go into the recently st

[2014-02-27 11:14] cdeil opened #91 "Fix API doc location and Sphinx links to match the import location"
The API docs should show all functions / classes at the location where the user is support to import from.
This is currently not the case, e.g.
[gammapy.irf.energy_dispersion.EnergyDispersion](https://gammapy.readthedocs.org/en/latest/api/gammapy.irf.energy_dispersion.EnergyDispersion.html) should show up at [gammapy.irf.EnergyDispersion](https://gammapy.readthedocs.org/en/latest/api/gammapy.irf.E

[2014-02-27 14:03] cdeil opened #93 "Remove or adapt gammapy/detect/blob.py"
The blob detection in https://github.com/gammapy/gammapy/blob/master/gammapy/detect/blob.py should be removed or adapted for Poisson statistics detection (e.g. using TS images at various scales).

Or maybe a wrapper that knows astro coordinates should be put in `photutils`?

Note that blob detection is now implemented in `scikit-image` (see [here](http://scikit-image.org/docs/dev/auto_examples/plo

[2014-03-03 08:02] cdeil opened #94 "Increase gammapy test coverage"
Currently there are many gammapy functions / methods that are not covered by the existing unit tests.
The current status can also be seen here:
https://coveralls.io/r/gammapy/gammapy

Any and all help in adding tests (and probably fixing bugs and improving docstrings along the way) would be much appreciated!

You can create a gammapy coverage report and view it locally:

[code]

I'll keep this iss

[2014-03-06 09:00] cdeil opened #97 "Large-scale emission modeling"
In addition to #87 and [CWT](https://gammapy.readthedocs.org/en/latest/api/gammapy.detect.CWT.html) it would be good to have more methods to separate emission by scale and to construct large-scale background models.

Maybe penalised likelihood fitting or kernel-based modeling?
- http://adsabs.harvard.edu/abs/2012arXiv1209.3766G
- http://ned.ipac.caltech.edu/level5/March02/Silverman/Silver2_8.html

[2014-03-17 22:11] cdeil opened #99 "Implement ASMOOTH"
Reference:
- http://adsabs.harvard.edu/abs/2006MNRAS.368...65E
- http://hesperia.gsfc.nasa.gov/ssw/gen/idl/util/asmooth.pro (IDL, license unclear)
- http://cxc.harvard.edu/ciao/ahelp/csmooth.html (same algorithm in C, license unclear)

Probably shouldn't go in Gammapy ... either Astropy or photutils or scikit-image or here:
https://github.com/weaverba137/pydl/blob/master/pydl/smooth.py

The ASMOOT

[2014-04-14 08:02] cdeil opened #104 "Release Gammapy 0.1"
We can use this issue as a task list and for discussions for the Gammapy 0.1 release.
Gammapy 0.1 will support Astropy 0.4 or later.

This will be a "test release" to practice making release notes, tarballs, ... it will not be advertised for users.

The release can happen once all [issues for the 0.1 milestone](https://github.com/gammapy/gammapy/issues?milestone=1) have been closed.

Note the [Ast

[2014-04-14 09:56] cdeil opened #106 "Release Gammapy 0.2"
We can use this issue as a task list and for discussions for the Gammapy 0.2 release.
Gammapy 0.2 will support Astropy 0.4 or later.

This will be the first Gammapy release that is advertised to potential users.

The release can happen once all [issues for the 0.2 milestone](https://github.com/gammapy/gammapy/issues?milestone=3) have been closed.

Note the [Astropy release procedure writeup](http:

[2014-04-30 13:18] cdeil opened #110 "Test errors on ScientificLinux"
I see these test errors on ScientificLinux:
https://gist.github.com/cdeil/e416d03ad140a8557131

[2014-05-23 09:31] cdeil opened #115 "Implement Shell2D model"
Currently there's the [shell2d function](https://gammapy.readthedocs.org/en/latest/api/gammapy.morphology.shell2d.html) ... it should (maybe in addition) be implemented as a `Shell2D` Astropy model so that it can be fitted and used as an Astropy convolution kernel.

[2014-06-05 02:17] cdeil opened #120 "test_GalacticPlaneSurveyPanelPlot and test_hist1d_to_table failures"
On `lfs1` I get these errors: https://gist.github.com/cdeil/e187afb7fe3ec06a9ab2

[2014-06-05 07:45] cdeil opened #121 "Finish SkyCube implementation"
The `GammaSpectralCube` implementation is currently unfinished ... the following things should be done:
- [x] See if it's possible to re-use the `NDData` or radio `SpectralCube` class.
- [ ] Nice slicing methods should be implemented (see e.g. [nddata](http://astropy.readthedocs.org/en/latest/nddata/index.html#mixins-for-additional-functionality) and [xray](https://github.com/xray/xray)).
- [x] Th

[2014-06-06 07:11] cdeil opened #124 "Add .coveragerc file to get correct coverage reports"
Do what  Larry did for `photutils` here in `gammapy`:
https://github.com/astropy/photutils/pull/82

[2014-06-09 12:22] cdeil opened #125 "Use landscape.io for gammapy?"
Using landscape.io for Gammapy could be useful.

For now I've activated it for my fork:
https://landscape.io/github/cdeil/gammapy

[2014-06-10 15:10] #91 closed, assigned to cdeil

[2014-06-10 17:52] #110 closed, assigned to cdeil

[2014-06-10 17:55] #120 closed, assigned to cdeil

[2014-06-11 13:25] cdeil opened #129 "Use astropy.table instead of atpy"
Currently we still use `atpy` in a few places ... this should be cleaned up to use `astropy.table`:
https://github.com/gammapy/gammapy/search?q=atpy&ref=cmdform

Also we should use

[code]

or

[code]

consistently: https://github.com/gammapy/gammapy/search?q=Column&type=Code

[2014-06-11 14:19] cdeil opened #130 "Replace kapteyn with Astropy code"
We are using `kapteyn` to reproject images in a few places:
https://github.com/gammapy/gammapy/search?q=FITSimage&type=Code

Instead [reproject](https://github.com/astrofrog/reproject) should be used as soon as the equivalent function is is `master`.

[2014-06-30 14:04] cdeil opened #133 "Document how to predict observability"
@kialio has put a BSD license on his [VHEObserverTools](https://github.com/kialio/VHEObserverTools) and gave his OK for us to use it for `gammapy.spectrum`.

Specifically he has nice code for sensitivity calculations and EBL absorption.

cc @ellisowen @zblz @adonath

[2014-07-02 14:26] cdeil opened #134 "Implement spectral table model"
@ellisowen We should implement a spectral table model.

The simplest thing would be to have a piecewise power-law at a few given points (with linear extrapolation beyond the edge points):
http://gammalib.sourceforge.net/user_manual/modules/model.html?highlight=nodes#node-function
http://gammalib.sourceforge.net/doxygen/classGModelSpectralNodes.html
(this is what you implemented as `my_model` in th

[2014-07-03 09:26] cdeil opened #135 "Gaussian band model fit in sliding window"
Implement Poisson likelihood fit of the `GaussianBand1D` model to the Fermi Galactic center example dataset (sources excluded by a mask) using a sliding window.

Alternatively a global fit could be made with Gaussian1D parameters free at a grid of `GLON` points and linear or cubic parameter interpolation in-between.

Start: https://gist.github.com/cdeil/84764443f6896a7014d2

[2014-07-10 02:32] cdeil opened #136 "Access to gas column density maps"
As mentioned by @zblz in https://github.com/astropy/astropy/issues/733#issuecomment-13481107 it would be nice to have easy download / interpolation of gas column density maps such as the LAB survey and [this tool](http://heasarc.gsfc.nasa.gov/cgi-bin/Tools/w3nh/w3nh.pl).

Even better would be code that derives column density maps from the higher-resolution Planck maps (which doesn't distribute suc

[2014-07-11 14:57] #50 closed, assigned to ellisowen

[2014-07-13 18:01] cdeil opened #137 "Implement template background spectrum (TBS)"
As a continuation of #42, we should implement template background estimation for spectra as in [Fernandes 2014](http://adsabs.harvard.edu/abs/2014arXiv1407.0925F).

[2014-07-14 14:21] cdeil opened #139 "Numpy warning handling"
There's a bunch of cases in `gammapy` where `np.where` or `np.select` is used e.g. when evaluating `log` or `sqrt` or dividing.

Apparently some of those cases throw warnings that appear for the end-user and in the docs build:

[code]

The [`np.errstate`](http://docs.scipy.org/doc/numpy/reference/generated/numpy.errstate.html) context manager should be used to avoid these warnings for the end-user

[2014-07-14 14:37] cdeil opened #140 "ASDC SEDBuilder"
This looks pretty nice: http://tools.asdc.asi.it/SED/
We should try to connect to it from Astroquery or Gammapy (using the VOTable export).
If it's not possible we can maybe export some interesting datasets by hand (if that is allowed usage ... need to check)

[2014-07-16 11:06] #115 closed, assigned to cdeil

[2014-07-18 08:44] cdeil opened #144 "TypeError about 'dict_values' in flux point unit tests"
With Anaconda Python 3.4 on Ubuntu 12.04 and Astropy 0.4 I see this error in the Lafferty flux point unit tests:

[code]

https://gist.github.com/cdeil/2af32302f54d7ca096d1#file-gistfile1-txt-L524

Probably a curiosity in numpy behaviour (this is for numpy 1.8).

[2014-07-19 12:02] #144 closed, assigned to cdeil

[2014-07-19 12:32] #55 closed, assigned to cdeil

[2014-07-19 12:32] #69 closed, assigned to nobody

[2014-07-19 13:19] #124 closed, assigned to cdeil

[2014-07-19 14:43] #125 closed, assigned to cdeil

[2014-07-19 15:19] #40 closed, assigned to cdeil

[2014-07-19 18:12] #17 closed, assigned to cdeil

[2014-07-19 19:14] cdeil opened #145 "Set up gammapy-benchmarks"
We use [asv](https://github.com/spacetelescope/asv) to implement benchmarks for Gammapy, just like Astropy set up [astropy-benchmarks](https://github.com/astropy/astropy-benchmarks).

The repo is here:  [gammapy-benchmarks](https://github.com/gammapy/gammapy-benchmarks)

TODO:
- [ ] Set up cron-jobs for this on `ci.scipy.org` and `gamma-jenkins@MPIK`
- [ ] Document the benchmarks this in the Gamma

[2014-07-30 07:47] cdeil opened #158 "Add Russeil 2003 table and spiral arm model"
It would be nice to have the table and spiral arm model from Russeil 2003 available in in gammapy (because OB associations are very much correlated with the creation of gamma-ray sources):
http://adsabs.harvard.edu/abs/2003A%26A...397..133R

There's already a few spiral arm models here:
https://gammapy.readthedocs.org/en/latest/astro/population/index.html#classes

[2014-08-08 10:58] adonath opened #164 "Draw initial directions of pulsars correctly"
Currently both angles for the initial direction of the proper motion of pulsars are drawn from a uniform distribution. This is incorrect. To obtain a uniform distribution of directions on the sphere the same approach as in [sample_sphere](https://gammapy.readthedocs.org/en/latest/api/gammapy.utils.random.sample_sphere.html?highlight=sphere#gammapy.utils.random.sample_sphere) has to be used.

[2014-08-08 21:54] cdeil opened #165 "Update source_population_model notebook"
@adonath Could you please update the [gp-gsim-cat-gal](https://github.com/gammapy/gammapy/blob/master/scripts/gp-gsim-cat-gal) script to work after your improvements in #157?

It's up to you how many  / which options you want to make available in this command line script.
It should be a quick way to create useful model galaxy catalogs, but we shouldn't try to make every option available because ma

[2014-08-22 08:41] cdeil opened #169 "Extend Crab SED tutorial with gammafit modeling"
[This tutorial](https://gammapy.readthedocs.org/en/latest/tutorials/crab_mwl_sed.html) should be extended to fit the Crab nebula SED with a physical model from Gammafit (see [here](http://gammafit.readthedocs.org/en/latest/api-radiative.html) and [here](http://gammafit.readthedocs.org/en/latest/tutorial.html#fitting-ic-emission-from-an-electron-distribution)).

I don't have time to do this at the

[2014-08-22 08:54] cdeil opened #170 "Make matplotlib plots in the docs prettier"
Currently we use the default matplotlib settings for plotting in the Gammapy docs.
We should make them prettier!

Some examples to check:
* https://gammapy.readthedocs.org/en/latest/tutorials/crab_mwl_sed.html
* https://gammapy.readthedocs.org/en/latest/tutorials/flux_point.html
* https://gammapy.readthedocs.org/en/latest/astro/population/index.html

Apparently the upcoming matplotlib 1.4 release

[2014-08-23 09:31] cdeil opened #171 "Circular import errors between Gammapy sub-modules"
In the past weeks we've had weird `ImportError`s due to circular imports between Gammapy sub-modules (and I'm currently trying to resolve this again).

I'm currently fighting with this again ...  `gammapy.datasets.load` imports `gammapy.image.catalog` which imports `gammapy.datasets.load` ... sometimes the circle is more complex as it spans more modules.

The problem is that these circular import

[2014-08-23 10:48] cdeil opened #172 "Include examples in Sphinx docs"
We have a folder with Python examples: https://github.com/gammapy/gammapy/tree/master/examples
A table of contents should be auto-generated as part of `build_sphinx` and be put here: https://gammapy.readthedocs.org/en/latest/install.html

(scikit-learn, astro_ML and a few others have this set up, so that also the console or plot output appears on that page)

An alternative would be to move all exa

[2014-08-25 13:17] adonath opened #178 "`SpectralCube.integral_flux_image` does not handle `Quantities` properly"
Currently the `SpectralCube.integral_flux_image` method does not handle `Quantities` properly. Here is a minimal expamle:

Defining an energy range for integration in `GeV`:

[code]

Gives the following output:

[code]

Changing the unit of the energy range to `MeV`:

[code]

Gives the following output:

[code]

But actually it should be the same!

[2014-08-25 19:04] cdeil opened #181 "Clean up Galprop class and example"
The Galprop class and example need to be re-factored or removed:
https://github.com/gammapy/gammapy/blob/master/examples/wip_galprop.py
https://gammapy.readthedocs.org/en/latest/api/gammapy.spectrum.Galprop.html

[2014-08-25 20:25] cdeil opened #183 "Fermi PSF containment radii OK?"
I noticed that the Fermi PSF for the Vela dataset is a lot better than for the Galactic center dataset:

[code]

[code]

Looking at the curve on this page I think the 68% containment for 100 GeV for the total PSF (including front- and back-converting events) should be 0.2 deg:
http://www.slac.stanford.edu/exp/glast/groups/canda/archive/pass7v6/lat_Performance.htm

I.e. I have the suspicion that th

[2014-08-25 21:24] cdeil opened #184 "Add very-high-level analysis classes"
We should add very-high-level classes representing datasets (a.k.a. observations) as well as lists of datasets and spectral cube model classes.

Maybe even "analysis" classes combining a spectral cube model and a list of datasets, e.g. for a simulteneous likelihood fit or aperture photometry of a Fermi and HESS cube dataset.

These will be core classes for Gammapy, so I'd like to make an API propo

[2014-08-25 21:32] cdeil opened #185 "Implement EventList class"
We should implement the [gammapy.data.EventList](https://gammapy.readthedocs.org/en/latest/api/gammapy.data.EventList.html) class (it's empty at the moment).

Some thoughts:
* Add `events` and `gti` members as Astropy tables and implement FITS I/O
* Add an example data file (e.g. 5 events from HESS) for unit tests
* Hook up the existing functions in Gammapy and from PyFACT to bin events into count

[2014-08-27 23:15] #104 closed, assigned to cdeil

[2014-08-29 18:11] #93 closed, assigned to adonath

[2014-09-08 13:09] cdeil opened #195 "How to use compound astropy models in Gammapy?"
It looks like compound models will land in `astropy.modeling` soon and we'll have to figure out how to use them in Gammapy.

I've started to put some questions and use cases here ... at the moment all I have is questions:
http://nbviewer.ipython.org/gist/cdeil/78702a01020ba62d5e96

cc @adonath

[2014-09-09 11:32] cdeil opened #197 "Make tutorial how to plot publication-quality sky images"
We should add a page to `docs/tutorials` or a notebook to `gammpy-extra/notebooks` that illustrates how to plot sky images using `WCSAxes` and `aplpy` and how to use the colormaps in Gammapy.

Maybe three plots:
- A basic example
- Two plots side-by-side (or several plots in a grid)
- A survey map plot in panels

Controlling figure and font sizes and colorbars etc. is non-trivial and should be exp

[2014-09-09 11:36] cdeil opened #198 "Make tutorial how to plot spectra and SEDs"
We should make a page in `docs/tutorials` or a notebook in `gammapy-extra/notebooks` that shows how to plot spectra and SEDs.

This is a starting point:
https://gammapy.readthedocs.org/en/latest/tutorials/crab_mwl_sed/index.html

In addition we should show
- how to compute and plot butterflies
- how to compute and plot residuals

[2014-09-21 19:52] cdeil opened #201 "Update Fermi Galactic center dataset"
As discussed in #183 and #191 the Galactic center PSF containment radius doesn't match the quoted IRF.

It would be best to reproduce all the files  [here](https://github.com/gammapy/gammapy-extra/tree/master/test_datasets/unbundled/fermi) by re-using [the script for the Vela region dataset](https://github.com/gammapy/gammapy-extra/blob/master/datasets/vela_region/make.sh).

The only reason to kee

[2014-09-21 19:54] #183 closed, assigned to nobody

[2014-09-21 20:04] #21 closed, assigned to cdeil

[2014-09-21 20:25] #75 closed, assigned to nobody

[2014-09-21 20:31] #178 closed, assigned to ellisowen

[2014-09-23 08:04] cdeil opened #203 "Fermi catalog queries and plots"
We should add a functions and classes (and maybe even a command line tool) to query the Fermi catalogs and plot lightcurve / spectra with flux points / upper limits / butterflies.

Similar to what TeVCat provides, but publication quality png and pdf plots:
http://tevcat.uchicago.edu/LATCat/spectra/lat_0009.html
http://tevcat.uchicago.edu/searchLATCat.cgi?mode=2&ra=00%2006%2036%20&dec=+72%2047%2000

[2014-09-27 20:41] cdeil opened #206 "Compare PSF-fitting and aperture photometry sensitivity"
We should have some code and docs comparing PSF-fitting and circular aperture photometry:
- Compute optimal theta cut
- Compute significance / sensitivity loss compared to PSF-fitting

A while ago a wrote this script which could be a starting point:
https://gist.github.com/cdeil/166ec5ffc3da2f56c3bb
(This is not high-priority ... I'm just cleaning out my old CVS repo and didn't want to throw this

[2014-09-30 07:40] cdeil opened #207 "Add HESS Galactic catalog"
As a continuation of #194, I'd like to add a table with all published information for Galactic HESS sources once it's released (or maybe all Galactic sources, also from VERITAS and MAGIC and MILAGRO).
This is useful e.g. to make predictions for the CTA Galactic plane survey (we should make a simple model that adds in an unresolved source population and truly diffuse emission model).

The problem w

[2014-09-30 15:49] cdeil opened #208 "Readthedocs build broken"
Once again, the pip-install of `Gammapy` and thus it's docs build on Readthedocs is broken (because the pip-install of `APLPy` fails, I think):
https://readthedocs.org/builds/gammapy/1721375/

@astrofrog Is this an `astropy-helpers` issue or an `APLPy` issue or do I have to change something in `Gammapy`?

[2014-10-01 20:51] #208 closed, assigned to cdeil

[2014-11-29 16:35] cdeil opened #213 "test_gaussian_sum_moments fails"
@adonath The `test_gaussian_sum_moments` from `gammapy/morphology/tests/test_gauss.py` fails:
https://gist.github.com/cdeil/ea674fb7387fc0d27c44

Looks like you pass a numpy array to `measure_image_moments`, which you changed to accept an `ImageHDU` in f310784c95b2f59d89f3d877e7866c8ba046129d .

Can you please fix this?

The reason this didn't fail on travis-ci is that I forgot to `pip install unc

[2014-12-04 17:05] cdeil opened #217 "Fix test_compute_npred_cube and test_reproject_cube"
In #216 the following test failures surfaced:
- `test_compute_npred_cube`:  https://travis-ci.org/gammapy/gammapy/jobs/43002008#L2054
- `test_reproject_cube`: https://travis-ci.org/gammapy/gammapy/jobs/43002008#L2229
- `test_gaussian_sum_moments`: https://travis-ci.org/gammapy/gammapy/jobs/43002740#L774 (although this is fixed by @adonath in #215 .

I will `xfail` those tests for now and then look

[2014-12-10 10:32] cdeil opened #218 "Continuous testing on Windows with AppVeyor"
Now that Github has proper support for multiple PR check services (see https://github.com/blog/1935-see-results-from-all-pull-request-status-checks) I've activated Windows testing for Gammapy:
https://ci.appveyor.com/project/cdeil/gammapy

I have no idea if Gammapy work on Windows or how easy it is to configure the tests there ... this is an experiment and I'll disable it if it doesn't work OK.

@

[2014-12-10 13:43] cdeil opened #219 "Use sphinx-gallery?"
Maybe using this to make a Gallery for `gammapy` could be nice?
https://github.com/sphinx-gallery/sphinx-gallery

[2014-12-11 22:25] cdeil opened #220 "How to write analysis pipelines in / with Gammapy?"
@pflaumenmus and I discussed how to build powerful and simple analysis pipelines today.

Meaning given a bunch of input data and analysis parameters (possibly different sets), how to best orchestrate running a bunch of (sometimes interdependent) analysis tasks ... basically what `make` does (parallelisation, restart), but possibly using a CPU cluster and with better logging / monitoring / syntax.

[2014-12-15 12:39] cdeil opened #223 "Further TS map improvements"
@adonath implemented TS maps in #215 and #234.
We now have the `gammapy-ts-image` command line script which calls the [ts_image](https://gammapy.readthedocs.org/en/latest/api/gammapy.scripts.ts_image.html) function.
The functionality is implemented in [gammapy.detect](https://gammapy.readthedocs.org/en/latest/detect/index.html#module-gammapy.detect).

Here's a list of further tasks for TS maps:
-

[2015-01-06 15:47] cdeil opened #226 "Python 3 tests exit with code 247 on travis-ci"
Since today the Gammapy Python 3 tests fail on travis-ci ... they simply abort with exit code 247, e.g. in `test_diffuse.py` or `test_flux_point.py`:

https://travis-ci.org/gammapy/gammapy/jobs/46076272#L2124
https://travis-ci.org/gammapy/gammapy/jobs/46079771#L2124

Most likely the issue is a segfault in `numpy` (called via `Quantity`).

@astrofrog @eteq Have you seen this with Astropy or other a

[2015-01-06 16:03] cdeil commented on #226
The failure is nondeterministic (i.e. doesn't always happen with the same test and sometimes all tests pass for the same build on travis-ci).

I'm using this to try to reproduce the error ... but on my Mac this always works:
[code]

[2015-01-07 10:06] cdeil commented on #226
I did build an Ubuntu docker container that should be very similar to the travis-ci environment:
https://github.com/gammapy/gammapy/tree/master/dev/docker

There's some `MemoryError`s
https://gist.github.com/cdeil/2d1fd3b3b439cb2097d9#file-gistfile1-txt-L801

But I don't see the crash in `test_diffuse_gamma_ray_flux` that was breaking the travis-ci build.

I don't have time to continue this now ..

[2015-01-10 11:29] cdeil opened #228 "Add 3FGL"
Add 3FGL catalog:
http://fermi.gsfc.nasa.gov/ssc/data/access/lat/4yr_catalog/
https://github.com/gammapy/gammapy/search?utf8=%E2%9C%93&q=2fgl

Related: #203

[2015-01-16 20:59] cdeil commented on #220
Just found this: https://github.com/taldcroft/pyyaks

[2015-01-17 18:06] cdeil commented on #223
@adonath Because I wasn't sure if you've started to improve `scripts/ts_image.py`, I've left it alone and only moved it to `dev/ts_image.py` in #230.

To get it back as a command line tool you need to move it to `gammapy/scripts/ts_image.py`, rewrite it in the style of all the other tools. Then import it in `gammapy/scripts/__init__.py` and add one line to the `entry_points` list in `setup.py`.
Yo

[2015-01-24 12:13] cdeil opened #232 "How to implement PSF-convolved model image computation?"
For Gammapy we need code to compute PSF-convolved model images that works robustly, even if sometimes models are smaller than the data grid. And it should have high precision and be fast (with the user having a few parameter to tune precision vs. speed)

This is something that should probably go into Astropy, but for now I think we should develop one or two prototypes in Gammapy and make it work f

[2015-01-24 12:48] cdeil opened #233 "How to choose spatial pixel size for a given PSF?"
In Gammapy we plan to mainly implement binned analysis methods, i.e. even tough our data are unbinned lon, lat, energy event lists we always bin them as a first step.

The advantages of binned analysis is that it's simpler to get right (e.g. just sum cash over bins, no complicated integrals over data space boundaries and special integrals for different models) and let's us re-use all the nice imag

[2015-01-25 16:37] cdeil commented on #185
Part of this is implemented in #231 ... keeping this issue open for now because it's very much unfinished.

[2015-01-29 08:50] cdeil commented on #232
Just to keep some notes ... I've discussed this with @adonath:
- We'll rasterize models and PSF to the data grid and do the convolution there.
- Spatial models should declare a bounding box size that fully contains them (or a radius as a function of containment, with default 99% and if the user needs speed she can choose 90% and if she needs better than 1% photometry, she can choose 99.9%)
- The d

[2015-01-30 17:02] cdeil opened #237 "Clean up gammapy/stats/significance.py"
We have to make up our mind what to do about `gammapy/stats/significance.py` (see #236) and clean it up.

One option is to completely remove it and to instead put a documentation page how to convert `significance`, `p-values`, `ts` and `chi2` using the `scipy.stats.norm` and `scipy.stats.chi2` distributions.

Reasons we might want to keep convenience converter functions:
- For significance >~ 10 t

[2015-02-04 15:45] adonath commented on #213
Fixed in #215

[2015-02-04 15:45] #213 closed

[2015-02-04 15:51] adonath commented on #18
Mostly adressed in #215 and #234. Matched filters are still missing...

[2015-02-05 20:35] cdeil commented on #18
I'm closing this old issue ... let's use #223 to keep track of what should still be done ...

[2015-02-05 20:35] #18 closed

[2015-02-05 20:45] cdeil commented on #223
@adonath I think you should have permissions to edit the description and task list above if there's something you think should be added / removed.

[2015-02-08 16:49] cdeil opened #238 "Add random_state parameter to functions that generate random numbers"
We should add a `random_state` parameter to all functions that generate random numbers.

Example how to do it (we should bundle a copy of the utility function)
http://photutils.readthedocs.org/en/latest/api/photutils.datasets.make_random_gaussians.html

List of functions that call `np.random`:
https://github.com/gammapy/gammapy/search?utf8=%E2%9C%93&q=np.random

[2015-02-10 14:35] cdeil opened #239 "Implement SourceCatalog class"
Add a `SourceCatalog` class that sub-classes `Table`:

- [ ] source lookup using `find_name` and `find_association`
- [ ]  automatically discovering source name and coordinate columns
- [ ] cone and box spatial selection in RaDec and Galactic

[2015-03-04 13:08] cdeil opened #241 "Add spectral model illustrations to the docs"
We should add an SED plot to the spectral model class docs like e.g. [BrokenPowerLaw](https://gammapy.readthedocs.org/en/latest/api/gammapy.spectrum.models.BrokenPowerLaw.html).

Also an SED plot showing all available SED models in the [gammapy.spectrum docs](https://gammapy.readthedocs.org/en/latest/spectrum/index.html) would be great!

[2015-03-04 13:12] cdeil opened #242 "Add morphology model illustrations to the docs"
We should add an image (and maybe radial profile) to the docstring of each morphology model like e.g. [Shell2D](https://gammapy.readthedocs.org/en/latest/api/gammapy.morphology.Shell2D.html).

Also a "morphology model gallery" in the [gammapy.morphology](https://gammapy.readthedocs.org/en/latest/morphology/index.html) docs or an interactive notebook where the user can adjust the model parameters (

[2015-03-17 07:26] cdeil commented on #228
Implemented by @mapazarr in #244.

[2015-03-17 07:26] #228 closed

[2015-03-17 07:46] cdeil commented on #5
@mapazarr – if you're looking for a challenge, you could start to implement this.

I haven't thought about the API much for `gammapy.background` yet, probably it's going to be a mix of classes (like [TablePSF](https://gammapy.readthedocs.org/en/latest/api/gammapy.irf.TablePSF.html) for example) and functions (like [ring_correlate](https://gammapy.readthedocs.org/en/latest/api/gammapy.image.ring_co

[2015-04-05 05:48] mapazarr opened #251 "convention to adopt for the origin in images"
It seems that the origin pixel in images is not treated consistently in gammapy.
Could you tell me which is the convention to adopt for the origin in images? Is the origin pixel "1" as for FITS or "0"? This is important for WCS coordinate transformations.
In general, in the code it is "0", but sometimes it is defined as "1".
https://github.com/gammapy/gammapy/search?utf8=%E2%9C%93&q=wcs_pix2world&

[2015-04-06 20:54] mapazarr commented on #251
I did a pull request (pull request #253) for fixing the calls of the WCS functions wcs_world2pix and wcs_pix2world

[2015-04-11 15:22] mapazarr commented on #251
Is this issue still open? In any case, I don't really have more time to work on this right now.

[2015-04-11 15:22] #251 closed

[2015-04-11 15:35] cdeil commented on #73
@mapazarr did this check in #251 and #253.

I'm leaving this issue open for now because most of the functions dealing with image / pixel coordinates don't have tests ... that's what's left to do here.

[2015-04-11 15:42] cdeil commented on #185
Some more progress on this was made in #249 ... still, keeping this issue open for now because it's unfinished.

[2015-04-13 11:28] cdeil commented on #223
Related: #252

[2015-04-13 17:30] cdeil commented on #106
All done ... we're even on Twitter now: https://twitter.com/Gammapy/status/587668983756775424

[2015-04-13 17:30] #106 closed

[2015-04-24 12:49] cdeil commented on #239
@rjsmethurst @barentsen I've been thinking about creating a `Catalog` class before and already put some things in my package Gammapy:  https://gammapy.readthedocs.org/en/latest/catalog/index.html

But it's totally the wrong place, lets do this in Astropy core or Astroquery for a while until it's well-developed and stable (cc @keflavich)

[2015-04-24 12:50] keflavich commented on #239
:+1:

[2015-04-29 13:18] cdeil commented on #140
I'm closing this issue in favor of #38 ... it's easier to discuss this in one place.

[2015-05-05 18:50] cdeil opened #259 "Flux point likelihood function match method"
This is a feature request to define and implement a novel spectrum flux point computation method in Gammapy.

At the moment there's two standard ways to publish a spectral measurement in gamma-ray:
1) Global spectral model fits – usually publish parameter values and errors, could publish covariances also.
2) Flux points `(E, F, dF)` – usually computed using a global spectral model assumption and s

[2015-05-10 21:55] cdeil commented on #239
@keflavich So would it be OK if I start with an API proposal in a PR for `astroquery.catalog`? Or do you think some location in Astropy core or a separate standalone package would be better?
(One concern is that the efficient catalog matchers use scipy, so that would become an optional dependency for `astroquery.catalog` ... does that sound OK or do you want to avoid this?)

[2015-05-17 18:13] keflavich commented on #239
@cdeil - yes, API proposal is a good starting point.  I don't know if it would belong in astropy core at all.  I think the dependency on scipy is fine, though it would be best if there is some (slower) alternative in place if scipy is missing.

[2015-05-17 21:01] mwcraig opened #263 "Running the script gammapy-xspec results in an ImportError"
I understand that xspec functionality isn't actually implemented, but noticed while trying to build a conda package for gammapy that one of the tests the conda builder runs, executing all command-line scripts with `--help`, fails for `gammapy-xspec` in a surprising way (traceback below). Other scripts which aren't actually implemented (e.g. `detect`) pass this test.

[code]

[2015-05-18 07:24] cdeil commented on #137
Milton shared his TBS Python code with us and gave us permission to use / integrate it into Gammapy. For now it's here: https://github.com/gammasky/hess-host-analyses/tree/master/tbs

I think at the moment no-one has time to do this, but it would be a very welcome addition ...

[2015-05-18 10:19] cdeil opened #265 "Integrate hspec in Gammapy"
The `hspec` code was added in `gammapy.hspec` In #264 .
There's a lot of work to do to properly integrate this in Sherpa directly or in `gammapy.spectrum`.
Here's an incomplete list:

- [x] Install Sherpa on travis-ci so that it becomes possible to test this
- [x] Make the command line `gammapy-sherpa-hspec` tool work again. -> this was replaced by two `gammapy-spectrum-*` command line tools.
- [

[2015-05-18 10:35] zblz commented on #265
Regarding first point, these lines works fine in the naima travis.yml:

'''
# Add sherpa conda repository for Python 2.7, numpy 1.8
    - if $OPTIONAL_DEPS && [[ $SETUP_CMD != egg_info ]] && [[ $TRAVIS_PYTHON_VERSION == 2.7 ]] && [[ $NUMPY_VERSION == 1.8 ]]; then conda config --add channels https://conda.binstar.org/cxc ; $CONDA_INSTALL sherpa; fi
'''

[2015-05-18 10:52] cdeil commented on #265
@zblz – Do you think EBL absorption should go in `gammapy` or `naima`? (see also #133).

[2015-05-18 18:32] cdeil commented on #49
This is now happening in a separate Astropy-affiliated package: https://github.com/astroplanners/astroplan

I'm keeping this issue open as a reminder, it might be useful to combine `astroplan` and gamma-ray specific info (like observatories or targets) into a convenience function or even web app.

[2015-05-26 08:01] cdeil opened #267 "CTA prod2 IRFs"
The CTA prod2 IRFs are available in FITS format in Gammalib:
https://github.com/gammalib/gammalib/blob/devel/inst/cta/caldb/data/cta/prod2/bcf/North_0.5h/irf_file.fits.gz

For Gammapy I don't want those files in the code repo, but they could go into an `irf/cta` folder in
https://github.com/gammapy/gammapy-extra or we could just download the files from the gammalib repo on Github.

Some first thou

[2015-05-27 21:28] mapazarr opened #268 "Installation requirements doc"
Maybe it seems too obvious, but I'd mention Astropy as a requirement here:
 https://gammapy.readthedocs.org/en/latest/install.html#requirements

[2015-05-30 17:24] cdeil commented on #265
I'm adding Sherpa for the tests on travis-ci in #270.

[2015-05-30 19:02] cdeil commented on #268
Agreed. I'm adding this in #270.

[2015-05-30 19:02] #268 closed

[2015-05-30 20:30] cdeil commented on #185
I'm closing this now.  This is not to say that the `EventList` and `EventListDataset` classes in Gammapy are finished. There will be improvements or even re-factoring in the future, but I don't see the point to keep this issue without concrete suggestions open.

[2015-05-30 20:30] #185 closed

[2015-05-30 20:34] cdeil commented on #170
Maybe we should bundle this or some other style file and use it for the docs and IPython notebooks in gammapy-extra?
https://github.com/astropy/astropy-tutorials/blob/master/templates/matplotlibrc

[2015-05-30 20:36] cdeil commented on #165
The script is here now:
https://github.com/gammapy/gammapy/blob/master/gammapy/scripts/simulate_source_catalog.py

Looks like it's broken at the moment:
[code]
Changing the milestone to 0.4 because I want to cut the 0.3 release tomorrow and now fix this now.

[2015-05-30 21:00] cdeil commented on #268
See https://gammapy.readthedocs.org/en/latest/install.html#dependencies

[2015-05-31 00:59] cdeil opened #272 "Add tests for command line scripts"
Tests need to be added for all command line scripts here:
https://github.com/gammapy/gammapy/tree/master/gammapy/scripts
https://github.com/gammapy/gammapy/tree/master/gammapy/scripts/tests

I'm not 100% sure, but I think the best way is to
* call `main` with suitable input files (either local or remote data files or temporarily generated)
* assert something about the generated output file (and /

[2015-05-31 17:47] cdeil opened #273 "TSMapResult.write header argument doesn't work"
While running the `hgps_survey_map.py` example (see [here](https://github.com/gammasky/hess-host-analyses/blob/master/hgps_survey_map/hgps_survey_map.py#L156) and [here](https://hess-confluence.desy.de/confluence/display/HESS/HESS+Open+Source+Tools+-+HOWTO+do+HESS+survey+analysis+with+Gammapy), @mapazarr and I noticed that the output HDUs in `ts.fits` that are written by [TSMapResult.write](https:

[2015-06-01 06:57] cdeil opened #274 "Add gammapy.catalog.GalacticLatitudeDistribution class"
We should add a GalacticLatitudeDistribution class that has methods for:
- [ ] quick plot (see [here](http://astropy.readthedocs.org/en/latest/visualization/histogram.html))
- [ ] density estimation and bootstrap error bands
- [ ] simple model fit (e.g. gauss + const) and error propagation to get an error band

Thoughts and ideas for other features welcome!

(I started experimenting with this in a

[2015-06-01 15:27] mapazarr commented on #273
The problem is not in the `TSMapResult.write` function. The problem is that the file from which it tries to copy the header has multiple headers. Please see:
 https://github.com/gammasky/hess-host-analyses/commit/0f2111ae4c24288bb4cc88b188652fbeee9270fd

[2015-06-01 15:37] mapazarr commented on #273
I think the problem is that `COUNTS_IMAGE` gets a header from `REF_IMAGE` and another one from `TOTAL_EVENTS_FILE`. So when calling 'header = fits.getheader(COUNTS_IMAGE)`, it doesn't know which one to use.
Please note also the following warning, happening while reading `TOTAL_EVENTS_FILE` to create `COUNTS_IMAGE` in the call to `make_background_image()`:
`WARNING: hdu= was not specified but multi

[2015-06-02 22:16] mapazarr opened #277 "Observatory UTC offset"
Observers
 https://github.com/gammapy/gammapy/blob/master/gammapy/obs/observers.py
needs a method to get not only the observatory location, but also the time offset w.r.t. UTC for a certain local time.
This is important for celestial <-> terrestrial coordinate transformation, as described in:
 http://astropy.readthedocs.org/en/latest/coordinates/observing-example.html
This is non trivial, since th

[2015-06-02 22:33] cdeil commented on #277
@mapazarr UTC / local time is something we're discussing in https://github.com/astroplanners/astroplan/pull/4. Probably there the default will be that everything is done in UTC by default, but then if the user sets a time zone, it's possible to pass times in and get them out in local time.

In Gammapy I don't see the need to support local time. You can do coordinate transformations just using `ast

[2015-06-02 23:23] mapazarr commented on #277
Ok, I see, if everything is done in UTC, there is no need fr such a method.

[2015-06-02 23:23] #277 closed

[2015-06-06 16:23] cdeil commented on #3
I've started this in #249 and now @mapazarr is continuing this in #278.
There's no useful info / discussion on this old issue, so I'm closing it now.

[2015-06-06 16:23] #3 closed

[2015-06-07 23:41] cdeil opened #281 "MAGIC FITS data"
I just found this:
- http://vobs.magic.pic.es/
- http://vobs.magic.pic.es/fits/
- http://vobs.magic.pic.es/fits/mfits/tdas/tdas-fits.pdf

I don't have time to look now. We should at least:
- [ ] check if their data formats for spectra and lightcurves are useful to adopt (see https://gammapy.readthedocs.org/en/latest/dataformats/index.html)
- [ ] check if their data is interesting enough so that it

[2015-06-07 23:53] cdeil commented on #238
I've added the `check_random_state` utility function from scikit-learn to `gammapy.utils.random` in fb0e9c15766ef70ab53e7ef8794d5281965de159.
Keeping this issue open because it still has to be used throughout.

[2015-06-09 12:08] #140 closed

[2015-06-09 22:23] mapazarr opened #282 "Add telescope (sub-)array specification format converters"
In the future we should add a class to convert between various formats to store TELARRAY specifications and then re-think how to store this in observation lists. Note that the HAP-exported event list files have a TELARRAY extension (see https://gammapy.readthedocs.org/en/latest/api/gammapy.data.TelescopeArray.html).
Options:
- comma-separated values in a column in a CSV file. But this is not very

[2015-06-09 22:47] cdeil commented on #282
@mapazarr – Thanks for making the issue. I wouldn't be sad if you implement this while working on `gammapy.obs`, but otherwise I can also do it soon.

It's not clear to me if there should be an extra `TelescopePattern` or `TelescopeArraySubset` (or whatever a good name is) class, or if everything can / should be added to the existing `TelescopeArray` class.

Note that the telescope pattern is very

[2015-06-09 23:47] mapazarr opened #283 "`~gammapy.utils.random.sample_sphere` should use `~astropy.Qauntity` objects"
`~gammapy.utils.random.sample_sphere` should use `~astropy.Qauntity` objects for better handling / less error prone.

[2015-06-10 08:22] cdeil commented on #283
@mapazarr - I assigned this issue to you. And I shortened the title and removed the RST markup, which is not supported in Github issue titles. The goal should be that https://github.com/gammapy/gammapy/issues and https://gammapy.readthedocs.org/en/latest/changelog.html#id4 look nice if I just copy & paste the PR titles.

[2015-06-10 08:25] cdeil commented on #283
It can also be useful to link to docs / source code in the issue description, in this case to [gammapy.utils.random.sample_sphere](https://gammapy.readthedocs.org/en/latest/api/gammapy.utils.random.sample_sphere.html), which I typed as
[code]

To be more specific, this function should probably use [astropy.coordinates.Longitude](http://astropy.readthedocs.org/en/latest/api/astropy.coordinates.Long

[2015-06-10 08:31] cdeil commented on #238
@mapazarr - I'm assigning this issue to you.

The [make_test_observation_table](https://dl.dropboxusercontent.com/u/4923986/temp/gammapy-278/html/api/gammapy.datasets.make_test_observation_table.html) function you're adding in #278 should grow a `random_state=None` option as well and while you're at it, please clean up the other functions that generate random data to follow this uniform pattern as

[2015-06-10 08:34] cdeil commented on #238
We should probably add an entry to the developer FAQ at https://gammapy.readthedocs.org/en/latest/development/index.html explaining this pattern and linking to http://scikit-learn.org/stable/developers/#random-numbers (we simply do the same what they do).

[2015-06-10 10:31] mapazarr commented on #282
I see the importance of having the information of which telescopes participate in an observation, but the telescope pattern as in H.E.S.S. is not good for CTA: trigger pattern as a bit mask with an integer
variable: limitation of 32 bits (32 telescfopes), but CTA could have ~100 telescopes.
Maybe we should have a look to how [ALMA](http://www.almaobservatory.org/) and [ACS](http://www.eso.org/proj

[2015-06-10 10:40] cdeil commented on #282
@mapazarr – We still need to support the HESS int telpattern, because it's so widely used and e.g. what you need to give to HAP in a runlist. But I agree it's not a good solution and should not be our internal storage format.

What format does the current TELARRAY FITS extension and the event list use?
(I know I could just look, but I don't have much time this week ... you're in charge now for `ga

[2015-06-12 11:59] cdeil opened #284 "Use utc or tt time scale?"
In Gammapy we currently use the `utc` time scale. I think in CTA it is under discussion if the `utc` or `tt` time scale should be used (e.g. for event times, but really all times).

See http://astropy.readthedocs.org/en/latest/time/index.html#time-scale and references there.

@kosack Do you know what the status of the UTC versus TT time scale discussion is in CTA? Even if it's not written up in a

[2015-06-13 17:18] cdeil opened #288 "Improve gammapy.datasets"
The [gammapy.datasets](https://gammapy.readthedocs.org/en/latest/datasets/index.html) sub-package should give easy access to commonly used datasets for Gammapy users and for high-level tests.

IMO the current implementation and how we use it has several serious issues:
- Files are downloaded to the Astropy cache (on my machine located in `~/.astropy/cache/download/`) and stored in files where the

[2015-06-18 09:30] kosack commented on #284
I think we should use a time scale that doesn't need leap-second corrections (so we should not use UTC). That makes making lightcurves, etc, much easier. Otherwise, we rely on a leap-second database to be updated and maintained.  I think that's why TT is used normally, and you only go to UTC when needed (e.g. for displaying a human-readable time, etc).  I may be wrong though.

[2015-06-27 08:01] mapazarr opened #293 "AttributeError from ObservationTable mask subset selection"
@cdeil @adonath
I have found a strange behavior in `~gammapy.obs.ObservationTable`. Im principle is `~ObservationTable` an `~astropy.table.Table`, so I would expect the same behavior, when using `~Table` methods, right?

In the following example script I try to apply a mask to an observation table (in this case a box in zenith angle):
 https://github.com/mapazarr/astropy_scripts/blob/master/astrop

[2015-06-27 10:00] cdeil commented on #293
I'm not sure is this is the issue you are having, but here's one bug:
[code]

@mapazarr – I'll leave the further debugging and fixing and adding a test case to you.
I have to go now and I don't really understand yet what's wrong.
Somehow the table we construct is corrupt ... either because of a bug in `ObservationTable` or in `make_test_observation_table` ... there can also be multiple issues, I d

[2015-06-27 10:11] cdeil commented on #293
Just one more note ... `astropy.table.Table` now has a useful `info` method ... we have to rename the `info` method in `ObservationTable` and any other `astropy.table.Table` sub-classes to avoid overwriting it.

[2015-06-29 05:49] mapazarr commented on #293
OK, I found the problem. It's a bug in the header definition in `make_test_observation_table`. It doesn't matter if it's defined as `dict` or `OrderedDict`.
But this line:
 https://github.com/gammapy/gammapy/blob/master/gammapy/datasets/make.py#L106
Should be
 `obs_table.meta = header`
I'll commit a fix soon.

[2015-06-29 06:30] cdeil commented on #293
@mapazarr – Thanks for figuring that out!

In this case, you can just put a commit with this fix in the next PR you're working on, no need for a separate one. The Astropy policy is to leave issues open until the fix has landed in master ... let's do the same.

[2015-06-29 06:32] cdeil commented on #293
Oh, ... and even if `dict` vs. `OrderedDict` wasn't the issue ... please change to an `OrderedDict` ... you can use this pattern to fill it in an order that's then reflected in the FITS header it generates:
[code]
I also like it because it's very readable (even if longish sometimes) and it's easy to add / remove / comment lines with simple diffs in version control.

[2015-06-29 07:19] mapazarr commented on #293
Well, I did smthg different: I directly define it in the table, without the need to specify what kind of dictionary it is:
`obs_table.meta['ONE'] = 1`
This is less error prone in case the type of dict changes in `Table`.
I also added a header test in `test_make_test_observation_table`.

[2015-06-29 09:39] cdeil opened #294 "Use pytest-mpl"
We should use https://github.com/astrofrog/pytest-mpl to test any plotting functions we have.

It's not hard to set up. Example: https://github.com/astrofrog/wcsaxes/pull/168

The baseline images should be stored in a `baseline_plots` folder here: https://github.com/gammapy/gammapy-extra/tree/master/test_datasets

So really it would be best if the `gammapy-extra` datasets were set up properly firs

[2015-06-29 09:40] cdeil commented on #288
I recently discussed this with @adonath and we settled on a setup where `gammapy-extra` is a git submodule. This is done for `ctapipe` and even documented a little:
https://github.com/cta-observatory/ctapipe/blob/master/docs/datasets/index.rst
The same should be done for Gammapy.

[2015-07-01 07:02] mapazarr commented on #293
The fix is included in PR #295.

[2015-07-07 16:25] cdeil opened #297 "Add more info / check plots for events / IRFs"
Nathan from VERITAS has implemented very nice informative debug plots for their events / IRFs:
![image](https://cloud.githubusercontent.com/assets/852409/8551182/551aec2c-24d5-11e5-8810-938468634cd7.png)

I'd like to have those for Gammapy / HESS.

[2015-07-09 23:24] mapazarr opened #298 "Ordering of keywords in FITS headers."
When creating a FITS I/O (`~astropy.io.fits`) object from an `~astropy.table.Table`, the order of the keywords in the header is not always very nice.

An example of this behavior is in the `~gammapy.background.CubeBackgroundModel.to_fits_bin_table` method. In this case, the axis units of a `~astropy.io.fits.BinTableHDU` are placed at the end of the axis descriptions.

It would be great to have uti

[2015-07-15 08:42] cdeil opened #300 "Improve travis-ci setup / build matrix"
The following aspects of the Gammapy travis-ci setup and build matrix should be improved:

- [x] Migrate to the container-based infrastructure? (see http://docs.travis-ci.com/user/migrating-from-legacy/)
- [x] Add a Sphinx build with Python 3 (see https://github.com/gammapy/gammapy/pull/299#issuecomment-121530634)
- [x] Add a Sphinx build with the latest Astropy master (see https://github.com/gamm

[2015-07-15 09:23] cdeil opened #301 "Simplified attribute docstrings?"
While reviewing #299 by @mapazarr I noticed that the documentation for attributes is very verbose and basically repeats the same info twice:

![screen shot 2015-07-15 at 11 13 00](https://cloud.githubusercontent.com/assets/852409/8694992/d1161168-2ae2-11e5-8f69-10b914ea3a26.png)

I think I'd prefer we don't use `Returns` sections for attributes, but instead just have one line that also mentions th

[2015-07-15 09:49] adonath commented on #301
:+1:  Just wanted to add  that 'real' class attributes (i.e. not properties) can be documented like this https://gammapy.readthedocs.org/en/latest/_modules/gammapy/detect/test_statistics.html#TSMapResult.

[2015-07-15 10:43] cdeil opened #302 "Release Gammapy 0.3"
This is an issue to discuss / list tasks for the Gammapy 0.3 release.

I'm following the instructions [here](https://gammapy.readthedocs.org/en/latest/development/index.html#make-a-gammapy-release)

- [x] Close open PRs and issues under the 0.3 milestone
- [x] Update astropy-helpers and package-template
- [x] Upload tarball on PyPI – https://pypi.python.org/pypi/gammapy/0.3
- [x] Make v0.3 tag and

[2015-07-15 11:53] cdeil commented on #265
@kingj90 I've assigned this issue to you and moved it to the 1.0 milestone (for fall).

[2015-07-15 17:51] kingj90 commented on #301
I don't have a strong opinion on the documentation, so it's fine for me

[2015-07-15 19:56] mapazarr commented on #301
I also don't have a strong opinion. But let's agree soon to one format, and add an example to this issue, so that we can all use the same format. Should we use what @adonath mentioned?

[2015-07-15 21:52] cdeil commented on #282
This is probably something that will soon be implemented in `ctapipe`. Let's just wait on this one ...

[2015-07-15 23:09] cdeil commented on #301
@mapazarr – I've assigned this to you and set the 0.3 milestone.

There might be details that still need discussion, so maybe if you start a PR on this best to not change all at once, but first a few and wait for feedback. My suggestion would be that we use the format in [EventList](https://gammapy.readthedocs.org/en/latest/api/gammapy.data.EventList.html), i.e. by the type at the end of the one-l

[2015-07-16 05:18] mapazarr opened #304 "SpectralCube writeto method is not tested"
In order to store an image HDU in a fits file, a primary HDU (even empty) has to be set. The `to_fits` method doesn't do it this way:
http://gammapy.readthedocs.org/en/latest/_modules/gammapy/data/spectral_cube.html#SpectralCube.to_fits
I suspect, from the experience with the `CubeBacgroundModel` class
https://github.com/gammapy/gammapy/pull/299/files#diff-82cdfbacfcc0119d2ccf6621da08de7bR408
that

[2015-07-16 07:20] cdeil commented on #304
Thanks for noticing this.
I quickly looked through the tests:
https://github.com/gammapy/gammapy/blob/master/gammapy/data/tests/test_spectral_cube.py

Indeed there is no test for the write method, probably I just wrote it and it has never been executed.
So yes, please fix it by using `PrimaryHDU` instead of `ImageHDU` and add a test that writes / reads a cube and has a few asserts that data member

[2015-07-16 10:10] mapazarr commented on #304
PR #299 addresses this issue.

[2015-07-20 07:40] mapazarr opened #305 "Problem with sphinx output using python 3.4"
Sphinx with python 3.4: if using `python setup.py build_sphinx -w` I get the otuput in one line: escape commands (like `\n` and others are not interpreted as they should: `new line` in this case). In addition, it is not shown progressively, while running, but all at once in the end.

I'm not sure if this is the right place to report this, but it's quite annoying, when debugging the docs problems w

[2015-07-20 18:54] mapazarr opened #306 "assert_quantity might be a duplication of assert_quantity_allclose"
This function: `gammapy.utils.testing.assert_quantity` seems to be a duplication of 'astropy.tests.helper.assert_quantity_allclose'. Maybe we don't need it?

If changed/removed, the docs here should be updated too: http://gammapy.readthedocs.org/en/latest/development/index.html
(the entry for the assert section (at the end of the mentioned page) is as of now missing, because it is being added in P

[2015-07-20 19:36] cdeil commented on #306
@mapazarr – Yes. Please remove the version from Gammapy and replace all callers (if any) with the version from Astropy.
There's a ton of stuff in Gammapy that has become available in Astropy or affiliated packages like reproject, photutils, ... in the past two years and should be cleaned up. It's great if you help with this.

Some suggestions for the future to make issues / PRs quicker to review f

[2015-07-20 19:46] mapazarr commented on #306
Ok, assign it to me please.

[2015-07-20 19:56] cdeil commented on #305
@mapazarr – This bug report is a bit confusing. Is it for the #299 branch only? Or also for `master`?
It also always helps to show the full log by copy & pasting the command and output from your console into a [gist](https://gist.github.com/) and then linking to the relevant line number from the issue.
This greatly increases the chance that I can figure out what the issue might be from the issue d

[2015-07-20 21:17] mapazarr commented on #305
OK, here is an example:
https://gist.github.com/mapazarr/bd8f6a1d472753669245#file-gistfile1-txt-L10
Does this happen to you as well?

[2015-07-20 21:23] mapazarr commented on #305
It happens also in `master` branch: version `0.3.dev1336`. Strangely enough, the output seems fine when not using the `-w` option.

[2015-07-20 21:53] cdeil commented on #305
Yes, I see the same behaviour locally.
On travis-ci it looks OK, but maybe that's because of how they display the log: https://travis-ci.org/gammapy/gammapy/jobs/71208167#L1346

It's not a Gammapy issue ... it's the same for Astropy or other affiliated packages (I tried wcsaxes).

@embray or @astrofrog – Any idea why with `python setup.py build_sphinx -w` the log output on the console is garbled w

[2015-07-20 22:10] astrofrog commented on #305
@eteq - any ideas? I'm suspecting that there's a decode missing somewhere so that when the log is printed, it should be rendered as normal text, not bytes

[2015-07-20 22:31] mapazarr commented on #305
As I said, it works fine with python `2.7`. The `gammapy` travis-ci uses python 2.7, so no problem there.

[2015-07-20 22:34] eteq commented on #305
@cdeil @mapazarr  - yep, @astrofrog has the right idea.  ``-w`` has to parse the log, so it follows a code path different from when there's no ``-w``.

The reason why this is different in 3.x (I think) is that `Popen` yields bytes instead of strings in 3.x vs 2.x .  So the decode is necessary in 3.x but not in 2.x.

So can one of you double-check that https://github.com/eteq/astropy-helpers/tree/f

[2015-07-21 03:32] mapazarr commented on #305
@eteq I added the line and it works. Thanks! The output comes all of a sudden, instead of progressively. I don't recall if this was the case with python 2.7.

Another thing: since the fix is only necessary for python 3.x, shouldn't the fix be dependent on the python version?

[2015-07-21 03:40] mapazarr commented on #305
OK I tested with python 2.7: the output without the fix comes progrssively (and in colors/bold, i.e. formatted output). With the fix it comes all of a sudden and unformatted (as for python 3.4).

[2015-07-21 13:45] #304 closed

[2015-07-21 15:39] eteq commented on #305
@mapazarr - that's strange... The behavior I see is that in py 2.7 *or* py 3.4 the ``-w`` option is all of a sudden and unformatted, while without ``-w``, both are progressive and formatted.  Are you sure you had ``-w`` in 2.7?

It's hard to see how you could get progressive output with ``-w``.  The output has to be checked for whether or not the build succeeded, so it all gets stored in-memory us

[2015-07-21 16:35] cdeil commented on #305
@eteq – Could you please open an astropy-helpers PR for the fix you've proposed?
I think discussing this there is the more appropriate tracker, because this has nothing to do with Gammapy.

Here's an affiliated package that is running a Python 3 sphinx build and the output is incorrectly printed with a `b'...'` and without newlines:
https://travis-ci.org/astroplanners/astroplan/jobs/71686667#L870

[2015-07-21 16:59] eteq commented on #305
@cdeil - good point, I was just using this thread to make sure the fix I made actually works.  See astropy/astropy-helpers#175 for the PR.  @mapazarr, perhaps you can respond to my question there?

Also, re: adding py3 sphinx builds: in principal that's a good idea, but the sphinx build takes a long time on astropy, and so far it hasn't been a problem (b/c the actual tests are still run in py3).

[2015-07-21 18:29] cdeil commented on #305
@eteq - Thanks!
Closing this issue and locking it to make sure discussion continues only in https://github.com/astropy/astropy-helpers/pull/175.

[2015-07-21 18:29] #305 closed

[2015-07-23 06:55] cdeil opened #307 "Update install instructions and release notes for conda packages"
Matt Craig set up binary packages for Gammapy:
https://groups.google.com/forum/#!topic/astropy-dev/u8-r3AW8V4s
https://groups.google.com/forum/#!topic/gammapy/WJjWxHphTGM

- [ ] Update install instructions
- [ ] Update release notes to make a PR against https://github.com/astropy/conda-builder-affiliated to trigger a new build
- [ ] Maybe try to get some of our optional dependencies built there (e

[2015-07-23 23:53] mapazarr opened #308 "Add list of available catalogs to high-level docs."
It would be useful to have a list of available catalogues in either here:
http://gammapy.readthedocs.org/en/latest/catalog/index.html
or here:
http://gammapy.readthedocs.org/en/latest/datasets/index.html
(or a subpage of either).

[2015-07-29 11:31] mapazarr commented on #238
Applying this in PR #283.

[2015-07-30 15:08] cdeil commented on #238
Closing this issue. Adressed in #283 and #310 .

[2015-07-30 15:08] #238 closed

[2015-07-31 06:05] cdeil commented on #13
I looked at this again for the upcoming Gammapy 0.3 release.

Well, at some point (no idea when) the Gammapy PDF build on readthedocs started working again:
https://readthedocs.org/builds/gammapy/3176162/
The PDF looks OK.

I tried to build the PDF on my Macbook.

As described [here in the Astropy docs](http://astropy.readthedocs.org/en/latest/install.html#building-documentation), the proper comma

[2015-08-02 09:58] cdeil commented on #288
Another good example for how to configure data download:
http://docs.sunpy.org/en/stable/guide/acquiring_data/index.html#acquiring-data-with-sunpy
Also, their database might be a useful model for out `Datastore`.

[2015-08-02 10:17] cdeil opened #312 "Add an "About Gammapy" page to the docs"
I plan to add an "About Gammapy" page to the Gammapy docs and make it the first link on the top-level page, before the link to "Installation".

Examples:
- http://sunpy.org/about/
- http://www.astropy.org/about.html
- https://sncosmo.readthedocs.org/en/v1.0.x/about.html

- [ ] Add the about page
- [ ] Move https://gammapy.readthedocs.org/en/latest/#support-gammapy there
- [ ] Link to (preliminary)

[2015-08-02 17:26] cdeil opened #313 "Use classmethod instead of staticmethod for alternate constructors"
I just learned that using `classmethod` is the recommended  pattern to create alternate constructors in Python.

So far I've been using `staticmethod` ... here's a list of cases where this should be changed:
https://github.com/gammapy/gammapy/search?utf8=%E2%9C%93&q=staticmethod&type=Code

I don't fully understand the advantage of `classmethod` yet, it's better when someone wants to inherit from o

[2015-08-02 22:24] cdeil commented on #170
Astropy also has a default style:
https://github.com/astropy/astropy/blob/master/astropy/visualization/mpl_style.py
Anything that's prettier than the default matplotlib style is fine with me (e.g. seaborn).

@adonath – Can you implement this issue? Move to 0.4 milestone?

[2015-08-02 22:25] cdeil commented on #165
@adonath – Can you fix this script quickly? If no time, please move to 0.4 milestone.

[2015-08-02 22:26] cdeil commented on #273
@adonath – Can you fix this issue? Move to 0.4 milestone?

[2015-08-02 22:47] cdeil opened #314 "Improve Makefile"
I want to improve the Gammapy [Makefile](https://github.com/gammapy/gammapy/blob/master/Makefile).

- [ ] Some things don't work on Mac:
[code]
- [ ] Go through suggestions at https://github.com/gammapy/gammapy/pull/289#issuecomment-111856391
- [ ] Go through suggestions at https://github.com/gammapy/gammapy/pull/289#issuecomment-123653090
- [ ] Improve the docs (e.g. [here](https://gammapy.readth

[2015-08-04 07:26] mapazarr opened #315 "Improve observation selection tool"
The [find_obs](http://gammapy.readthedocs.org/en/latest/api/gammapy.scripts.find_obs.html) command-line tool is working (see also [find_observations](http://gammapy.readthedocs.org/en/latest/obs/find_observations.html)), but it would be nice to have the following improvements:
- [ ] support for ECSV file format: https://github.com/gammapy/gammapy/pull/295#issuecomment-126890470
- [ ] There is an e

[2015-08-04 07:45] #293 closed

[2015-08-04 17:23] mapazarr opened #316 "Docs of ObservationTable misses methods."
The doc page for the observation table:
 http://gammapy.readthedocs.org/en/latest/api/gammapy.obs.ObservationTable.html
does not show the newly introduced `select_*` methods from PR #295.

The methods are there in the source code:
  http://gammapy.readthedocs.org/en/latest/_modules/gammapy/obs/observation.html#ObservationTable

And I can see the doc entries in my computer, when building the docs.

[2015-08-04 21:45] mapazarr commented on #316
There is also an error on the help string here:
 https://github.com/gammapy/gammapy/blob/master/gammapy/scripts/find_obs.py#L27
the default value is wrong.

[2015-08-04 21:47] cdeil commented on #315
@mapazarr and I are having a weird issue where this has no effect (doesn't set the root logger level to debug as expected):
[code]

The solution at http://stackoverflow.com/a/14335797/498873 seems to work, i.e. changing to solves the issue:
[code]

To reproduce the issue you can run:
[code]
For me it works and does print "b".
If I uncomment the `logging.info('a')` statement I get nothing, i.e. "b"

[2015-08-04 21:48] cdeil commented on #315
@eteq Any advice on the issue in the previous comment (forgot to CC you)?

[2015-08-04 21:49] mapazarr commented on #316
I also don't like the output of these lines:
 https://github.com/gammapy/gammapy/blob/master/gammapy/scripts/find_obs.py#L192
 https://github.com/gammapy/gammapy/blob/master/gammapy/scripts/find_obs.py#L193
because the `logger` introduces `INFO - ` at the beginning of them.

[2015-08-04 22:06] cdeil commented on #316
It's very weird. I wiped RTD and the new build passed:
https://readthedocs.org/builds/gammapy/3197257/

But as @mapazarr said before, the new methods don't show up in the docs:
https://gammapy.readthedocs.org/en/latest/api/gammapy.obs.ObservationTable.html

The HTML output looks OK to me locally.

Hmm ... I'll just try wiping RTD again tomorrow and we'll see.
Assigning this issue to myself now.

[2015-08-04 22:23] cdeil commented on #316
Looks OK to me now ... probably just one more case of RTD taking it's time to update the web server after a build.

@mapazarr – Close this issue?

[2015-08-04 22:28] eteq commented on #315
@cdeil - I haven't really used this much, so take any of these suggestions with the appropriate grain of salt...

But my understanding is that you're "supposed" to always do `basicConfig` first - if you send something to a logger *before* that, it uses some default config, which apparently doesn't show `INFO` level messages.  So I think that's why `logging.info('a')` makes the following calls do n

[2015-08-04 22:29] eteq commented on #315
Oh, and I guess you should also build gammapy's logger from `astropy` using `astropy.log.getChild('gammapy')`, but I don't know that anyone's tried that (so it might have bugs?)

[2015-08-04 22:48] mapazarr commented on #316
Yes, now it looks fine.

[2015-08-04 22:48] #316 closed

[2015-08-05 13:24] cdeil commented on #315
I'm moving the discussion on how to log to https://github.com/astropy/package-template/issues/134 and will address it in a separate PR (for all of Gammapy).

[2015-08-05 13:35] cdeil commented on #315
@mapazarr – I've removed the logging-related TODOs from the comment at the top and added a few others I think should be done.

I'm assigning this issue to myself ... I want to play with the observation selection anyways and this gives you time to focus on background modeling for the last two weeks.

[2015-08-05 13:49] cdeil commented on #139
I think I found a way to identify the scripts / lines of code where the warnings occur.
Putting this in the `gammapy/__init__.py` file:
[code]
I get this output:
https://gist.github.com/cdeil/608306fd50c27a454e7d

I'll try to clean up the warnings and get a clean sphinx build today or tomorrow ...

[2015-08-10 08:36] cdeil opened #320 "Improve logging from command line tools"
In #318 logging from Gammapy command line tools was improved, but I'm not sure this is a good setup / pattern yet. There were suggestions in https://github.com/astropy/package-template/issues/134 that sub-classing [AstropyLogger](http://astropy.readthedocs.org/en/latest/api/astropy.logger.AstropyLogger.html) or using [fitsdiff.py](https://github.com/astropy/astropy/blob/master/astropy/io/fits/scri

[2015-08-10 08:51] cdeil opened #321 "Use sub-commands for command line tools"
We should use sub-commands (like e.g. git) for the Gammapy command line tools.

In my opinion we already have too many command line tools, and we should instead group them in categories and provide the various tasks as sub-commands.

Maybe we even want to go all the way and create a single `gammapy` command line tool that has all commands as sub-commands (again, like e.g. `git`). If the command li

[2015-08-11 09:58] cdeil opened #324 "Debian package for Gammapy"
This Friday I'll join the [Debian Astro packaging tutorial](https://wiki.debian.org/Sprints/2015/Astro) by @olebole and I'd like to try and create a Debian package for Gammapy 0.3 (which I'll release tomorrow).

The maintainer for the package will be the "Debian Astronomy Team" as explained [here](https://wiki.debian.org/DebianAstro/AstropyPackagingTutorial/Preparation). Anyone interested to follo

[2015-08-12 08:55] cdeil opened #325 "Add pep257 docstring checker"
There's a [pep257](https://github.com/GreenSteam/pep257) tool that automatically checks docstrings.

Here's what it currently says for Gammapy: https://gist.github.com/cdeil/367f03220d9506850d94

We should

- [ ] Configure it to use the Numpy docstring convention (see https://github.com/GreenSteam/pep257/issues/129) and cover the right files and issues (see options [here](http://pep257.readthedocs

[2015-08-13 13:11] cdeil commented on #324
ITP = intent to package filed: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=795369

[2015-08-13 22:51] cdeil commented on #302
@adonath @zblz – I just released Gammapy 0.3 ( https://pypi.python.org/pypi/gammapy/0.3 ). If you have time, could you check if pip install and [running the tests](https://gammapy.readthedocs.org/en/latest/install.html#check-gammapy-installation) works for you?

[2015-08-14 01:32] mapazarr commented on #302
Congratulations!!! :-)

[2015-08-14 07:15] cdeil commented on #302
Just sent the announcement mail to the Gammapy mailing list ... closing this issue now.

[2015-08-14 07:15] #302 closed

[2015-08-14 13:27] mapazarr commented on #302
Strange, I didn't get the e-mail.

[2015-08-14 13:32] mapazarr commented on #302
OK, I have reviewed my Gammapy mailing list settings :-)

[2015-08-16 20:17] mapazarr opened #328 "Correct placement of datastore classes and obs list format converter functions"
While working on PR #319 I am encountering the following problem:

I added 2 functions to deal with observation table format conversion and integrated them into the datastore classes, so that the format of obs tables and datastore obs tables imported from the H.E.S.S. runinfo.fits file follow the convention here:
http://gammapy.readthedocs.org/en/latest/dataformats/observation_lists.html
(I also f

[2015-08-17 22:30] cdeil opened #329 "Introduce YAML in Gammapy"
I'd like us to use YAML in Gammapy for configuration files.
- [ ] Update [this docs page](https://gammapy.readthedocs.org/en/latest/dataformats/file_formats.html) with some info on JSON and YAML and explain why we prefer YAML.
- [x] Add PyYAML to `.travis.yml` and some simple test to show that it works.

[2015-08-17 22:43] cdeil commented on #328
@mapazarr I've run into circular import issues before when adding things to `gammapy.datasets` (see #171). I need to clean this up and document it, but the solution @adonath  and I discussed is to not put things in `gammapy.datasets`, or even to avoid all imports of Gammapy classes there and have those functions only return filenames.

If you have something that works now, please just leave as is

[2015-08-18 20:52] cdeil opened #331 "Improve energy handling – take 2"
This is a continuation of #290 by @kingj90 ... some further steps to improve / clean up energy handling code in Gammapy.
- [ ] Change API everywhere to use new Energy handling
- [ ] Should `LogEnergyAxis` use `Energy`?

[2015-08-19 09:25] kingj90 commented on #331
How should I add the changelog entriy? Via a separate PR?

[2015-08-21 07:13] cdeil commented on #331
I'll attach a commit here (turning this issue into a PR) and also add a changelog entry.

[2015-08-21 07:29] mapazarr opened #333 "Improve cube bg model production"
The  cube bg model production is working. Still there is some things to improve:
- [x] investigate the steepening of the bg rate for reconstructed models: https://hess-confluence.desy.de/confluence/display/HESS/HESS+Open+Source+Tools+-+HOWTO+create+cube+background+models+using+Gammapy#HESSOpenSourceTools-HOWTOcreatecubebackgroundmodelsusingGammapy-Comparisontrue/reco
- [ ] add a cube.spectral_inde

[2015-08-21 08:06] mapazarr commented on #333
About the error in fits: https://github.com/gammapy/gammapy/pull/319#issuecomment-130241940, https://gist.github.com/cdeil/8665a22897c6ebe71680#file-gistfile1-txt-L1

This is probably due to the fact that `X, Y` axes are defined via a `WCS` object, but `energy` is not. In any case, this only affects to the `image` format, which should be used for visualization in **DS9**; regular analysis should u

[2015-08-21 09:02] mapazarr opened #334 "Add from_fits/to_fits methods to ObservationTable"
`ObservationTable` should get working `to_fits/from_fits` methods, using `HDU`s as output/input.

Astropy tables (parent class) does not support (yet?) fits format via `io.fits`, i.e. no `HDU`s can be retrieved. It is possible thought to save them directly to fits and open them and read back the table.

There are already methods to convert astropy tables from/to `HDU`s in gammapy: `gammapy.utils.t

[2015-08-23 23:28] cdeil opened #336 "Region handling in Gammapy"
In Gammapy we currently have some region handling code in various places, e.g. see
 [docs search for region](https://gammapy.readthedocs.org/en/latest/search.html?q=region&check_keywords=yes&area=default), [code search for select_sky_box](https://github.com/gammapy/gammapy/search?utf8=%E2%9C%93&q=select_sky_box&type=Code), code for ring and reflected regions in [gammapy.background](https://gammapy

[2015-08-27 10:50] cdeil commented on #300
Migrate to the container-based infrastructure in #340

[2015-08-27 21:09] mapazarr commented on #300
May I suggest the following?

1. Test with `--remote-data` option.
2. Add all Fermi datasets to `gammapy-extra` and use them as fall back option in case the tests fail because of Fermi server timeout.

[2015-08-28 08:56] cdeil commented on #170
@adonath addressed this issue in #317 ... closing now.

[2015-08-28 08:56] #170 closed

[2015-08-28 09:05] cdeil commented on #300
@mapazarr Agreed. But what you suggest will be part of a bigger change to the Gammapy repo / datasets setup (see #288) and I don't have time for that at the moment.

[2015-09-02 23:52] mapazarr opened #344 "Generalise the use of gammapy.background.Cube"
The [gammapy.background.Cube](http://gammapy.readthedocs.org/en/latest/api/gammapy.background.Cube.html) class
is a generic container class for cube data. It should be used for all cubes in Gammapy.

For instance the [gammapy.data.SpectralCube](http://gammapy.readthedocs.org/en/latest/api/gammapy.data.SpectralCube.html) class
could benefit from this container class, which has some of its basic fun

[2015-09-03 00:12] mapazarr opened #345 "Improve dataset generator"
The [gammapy.datasets.make_test_dataset](http:/gammapy.readthedocs.org/en/latest/api/gammapy.datasets.make_test_dataset.html) and [gammapy.datasets.make_test_eventlist](http://gammapy.readthedocs.org/en/latest/api/gammapy.datasets.make_test_eventlist.html) functionality should be improved:
- [ ] make a class out of the 2 functions
- [ ] add method to provide an observation table as input and gener

[2015-09-03 00:18] mapazarr opened #346 "Improve logger/logging printouts"
Logger printouts have a prefix (i.e. ' - INFO ') and a suffix (function name). This can be annoying, especially for `INFO` logging messages (i.e. regular output), especially with:
* empty lines: the line is not empty
* table data: the 1st line (table column names) is shifted w.r.t. to the rest of the table (units, data)
making the regular output hard to read.
One solution could be to add an option

[2015-09-03 06:25] mapazarr commented on #333
Steepening of the bg rate studied in PR #338

[2015-09-03 06:39] cdeil commented on #344
I agree we need to find a way to share code between the cube classes (and also e.g. the IRF classes, i.e. in other parts of Gammapy).

As mentioned in #121, one possibility is to sub-class `NDArray` and then either use a class hierarchy or a  few configurable classes to cover the various use cases.

This needs thought and discussion and making a concrete plan, which is already a significant time i

[2015-09-03 06:53] cdeil commented on #345
Completely agree it would be nice to have better tools to simulate data.

But it's quite a big task, and at least for me, this has lower priority than analysis features for Gammapy.
Especially since I've recently figured out how to use ctobssim (see [here](https://github.com/gammapy/gammapy-extra/tree/master/datasets/hess_crab)) to simulate event lists for any IRF and source / background model Gam

[2015-09-03 06:59] cdeil commented on #346
I don't think we'll find a logging format that everyone likes, so we should make it configurable.

It's probably better to allow the specification of a `gammapy-logging.conf` file:
https://docs.python.org/3/howto/logging.html#configuring-logging
(instead of adding lots of flags and options to the command line tool).

The question is how this should be set up.
I think the [astropy.config](http://as

[2015-09-03 07:00] cdeil commented on #346
We might also want to talk to @kosack or @jacquemier and look at whatever solution they come up with for [ctapipe](https://github.com/cta-observatory/ctapipe) and adopt that for Gammapy.

[2015-09-03 08:40] kosack commented on #346
the use case for logging may be different between ctapipe and gammapy.  For ctapipe, I want to have a text list of everything that was done, and at what time, and what machine (etc), so that if there is a problem in the future, I can see what happened. Therefore something like https://en.wikipedia.org/wiki/Common_Log_Format is probably the best, since there are many tools/GUIs/etc to parse and dis

[2015-09-04 18:01] mapazarr commented on #333
Question: would it be useful to have a fits to root exporter for the bg cubes? Maybe this would help to get people working in root-based analysis interested in using the software and not reinvent the wheel?

[2015-09-05 09:31] cdeil commented on #333
I highly doubt anyone would take the time to use that in the HESS software, so it would be a waste of our time. Open-source analysis and open FITS data and CTA is coming ... it'll take a while, but (somewhat surprisingly) no-one in CTA is proposing ROOT.

[2015-09-08 12:51] cdeil opened #349 "test_sherpa_like results change"
As mentioned in https://github.com/gammapy/gammapy/pull/348#issuecomment-138531661 the best-fit values for `test_sherpa_like` changed:
https://travis-ci.org/gammapy/gammapy/jobs/79269644#L1451
[code]

I don't know why this happened ... one possibility is that this was added to every Gammapy file:
[code]
which could have changed int division or string serialisation somewhere.

As a temp solution I'

[2015-09-09 06:51] cdeil commented on #272
We now have tests for a few of the command line tools (see `gammapy/scripts/tests`).
I'm happy with the solution we've found to test them, so I'm closing this issue.

Not all are tested yet and there should be more tests for the existing ones, but I don't think keeping this GH issue open is useful, since we already have #94.

[2015-09-09 06:51] #272 closed

[2015-09-09 07:03] cdeil opened #350 "Use runipy to test the Gammapy notebooks"
This PR adds a build on travis-ci should be added that executes all the Gammapy notebooks:
https://github.com/gammapy/gammapy-extra/tree/master/notebooks

The [runipy](https://github.com/paulgb/runipy) tool makes it easy  ... it returns status code zero if no exception occurs and non-zero if there is an exception.

The Astropy tutorials also use it:
https://github.com/astropy/astropy-tutorials/blo

[2015-09-16 10:00] cdeil commented on #71
I just saw this ... there's OGIP files available for all GRBs:
* http://fermi.gsfc.nasa.gov/ssc/observations/types/grbs/lat_grbs/
* http://fermi.gsfc.nasa.gov/ssc/observations/types/grbs/lat_grbs/141222298
* http://heasarc.gsfc.nasa.gov/FTP/fermi/data/lat/triggers/2014/bn141222298/current/

@kingj90 – It's not high-priority, but long-term it would be nice if we can read and process Fermi-LAT data

[2015-09-18 07:15] cdeil opened #354 "Use pathlib instead of os.path"
We should use `pathlib` for file and directory handling instead of `os.path`. It's a more pleasant API that was even added to the Python standard library in Python 3.4.

[2015-09-18 08:22] joleroi opened #355 "test fails in master"
When running the test with the --remote-data flag in the master branch, I get 3 failed tests in
gammapy/datasets/tests/test_catalogs.py

I guess this passed unnoticed since (afaik) the online tests are run without this flag.
@cdeil @mapazarr : Is there an easy way to fix this? It would be nice to be able to run all tests with the remote example data, wouldn't it?

[2015-09-18 10:10] cdeil commented on #355
@kingj90 – There should never be failing tests in master.

The solution is to either fix them directly, or to mark them xfail (see example [here](https://github.com/gammapy/gammapy/blob/cd2ae68cac6aea3a1a612d24bb01798a5b7eb702/gammapy/spectrum/tests/test_isrf.py#L8) and deal with this later.

I'm getting 5 fails and will have a look after lunch: https://gist.github.com/cdeil/1ccc2badbb9ce3fac29c

[2015-09-18 12:12] cdeil commented on #355
There's no actual bugs, there are all timeout fetching remote files.

E.g. if I run
[code]
or
[code]
it will work ~ 50% of the time, and 50% of the time fail with a timeout.

The best fix for this is to fetch all test data, i.e. the whole gammapy-extra repo, before starting the tests.
This is part of #288, for which I unfortunately don't have time.

One quick fix would be to increase the timeout f

[2015-09-20 13:13] kingj90 commented on #355
@cdeil thanks for the explanation. Yes, the last option is perfectly fine!

[2015-09-24 08:12] cdeil commented on #198
Here's a prototype implementation of how to compute butterflies with the `uncertainties` package:
https://github.com/gammapy/gammapy-extra/blob/master/experiments/butterflies.ipynb

It should be integrated properly into gammapy.spectrum and then also be hooked up to the Fermi catalog source spectra that @JonathanDHarris is working on in #341.

[2015-09-29 13:19] cdeil commented on #349
@adonath – I'll make the Gammapy 0.4 release next week, which will be the basis for the first results from Gammapy shown at the HESS collaboration meeting.

Do you have time to look into this issue or should I assign to myself?

[2015-10-07 16:53] joleroi opened #363 "Circular imports in gammapy.spectrum and gammapy.data"
I ran into the following issue:

gammapy.data.SpectralCube uses some functionality from gammapy.spectrum, namely powerlaw, EnergyBounds, LogEnergyAxis.

gammapy.spectrum.spectrum_analysis uses some functionality from gammapy.data namely CountsSpectrum

This lead to a circular import

Possible Solutions

* Move gammapy.data.CountsSpectrum to gammapy.spectrum - for me this would render gammapy.data

[2015-10-07 19:07] cdeil commented on #72
Closing this super-old issue.
I'm not sure anymore what exactly it's about, but XSPEC-style analysis is being implemented by @kingj90 in #361.

[2015-10-07 19:07] #72 closed

[2015-10-11 19:28] cdeil commented on #297
Some of these plots have been implemented in #352.
Keeping this open because this needs more works and tests / docs.

[2015-10-11 20:25] dlennarz opened #366 "Setup Tests Fail"
I just updated my fork to the latest gammapy:master and also updated the python packages. I have two different installations on different systems with different packages available.

For both installation I get an import error (ERROR collecting gammapy/scripts/tests/test_all.py, gammapy/scripts/data_show.py:10  import click, E   ImportError: No module named 'click').

On one installation, I get the

[2015-10-11 20:38] cdeil commented on #366
Concerning [click](http://click.pocoo.org/), this is now a dependency that's needed to run the Gammapy tests. I've mentioned it here:  https://gammapy.readthedocs.org/en/latest/install.html#dependencies

click is an optional dependency, the problem is that it's most conveniently used for decorators, so it's not easily possible to put that import into a function:
https://github.com/gammapy/gammapy/

[2015-10-11 20:46] dlennarz commented on #366
I tried to attach a text file to the issue, but that did not work. Here is the output:
https://gist.github.com/dlennarz/9261316889e166f55574

[2015-10-11 20:50] cdeil commented on #366
@dlennarz – You only posted the output of `python setup.py test` that shows that there's an issue with the `_test_statistics_cython.cpython-34m.so` library:
https://gist.github.com/dlennarz/9261316889e166f55574#file-error_2-txt-L376

In order to diagnose what's wrong the output of `python setup.py build` is needed, i.e. which Python / Cython / C compiler was used to generate it.

Can you please ru

[2015-10-11 21:02] dlennarz commented on #366
I'm sorry, so there are the two test errors I am getting:
https://gist.github.com/dlennarz/3015a404d6894b81bc5c
https://gist.github.com/dlennarz/9261316889e166f55574

This is the build output for the second test error:
https://gist.github.com/dlennarz/ec862d20aade57cdbc8a

I started with a completely fresh checkout.

[2015-10-11 21:08] dlennarz commented on #366
Concerning click, I don't see it mentioned on this page:
https://gammapy.readthedocs.org/en/latest/install.html#dependencies

[2015-10-11 21:24] cdeil commented on #366
https://gammapy.readthedocs.org/en/latest/install.html#dependencies

Clear your browser cache and refresh.

I merged this earlier today:
https://github.com/gammapy/gammapy/pull/352/files#diff-62c330cd8da31d476bb63b51bb8b1307
(and yes, the install instructions can be improved ...)

[2015-10-11 21:35] cdeil commented on #366
I don't understand yet what's wrong with your compile / linking here:
[code]
It looks like you use `/usr/bin/gcc` to compile and then `gcc` to link. Is that the same compiler?
The Intel compiler includes probably shouldn't be there ... maybe you have environment variables like CCFLAGS set that communicate to the Python build they should be used?

Maybe, if you just want to work on your pull reques

[2015-10-11 22:27] dlennarz commented on #366
Yes, refreshing the browser did make me see the click instructions.

I found the issue. The compilation was pulling in $CPPFLAGS, which contained -I/opt/software/Python/2.7.2--GCC-4.4.5/include. After removing that the error went away and the tests complete fine on that machine.

On the other machine I still have the error:
E                                    astropy.units.core.UnitsError: Can on

[2015-10-12 09:56] cdeil commented on #366
I saw the `astropy.units.core.UnitsError`s yesterday and fixed the ~10 occurences in Gammapy and the Gammapy tests  in #352.
Do you still see them when you update to Gammapy master?

I didn't track down what caused the `astropy.units.core.UnitsError`s ... I think the Astropy Quantity implementation got stricter, forbidding computations now like `a + b` where `a` is a Quantity with a unit, and `b`

[2015-10-12 12:44] dlennarz commented on #366
Yes, I do see this in the gammapy master.

It seems to be in this line:
return all(isclose(a, b, rtol=rtol, atol=atol, equal_nan=equal_nan)

My guess is that atol and rtol are a quantity with unit and an array.

[2015-10-15 05:36] cdeil commented on #363
Agreed that some re-structuring in Gammapy is needed.

I've assigned this to me for the 0.5 release milestone.
Related: #171, #288, #328 and probably others.

Of course, if someone wants to make a pull request with a suggestion how to re-structure things in the meantime, it's always welcome!

[2015-10-15 11:17] cdeil commented on #366
The test_wcs_object failure should be fixed by #368.
@dlennarz – Can we close this ticket or is there some issue left?

[2015-10-15 13:08] dlennarz commented on #366
All issues have been resolved.

[2015-10-15 13:08] #366 closed

[2015-10-21 11:50] cdeil commented on #354
I'm doing this change as part of #369.

[2015-10-21 11:50] #354 closed

[2015-10-21 16:26] cdeil opened #370 "Convenience Feldman-Cousins excess limit method"
As discussed at https://github.com/gammapy/gammapy/pull/367#discussion_r42631482, it would be nice to have a convenience functions to compute excess limits for the common Poisson stats cases from gamma-ray astronomy.

@dlennarz commented at https://github.com/gammapy/gammapy/pull/367#discussion_r42635702 that this would best be implemented as a class.

[2015-10-27 13:00] cdeil commented on #288
This was partly implemented in #364.

[2015-10-27 14:11] cdeil commented on #355
@kingj90 – Can you try again with the latest version from `master`?

I think this was fixed in #364 or is there something else that should be fixed / improved?

[2015-10-27 14:21] kingj90 commented on #355
@cdeil : You are probably aware of that, but at the moment the tests in master fail, if a user does have a datamanager config file that is different from yours, i.e. in my case

KeyError: u"No data store with name hess-hap-hd-prod01-std_zeta_fullEnclosure found. Available datastores: ['hap', 'pa']"

[2015-10-27 14:31] cdeil commented on #355
@kingj90 – Yes, I'm aware this is still not set up nicely.

The best solution would be if someone writes a utility function to make a test DataStore instead of using the real one.

A utility function to generate the test data should be added here:
https://github.com/gammapy/gammapy/blob/master/gammapy/utils/testing.py#L97
the easiest would be to replicate these files 3 times:
https://github.com/ga

[2015-10-27 14:36] kingj90 commented on #355
No, unfortunately not. I will run the test on an existing datastore for the moment

[2015-10-28 11:20] kingj90 opened #373 "gammapy-spectrum crashes on run 82879"
* Crash with cryptic error message
* XSPEC seems to have no problems

[2015-10-28 11:45] cdeil commented on #373
Please use this issue tracker for such issues:
https://github.com/gammasky/hess-host-analyses/issues

(and, if you want feedback, paste the executed command and error message)

[2015-10-28 11:45] #373 closed

[2015-11-23 11:01] cdeil opened #384 "Merge gammapy.obs into gammapy.data"
I'd like to merge [gammapy.obs](https://gammapy.readthedocs.org/en/latest/obs/index.html) into [gammapy.data](https://gammapy.readthedocs.org/en/latest/data/index.html).

IMO it's weird to have the `DataStore` and `DataManager` in `gammapy.obs`, and when we move this, the observation handling code that remains isn't large enought to warrant a separate sub-package.
This is just a first step (hopefu

[2015-11-23 11:41] joleroi commented on #384
Hi,

I agree that gammapy.obs and gammapy.data should be merged. I am not sure if gammapy.data is a good name though. The new merged module will contain

- Data handling functionaltiy
- Observation grouping stuff
- The event list class

Mayeb just stick with gammapy.obs?

@cdeil : before you move around stuff in data: data.counts_spectrum should go into gammpy.spectrum I think. I can do that tomor

[2015-11-23 12:10] cdeil commented on #384
@joleroi - Thanks for the comments.

It's quite arbitrary, but somehow I prefer `gammapy.data` over `gammapy.obs`, I think because the data handling code will grow much larger than the code for observation selection / grouping, and having observation handling as a sub-part of data handling feels a little bit more natural than the other way around.
A while ago I renamed the command line tools ... a

[2015-11-23 15:39] cdeil opened #385 "Gammapy module dependency graph"
We can try and use tools that compute and visualise Python module dependencies to help us figure out a clean sub-package structure for Gammapy.

This is what I found with a quick Google search:
- http://furius.ca/snakefood/
- https://github.com/stefano-maggiolo/pydepgraph
- http://pythonhosted.org/modulegraph/

I tried `snakefood` and with [makefile-sfood](https://gist.github.com/cdeil/d2ba7d9fbee

[2015-11-23 18:55] cdeil opened #386 "Scripts to compute Fermi event lists and IRFs for Gammapy analysis"
For the [PyGamma15](http://gammapy.github.io/PyGamma15/) workshop we made a tutorial using the 2FHL event list obtained from the Fermi-LAT collaboration (see [here](https://github.com/gammapy/fhee#whats-the-fhee-package)). I'd like to use the 2FHL dataset as the example / test dataset for Fermi analysis in Gammapy.

We want scripts to compute this event list (such as [this one](https://github.com/

[2015-11-24 09:14] joleroi commented on #384
@cdeil IMO gammapy.data should definitely go away (in the sense that it merges with gammapy.obs). It then should be a low level module that must not import anything.

[2015-11-26 08:02] cdeil opened #389 "How to create analysis reports in Gammapy"
This is a long-term issue under the "whishlist" milestone with some general thoughts on analysis reports in Gammapy.

When running an analysis one usually wants to browse the results / inputs. In HAP everyone is writing their own scripts to do this, in Gammapy I'd like us to work together to implement functions / methods that emit text and plots and also make it easy to generate analysis reports s

[2015-11-29 14:44] cdeil opened #391 "Change from bundled to external ci-helpers?"
@bsipocz split out the Astropy `ci-helpers` into a separate package:
https://groups.google.com/forum/#!topic/astropy-dev/2pn_lEdK-w4
https://github.com/astropy/ci-helpers

In Gammapy we currently have a bundled and modified (and probably slightly outdated) version of the ci-helpers copied over from the Astropy repo in https://github.com/gammapy/gammapy/tree/master/.continuous-integration .

Of cou

[2015-11-29 16:36] bsipocz commented on #391
@cdeil -  Using several channels is supported by ``ci-helpers``, for the Sherpa channel you can use ``$CONDA_CHANNELS`` variable, just need to list the channels space separated.
As for the ``GAMMAPY_EXTRA``, I would put it in .travis.yml, either in the ``before_install``, or in the ``install`` section, after the ``ci-helpers`` cloning.

Regarding the extra work question: If everything goes well an

[2015-11-29 16:37] bsipocz commented on #391
btw - If you prefer I can open a PR here to do the transition .

[2015-11-29 16:45] cdeil commented on #391
A PR would be very welcome!

Since travis-ci is working now, maybe you changing to the new `ci-helpers` scheme will just work, but I wouldn't be surprised if there are conda install issues.
We had a Gammapy tutorial recently and the biggest conda install issues were the result of Sherpa and Astropy (or other packages) pinning different numpy versions and numpy getting down- or up-graded on various

[2015-12-02 11:03] cdeil opened #393 "Exposure cube and image computation"
We should have some code to compute exposure (cm^2 s) cubes and images.

As you can see [here](https://github.com/gammapy/gammapy-extra/blob/master/notebooks/gammapy-image-crab.ipynb), we already have code to compute counts and excess images. We need exposure cubes and images in order to compute source fluxes.

Roughly one needs to use the [EffectiveAreaTable2D](https://gammapy.readthedocs.org/en/

[2015-12-12 14:45] bsipocz opened #399 "Missing files/directory from gammapy-extras"
I'm at a dead end with fixing #392, as it seems that unrelatedly files got disappeared from ``gammapy-extras``?
This is the test function from ``gammapy/spectrum/tests/test_spectrum_analysis.py``, and the ``hess-crab4_pha`` directory seems to be missing from gammapy-extras.

[code]

https://travis-ci.org/gammapy/gammapy/jobs/96446120

[2015-12-12 14:50] cdeil commented on #399
@joleroi added that test and can add those missing test files on Monday. I can also look around now if I can find or produce them. But this is an unrelated issue form #392, we can / should merge #392 anyways.

@bsipocz How about adding `pytest.mark.xfail` to this test for now?

[2015-12-12 14:53] bsipocz commented on #399
yep, ``xfail`` would work, except that I'm off the internet now, until late tomorrow. Also numpy 1.6 is still problematic with sherpa related stuff, so a bit more experimenting is needed for #392.

[2015-12-12 14:57] cdeil commented on #399
@bsipocz - If it helps in any way, feel free to bump the minimum required numpy version for Gammapy to 1.7 or even 1.8 (currently 1.6 is listed in setup.py). We need a recent Astropy, and if someone can install that, they can also install a recent Numpy.

[2015-12-12 18:04] cdeil opened #400 "Download gammapy-extra on readthedocs"
The gammapy-extra repo is currently not available on readthedocs for the docs build.

See e.g. log at https://readthedocs.org/projects/gammapy/builds/3559506/

We rely on example data files from gammapy-extra to make a bunch of images, e.g. there's an image missing here: https://gammapy.readthedocs.org/en/latest/irf/psf.html

This needs to be fixed somehow ... no nice images in the docs => no user

[2015-12-13 12:00] cdeil opened #401 "Configuration handling for Gammapy"
In Gammapy we've started to use YAML configuration files and @joleroi has added a few utility functions in [gammapy.utils.scripts](https://gammapy.readthedocs.org/en/latest/utils/index.html#module-gammapy.utils.scripts), namely `read_yaml`, `write_yaml` and `recursive_update_dict`.

I'd like to propose we go for a more full-featured solution with milestone 0.5 that provides the option to specify a

[2015-12-14 16:02] bsipocz commented on #400
@cdeil - I'm sorry, but I don't have any RTD experience. What about having it as a submodule for rtd, or just simply adding the git repo to the rtd file as you do for reproject/wcsaxes/etc? Or that doesn't work as gammapy-extra is not a python module, but data files only, so doing this is pointless? I really have no idea and just wildly guessing :)

[2015-12-15 06:22] cdeil commented on #399
@bsipocz - I think the missing files were added in https://github.com/gammapy/gammapy-extra/commit/737cce99d4b00b323481ab8223079f20f2d61b81 . Can you please confirm (and revert the xfail, if you ended up putting it in)?

[2015-12-15 12:37] tibaldo opened #404 "Use WStat in region based fit using sherpa"
The method _run_sherpa_fit in the class SpetraclFit from gammapy/spectrum/spectrum_analysis at present uses the default statistics, which is chi^2. This should be modified to use WStat as appropriate for IACT analysis and implemented in the latest sherpa version.

[2015-12-15 13:14] cdeil opened #405 "High-level analysis tests for Gammapy"
Triggered by #404 reported by @tibaldo, I wanted to make an issue with some thoughts and questions for high-level analysis tests in Gammapy.

Most telescopes and tools have "science verification" or "science validation", e.g. for ctools Jürgen is currently checking pull distributions with simulated data (see [here](https://cta-redmine.irap.omp.eu/issues/1555) and [here](https://github.com/ctools/c

[2015-12-15 13:32] tibaldo commented on #405
@cdeil The plan seems reasonable to me, and worthwhile pursuing. I think it would be easier to make this a separate thing from normal tests (a separate target).

[2015-12-15 14:14] joleroi commented on #405
Sounds good, I agree with @tibaldo that a separate target is the better solution.

[2015-12-15 18:12] kosack commented on #401
ctapipe.configuration is basically just a subclass of argparse that allows the ablity to read/write to FITS headers, so at this point it is nothing fancy.  We have a requirement that we must be able to keep the "provenance data", one part of which is list of all commands and options that are used to create an output file, so this basic functionality helps there. That data can grow very large if a

[2015-12-15 18:15] kosack commented on #401
Also, I agree that validation is one of the most important features.  We use argparse for that reason, since it has a way to give default values and check types.  However, I've also used `configobj` with the `validate` package to do similar things. It allows a schema file to be written that is used to validate the inputs, but it's not perfect. The nice thing is that you can add custom validators,

[2015-12-15 18:39] cdeil commented on #401
@kosack - Thanks for your comments!

I've also used [configobj](http://www.voidspace.org.uk/python/configobj.html)  and [validate](http://www.voidspace.org.uk/python/validate.html) in the past, e.g. in [enrico](https://github.com/gammapy/enrico). It's nice, but not as flexible / popular as YAML or even JSON.

This is exactly what [schema](https://github.com/keleshev/schema) or [jsonschema](https:/

[2015-12-17 10:26] tibaldo opened #406 "Region info in data exported to OGIP format from SpectrumAnalysis class"
The current version of the gammapy.spectrum.SpectrumAnalysis write_ogip_data method creates a fits file with an empty primary HDU. In the standard OGIP format this HDU is used to store information on the original dataset and the region used to extract the spectrum.
Having this type of information would be useful, I believe in general for making the files self-explanatory and understandable by user

[2015-12-17 10:35] joleroi commented on #406
Can you point me to a document where things that go into the OGIP primary header are explained?

[2015-12-17 10:39] tibaldo commented on #406
https://heasarc.gsfc.nasa.gov/docs/heasarc/ofwg/docs/spectra/ogip_92_007/node5.html
It's not only the header, for the cases I'm familiar with concerning imaging detectors the primary HDU contains an image of the region itself (either the source region or the background region, depending on the file). Not sure what exactly is needed, but we can think about it ...

[2015-12-17 10:46] joleroi commented on #406
As far as I can see,  https://heasarc.gsfc.nasa.gov/docs/heasarc/ofwg/docs/spectra/ogip_92_007/node5.html only contains the specs for the PHA data extension

[2015-12-17 10:55] tibaldo commented on #406
You are right, it just says " For imaging detectors the primary array can contain an image of the region from which the spectrum was extracted". We should check with X-ray experts what the specs are, but such image was always present in cases I encountered personally.

[2015-12-17 11:01] cdeil commented on #406
If you add an image, it should be optional. PHA is super-small, so even a small mask image would dominate the file size and is rarely needed.

Visualising the regions in per-run plots or combined for all runs is very nice and important. It can also be done with ds9 region files and in HESS there's also sometimes counts images produced, which show the accumulated counts from all the off regions, i.

[2015-12-17 11:03] joleroi commented on #406
see `~gammapy.spectrum.SpectrumObservation.plot_reflected_regions` :wink:

[2015-12-17 11:03] cdeil commented on #406
Example of the stacked on- and off-region counts images that are produced by ParisAnalysis as a debug plot by default:

![screen shot 2015-12-17 at 12 01 56](https://cloud.githubusercontent.com/assets/852409/11868132/03bb83f8-a4b6-11e5-8c2d-b7b20506238c.png)

Probably it's possible to combine them and also add contours for exclusion regions and markers for pointing positions on top of the whole co

[2015-12-17 11:04] cdeil commented on #406
Thanks for the pointer ... I did manage to build Sherpa yesterday and plan to try out your stuff when I get a chance (probably Monday).

[2015-12-17 11:04] joleroi commented on #406
ok, thats not yet easily possible, but can be added

[2015-12-17 11:05] joleroi commented on #406
@tibaldo : There will be a spec concerning "our" PHA standard on http://gamma-astro-data-formats.readthedocs.org/en/latest/ soon.
Maybe we can move the discussion there?

[2015-12-17 11:07] cdeil commented on #406
We could still keep this issue open as a feature request to write an image or more region info and improve the debug plots as a default output when running a spectral analysis, irrespective of what exactly is added to the output files...

[2015-12-17 11:58] tibaldo commented on #406
@joleroi : up to you to handle this in the way that you reckon to be the most effective. @cdeil : you are right that the image should be optional to save disk space if it is not needed.
Probably this boils down to a naive question about OGIP pha format: how do people usually keep track of what went into the source and background region?

[2016-01-02 18:59] bsipocz opened #407 "Support Python 3.5"
I've tried to upgrade the version numbers of python and numpy as part of #392, but the code is not yet compatible, to it's better to do it separately in a new PR.

Travis buildlog is e.g. here: https://travis-ci.org/gammapy/gammapy/builds/99853649

[2016-01-02 19:26] bsipocz opened #408 "Failing spectrum analysis test"
This tests is failing in #392. Based on the history and ``git blame`` I guess @joleroi and @cdeil may have an idea how to fix it. It only fails with py2.7.

Travis log: https://travis-ci.org/gammapy/gammapy/jobs/99854091#L1446
https://travis-ci.org/gammapy/gammapy/builds/99854081

``gammapy/spectrum/tests/test_spectrum_analysis.py``

[2016-01-02 20:03] cdeil commented on #172
Looks like there finally is a package to integrate notebooks better with Sphinx:
https://github.com/spatialaudio/nbsphinx

I haven't tried it yet, i.e. I don't know how well it works or how well-integrated the output is with the rest of the docs (link to API docs? full-text search?)
Probably the other way around would be ideal: author docs in sphinx (so that there are nice simple text files with m

[2016-01-02 23:18] bsipocz commented on #408
There also got another fail locally from the same file:

[code]

[2016-01-03 20:45] bsipocz commented on #399
The test is still xfailed because of #408. Closing this issue as the file is not missing any more from ``gammapy-extra``

[2016-01-03 20:45] #399 closed

[2016-01-05 11:12] cdeil opened #409 "Add EventList plots and tests"
The [gammapy.data.EventList](https://gammapy.readthedocs.org/en/latest/api/gammapy.data.EventList.html) class for IACT event lists needs some love.
- Add tests (see current [coverage](https://coveralls.io/builds/4607932/source?filename=gammapy%2Fdata%2Fevent_list.py)).
- Add a few standard plots as quick ways to see if the event data looks OK (implement the [peek](https://gammapy.readthedocs.org/e

[2016-01-05 15:54] JonathanDHarris commented on #409
@cdeil Yep I'm interested.  I'll probably do several small prs.

As it's been a while, could you link me again to the idiots guide to your git flow?

[2016-01-05 16:05] cdeil commented on #409
I haven't written up any dev or git info for Gammapy specifically.

There's a ton of pages of docs though for Astropy and it's the same for Gammapy.

Does this help?
http://astropy.readthedocs.org/en/stable/development/workflow/development_workflow.html#astropy-git

If not, feel free to ask any questions on Github or the mailing list!
I've also been thinking about setting up https://slack.com/ for

[2016-01-05 16:19] JonathanDHarris commented on #409
Thanks @cdeil that link was what I was after.

I'm happy to give slack a try

[2016-01-05 16:30] cdeil commented on #409
Does this work?
https://gammapy.slack.com/

Is it publicly visible?

[2016-01-05 19:05] bsipocz opened #410 "Revise sherpa installation in .travis.yml"
The way we install sherpa in ``.travis.yml`` is due for a revision once sherpa v4.8 becomes available. Ideally a conda package will be hosted in a conda channel for several numpy versions, so ``ci-helpers`` can take care of the installation just as for the other dependencies.

Alternatively the numpy reinstallation step could be removed based on the comment here: https://github.com/sherpa/sherpa/i

[2016-01-05 21:10] #391 closed

[2016-01-05 21:44] cdeil commented on #407
Why does `astropy.utils.exceptions.AstropyDeprecationWarning` make the Python 3.5 build fail on travis-ci?
https://travis-ci.org/gammapy/gammapy/jobs/99853661#L1598

I don't see a build fail locally with Python 3.5 with Gammapy master now that #392 is merged:
[code]
Was that issue resolved there?

In any case: @bsipocz - Do you have time to add a Python 3.5 build for Gammapy on travis-ci? If no, I

[2016-01-05 23:22] bsipocz commented on #407
It's tricky. The python 3.5 issue isn't showing locally only because I had to turn off ``enable_deprecations_as_exceptions`` in ``gammapy/conftest.py`` due to https://github.com/astropy/astropy/issues/4430

On the other hand most of the fails in the travis log I linked above came from upgrading numpy to 1.10 (recklessly I did both the py3.5, astropy1.1 and np1.10 in one go), so I guess I have some

[2016-01-05 23:26] bsipocz opened #411 "Turn back enable_deprecations_as_exceptions in conftest"
Once either https://github.com/astropy/astropy/issues/4430 or upstream sherpa is fixed `enable_deprecations_as_exceptions` can be turned back on in `conftest.py`. At the moment it causes failing tests due to a numpy 1.10 `DeprecationWarning` triggered by sherpa.

[2016-01-07 09:26] joleroi opened #413 "Meta info in spectrum PHA files"
@JouvinLea asked me to add some meta info to the PHA file, namely offset, muon efficiency and zenith angle
- The latter two can be read from the event list header (see http://gamma-astro-data-formats.readthedocs.org/en/latest/events/index.html)
- The offset is not well defined a priori, I guess, because it depends on the position of the target in the sky. There is a default target in the event lis

[2016-01-07 09:36] JouvinLea commented on #413
@joleroi : yes I need these three parameters for the grouping since I read the header of each phafile to attribute the good band in zenith, efficiency and offset.
As you said for the muon efficiency and the zenith this is easy since this is in the meta of the event list. So for the moment I add these two parameters as members of CountSpectrum.
For the offset,  I give it as an argument in the funct

[2016-01-07 09:41] joleroi commented on #413
Ok, just for me understanding: How do you write the PHA file?

[2016-01-07 10:08] cdeil commented on #413
@joleroi  - Whatever meta info you / @JouvinLea need in whatever places is fine with me.

[2016-01-07 10:17] joleroi commented on #408
I have tried to solve this issue many times. The problem is that Sherpa tries to fit a 2D gaussian model to a spectral dataset. The gaussian model must be set by some other test in gammapy and the Sherpa session somehow remebers this. I tried to fix this with @adonath but we did not succeed.

[2016-01-07 19:14] bsipocz commented on #408
@joleroi - Sure, no didn't mean any rush with this issue.

However I think for tests like these (that should work in theory but are difficult to make them do so) it's better to xfail them than to allow a fail in master.

[2016-01-08 08:39] #407 closed

[2016-01-08 09:12] cdeil commented on #218
I don't know about tests, but at least building conda packages for Gammapy seems to work:
https://anaconda.org/astropy/gammapy/files

@bsipocz - I'll try activating Appveyor for Gammapy now following the instructions in
https://github.com/astropy/ci-helpers#appveyor
but I might need some help.

[2016-01-08 11:11] cdeil commented on #218
I've been working on this a bit in #414.
First successful test build of Gammapy on Windows:
https://ci.appveyor.com/project/cdeil/gammapy/build/1.0.5/job/baj28s8bm7hf9v8d

The test coverage can be extended of course, but I'll close this issue for now.
@bsipocz - If you think there should be more builds on Windows (e.g. docs) or more dependencies installed or things set up differently, please file

[2016-01-08 11:11] #218 closed

[2016-01-08 12:43] bsipocz commented on #218
@cdeil - great to see that this went smoothly :)

[2016-01-08 13:25] joleroi commented on #408
#403 fixes this, can I close?

[2016-01-08 13:30] bsipocz commented on #408
@joleroi - Not sure what's gammapy's policy but in other packages we only close issues after the fixes are merged. Alternatively you can write "closes #408" in either a commit message or in the main comment part of the PR, so github will do it automatically.

https://help.github.com/articles/closing-issues-via-commit-messages/

[2016-01-08 13:56] cdeil commented on #408
@joleroi - I find it annoying at times as well, but it's really better to keep issues open until the corresponding PR is merged. Usually the reporter (or maintainers like me) will look over the issue again and check if the issue really is fully adressed, i.e. fixed / covered by tests.

[2016-01-10 11:33] JonathanDHarris commented on #409
Slack doesn't appear to be public.

'To start using Slack, you'll need to be invited by your team administrator.'

Is there a guide to installing gammapy-extra?

[2016-01-10 11:59] JonathanDHarris commented on #409
So, when I code at work we break down tests into very, very specific methods.

E.g. we might have

test_EventList_returns_correct_ra_and_dec

Do you want me to do that here, or do you prefer to stick with a broad test_EventList ?

[2016-01-11 07:18] joleroi commented on #408
@cdeil, sounds reasonable !
@bsipocz, thanks, for the link. I didn't know that :+1:

[2016-01-11 08:43] joleroi commented on #413
@JouvinLea :

Does this work for you? Or should I make some modifications to the code?

[2016-01-11 08:54] JouvinLea commented on #413
@joleroi :
That works for me but I'm not sure this is well written...

[2016-01-11 09:08] joleroi commented on #413
@JouvinLea : I you want to, you can make a pull request and I will have a look at your code. I think this is important functionality that is also relevant for other users.

[2016-01-11 10:37] joleroi commented on #413
FYI: I started to write down some specifications for "our" PHA file here

http://gamma-astro-data-formats.readthedocs.org/en/latest/xspec/index.html

If you have any additions, please let me know (you can also edit the file directly, just check out this repository https://github.com/gammapy/gamma-astro-data-formats)

[2016-01-11 12:55] cdeil commented on #284
Related:
* http://gamma-astro-data-formats.readthedocs.org/en/latest/info/time.html
* https://github.com/gammapy/gamma-astro-data-formats/issues/14

[2016-01-15 08:04] #408 closed

[2016-01-15 10:16] cdeil commented on #409
Yes, it's better to split tests in small functions or methods that each test one thing.
On the other hand, I don't think we have to try to implement unit tests for everything, i.e. it's good enough to have high-level tests that show that it basically works.
But those should be < 10 lines long, if more code is needed it should be split out into helper functions.

At the moment there are two tests f

[2016-01-18 14:32] cdeil commented on #139
Here's another trick to debug the origin of warnings:
https://github.com/astropy/astropy/pull/4486#issuecomment-172541301

Apart from cleaning up the Gammapy docs build, those two tricks should be mentioned in the developer docs.

[2016-01-18 18:36] cdeil opened #419 "Spectrum analysis docs"
@joleroi - I read through the [spectral-fitting docs](https://gammapy.readthedocs.org/en/latest/spectrum/index.html#spectral-fitting) you wrote for the first time.

Here's some comments / suggestions for improvement:
- [x] Rename [SpectralFit](https://gammapy.readthedocs.org/en/latest/api/gammapy.spectrum.SpectralFit.html) to `SpectrumFit` to bring it in line with the `gammapy.spectrum`, [Spectrum

[2016-01-19 08:54] joleroi commented on #419
Thanks very much!

[2016-01-19 15:29] #419 closed

[2016-01-21 07:45] cdeil opened #422 "Travis-ci conda install fails because of pinned versions"
Some of the travis-ci builds in #383 fail because conda package version conflicts.
Example: https://travis-ci.org/gammapy/gammapy/jobs/103639817

@bsipocz - Any idea how to fix this?

[2016-01-21 11:50] bsipocz commented on #422
@cdeil - This is a very weird one, as none of the naima or sherpa has new versions. I would first check whether it passes with adding the ``--no-pin`` option to https://github.com/gammapy/gammapy/blob/master/.travis.yml#L159, even though it doesn't complain about the pin file.

[2016-01-25 10:13] cdeil opened #423 "Add image blink utility function"
I just saw this image blink GIF for Fermi pass 7 vs 8 and wanted to make a reminder here.

https://svs.gsfc.nasa.gov/vis/a010000/a012000/a012019/p78.gif

![p78](https://cloud.githubusercontent.com/assets/852409/12548068/27796bb8-c354-11e5-93ac-f7dca5f33cba.gif)

I like it, both the fact that it's an animated GIF and that they use 2d and 3d to show the difference.
Blinking images is very common in

[2016-01-25 18:16] JonathanDHarris opened #425 "Ensure events are sorted in time order"
Some code will require that event lists are in time order.

We should update the docs to reflect this
http://gamma-astro-data-formats.readthedocs.org/en/latest/events/index.html#required-column-names

and  add to the check_times method
https://github.com/gammapy/gammapy/blob/master/gammapy/data/event_list.py#L721

I'll probably pick this issue up soon if no one else wants it

[2016-01-27 17:57] souravsingh commented on #130
I would like to work on this.How do I start?

[2016-02-01 21:51] bsipocz commented on #410
This was addressed by #428.

[2016-02-01 21:51] #410 closed

[2016-02-02 08:47] joleroi opened #432 "setup.py develop option broken in master"
When I run
[code]
in the master branch I get this error

[code]

[2016-02-02 08:49] joleroi commented on #432
Sorry for the assignment mess ...

[2016-02-02 09:20] joleroi commented on #432
This looks related

https://github.com/giampaolo/psutil/issues/723

[2016-02-02 10:52] bsipocz commented on #432
It looks like setuptools 19.6 should solve it.
@joleroi can you try and upgrade setuptools, and rerun ``python setup.py develop``?

[2016-02-02 10:56] cdeil commented on #432
I have astropy=1.1.1 and setuptools=19.2 and don't see the issue.

@joleroi - Good luck!

[2016-02-02 11:08] joleroi commented on #432
Thanks a lot for your help. Sorry, I am not very experienced with this kind of stuff.

Somehow it works now, I did the following
* remove gammapy installation by hand
* remove astropy
* re-install astropy (with conda) - this also let to an update of setuptools ```setuptools: 19.1.1-py27_0 --> 19.6.2-py27_0```

[2016-02-02 11:29] cdeil commented on #432
Good that it works now.
Python packaging (setuptools, astropy-helpers, pip, conda) is pretty complicated.
Feel free to ask via GH issue or the Gammapy mailing list for help with such issues any time!

Close this issue?

[2016-02-02 16:56] #432 closed

[2016-02-03 13:38] cdeil commented on #423
@alankarkotwal  started implementing this in #427.

[2016-02-04 07:24] cdeil commented on #206
This study has recently been done and published:
http://adsabs.harvard.edu/abs/2016APh....74...51N

We should still have code in Gammapy that computes optimal apertures and sensitivities for a given PSF, maybe even energy-dependent PSF, and source morphology.

[2016-02-04 11:05] cdeil commented on #300
I'm closing this issue and will make a new one for the remaining task
"Test installing via the gammapy-conda-install.sh script."

[2016-02-04 11:05] #300 closed

[2016-02-04 11:17] cdeil opened #434 "Improve and test conda installer script"
Last year I started writing the [gammapy-conda-install.sh](https://github.com/gammapy/gammapy/blob/master/gammapy-conda-install.sh) script.

The idea ( taken from http://brew.sh/ ) is that it's possible to get a working Gammapy for an end-user or developer on any machine by copy & pasting one command and waiting for a few minutes.

This is mentioned in the install instructions [here](https://gamma

[2016-02-06 14:32] cdeil opened #437 "Clean up simulate_eventlists script"
As pointed out in  https://github.com/gammapy/gammapy/pull/415#issuecomment-180766342 the event lists aren't sorted in TIME.

Before I debug this, I'd like to make a command line tool to run ctobssim for a given obs list and model spec.

@joleroi - is this the best starting point?
https://github.com/gammapy/gammapy-extra/blob/master/datasets/hess-crab4/simulate_eventlists.py
Or do you have some mo

[2016-02-06 15:00] joleroi commented on #437
This script is all I have. It's just hacked together in one night. I don't actually know how ctobssim works. I can give it a try, but for now my priority is the spectrum code

[2016-02-06 15:13] cdeil commented on #437
@joleroi - I'll do this today or tomorrow.

[2016-02-06 15:25] cdeil opened #438 "Use conda to install dependencies on RTD"
Readthedocs now supports Conda:
* http://docs.readthedocs.org/en/latest/conda.html
* https://github.com/astropy/astropy/pull/4560

I'll try switching from pip install to conda install there now.
This should fix #343.

[2016-02-06 15:41] cdeil opened #439 "test_fitter1D fails with numpy dev on travis-ci"
@bsipocz - Since today, the Gammapy build using numpy fails on travis-ci here:

[code]

https://travis-ci.org/gammapy/gammapy/jobs/107441265#L1079

I see the same fail on two unrelated PRs. Re-starting the build doesn't help, the error occurs at the same position. It looks like this test hangs, right? Any idea why or how to debug this?
Maybe make that build optional for sucess because numpy dev is

[2016-02-06 16:18] bsipocz commented on #439
@cdeil - Indeed it looks like an issue with travis, maybe those tests needs some external data access? In the last few weeks there used to be some network related issues on travis. I'm not sure we could make the output more verbose, you already run it with ``-V``.

There was a discussion about testing against numpy prereleases, too. So I think for gammapy (unless it uses some exotic part of np tha

[2016-02-06 16:25] cdeil commented on #439
Hmm ... as a temp solution I propose #440

[2016-02-06 17:02] bsipocz commented on #439
I would reopen this issue as the fail is still there and #440 was just a workaround for the travis status.

[2016-02-06 17:10] cdeil commented on #439
Ok to keep this open as a reminder that we should try and understand this fail ...

[2016-02-11 12:38] cdeil commented on #437
I think this might make more sense as a ctool, so: https://cta-redmine.irap.omp.eu/issues/1663

[2016-02-12 08:29] cdeil opened #449 "Update data access and example dataset"
Work in progress ... I'm starting with this now and hope that I can finish this up today.

This PR updates Gammapy to the new agrees [data storage](http://gamma-astro-data-formats.readthedocs.org/en/latest/data_storage/index.html) formats. Older index files will not work any more.

This PR also changes the reference dataset used for many tests:
* old: https://github.com/gammapy/gammapy-extra/tree/

[2016-02-18 15:33] OlgaVorokh commented on #223
I would like to add unit-tests for TS maps, but I am not sure what can I do -- I can make a regression test that checks that there are no exceptions and output file is non-empty, but I don't know how to check correctness of this 10mb result file by hand

The links to coveralls might be broken

[2016-02-18 16:19] adonath commented on #223
See my last comment #456

[2016-02-19 11:34] cdeil commented on #328
The content of the `gammapy.obs` sub-package has been merged into the [gammapy.data](https://gammapy.readthedocs.org/en/latest/data/index.html) sub-package in #384.

I think this basically adresses this issue ... closing it now.

Note that `gammapy.data` is still heavily work in progress and more restructuring will be done over the coming months. We'll have to improve one function and class at a t

[2016-02-19 11:34] #328 closed

[2016-02-19 12:19] cdeil commented on #19
@adonath - Assigning this 0.4 issue to you for now.
Please commit whatever you have tomorrow even if unfinished.

[2016-02-19 12:31] cdeil commented on #355
These test fails have been resolved.
At the moment there are no tests in Gammapy that query for data other than from gammapy-extra.
Closing this issue.

[2016-02-19 12:31] #355 closed

[2016-02-20 15:55] cdeil commented on #61
@adonath attempted to fix the Maps class in  #463, but came to the conclusion that it should be re-written in a way that doesn't sub-class `HDUList`.

[2016-02-20 15:58] cdeil commented on #19
Changing milestone to 0.5

[2016-02-20 20:02] cdeil commented on #393
This issue is partly done. @tibaldo added an [exposure_cube](https://gammapy.readthedocs.org/en/latest/api/gammapy.irf.exposure_cube.html) function in #398.

[2016-02-23 12:58] cdeil opened #466 "Update astropy-helpers to 1.1 or later"
In #462 I tried to update astropy-helpers to version 1.1.

But the Sphinx build always failed, for reasons unknown at the moment.

So I've decided to not update astropy-helpers at all in #462 and for the Gammapy 0.4 release.

@bsipocz found out (see https://github.com/gammapy/gammapy/pull/462#issuecomment-187671120) that the issue was introduced in astropy-helpers v1.1rc2.
The v1.1rc1 still is OK.

[2016-02-24 11:43] joleroi commented on #265
I don't have an overview what functionality we need to "save". As far as I understand the WStat and the stacking part are now (or will be soon) available in gammapy.spectrum. So there is still the EBL functionality. Anything else? @registerrier

[2016-02-24 13:15] registerrier commented on #265
EBL absorption is simply using XSPEC style table models stored in fits. They can be loaded as a multiplicative model in sherpa.
There are two such table files in hspec, one from Finke et al 2010 and the other from Franceschini et al 2008

[2016-02-25 09:10] cdeil opened #472 "Remove or mark remote_data tests"
I think there's two tests that still download files from the internet (instead of gammapy-extra):

[code]

This should trigger an error when they try to access the network, because they aren't marked as `remote_data` (none of the Gammapy tests are):
https://github.com/gammapy/gammapy/search?utf8=%E2%9C%93&q=remote_data
Not sure why this is not giving an error.

[2016-02-29 17:09] OlgaVorokh opened #477 "Issues with gammapy development installation"
Hi,

When I run
python setup.py develop
I get the following error: https://gist.github.com/OlgaVorokh/35d47bd00e69cb3020e8

I am stuck on this -- it runs fine on my aws virtual machine, but fails with this error on my local setup. It's inconvenient to develop on virtual machine, so I finally got time to find out what's wrong with my local enviroment, but not sure where to start.

[2016-02-29 17:24] cdeil commented on #477
I think MemoryError means you ran out of memory.
So you could look at how much RAM you have and which process took how much using your Linux system utilities like htop.

Note that the error happens when `python setup.py install` tries to install Astropy as a dependency.

Try installing Astropy first using `sudo apt-get install python-astropy` or `pip install astropy --user`.
If you have Astropy 1.

[2016-02-29 22:15] OlgaVorokh commented on #477
@cdeil thanks for helping

[2016-02-29 22:17] OlgaVorokh commented on #477
@cdeil thanks for helping me to solve this problem! My local gammapy setup finished successfully.
There was an old version of astropy on my laptop, but now

[2016-02-29 22:17] OlgaVorokh commented on #477
@cdeil thanks for helping me to solve this problem! My local gammapy setup finished successfully.
There was an old version of astropy on my laptop, but now everything is OK

[2016-02-29 22:18] #477 closed

[2016-03-16 15:35] joleroi opened #492 "Make info string scheme consistent"
We agreed to use this
https://gammapy.readthedocs.org/en/latest/development/howto.html#object-summary-info-string
scheme for generating info string for gammapy classes.

This scheme needs to be applied in various places in gammapy, i.e.
- Create `__str__` method or convert existing methods
- Add `summary` method or modify existing methods for configurable info strings

[2016-03-16 15:40] cdeil commented on #492
I think this is a way to find most (all?) classes / methods that need to be adapted:
https://github.com/gammapy/gammapy/search?utf8=%E2%9C%93&q=%22def+info%22

[2016-03-16 21:01] cdeil commented on #404
Closing this issue now, I think it's fully addressed.

Concerning my last comment: the [SpectrumFit](https://gammapy.readthedocs.org/en/latest/api/gammapy.spectrum.SpectrumFit.html) class now appears in the docs.

@joleroi - Pro tip for class-level variables: you can add a docstring on the line after, and it will be picked up by Sphinx autodoc. In this case something like this:

[code]

[2016-03-16 21:01] #404 closed

[2016-03-16 21:07] cdeil commented on #207
Like most things in Gammapy, it's still a bit work in progress.

But the HGPS catalog has been added a while ago:
https://github.com/gammapy/gammapy/blob/master/gammapy/catalog/hess.py

Closing this issue.

[2016-03-16 21:07] #207 closed

[2016-03-16 21:13] cdeil commented on #6
@joleroi has implemented this:
https://gammapy.readthedocs.org/en/latest/region/index.html

Closing this issue for now.

Note that there's still #336 open that can be used for general discussions on `gammapy.region`, and new issues / PR on specific suggestions for improvement are of course also welcome.

[2016-03-16 21:13] #6 closed

[2016-03-17 13:45] TarekHC opened #494 "MC event lists"
Hi @cdeil,

Is there any proposed data format for MC event lists? (adding "MC_" tag to the required additional columns or something like that?)

Thanks!

[2016-03-17 14:31] cdeil commented on #494
I'm not aware on status on proposed data format for MC event lists.

@kosack or @gernotmaier - Comments?

Probably this shouldn't be discussed in the Gammapy Github tracker.
Maybe at https://github.com/open-gamma-ray-astro/gamma-astro-data-formats or https://github.com/cta-observatory/ctapipe , or more likely some CTA-internal forum or issue tracker?

[2016-03-17 15:38] TarekHC commented on #494
I was not referring to CTA event lists, so I guess the best place would be https://github.com/open-gamma-ray-astro/gamma-astro-data-formats. Thanks!

[2016-03-20 19:11] cdeil opened #496 "Add an event cluster detection method?"
The standard method for source detection in gamma-ray astronomy is via a likelihood ratio test, i.e. to
use TS and residual TS images similar to what we already do in gammapy.detect (see [here](https://gammapy.readthedocs.org/en/latest/detect/index.html#computation-of-ts-maps)).

The procedure to produce source catalogs like the 1FGL, 2FGL, 3FGL or even high-energy catalogs like the 1FHL or 2FHL i

[2016-04-05 20:00] joleroi opened #501 "Use astropy table indexing in ObservationTable"
https://github.com/gammapy/gammapy/blob/master/gammapy/data/observation.py#L53

[2016-04-11 08:04] woodmd commented on #496
Actually for the most recent LAT catalogs (e.g. the 3FGL and now the internal releases of the 4FGL) seed-finding is primarily done with the likelihood ratio method as evaluated with pointlike.  With respect to the clustering or wavelet methods, the likelihood ratio method is more sensitive and works better for confused regions (i.e. finding faint sources near bright ones).   The only real advantag

[2016-04-11 08:11] cdeil commented on #496
@woodmd - Thanks for the comment!

I completely agree with your assessment that likelihood-based methods are much more important than the event cluster finding methods.
The reason I described this was as an optional fun project for the last week of @OlgaVorokh's GSoC (see here [proposal](https://github.com/astropy/astropy/wiki/GSoC-2016-Application-Olga-Vorokh:-Image-processing-and-source-detectio

[2016-04-11 14:01] cdeil opened #508 "Add warning if bad quality data is loaded"
When loading data for an IACT observation that has bad data quality, a warning should be emitted.

Probably the right place to add this is the `DataStore.obs` method.

See https://github.com/gammasky/hess-host-analyses/issues/35 for context: we spent a while debugging an issue for an observation that was already flagged as bad quality data, because we didn't notice that this is the case.

Assignin

[2016-04-11 22:24] joleroi opened #509 "Read 2FHL results into SpectrumFitResult"
I would like to store the PowerLaw spectra from the 2FHL in a gammapy ``SpectrumFitResult``. The spectra are given with the integral flux between two energies as normalization (see http://fermi.gsfc.nasa.gov/ssc/data/analysis/scitools/source_models.html#PowerLaw2).
Gammapy has functionality to evaluate such a model (http://gammapy.readthedocs.org/en/latest/api/gammapy.spectrum.f_with_err.html#gamm

[2016-04-12 05:56] cdeil commented on #509
Either way is OK.

There is a reason the Fermi and HESS software has different parametrisations for the same spectral shapes. Especially the ones with integral fluxes as normalisation are valuable, because they lead to less-correlated fit parameters. So probably we'll add different parametrisations from the HESS software or Fermi ST.

But for now, maybe converting the model to PL with diff flux as

[2016-04-12 11:49] joleroi commented on #509
Thanks for the reply!

Unfortunately the 2FHL does not contain  the ``Pivot_Energy`` as far as I see (that's the core of my problem I guess)

[code]

also e.g. http://heasarc.gsfc.nasa.gov/db-perl/W3Browse/w3hdprods.pl?files=P&Target=heasarc_fermifhl|||_unique_id%3D84||&Coordinates=Equatorial&Equinox=2000

I don't even understand if the concept of the decorrelation energy makes sense for the Power

[2016-04-12 11:55] cdeil commented on #509
Looks like the latest version of the 2FHL catalog has a Pivot_Energy column:
[code]
Maybe the bundled file in gammapy-extra should be updated?

The change log at http://fermi.gsfc.nasa.gov/ssc/data/access/lat/2yr_catalog/ doesn't mention any changes concerning Pivot_Energy, but maybe they did change something?

[2016-04-12 11:57] cdeil commented on #509
Also: if you use integral flux as fit parameter it's **less* correlated with other spectral parameters.
You can assume the correlation is zero if you like.

But it's not exactly zero (why should it given a complex model and dataset), there are some correlations.

[2016-04-12 13:52] joleroi commented on #509
The file you downloaded is the 2FGL
[code]
Here the PWLs are parametrized in the 'normal way'
[code]
Hence the Pivot Energy column

[2016-04-12 14:08] cdeil commented on #509
Sorry, I misread the title of the PR as 2FGL the whole time.

So if you want to have something quick for 2FHL and it doesn't have pivot energy, you could just put a fixed value of 100 GeV (a value in the middle) and leave a "TODO: use integral PL model once it's implemented".

(I'm offline now until tonight)

[2016-04-12 18:14] cdeil commented on #5
This was implemented in #503 ... closing this (very old) issue now.

[2016-04-12 18:14] #5 closed

[2016-04-13 06:41] joleroi commented on #509
:see_no_evil:

[2016-04-14 12:02] cdeil opened #512 "Rename SpectralCube to SkyCube?"
I propose that we rename [SpectralCube](http://docs.gammapy.org/en/latest/api/gammapy.cube.SpectralCube.html) to `SkyCube`.

I think this is more intuitive, because it's analogous to [SkyMap](http://docs.gammapy.org/en/latest/api/gammapy.image.SkyMap.html).

And there's [Cube](http://docs.gammapy.org/en/latest/api/gammapy.background.Cube.html) which is a similar cube with a spectral axis (but FOV

[2016-04-14 12:10] joleroi commented on #512
I never liked ``SpectralCube``

[2016-04-14 12:14] cdeil commented on #512
@joleroi - No need to bash on `SpectralCube`. Please re-read [this](http://www.astropy.org/about.html#codeofconduct). Be positive: "I like `SkyCube`!

:smile:

[2016-04-14 12:49] joleroi commented on #512
I didn't know code of conduct also applied to affiliated-package. However, I did not intend to hurt ``SpectralCube``'s feelings.

[2016-04-14 12:51] cdeil opened #513 "Remove or rename SkyMap empty and empty_like?"
The Gammapy [SkyMap](http://docs.gammapy.org/en/latest/api/gammapy.image.SkyMap.html) and [SpectralCube](http://docs.gammapy.org/en/latest/api/gammapy.cube.SpectralCube.html) classes currently have `empty` and `empty_like` constructors.

I find this confusing, because in Numpy those names are used differently.
There `empty` creates uninitialised data array, and when filling a constant value (like

[2016-04-14 14:44] adonath commented on #513
I would suggest the following:

I would keep the methods `empty` and `empty_like` for now, but let them create empty arrays like numpy does using `np.empty()`. And then overload the `.fill()` method to accept floats, which would be consistent with numpy again. If a user wants to create an array with zeros, this would look as following:

[code]
Which is analog to the numpy syntax.

The whole point

[2016-04-14 14:48] adonath commented on #512
:+1: for `SkyCube`

[2016-04-14 19:26] adonath commented on #513
Some other name suggestions, instead of `empty()`:

`from_scratch()`, `new()`, `create()`

[2016-04-15 08:50] adonath commented on #512
Additionally I would suggest to include the following code in the cube module:

[code]

:-)

[2016-04-15 09:07] cdeil commented on #513
I'm :-1: on calling `np.empty` and having uninitialized memory ... too easy to screw up.

@adonath - How about adding a `fill=None` argument to `.copy` with this?
[code]

Smaller API, but still covers the common use case on one line:
[code]

[2016-04-15 10:03] adonath commented on #513
Yes, I agree. What's now called `.empty()` will be one of the standard ways to create sky maps and the data should well defined after initialization. What do you think about the other name suggestions? Or do you have any other suggestions yourself?

I somehow prefer, when `.copy()` just returns a plain copy (because that's what the name suggests and strictly speaking it would conflict again with n

[2016-04-15 10:08] cdeil commented on #513
How about this?
[code]

[2016-04-18 09:31] cdeil commented on #513
@adonath  - What about my last suggestion?

Let's try to get a consensus on this and make the change today, so that Gammapy 0.4 can ship tomorrow.

[2016-04-18 09:33] cdeil commented on #509
@joleroi - Can you please close this issue or summarise what remains to be done?

(moving this to the 0.5 milestone, not essential for the upcoming 0.4 release)

[2016-04-18 09:39] cdeil opened #516 "Gammapy 0.4 release"
@joleroi @adonath @leajouvin - I plan to cut the Gammapy 0.4 release tomorrow.
We can use this issue to discuss it.

Current list of remaining issues and pull requests for the 0.4 milestone:
https://github.com/gammapy/gammapy/milestones/0.4

With this release we basically have classical analysis, i.e. making and fitting 2d images and 1d spectra.
But it's not documented nicely, so still very hard t

[2016-04-18 13:02] adonath commented on #513
Your last suggestion is again not strictly compatible with numpy, because `ndarray.fill()` works in place and doesn't return anything, right?

My preference, as you suggested in your initial post, would be to just rename `.empty()` and `.empty_like()` to something else. This is the least work right now and doesn't have conflicts with numpy's API. `.empty()` could be something like `.from_wcs_spec(

[2016-04-18 13:04] #509 closed

[2016-04-18 13:05] joleroi commented on #509
There seems to be no good short  term solution. 2FHL results cannot simply be expressed as "normal" Powerlaw

[2016-04-18 13:07] joleroi commented on #516
I don't think be releasing 0.4 we claim that everything is nicely documented. IMO we should just get this out and worry about making everything nice and clean for future releases (latest: 1.0)

[2016-04-18 18:31] cdeil commented on #516
@joleroi - I do think a few hours of effort to get our docs in order before cutting the 0.4 release is important. The most important thing is to have a few simple working examples that people can execute and play with to get started.

I just now fixed [gammapy-image-crab.ipynb](https://github.com/gammapy/gammapy-extra/blob/master/notebooks/gammapy-image-crab.ipynb) (data store changed, and now use

[2016-04-18 18:35] cdeil commented on #509
As I said, for now you could just use 100 GeV as reference energy and convert the given integral flux to a differential flux at 100 GeV and use the differential PowerLaw to plot a butterfly ... the result will be very close.

[2016-04-18 18:42] cdeil commented on #513
You're right.

And for now I also think your suggestion is best.

But I'd like to meditate on this some more and not rush in a change, so I'm punting this to the 0.5 milestone now.

[2016-04-18 18:46] cdeil commented on #516
@adonath - the [ts_map_computation.ipynb](https://github.com/gammapy/gammapy-extra/blob/master/notebooks/ts_map_computation.ipynb) example is broken. It's probably very simple updates for you. Can you please fix?

[2016-04-18 22:22] joleroi commented on #516
the spectral analysis notebook is fixed

[2016-04-18 22:31] joleroi commented on #509
Yeah but there's no real point in that is there? I can just plot the integral model directly if I want a working solution.
http://gammapy.readthedocs.org/en/latest/api/gammapy.spectrum.f_with_err.html#gammapy.spectrum.f_with_err

[2016-04-19 19:13] cdeil commented on #516
@adonath @joleroi - Thanks for fixing the example notebooks.
I have to go now, but first thing tomorrow I will

- [ ] Update the changelog
- [ ] Add a link to the three important example notebooks to the getting started guide
- [ ] make the 0.4 release

[2016-04-20 18:55] cdeil commented on #516
I've improved the getting started section (with feedback from @adonath today) in #519 ,
see [here](https://gammapy.readthedocs.org/en/latest/getting-started.html).

The main improvement is that it now points users to the [Gammapy notebooks](http://nbviewer.jupyter.org/github/gammapy/gammapy-extra/blob/master/notebooks/Index.ipynb) and those are getting better.

Will make the release now ...

[2016-04-20 19:39] cdeil commented on #516
- [x] Gammapy 0.4 is released on PyPI: https://pypi.python.org/pypi/gammapy/0.4
- [x] The docs on RTD look OK: http://docs.gammapy.org/en/v0.4/
- [ ] Conda package https://github.com/astropy/conda-builder-affiliated/issues/41#issuecomment-212572489
- [ ] Send announcement to Gammapy mailing list.

[2016-04-21 09:38] joleroi opened #520 "Debug plots for spectrum analysis"
Define a list of debugs plots to be implemented for the gammapy.spectrum module

* [ ] Stacked ON, OFF vectors entire energy range (like BgStats)
* [ ] Stacked ON, OFF vectors in safe energy range (like spectrum stats)
* [ ] SkyMap showing ON OFF counts, pointings, regions (see https://github.com/gammapy/gammapy/pull/491)

Put all these on a summary html page

[2016-04-21 09:38] joleroi commented on #520
@cdeil @JouvinLea

Please add what you think is needed. I need a plan, otherwise this will never happen

[2016-04-21 09:50] cdeil commented on #520
The most important diagnostics are the observed and predicted counts distributions (predicted split into gammas and background) and a vertical line where the safe energy thresholds are.

Once you have those we can debug EDISP, stacking, compare to HESS software, i.e. have plenty of checking to do and document.

So just start with a few numbers and one plot and try to put that in master. Then this

[2016-04-21 09:52] joleroi commented on #520
please add a TODO item - I know that we need this plot

[2016-04-21 10:00] cdeil commented on #520
It's a bit tricky to define the exact list of counts histograms to show right now.
- I think you don't need a separate plot for outside the safe energy range. This can just be indicated by a vertical line, or by different coloring / shading.
- I think the more info you combine on one plot, the better. I.e. observed and model counts should be on one plot (but maybe implemented in such a way that th

[2016-05-29 20:47] cdeil opened #539 "Unify FITS read classmethods"
We should unify the FITS read classmethods in Gammapy.

You can browse what we currently have here:
https://github.com/gammapy/gammapy/search?utf8=%E2%9C%93&q=%22def+read%28cls%22&type=Code

This PR is triggered by https://github.com/gammapy/gammapy/pull/537#issuecomment-222380381, where for `SkyMap` @adonath so far has been calling [astropy.io.fits.getdata](http://docs.astropy.org/en/latest/io/fi

[2016-05-29 21:18] cdeil commented on #434
If someone has time, please try this: https://github.com/conda/constructor

[2016-05-29 21:31] cdeil opened #540 "Set up binder for Gammapy"
It would be great to try out http://mybinder.org/ for Gammapy. It's a way to let users try out Gammapy and play with some example data online without having to install Gammapy that's free for them and us and we could feature it on the http://gammapy.org front page (which doesn't exist yet).

Getting it to work should be done in a separate private repo.

Once we have a working prototype we can stil

[2016-05-30 08:27] adonath commented on #539
+1 Looks like a good solution to me.

[2016-05-30 10:35] joleroi commented on #539
Question, the docstring of ``spectral_cube`` reads
[code]

so ``input`` can be both a file and an Hdu(list). In your example it looks like you only want a filename (plus a hdu keyword) as allowed input. I think the former, i.e. also accepting a HDU object is better.

[2016-05-30 10:37] joleroi commented on #539
2nd Question, in the ``nddata`` class so far I have
https://github.com/gammapy/gammapy/blob/master/gammapy/utils/nddata.py#L122
[code]
This would be compatible with you scheme, right?

[2016-05-30 10:44] adonath commented on #539
@joleroi Good point, I actually like the option to pass an `ImageHDU` or `BintableHDU` to the `.read()` method as well, instead of having an additional method `from_hdu()`. It makes a smaller and more intuitive (to me...) API. E.g. `Table.read()` takes HDU objects as well.

[2016-06-03 14:34] cdeil opened #548 "Improve PointingInfo class"
In #545 I added a PointingInfo class.

It is unfinished, the following additions should be made in a follow-up pull requests (not all at once ... incremental improvements are needed here):
- [ ] Link to spec (when available)
- [ ] Correct test with HESS (when differences understood)
- [ ] Add interpolation method to get RA / DEC and ALT / AZ at arbitrary times.
- [ ] Refactor to avoid duplicated c

[2016-06-05 18:32] cdeil commented on #466
Done in #543.

[2016-06-05 18:32] #466 closed

[2016-06-06 08:28] cdeil commented on #540
@adonath - I'm assigning this issue to you and to the `PyGamma1` milestone.

[2016-06-06 08:35] cdeil commented on #265
@joleroi @registerrier - I'm assigning this issue to you and to the `PyGamma1` milestone, i.e. let's try and finish this up this week.

Please also have a look at https://github.com/zblz/naima/pull/119.

At the moment Naima is more advanced for spectra. Probably the EBL absorption code should be contributed there and then we import stuff from `Naima` where useful in Gammapy?

[2016-06-06 08:40] cdeil commented on #61
@adonath - I'm assigning this issue to you and to the `PyGamma1` milestone.

I don't remember. Is the old `Maps` class gone already? If yes probably this issue can be closed?
(We probably still want to implement something like `BgMaps` in HAP that's filled by different background methods, i.e. restore part of the functionality of the previous `Maps` class. But this issue without a plan how to impl

[2016-06-06 08:46] adonath commented on #61
Yes the `Maps` class is gone, so I'll close this issue. We can open a separate one for `BgMaps`.

[2016-06-06 08:46] #61 closed

[2016-06-06 08:48] cdeil commented on #336
By now the plan how to do region handling in Gammapy is clear:
* Use https://github.com/astropy/regions, which will become `astropy.regions` at some point.
* For now bundle it in `gammapy.extern.regions`, update from time to time.

So @joleroi - I'm assigning this issue to you (doesn't mean you have to do all the work) and to the `0.5` milestone.

I would suggest keeping this issue open as a high-

[2016-06-06 08:58] cdeil commented on #165
Here's the current version of the command line script we have:
https://github.com/gammapy/gammapy/blob/master/gammapy/scripts/catalog_simulate.py

By now I think this is functionality we don't have to expose via a command line tool.
If someone wants to simulate a source population, it's better (for readability and reproducability) if they write a script that sets the parameters and runs the code.

[2016-06-06 09:13] cdeil commented on #99
@adonath - I'm assigning this issue to implement ASMOOTH you and to the 0.5 milestone.

[2016-06-06 09:30] adonath commented on #165
What about this notebook:
http://nbviewer.jupyter.org/github/gammapy/gammapy-extra/blob/master/notebooks/source_population_model.ipynb

I think that already shows what can be done. I'm fine with removing the script

[2016-06-06 09:37] cdeil commented on #165
I'll remove the command line script now.

Let's keep this issue open though ... the `source_population_model.ipynb` has several TODOs and is listed in the notebook [work in progress](http://nbviewer.jupyter.org/github/gammapy/gammapy-extra/blob/master/notebooks/Index.ipynb#Work-in-progress) section. Also it doesn't use quantities in some places where units are listed in code comments. So maybe eve

[2016-06-06 09:38] joleroi commented on #336
I completely agree, thanks!

[2016-06-06 09:46] adonath commented on #165
You're right, maybe I find some time this week to polish the notebook a bit.

[2016-06-08 21:23] rlopezcoto opened #560 "example_plot_spiral_arms.py not working"
When I run the script example_plot_spiral_arms.py, I get the error:
[code]
I guessed it was a problem of the units not defined, so just adding:
import astropy.units as u

and changing line 21 to:
    x, y = faucher_spiral.xy_position(radius=radius*u.kpc, spiralarm_index=spiralarm_index)

it worked.

Cheers,
Ruben

[2016-06-09 07:49] registerrier opened #561 "Remove BIN_LO and BIN_HI columns in CountSpectrum export to fits"

[2016-06-09 08:39] cdeil commented on #560
@rlopezcoto - Thanks for reporting the issue.

This should be fixed with the changes by @adonath in #562.
Can you try if it works for you?

I'll open a separate PR shortly that starts adding continuous integration tests for examples ... at the moment we know that several are broken and should be removed or fixed.

[2016-06-09 08:39] #560 closed

[2016-06-09 09:29] cdeil opened #563 "Add LightCurve class"
As discussed just now, it would be nice to have a LightCurve class in gammapy.time that looks something like this: https://gist.github.com/cdeil/eeeffa6aa9d16969b92df46f4fdd20eb

[2016-06-09 09:36] cdeil commented on #563
cc @helen-poon

[2016-06-09 12:02] registerrier opened #567 "Add keywords to PHA files header"
It would be nice to have in the header of the PHA file some informations that can be used without the full observation database.
Some suggestions:
- TSTART  =     54059.963310462 / Start time of the run
- TSTOP   =     54059.9828486848 / Stop time of the run
- TELCODE =                   30 / Run TelCode
- NUM_TELS=                 1234 / Participating telescopes numbers
- ZENITH  =     48.3458693

[2016-06-09 12:58] cdeil commented on #563
@cnachi opened a pull request to add a lightcurve class in #564.
I'm closing this issue #563 now, so that discussion on this will be in one place.

[2016-06-09 12:58] #563 closed

[2016-06-09 14:12] cdeil commented on #567
If someone does add this, please have a look at the [spec](http://gamma-astro-data-formats.readthedocs.io/en/latest/index.html) concerning names, specifically for [EVENTS](http://gamma-astro-data-formats.readthedocs.io/en/latest/events/events.html) and [observation index](http://gamma-astro-data-formats.readthedocs.io/en/latest/data_storage/obs_index/index.html).

Or put whatever names make sense

[2016-06-09 16:38] joleroi opened #570 "Use NDDataArray in gammapy.irf"
Gammapy has an `NDDataArray`class that is meant to be used as base for classes in `gammapy.irf`

http://docs.gammapy.org/en/latest/api/gammapy.utils.nddata.NDDataArray.html

see http://docs.gammapy.org/en/latest/api/gammapy.irf.EffectiveAreaTable.html for an example how to subclass `NDDataArray`

In short
- Define axes as class attributes
- Define axis order as list (class level)

Optional
- Add p

[2016-06-10 08:13] cdeil commented on #363
@joleroi  - I'm closing this issue. (Feel free to re-open if you disagree)

By now we have the `gammapy.cube.SkyCube` in `gammapy.cube`,
and the `gammapy.cube` sub-package is allowed to import from `gammapy.data` and `gammapy.spectrum`.
So I think it's OK for now?

If we later find cases where spectrum and cube analysis is mixed up (e.g. to extract 1-dim spectra from 2-dim cubes for 1-dim analysis

[2016-06-10 08:13] #363 closed

[2016-06-11 08:52] cdeil opened #572 "Gammapy Poisson logo"
@adonath - Can you please commit the example code you wrote yesterday to make the Gammapy Poisson logo image or video to gammapy-extra?

I'd like to start using it, e.g. to put an image on the landing page http://gammapy.org/ which is empty for now and looks bad / boring.

I remembered that @pflaumenmus has done something similar for RX J1713 (see [here](https://www.mpi-hd.mpg.de/personalhomes/rma

[2016-06-13 07:12] cdeil opened #574 "Test command line applications"
I just came across https://github.com/kvas-it/pytest-console-scripts, which looks like a good option for us to test command line applications. It's very new, probably we should wait a bit though.

Currently we use the [gammapy.utils.testing.run_cli](https://github.com/gammapy/gammapy/blob/186ae6189041988ec638f8b6f108fb9e781fa6c6/gammapy/utils/testing.py#L103) helper function, see examples here:
ht

[2016-06-13 11:26] cdeil opened #575 "SkyMap unit handling"
As noticed by @leajouvin at https://github.com/gammapy/gammapy/pull/549/files/0f834b47d09f623762b77288277eec320aa6e16f#r66772852 , FITS I/O currently doesn't work for SkyMap units.

Example:
[code]

@adonath - Is this a simple quick fix, or is fixing this part of a larger change where e.g. `data` and `unit` attributes of `SkyMap` are combined into a `Quantity`?

[2016-06-13 11:58] adonath commented on #575
Yes, this seems to be bug, the unit is only written if a WCS system is defined (see https://github.com/gammapy/gammapy/blob/master/gammapy/image/maps.py#L490). Should be easy to fix.

The following works:

[code]

`ext=1` is necessary, because `ImageHDU.write()` adds an empty `PrimaryHDU`. Maybe this should be handled better.

[2016-06-13 12:03] cdeil commented on #575
It can be handled either way of course (empty primary or not).
But I'm +1 to not put an empty primary HDU.

You can achieve this by just always using `PrimaryHDU` as far as I know.
I.e. in a SkyMapCollection on write you'd create mutliple `PrimaryHDU` and write them.
But I'm not sure this is true and haven't tested myself.

@adonath - OK if this issue is assigned to you? I think it would take long

[2016-06-13 19:37] cdeil opened #578 "Question on SkyMapCollection attributes"
@adonath - Just now I looked at [SkyMapCollection](https://gammapy.readthedocs.io/en/latest/api/gammapy.image.SkyMapCollection.html) for the first time (I think) and saw that it has these class-level attributes

[code]

Naively I would have expected that:
- map names are stored in the skymaps (and if needed re-exposed by the collection as a property)
- wcs to to stored in the skymaps (and allowed

[2016-06-14 14:58] adonath commented on #578
The class level attributes were introduced, because the `Bunch` object overrides the `__settattr__` operator. This means if you only set them in `SkyMapCollection.__init__`, they are not real class attributes, but stored in `self.keys`, i.e. they can't be hidden anymore. . I'm not sure if this had any other implications...

The `_map_names` attribute is needed, because the `Bunch` object inherits

[2016-06-14 16:57] cdeil commented on #578
@adonath - Thanks for the infos.
I'll think about this a bit.

I'm pretty sure the class-level attribute for `_map_names` isn't a good pattern. One could either implement `__new__` on the subclass, or just not sub-class `Bunch` and do something else.

It mostly depends on whether we want to keep this class at all and what it's use cases are how we should proceed here and improve or remove this cla

[2016-06-15 07:34] adonath commented on #578
@cdeil

I agree,

[2016-06-16 09:43] #575 closed

[2016-06-21 20:40] cdeil commented on #139
This works: http://stackoverflow.com/a/22376126/498873

[2016-06-24 09:58] cdeil opened #587 "Issues with ExclusionMask.distance"
While working on #558 , I noticed this issue with `ExclusionMask.distance`:
[code]

@OlgaVorokh - Could you please fix this?

- [ ] Start by adding a test to reproduce the issue.
- [ ] Then move the code from the standalone function [here](https://github.com/gammapy/gammapy/blob/7a9087b544a21846aeed0e8073271e973baf7f23/gammapy/image/utils.py#L270) inside the `ExclusionMask.distance_image` method.

[2016-06-24 14:24] registerrier commented on #265
The main issue with the way EBL is used in hspec is that it depends on sherpa XSTableModel which is not in the stand alone version because it depends on XSpec models.
It can not work as is in Gammapy.

I think we should try to have such models as EBL in the form of XSPEC tables since it provides a general system to store table models with varying parameters (i.e. not only the amplitude).

So we sh

[2016-06-24 15:37] registerrier opened #589 "PSF containment correction and thresholds for spectral analysis"
PSF containment correction is applied with `psf_table.integral.` Because the PSF is not always well characterized, the integral fails at low energies resulting in a `nan` being stored in the arf.

This is not taken into account at the moment for the low threshold estimate and can lead to failure in the spectral fit.

Note that this raises the question of having configurations with theta square cut

[2016-06-27 19:15] cdeil commented on #33
@joleroi @adonath - I think we should make spectral models a priority in Gammapy ASAP.

There's #591 which roughly re-implements [gammapy.spectrum.Model.integral](https://gammapy.readthedocs.io/en/latest/_modules/gammapy/spectrum/models.html#Model.integral) and [gammapy.spectrum.PowerLaw.integral](https://gammapy.readthedocs.io/en/latest/_modules/gammapy/spectrum/models.html#PowerLaw.integral).

T

[2016-06-27 19:40] cdeil commented on #265
@registerrier - Thanks for your comment!

It can not work as is in Gammapy.

I would like to remove `gammapy/hspec` in the coming days, because it's not tested and usable at the moment. The idea was that we gradually integrate and merge it into `gammapy.spectrum`, but that hasn't happened.
`gammapy/hspec` will be forever available in the repo here:
https://github.com/gammapy/gammapy/tree/v0.4/gamm

[2016-06-28 06:43] joleroi commented on #33
Yes, at the moment you can **only** fit built-in sherpa models with Gammapy
 https://github.com/gammapy/gammapy/blob/master/gammapy/spectrum/spectrum_fit.py#L134

See above

[2016-06-28 06:46] joleroi commented on #33
Update. The Fit returns a ``SpectrumFitResult`` object, with the best fit parameters and errors. This object can be evaluated by calling into static methods of astropy models
https://github.com/gammapy/gammapy/blob/master/gammapy/spectrum/results.py#L397
I chose this as a temporary solution, because astropy models cannot be instantiated with Quantities. In the long run it would of course be nice t

[2016-06-29 07:40] cdeil commented on #589
Yes, this is a big issue.
The question is what to do about it.

If I understand correctly, what we currently do is to use the safe energy thresholds from the AEFF file?
http://gamma-astro-data-formats.readthedocs.io/en/latest/irfs/effective_area/index.html
And you're saying you have a case where the PSF has NaN above that low energy threshold?
Can you please point out the file so that we have a co

[2016-06-30 11:32] cdeil opened #599 "Move powerlaw utility functions to separate namespace"
I'd like to propose that the functions from [gammapy.spectrum.powerlaw](https://github.com/gammapy/gammapy/blob/master/gammapy/spectrum/powerlaw.py) are moved to a separate namespace.

Currently those functions are part of the main [gammapy.spectrum](https://gammapy.readthedocs.io/en/latest/spectrum/index.html#module-gammapy.spectrum) namespace and IMO it's a mess to find something.

So I'd like t

[2016-06-30 12:33] joleroi commented on #599
I **totally** agree :+1:

[2016-06-30 12:41] cdeil commented on #599
Any preference for where to expose it?

Do you like this?
[code]

Or this
[code]

Or something else?

I think once we have the spectral model classes not so many users will use these power law utils functions, this is more for implementing algorithms in Gammapy.
So maybe short and not super explicit names are OK here?

[2016-06-30 12:42] joleroi commented on #599
I prefer the first solution

[2016-06-30 12:46] adonath commented on #599
+1 for the `spectrum.powerlaw` sub-module and a function based API, which is also less work to implement.

[2016-06-30 12:49] cdeil commented on #599
OK, I'll make this change in the coming days and take this as an opportunity to clean up function names / arguments and add a few tests for `powerlaw.py`.

[2016-07-01 11:15] joleroi opened #601 "WStat implementation"
@cdeil @registerrier

Please consider the following output from https://github.com/gammapy/gammapy/blob/master/dev/sherpa/stats/compare_stats.py
[code]
These value are computed as follows
* XSPEC : formular on https://heasarc.gsfc.nasa.gov/xanadu/xspec/manual/XSappendixStatistics.html
  setting ``t_s =1, t_b = 1/ alpha``
* Sherpa : calling ``sherapa.stats.WStat``
* gammapy : implemented https://te

[2016-07-01 11:59] joleroi commented on #601
After discussion this with @cdeil we might have found a solution. I will add examples to the docs. Let's use these for further discussion

[2016-07-01 13:39] joleroi commented on #601
UPDATE
[code]

Next I will add a table with corner cases to the docs. I guess then we can use the WStat in gammapy to compare against FitSpectrum, START

[2016-07-01 13:40] registerrier commented on #601
Hi Johannes,

 actually the wstat formula and the expression in MdN text are the same, except that in one case you marginalize over the expected number of background event in the ON( wstat) or in the OFF (MdN) dataset.
 What you have is exactly the difference between the simple likelihood and the 'normalized' one (binned likelihood) after subtracting Non log Non + Noff log Noff - (Non + Noff)

[2016-07-01 13:41] joleroi commented on #601
I realized that 30 seconds before your post :smile:

[2016-07-04 12:08] cdeil opened #608 "Merge fermipy.skymap with gammapy.image"
@woodmd - As discussed via email, it would be nice if we could merge
https://github.com/fermiPy/fermipy/blob/master/fermipy/skymap.py
with Gammapy.

`fermipy.skymap` depends on these other parts of `fermipy`:

[code]

One option would be to start moving the utils over to `gammapy.utils`.

Another would be to review the Fermipy code and replace functionality that's in Astropy by now to have fewer p

[2016-07-05 08:15] woodmd commented on #608
For the WCS-based maps the gammapy SkyMap/SkyCube classes could already be used in lieu of the fermipy SkyMap class with fairly minimal modifications so that's probably a good place to start.

I think the easiest way to get started would be for me to migrate fermipy to the gammapy SkyMap/SkyCube classes and monkey-patch the bits of the interface that are currently missing.  Once that's done we can

[2016-07-05 08:27] cdeil commented on #608
Give me a day or two to make some changes to code and imports so that I can use and test `fermipy.skymap` with Python 3 and without needing the science tools.

What's your preference for using Gammapy from Fermipy?
Is just importing it an option, i.e. having Gammapy as a dependency?
(Gammapy only has Numpy and Astropy as required dependencies)

Or do we have to find a way to organise the image and

[2016-07-05 12:06] cdeil opened #611 "Incorrect result from Sphinx full-text search"
I noticed that this full-text search result in the Gammapy docs is incorrect:
https://gammapy.readthedocs.io/en/latest/search.html?q=spectrumfit

This class doesn't show up:
https://gammapy.readthedocs.io/en/latest/api/gammapy.spectrum.SpectrumFit.html

@joleroi just wiped Gammapy on RTD earlier today and the build log looks OK:
https://readthedocs.org/projects/gammapy/builds/4166984/

I don't see

[2016-07-05 13:10] bsipocz commented on #611
@cdeil - It looks like that the search is case sensitive as searching for ``SpectrumFit`` indeed finds the classes:
https://gammapy.readthedocs.io/en/latest/search.html?q=SpectrumFit

I'm not yet sure whether this is a version thing or there is config value on RTD to switch it off to be case insensitive.

[2016-07-05 13:23] cdeil commented on #611
But this is working:
https://gammapy.readthedocs.io/en/latest/search.html?q=spectrumobservation
It's weird!?

[2016-07-05 13:30] bsipocz commented on #611
Hmmm no clue then.
 Have you tried building locally with the older version? If it works fine with it, too, then maybe it's worth opening an issue with RTD.

[2016-07-05 14:21] cdeil opened #612 "Improve error message for SkyMap.read on file with no image"
Currently the error message when calling `SkyMap.read` on a file with no image is cryptic:

[code]

We should add a check if there's an `ImageHDU` and give a better error message.

cc @OlgaVorokh @adonath

[2016-07-06 07:22] woodmd commented on #608
I think having gammapy as a dependency of fermipy would be fine.  fermipy already has a pretty heavy set of dependencies (e.g. the STs) so adding gammapy to this list more probably isn't going to make a big difference in terms of ease of installation.

With respect to handling the migration I don't think any reorganization in gammapy should really be necessary.  I haven't really given much thought

[2016-07-07 09:18] cdeil commented on #601
@joleroi - Could you please close the issue or comment what still needs to be done?

(I'll go through the 0.5 issues now, release is tomorrow or Sunday latest.)

[2016-07-07 09:25] cdeil commented on #265
`gammapy/hspec` was removed in #593.
I'm closing this issue now.

Please open new issues to discuss e.g. EBL absorption or other related topics (and reference the discussion from this issue if you like).

[2016-07-07 09:28] cdeil commented on #572
Done by @adonath in https://github.com/gammapy/gammapy-extra/pull/36 .

@adonath - My preference would be that you move the task list from that issue to here, merge, and then help with more critical issues to help get the 0.5 release out the door.

[2016-07-07 09:36] #265 closed

[2016-07-07 09:47] #601 closed

[2016-07-07 09:51] cdeil commented on #15
Update: we now have [gammapy.spectrum.integrate_spectrum](https://gammapy.readthedocs.io/en/latest/api/gammapy.spectrum.integrate_spectrum.html).

- [ ] move to a method on the [gammapy.spectrum.models.SpectralModel](https://gammapy.readthedocs.io/en/latest/api/gammapy.spectrum.models.SpectralModel.html) class.
- [ ] find good settings to get results with reasonable accuracy and speed for most mod

[2016-07-07 10:17] cdeil opened #618 "Add short Numpy and Astropy getting started page"
The Gammapy getting started has this at the start:

https://gammapy.readthedocs.io/en/latest/getting-started.html#getting-started

I think many users aren't really familiar with "array-oriented computing" like Numpy, Astropy and Gammapy do it. So I suggest to add a small page in the Gammapy docs with some examples of how to work with Numpy or Astropy, specifically Numpy array, Time, SkyCoord, Tabl

[2016-07-07 10:21] cdeil commented on #520
For reference, there *might* be some useful code in #491 which wasn't merged.

[2016-07-07 10:21] cdeil commented on #520
@joleroi - Move to 0.6 milestone? Or do you have time to finish this in the next day or two?

[2016-07-07 10:24] cdeil commented on #198
@joleroi - Move to 0.6 milestone? Or do you have time for this in the next day or two? (I don't.)

[2016-07-07 10:41] cdeil commented on #336
I'm assigning this issue to myself.

The plan has changed a bit.
I'll make an 0.1 release for `astropy/regions` on Saturday:
https://github.com/astropy/regions/milestone/1
and then we'll add it as a dependency for Gammapy before cutting the Gammapy 0.5 release.

[2016-07-07 12:46] cdeil commented on #386
Note to self: I've moved the 2FHL event list and catalog here:
https://github.com/gammapy/gammapy-extra/tree/master/datasets/fermi_2fhl

We'll start using that for the [gammapy.image docs](https://gammapy.readthedocs.io/en/latest/image/index.html) now.

If someone can provide a script that reproduces the event list from weekly Fermi-LAT data, and computes an exposure cube and PSF for this dataset,

[2016-07-07 12:54] cdeil opened #619 "Use Fermi-LAT image for gammapy.image docs"
The current `gammapy.image` docs aren't very friendly ... they start by saying that we use `ImageHDU` objects for the first example:
https://gammapy.readthedocs.io/en/latest/image/index.html

Here's what I think should be done:

- Use the 2FHL dataset as example
https://github.com/gammapy/gammapy-extra/tree/master/datasets/fermi_2fhl

- Write a script in that folder that produces a count and backg

[2016-07-07 13:03] #561 closed

[2016-07-07 13:04] registerrier commented on #561
Issue solved thanks to @joleroi
https://github.com/gammapy/gammapy/pull/566

[2016-07-07 13:36] cdeil commented on #572
I've merged  https://github.com/gammapy/gammapy-extra/pull/36 just now.

This is the task list @adonath wrote there:
- [ ] Make version with image aspect ratio of 1:1
- [ ] Increase background rate, so that the logo is better embedded in the background
- [ ] Clean up code and make it more reusable
- [ ] Expose image parameters as command line parameters
- [ ] Separate background data, so that a si

[2016-07-07 14:09] joleroi opened #621 "Create example dataset to be used for docs/poster"
So far we're using [this](https://github.com/gammapy/gammapy-extra/tree/master/datasets/hess-crab4-hd-hap-prod2) simulated crab dataset. It has known issues and gives wrong results.

Instead we would like to simulate a hess/fermi crab dataset. Let's start with H.E.S.S.

* Use the [Abramowski](https://github.com/gammapy/gammapy/blob/9c566e4935b5e600f795afe8079094a9fba7666a/gammapy/irf/effective_are

[2016-07-07 14:11] joleroi commented on #621
That's all I can think off at the moment. If someone want to help he/she could start by implementing the ``ECPL`` and ``BrokenPL``.

https://github.com/gammapy/gammapy/blob/9c566e4935b5e600f795afe8079094a9fba7666a/gammapy/spectrum/models.py#L67

We also need some numeric integration method, to get ``npred`` (for the PL it's done analytically)

[2016-07-07 14:17] cdeil commented on #621
@joleroi - I can do the `ECPL` and `BPL` today (unless someone else volunteers).

Maybe you start the script to simulate the ARF and RMF, and put a README, the script and generated files in a `simulated_spectrum` sub-folder here?
https://github.com/gammapy/gammapy-extra/tree/master/datasets

[2016-07-08 07:43] cdeil opened #623 "Set up Gammapy webpage"
A short while ago I got this domain: http://gammapy.org/ .
The main reason was that I wanted to have a stable, short URL for Gammapy.
I'm not really sure yet what we should put there in terms of content.

Setup: http://gammapy.org/ forwards to http://gammapy.github.io/gammapy-webpage (and that page redirects to http://gammapy.org/) , which is served by Github pages and can be edited here: https://

[2016-07-09 12:53] adonath commented on #619
Here is a first version of the script:

https://github.com/gammapy/gammapy-extra/blob/master/datasets/fermi_2fhl/fermi_skyimages.py

I already created a sample dataset for the Galactic Center and the Vela region. From an aesthetical point of view, I think the smoothed counts image looks best so far.

[2016-07-09 22:52] joleroi commented on #621
That's the status
https://github.com/gammapy/gammapy-extra/tree/master/datasets/hess_simulated_pha
![observation](https://cloud.githubusercontent.com/assets/11678435/16710699/702b5e0e-4638-11e6-983c-00b3b8a81b5f.png)

![fit](https://cloud.githubusercontent.com/assets/11678435/16710700/7c86e1d2-4638-11e6-99c1-691f8fd20791.png)

@cdeil  What should be improved to put this as an example on the gammap

[2016-07-10 08:23] cdeil commented on #621
@joleroi - Thank you!

I didn't have time yesterday and don't have time today to make the poster.
I'll do it Monday morning.

If you have time to add something, a plot of the fitted global model (with butterfly?) would be the most important plot at the end of the spectral example.

[2016-07-10 08:25] cdeil commented on #621
Also, this is the first example we have of how to simulate a spectrum.
It should be linked to or include in the docs.
Maybe from here?
https://gammapy.readthedocs.io/en/latest/spectrum/index.html

[2016-07-10 10:04] joleroi commented on #621
Done

It should be linked to or include in the docs.

I would like to wait until this code is properly added to a gammapy ``SimulateObs`` class or so. Also the model handling must be improved before I would show this to anyone. (InputModel is plotted as ``SpectrumFitResult`` at the moment). The plots at the end won't change though.

I won't have much time today to improve this. But you can definit

[2016-07-13 07:40] cdeil opened #626 "ObservationGroupAxis array or quantity"
Bug report by @registerrier on Slack.
Posting it here as a Github issue so that it doesn't get forgotten.

[code]

[2016-07-13 09:47] joleroi commented on #626
I usually solve this by passing input in ``__init__`` though the Quantity constructor
[code]

Then calling ``Quantity.value`` always works

[2016-07-14 14:28] cdeil commented on #267
Newer IRFs from CTA: https://portal.cta-observatory.org/WG/PHYS/SitePages/KSP-Studies-of-CTA-Staging.aspx

[2016-07-14 14:56] cdeil commented on #267
@jjlk added the CTA prod 2 response files in FITS format:
https://github.com/gammapy/gammapy-extra/pull/37

Next step is to create some class in Gammapy to read and use them.

[2016-07-18 07:18] cdeil commented on #516
Gammapy 0.4 conda package is now available:
* https://github.com/astropy/conda-channel-astropy/pull/27
* https://anaconda.org/astropy/gammapy

I'm not going to send out announcements for this ... 0.5 coming very soon.

[2016-07-18 07:18] #516 closed

[2016-07-18 08:08] cdeil opened #632 "Expose a few WCS utils functions on SkyMap"
There's a few WCS utils standalone functions in Astropy:
http://docs.astropy.org/en/latest/wcs/index.html#id4

These aren't methods on the WCS object, because WCS is very old and implemented partly in C, and SkyCoord, Quantity were only added a few years ago.

I would like to suggest we expose some of these convenience WCS utils functions on the `SkyMap` class (always prefixed with `wcs_` to have

[2016-07-18 08:36] adonath commented on #632
At first glance I don't see a real advantage in this. It's just a slight change to the API and I can't see the one solution being more convenient over the other, I think it doesn't make a difference:
[code]
Or:
[code]
I agree it might be easier to find those methods, but I would rather encourage people to use astropy,
when the equivalent functionality can be found there, instead of re-exposing the

[2016-07-18 08:43] cdeil commented on #632
You save the import. Astropy has a bad API here for historical reasons. Why not make this better for Gammapy users?

[2016-07-18 09:06] adonath commented on #632
As I said in my previous comment, I don't think it makes a real difference in API or convenience to the user, that would justify spending the time implementing, testing, documenting and maintaining the code in gammapy (and even discussing;-). So i would rather say "If it ain't broke don't fix it" and spend the time with something else... if you feel strongly about it @cdeil or @OlgaVorokh, I don't

[2016-07-18 09:24] cdeil commented on #632
when the equivalent functionality can be found there, instead of re-exposing the functionality in gammapy with a minimal change in API.

To a large degree, `SkyMap` is a convenience wrapper around Numpy and Astropy, combining the numpy.array data and WCS object, re-exposing existing functionality with a better, more convenient API now that e.g. SkyCoord (and soon [PixCoord](http://astropy-regions.

[2016-07-18 09:42] cdeil opened #633 "Consistent use of tmpdir in tests"
I noticed that when running the tests via the `test` function,  the following files are written to the working directory:
[code]

This is bad, tests should always write files to temp directories.

When running the tests via `python setup.py test`, this doesn't happen.

@bsipocz @astrofrog - Is this a bug in the `test` function implementation (the fact that it behaves differently compared to `pytho

[2016-07-19 06:45] cdeil opened #636 "Gammapy code organisation"
This is a first attempt at a diagram to illustrate Gammapy code organisation.

![gammapy-organisation](https://cloud.githubusercontent.com/assets/852409/16940539/f53243d4-4d8a-11e6-8da0-0b1b1ecd61b2.png)

After some discussion / improvements / code re-organisation I plan to add it to the Gammapy docs and the paper.

At the moment it only shows which sub-packages are lower or higher level. The idea

[2016-07-19 08:53] adonath commented on #636
:+1: to dissolve `gammapy.morphology` and introduce `gammapy.image.models`. I think this makes the structure of gammapy more consistent.

[2016-07-19 12:14] astrofrog commented on #633
@cdeil - you need to use ``tmpdir`` in every file that writes to disk. The reason you are seeing this with py.test and not python setup.py test is the latter first copies the code/tests to a temporary directory, but you shouldn't rely on that alone.

[2016-07-19 15:35] cdeil opened #637 "OffDataBackgroundMaker I/O"
While working on #633 I noticed that files are written in
- [OffDataBackgroundMaker.select_observations](https://github.com/gammapy/gammapy/blob/30816c57f18d11a6c44d2d538a2b5084c6759991/gammapy/background/off_data_background_maker.py#L110)
- [OffDataBackgroundMaker.group_observations](https://github.com/gammapy/gammapy/blob/30816c57f18d11a6c44d2d538a2b5084c6759991/gammapy/background/off_data_backg

[2016-07-20 09:42] jjlk opened #638 "Compute expected excess for a given binning in reconstructed energy"
Hi @joleroi ,
It will be nice to be able to compute the expected excess via the gammapy.spectrum.utils.calculate_predicted_counts function for a given binning in reconstructed energy. It will be very convenient for source detection feasibility studies and so on.

I saw it was planned once the EnergyDispersion.evaluate method would have been implemented. Is it the case ?

Thanks!

[2016-07-21 15:40] cdeil commented on #78
I decided to just remove PyFact completely now (#640), instead of waiting for the functionality to be fully restored. Closing this now.

[2016-07-21 15:40] #78 closed

[2016-07-25 08:25] joleroi commented on #636
:-1:

[2016-07-26 19:25] #638 closed

[2016-07-27 08:21] cdeil commented on #587
Fixed by @OlgaVorokh in #631.

[2016-07-27 08:21] #587 closed

[2016-07-27 08:52] cdeil opened #650 "Region to mask image"
@OlgaVorokh - Please add a method to SkyImage that takes a region object and fills it's data with 1 for pixels inside the region and 0 outside. Later we can add a `subpixels` option (like there already is in `photutils` e.g. [here](http://photutils.readthedocs.io/en/latest/api/photutils.aperture.get_cutouts.html#photutils.aperture.get_cutouts)) to fill values between 0 and 1 for pixels that are pa